= render :partial => 'cop_attributes_form'
= default_form.error_messages

%fieldset
  %ol
    = default_form.text_field :grouping
    = default_form.collection_select :principle_area_id, PrincipleArea.all, :id, :name, {:include_blank => true}, {}
    = default_form.text_area :text
    = default_form.text_field :position

%fieldset
  %legend Attributes
  %p Each attribute will be represented by a check box in the COP form. If you don't add custom attributes, this will be a Yes/No question.
  
  #cop_attributes= render @cop_question.cop_attributes
  = link_to_function "New attributes", "$('#cop_attributes').append(replace_ids(cop_attribute_form))"