= render :partial => 'cop_attributes_form'
= default_form.error_messages

%fieldset
  %ol
    - year = @cop_question.new_record? ? params[:year].to_i : @cop_question.year
    = default_form.select :year, options_for_select(CopQuestion::EARLIEST_YEAR..(Time.now.year + 3), year), :label => 'Year'
    = default_form.select :grouping, select_options_from_hash(CopQuestion::GROUPING_AREAS), :include_blank => true, :label => "Grouping area"
    = default_form.collection_select :principle_area_id, PrincipleArea.all, :id, :name, {:include_blank => true}, {}
    = default_form.select :implementation, CopQuestion::IMPLEMENTATION_AREAS.collect {|a| [a.humanize, a]}, {:include_blank => true}, {:label => "Implementation area" }
    = default_form.collection_select :initiative_id, Initiative.all, :id, :name, {:include_blank => true}, {}
    = default_form.text_area :text
    = default_form.text_field :position

- unless @cop_question.new_record?
  %fieldset
    %legend Attributes
    %ul{:class => 'bulleted'}
      %li Each attribute will be represented by a check box in the COP form. If you add a single attribute, then this will be a Yes/No question.
      %li You may add an optional hint or suggested topics for each question.
      %li For Basic COP questions, a text field will appear below the question and hints.
    %hr
    #cop_attributes= render @cop_question.cop_attributes
    = link_to_function "New attribute", "$('#cop_attributes').append(replace_ids(cop_attribute_form))", :class => 'new_large'