%h2 Listing COP questions
= link_to 'Create a question', new_admin_cop_question_path, :class => "new", :id => "new_cop_question"

%table.dashboard_table#cop_questions_table
  %tr
    %th.last_updated Last updated on
    %th Area
    %th Grouping
    %th.status Description
    %th.actions Actions
  - for cop_question in @cop_questions
    %tr
      %td= cop_question.updated_at
      %td= cop_question.principle_area.try(:name)
      %td= cop_question.grouping
      %td= cop_question.text
      %td
        %ul.actions
          %li= link_to 'Edit', edit_admin_cop_question_path(cop_question), :class => 'edit', :title => 'Edit details'
          %li= link_to 'Delete', admin_cop_question_path(cop_question), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete entry'
