<x-modal close="dismiss">
  <div class="modal-body">
    <form class="form form-horizontal">
      <legend>
        Add Page
        child of: {{model.parentContainer.publicPath}}
      </legend>

      <div class="form-group">
        <label for="layout" class="control-label">
          Layout
        </label>
        {{select-2
          class="form-control"
          optionLabelPath="label"
          id="layout"
          content=model.layouts
          placeholder="Choose a layout"
          value=model.container.layoutRecord}}
      </div>

      {{#sitemap/validated-form-field label='Page name (with dashes)'
                                      name='slug'
                                      errors=model.container.errors}}
        {{input class="form-control" id="slug" value=model.container.slug}}
      {{/sitemap/validated-form-field}}

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" {{action "dismiss"}}>Cancel</button>
    <button type="button" class="btn btn-primary" {{action "createContainer" model}}>Add Page</button>
  </div>

  {{!-- XXX position absolute for these --}}
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</x-modal>
