- if default_form.error_messages.present?
  %div{:class => 'flash error'}= display_readable_errors(@submodel)

%fieldset
  - unless @submodel.new_record?
    %dl{:style => 'width: auto;'}
      %dt.first{:style=> 'width: 165px;'} Current file
      %dd.first= link_to_uploaded_file(@submodel.file)

  %ol
    = default_form.select :communication_type, options_for_select(select_options_from_hash(Communication::TYPES), @submodel.communication_type_for_select_field), :label => 'Format'
    = default_form.text_field :date, {class: 'datepicker iso-date', value: @submodel.date || Date.today}, {:label => 'Published on'}
    = default_form.text_field :title
    = default_form.file_field :file, {:label => 'Document'}
