- if default_form.error_messages.present?
  %div{:class => 'flash error'}= display_readable_errors(@submodel)

%fieldset
  - unless @submodel.new_record?
    %dl{:style => 'width: auto;'} 
      %dt.first{:style=> 'width: 165px;'} Current file
      %dd.first= link_to_local_network_document(@submodel.file)

  %ol
    = default_form.select :communication_type, Communication::TYPES, {:label => 'Format'}
    = default_form.text_field :title
    = default_form.date_select :date, {:order => [:day, :month, :year]}, { :li_class => 'date', :label => 'Published on' }
    = default_form.file_field :file, {:label => 'Document'}