== Dear #{@contact.name_with_title},

%p== Welcome to the United Nations Global Compact. We are pleased to inform you that #{@organization.name} has been added to our register of participants: #{link_to 'http://unglobalcompact.org/participant/'+@organization.id.to_s, 'http://unglobalcompact.org/participant/'+@organization.id.to_s}

%p Thank you for joining our corporate responsibility initiative - the world's largest with over 8,000 business and non-business participants in 135 countries. An official welcome letter and information package will be sent to your organization's top executive via mail. Please allow 3 to 6 weeks for delivery.

%p This email provides an overview of your organization's commitment to the UN Global Compact and helpful information related to engagement in our initiative.

%p
  %strong Expectations of Participation

%p== As a participant, #{@organization.name} commits to:

%ul
  %li Support the Ten Principles of the UN Global Compact with respect to human rights, labour, environment and anti-corruption;
  %li Advance these principles within your sphere of influence, and make a clear statement of this commitment to your stakeholders and the general public;
  %li Take part in the activities of the UN Global Compact, for example: participate in Local Networks; join specialized initiatives and workstreams; engage in partnership projects; and review Communications on Progress posted by participating companies.

%p
  %strong Guidance Materials

%p== All new UN Global Compact participants are asked to read #{link_to 'After the Signature - A Guide to Engagement in the Global Compact', 'http://www.unglobalcompact.org/docs/news_events/8.1/after_the_signature.pdf'}. The short publication provides an introduction to the UN Global Compact and suggests practical steps to start the implementation process.

%p== A #{link_to 'resource library is available on our website','http://www.unglobalcompact.org/AboutTheGC/tools_resources/'} to aid UN Global Compact participants in implementing the Ten Principles, engaging in partnerships and communicating progress on corporate responsibility actions.

%p
  %strong Organization Profile/Contact Information

%p== As the primary contact point for your organization with the UN Global Compact, you are asked to view, and update as necessary, your organization's information by signing on to #{link_to 'Global Compact website', dashboard_url} with the following details:

%p
  %strong Username:
  = @contact.username
  %br/
  %strong Password:
  Please use the password you entered in the application form. If you have forgotten your password,
  = link_to 'please click here to select a new one.', new_contact_password_url

%p It is critical that your organization's contact information is up-to-date so that we are able to keep you informed about important news and events.

%p
  %strong Local Networks

%p We encourage your organization to engage in Global Compact Local Networks, which can be found in over 80 countries. Within a local context, these networks provide opportunities for participants to improve understanding and share experiences on the Ten Principles and partnerships, as well as how to report on progress in these areas. Collective action campaigns and government policy dialogues are also organized through the Local Networks. More information can be found in the "Local Networks" section of our website:

= link_to 'Global Compact Local Networks','http://www.unglobalcompact.org/NetworksAroundTheWorld/'
/ TODO insert Local Network Focal Point contact details, if they exist

%p
  %strong Use of UN Global Compact Logo

%p Participants are encouraged to use the "We Support the Global Compact" logo as a way to further show commitment and raise awareness of the initiative, for example on organization websites and pertinent printed materials. To protect the UN Global Compact's brand and integrity, organizations must request permission from the Global Compact Office - and submit a sample of desired usage - before each use of the logo. Our online logo request system can efficiently handle requests. To seek approval for use of a UN Global Compact logo:

%ol
  %li== Login to the #{link_to 'UN Global Compact website', dashboard_url} using your organization's username and password
  %li Go to the "Submissions" tab and click on "Logo Request".
  %li Complete the request form and upload a sample of desired use.
  %li Await response from the UN Global Compact.

%p
  %strong Monthly Bulletin

%p Each month you will receive the UN Global Compact Bulletin via email, which is designed to keep participants updated on news, engagement opportunities, resources and events. Please look to this monthly communication for important information, as the Global Compact Office limits the number of individual emails sent to our participants. The Bulletin can also be read online:

= link_to 'UN Global Compact Monthly Bulletin','http://www.unglobalcompact.org/NewsAndEvents/UNGC_bulletin/'

%p
  %strong Getting Started

%p== Your welcome package is now available online and can be accessed from your #{link_to 'participant dashboard', dashboard_url}. Please refer to its contents to better understanding the Global Compact, its requirements for participants, and how your company can get started. You can also view and print your official welcome letter, signed by Georg Kell, Executive Director of the Global Compact.

- if @organization.welcome_package?
  %p As requested, a paper welcome letter and information package will also be sent to your organization's top executive via mail. Please allow 3 to 6 weeks for delivery.

%p Again, thank you for joining the UN Global Compact. We are eager to hear your ideas and experiences, and encourage you to share your views with us. We stand ready to support your efforts to embrace the Ten Principles and contribute to a more sustainable and inclusive global economy. Should you have any queries, please contact us at globalcompact@un.org.

%p Sincerely,

%p The Global Compact Office

%p= render :partial => '/shared/ungc_signature'
