== Dear #{@contact.name_with_title},

%p== We are writing to follow up on your recent pledge of #{@organization.pledge_amount}.00 USD made on #{@organization.created_at} to the Foundation for the Global Compact in relation to your company's endorsement of the UN Global Compact.

%p On behalf of the UN Global Compact Office and the Foundation for the Global Compact, we thank you for your generous pledge. Your financial contribution will help support the work of the UN Global Compact in delivering maximum value to participants.

%table{:border => 1, :cellspacing => 0, :cellpadding => 10}
  %tr
    %th{:colspan => 2}
      INVOICE
  %tr
    %td{:align => 'right'}
      Invoice ID:
    %td
      =@organization.invoice_id
  %tr
    %td{:align => 'right'}
      From:
    %td
      Foundation for the Global Compact
  %tr
    %td{:align => 'right'}
      Amount:
    %td
      ==#{@organization.pledge_amount}.00 USD
  %tr
    %td{:align => 'right'}
      Description:
    %td
      General Contribution
  %tr
    %td{:align => 'right'}
      To:
    %td
      =@contact.name
      %br/
      =@organization.name
      %br/
      ==#{@contact.address} #{@contact.address_more}
      %br/
      ==#{@contact.city} #{@contact.state} #{@contact.postal_code}
      %br/
      =@contact.country.try(:name)

%p Please note that the contribution should be made to the Foundation for the Global Compact within 30 days of receiving this invoice.

%p The following link will take you to the online donation page of the Foundation's website where you can make your contribution by credit card:
=link_to "http://globalcompactfoundation.org/donate/?invoice=#{@organization.invoice_id}","http://globalcompactfoundation.org/donate/?invoice=#{@organization.invoice_id}"

%p Additional payment methods *

%p
  %strong (1) Check/money order

%p
  Foundation for the Global Compact (EIN number 16-1756484)
  %br/
  801 Second Avenue, 2nd Floor
  %br/
  New York, NY 10017
  %br/
  USA

%p
  %strong (2) Bank transfer

%p
  %em The Foundation for the Global Compact kindly requests that your company cover any transfer fees charged by your financial institution

%p
  Account name: Foundation for the Global Compact
  %br/
  Bank: Chase Bank
  %br/
  Account number: 091194725265
  %br/
  ABA (routing) number: 021000021
  %br/
  Swift Code: CHASUS 33

%strong Please note:
Contributions cannot be credited to your company unless payments include the following Invoice ID:
%strong= @organization.invoice_id

%p Again, we thank you for your generous support.

%p Sincerely,

%p The Foundation for the Global Compact
