== Dear #{@contact.name_with_title},

%p
  %strong Participant status: In review

%p
  == A comment regarding #{@organization.name}'s application to the UN Global Compact has been posted.
  %strong Please do not reply to this email.
  You may submit a comment, question or additional documents (if requested) by accessing your application at the following link:
  
%p= link_to "#{dashboard_url}", dashboard_url

%p Please use the following login:

%p
  %strong Username:
  = @contact.login
  %br/
  %strong Password:
  Please use the password you entered in the application form. If you have forgotten your password,
  = link_to 'please click here to select a new one.', new_password_url

%p
  %strong Latest Comment: 
  
  = simple_format(@organization.comments.first.body)

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org
