== To all Network Report Recipients in #{@organization.country_name}:

%p== This message is to inform you that #{@organization.name}, based in #{@organization.country_name}, recently submitted a letter to join the Global Compact. 

%p== As a Global Compact Network Focal Point for #{@organization.country_name}, we depend on your local knowledge, and ask that you inform our office if you have serious concerns related to this organization's intent to join the Global Compact. 

%p As you know, the Global Compact encourages all organizations from beginners to advanced performers to engage in our initiative and implement the Ten Principles. What is required is a proven willingness by leadership to follow a path of continuous improvement. 

%p If you have any significant concerns, please contact Yuliya Vnukova at vnukova@un.org.

%p If no issues are raised by the Network, or as a result of our internal integrity measures, within 7 days the applicant will be accepted as a Global Compact participant.

%p For your records, the organization's profile and contact information are below.

%p Sincerely,
%p The Global Compact Office

%p
  %strong== Profile for #{@organization.name}:

- @row_style = 'text-align: right; padding-right: 10px'

%table
  %tr
    %td{:style => @row_style} Type:
    %td= @organization.organization_type_name
  %tr
    %td{:style => @row_style} Sector:
    %td= @organization.sector_name
  %tr
    %td{:style => @row_style} Employees:
    %td= @organization.employees
  %tr
    %td{:style => @row_style} Website:
    %td= @organization.url

%p
  %strong CEO / Highest Level Executive Information
%p
  %table
    %tr
      %td{:style => @row_style} Name:
      %td= @ceo.full_name_with_title
    %tr
      %td{:style => @row_style} Title:
      %td= @ceo.job_title
    %tr
      %td{:style => @row_style} Address:
      %td
        ==#{@ceo.address} #{@ceo.address_more}
        %br/
        ==#{@ceo.city} #{@ceo.state} #{@ceo.postal_code}
    %tr
      %td{:style => @row_style} Phone:
      %td= @ceo.phone
    %tr
      %td{:style => @row_style} Email:
      %td= @ceo.email

%p
  %strong Login information:

%p
  %table
    %tr
      %td{:style => @row_style} Username:
      %td= @contact.login
    %tr
      %td{:style => @row_style} Password:
      %td= @contact.password

%p
  %strong Contact Point Information
%p
  %table
    %tr
      %td{:style => @row_style} Name:
      %td= @contact.full_name_with_title
    %tr
      %td{:style => @row_style} Title:
      %td= @contact.job_title
    %tr
      %td{:style => @row_style} Address:
      %td
        ==#{@contact.address} #{@contact.address_more}
        %br/
        ==#{@contact.city} #{@contact.state} #{@contact.postal_code}
    %tr
      %td{:style => @row_style} Phone:
      %td= @contact.phone
    %tr
      %td{:style => @row_style} Email:
      %td= @contact.email