== Dear #{@contact.name_with_title},

%p The UN Global Compact welcomes your organization's intention to become a participant in our global corporate citizenship initiative. 

%p== This communication acknowledges the online receipt of a Letter of Commitment and organization information from #{@organization.name}. Following review of the information submitted, we will revert to you within 1-2 weeks regarding future engagement in the Global Compact.

%p== You may check the status of your application, post any questions or comments, and submit additional documents (if requested) by logging on to the #{link_to 'Global Compact website', dashboard_url} using the following:

%p
  %strong Username:
  = @contact.login
  %br/
  %strong Password:
  Please use the password you entered in the application form. If you have forgotten your password,
  = link_to 'please click here to select a new one.', new_password_url

%p Your organization's online account should serve as your means of communication with the Global Compact Office during the review of your application.

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org