== Dear #{@logo_request.contact.name_with_title},

%p
  %strong Logo Request Status:
  Accepted

%p
  == We are pleased to inform you that your logo request has been approved for use in "#{@logo_request.purpose}".
  = simple_format(@logo_request.logo_comments.first.body)

%p
  == To download the logo files for #{@logo_request.organization.name}, please login at the Global Compact website and visit the original logo submission:
  = link_to "#{admin_organization_logo_request_url(:organization_id => @logo_request.organization.id, :id => @logo_request.id)}", admin_organization_logo_request_url(:organization_id => @logo_request.organization.id, :id => @logo_request.id)

- if @logo_request.from_company?
  %p Please note that all business participants that have been authorized to use the Endorser logo (&quot;We Support the Global Compact&quot;) are permitted to use the logo for the sole purpose it was approved by the UN Global Compact.
  
  %p== Permission to use the Endorser logo is authorized only for the duration an organization continues to contribute to the Foundation for the Global Compact (&ldquo;Foundation&rdquo;). Permission to use a Global Compact logo, including the Endorser logo lapses if the organization does not continue to annually contribute to the Foundation, does not have an active Communication on Progress (COP) or if the organization is delisted from the UN Global Compact. An organization is however still permitted to use the #{link_to "COP logo", "http://www.unglobalcompact.org/AboutTheGC/Global_Compact_Logo/GC_Logo_Policy.html#COP_Endorser_logo"} on its COP without permission from the UN Global Compact. Contributions from business participants are vital to the Global Compact's ability to provide a robust framework for corporate change and innovation around environmental, social and governance issues. For information on how to make an annual contribution, please visit #{link_to "www.globalcompactfoundation.org/donate", "http://www.globalcompactfoundation.org/donate"}.

%p Sincerely,

%p The UN Global Compact

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org
