== Dear #{@logo_request.contact.name_with_title},

%p
  A new comment has been posted for your logo request.
  %strong Please do not reply to this email.
  You may submit a comment or question by accessing your logo request at the following link:
  = link_to "#{admin_organization_logo_request_url(:organization_id => @logo_request.organization.id, :id => @logo_request.id)}", admin_organization_logo_request_url(:organization_id => @logo_request.organization.id, :id => @logo_request.id)

%p
  %strong Organization:
  = @logo_request.organization.name
  %br/
  %strong Logo Request Status:
  In Review
  %br/
  %strong Title:
  = @logo_request.purpose

%p
  %strong Latest Comment:
  = simple_format(@logo_request.logo_comments.first.body)

  - if @logo_request.from_company?
    %p
      %strong
        Please note that all companies requesting permission to use the "we support" logo are required to make an annual contribution to the Foundation for the Global Compact in order to support the important work of the UN Global Compact. Contributions from companies like yours are vital to the initiative's ability to provide a robust framework for corporate change and innovation around environmental, social and governance issues. For more information on how to make an annual contribution, please visit
        = link_to "www.globalcompactfoundation.org/donate.", "http://www.globalcompactfoundation.org/donate"

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org
