#sdg-charts-page
  %section.main-content-section.sdgs.align-center.light-theme
    .full-width-wrapper
      .wrapper
        %header.main-content-header
          %h1
            Activities to support advancing the SDGs in #{@country.name}
        %section.main-content-body
          #data-vis
            #sdg-country-count
            %header.main-content-header
              %h4 Click on a SDG icon to see which sectors are reporting activities to advance the SDGs
            .wrapper
              #sdgButtons
            #sdg-country-sector
          .wrapper.white-bg.full
            #sdg-vis.center= link_to 'Return to SDG Countries Page', data_visualization_sdgs_countries_path
          .wrapper.white-bg.full
            #feedback.center= link_to 'Please provide us with feedback',  "http://unglobalcompact.co1.qualtrics.com/jfe/form/SV_02Ka0fssi2cObkx", :target => "_blank"
:javascript
  $(function() {
  	var sdgCount = #{raw @sdg_count.map { |attr| { sdg: attr.text, count: attr.answer_count, country: @country_name } }.to_json};
  	countSdgs(sdgCount);
  });

  $(function() {
    var sdgSector = #{raw @sdg_sector_breakdown.flat_map { |attr| [ sdg: attr.text, count: attr.answer_count, sector: attr.sector_name, country: @country_name ] }.to_json};
    drawSdgSectorCharts(sdgSector);
  });
