<div id="sdg-charts-page">
<section class="main-content-section sdgs align-center light-theme" style="">
    <div class="full-width-wrapper">
      <div class="wrapper">
        <header class="main-content-header"><h1>Activities to support advancing the SDGs in <%= t(@region, scope: "interactive.sdgs.regions") %></h1></header>
        <section class="main-content-body">
        <div id="data-vis">
          <div id="sdg-region-count"></div>
          <header class="main-content-header"><h4>Click on a SDG icon to see which sectors are reporting activities to advance the SDGs</h4></header>
          <div class="wrapper"><div id="sdgButtons"></div></div>
          <div id="sdg-region-sector"></div>
        </div>
        <div class="wrapper white-bg full">
          <div id="sdg-vis" class="center"><%= link_to 'Return to SDG Regions Page', data_visualization_sdgs_regions_path %></div>
        </div>
        <div class="wrapper white-bg full">
          <div id="feedback" class="center"><%= link_to 'Please provide us with feedback',  "http://unglobalcompact.co1.qualtrics.com/jfe/form/SV_02Ka0fssi2cObkx", :target => "_blank" %></div>
        </div>
        </section>
      </div>
    </div>
  </section>
</div>

<script>
$(function() {
	var sdgRegionCount = <%= raw @sdg_region_count.to_json %>;
	countSdgsRegions(sdgRegionCount);
});

$(function() {
  var sdgRegionSector = <%= raw @sdg_region_sector.to_json %>;
  drawSdgRegionSectorCharts(sdgRegionSector);
});

</script>
