%h1 Page Manager

#site_structure
  %h2 Site Structure:
  #site_tools.box
    %ul
      %li= link_to 'Add Folder', '#', id: 'new_section', class: 'add_folder', title: 'Add folder'
      %li= link_to 'Add Page', '#', id: 'new_page', class: 'add_page', title: 'Add page'
      %li= link_to 'Delete', '#', id: 'delete_page', class: 'delete_page', title: 'Delete page'
      %li= link_to 'Show / Hide', '#', id: 'visibility_page', class: 'visibility_page', title: 'Show/Hide page'
      %li= link_to 'Save All', save_tree_admin_pages_path, id: 'save_tree', class: 'save', title: 'Save changes'
  #site_tree.box
    #tree_container.outside
      #tree.inside

#pageArea
  = render 'page_area'
  
- content_for :postscript do
  = render :partial => 'treeview'
