%h3 Pages
%p
  = link_to 'Rearrange', '#sort', class: 'enable-sorting'
  = link_to 'Done', '#done', class: 'done-sorting', style: 'display:none'

.cols3
  .left.wrapper
    %ul.page_navigation.sortable
      - for section in sections
        %li
          = link_to_section section
      %li.create_new_button
        = create_new_section

  .mid.wrapper
    %ul.page_navigation.sortable
      - for page in pages_in_current_section
        %li
          = link_to_page page
      %li.create_new_button
        = create_new_page
      

  .right.wrapper
    - if current_page
      %ul.page_navigation.sortable
        - for subpage in subpages_for_current_page
          %li
            = link_to_subpage subpage
        %li.create_new_button
          = create_new_subpage

.clear
  - if current_page
    %div{style: "border: 1px solid #CCC; padding: 0.5em 1em; margin: 1em 0;"}
      = truncate strip_tags(current_page.content || '[No contents]'), 360
      = link_to 'Edit Now', edit_admin_page_path(current_page)
  