%h3 New comment

- form_for(:comment, :url => path_for_polymorphic_commentable(@commentable, @comment), :html => { :multipart => true }) do |form|
  = form.error_messages
  = form.text_area :body, :rows => 4
  = form.file_field :attachment
  
  %p
    - organization_only do
      = form.submit 'Save'
    - staff_only do
      = form.submit LogoRequest::EVENT_REVISE.titleize
      = form.submit LogoRequest::EVENT_APPROVE.titleize
      = form.submit LogoRequest::EVENT_REJECT.titleize

= link_to_commentable(@commentable)