<%= render partial: 'redesign/components/hero' %>

<%= form_for @search, as: :search, url: redesign_press_releases_path, method: :get, html: {id: 'filters-form'} do |form| %>

  <header>
    <h1>Press Releases</h1>
  </header>

  <fieldset class='filter-lists'>
    <% @search.filters.each do |filter| %>
      <%= search_filter(filter) %>
    <% end %>
  </fieldset>

  <%= active_filters(@search) %>

  <fieldset class='filter-sorting'>
    <%= form.text_field :start_date, placeholder: 'Start Date', class: 'datepicker' %>
    <%= form.text_field :end_date, placeholder: 'End Date', class: 'datepicker' %>
    <%= form.submit 'Search', class: 'button' %>
  </fieldset>

<% end %>

<%= render layout: 'redesign/components/news_list', locals: {news: @page.news} do %>
  <%= will_paginate @page.news.other, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
<%- end -%>

