<%= render partial: 'redesign/components/meta_tags' %>
<%# Body %>
<%= render partial: 'redesign/components/hero' %>

<section class='main-content-section'>
  <%= content_tag(:header, content_tag(:h1, @page.title), {class: 'main-content-header'}) %>

  <section class='main-content-body'>
    <b>
      <%= @page.location %>
    </b>
    <br>
    <%= @page.description.html_safe %>
  </section>

</section>
