<%= render partial: 'components/meta_tags', locals: { title: "SDG Pioneers", description: t('sdg_pioneer.submission.blurb'), keywords: 'sustainable development goals submission pioneers' } %>

<%= render partial: 'components/hero', locals: { hero: {theme: 'dark', size: 'small', title: {first: "SDG Pioneers"}, blurb: t('sdg_pioneer.submission.blurb'), image: image_path('sdg_pioneer/nomination_form_2017.jpg') } } %>

<section class='main-content-section main-content-section-narrow'>
  <%= form_for @submission, as: :submission, html: {multipart: true, class: 'form-classic wrapper'} do |f| %>
    <header class='main-content-header'>
      <h1><%= t('sdg_pioneer.submission.title') %></h1>
    </header>

    <section class='main-content-body'>
      <%= content_tag(:p, content_tag(:span, notice), {class: 'success-message'}) if notice %>

      <p>
        At the UN Global Compact, the search is on for SDG Pioneers who are making
        Global Goals local business. It's time to celebrate the individuals and
        businesses behind sustainability in global and local markets.
      </p>

      <p>
        <strong>Are you a business leader advancing sustainable development? If so, we want to hear your story.</strong>
      </p>

      <% if @submission.errors.any? %>
        <div class="errors-container">
          <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this nomination from being sent:</h2>

          <ul class='errors-list'>
            <% @submission.errors.full_messages.each do |message| %>
              <li class='error'><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <div class="field">
          Is your company a UN Global Compact Participant or Signatory? (<strong>Please note that only UN Global Compact Business Signatories or Participants will be considered.<strong> If you have not chosen an Engagement Level <a href="/admin/choose-level-of-participation" target="_blank">click here to select</a>)<br />
          <%= f.radio_button(:is_participant, true) %>
          <%= f.label(:is_participant_true, "Yes") %>
          <br />
          <%= f.radio_button(:is_participant, false) %>
          <%= f.label(:is_participant_false, "No") %> <br />
        </div>
        <div id="join-ungc">
          <p>We greatly appreciate your interest in the SDG Pioneers. However, at the moment we are only considering UN Global Compact business signatories. For more information on how to join the UN Global Compact, please visit our <a href="/participation/join/application" target="_blank">website.</a></p>
        </div>
      </fieldset>

      <fieldset>
        <div id="ungc-participant" class="field field-required ui-widget">
          <%= f.label :organization_name do %>
            UN Global Compact Participant or Signatory name
          <% end %>
          <%= f.text_field :organization_name %>
        </div>
      </fieldset>

      <fieldset>
        <label><strong>Tell us about yourself</strong></label>
        <div class="field field-required field-has-placeholder">
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name, placeholder: 'Name' %>
        </div>

        <div class="field field-required field-has-placeholder">
          <%= f.label :title, 'Title' %>
          <%= f.text_field :title, placeholder: 'Title' %>
        </div>

        <div class="field field-required field-has-placeholder">
          <%= f.label :email, 'Email' %>
          <%= f.text_field :email, placeholder: 'Email' %>
        </div>

        <div class="field field-has-placeholder">
          <%= f.label :phone, 'Telephone' %>
          <%= f.text_field :phone, placeholder: 'Telephone' %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :country_name do %>
            Country of primary operation (if the company operates in multiple countries, please only indicate the country where the submission's activities take place):
          <% end %>
          <%= f.text_field :country_name %>
        </div>
      </fieldset>

      <fieldset class='accordion-container'>
        To which of the 17 <a href="/sdgs/17-global-goals/" target="_blank">Sustainable Development Goals</a> does this submission specifically relate?
        <div class='accordion-item'>
          <h2 class='accordion-item-header'>Sustainable Development Goals</h2>

          <div class='checkboxes-collection accordion-item-content-wrapper'>
            <%= f.collection_check_boxes :matching_sdgs, @sdgs, :id, :name do |sdg| %>
              <div class='field field-checkbox'>
                <%= sdg.check_box %>
                <%= sdg.label %>
              </div>
            <%- end -%>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :company_success do %>
            How have you contributed to your company's success by supporting the SDGs? Please be as specific as possible and elaborate on measurable outcomes where relevant.
          <% end %>
          <%= f.text_area :company_success, placeholder: 'Please limit to 150 words' %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          Are you engaging with the Local Network in your country?<br />
          <%= f.radio_button(:has_local_network, true) %>
          <%= f.label(:has_local_network_true, "Yes") %>
          <br />
          <%= f.radio_button(:has_local_network, false) %>
          <%= f.label(:has_local_network_false, "No") %> <br />
        </div>
        <%= f.label :local_network_question, id: "has-local-network-question" do %>
          How have you collaborated with the UN Global Compact and/or its Local Network in your country to advance the SDGs?
        <% end %>
        <%= f.label :local_network_question, id: "does-not-have-local-network"  do %>
          How have you collaborated with the UN Global Compact to advance the SDGs?
        <% end %>
        <%= f.text_area :local_network_question, placeholder: 'Please limit to 150 words' %>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :innovative_sdgs do %>
            Have you led the development of innovative products, services and/or business models that advance the SDGs? If yes, please be as specific as possible and demonstrate ownership of the process.
          <% end %>
          <%= f.text_area :innovative_sdgs, placeholder: 'Please limit to 150 words' %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :ten_principles do %>
            How have you led efforts to integrate the <a href="/what-is-gc/mission/principles" target="_blank">UN Global Compact's Ten Principles</a> into your business strategies and functions?
          <% end %>
          <%= f.text_area :ten_principles, placeholder: 'Please limit to 150 words' %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :awareness_and_mobilize do %>
            How have you raised awareness and mobilized your network (colleagues and external stakeholders) to support the sustainable development agenda?
          <% end %>
          <%= f.text_area :awareness_and_mobilize, placeholder: 'Please limit to 150 words' %>
        </div>
      </fieldset>

      <fieldset style="margin-top: 4em">
        <h4>Supporting Information</h4>
        <div class="attachments field field-required">
          Please provide any annual reports, press clippings or other relevant documentation that support your submission.<br />

          <div class="attachment">
            <%= file_field_tag 'submission[uploaded_supporting_documents][][attachment]' %>
          </div>

          <div class="attachment-container"></div>

          <a class="add-another-attachment" href="#">Add another document</a>

          <script class="attachment-template" type="text/x-jquery-tmpl">
            <div class="attachment">
              <a href="#" class="delete fa fa-times-circle"></a>
              <%= file_field_tag 'submission[uploaded_supporting_documents][][attachment]' %>
            </div>
          </script>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :website_url do %>
            Website that includes information relevant to your activities.
          <% end %>
          <%= f.text_field :website_url %>
        </div>
      </fieldset>


      <fieldset>
        <div class="field field-required">
          <p>We need your permission to potentially share your story with the world.</p>
          <label>
            <%= f.check_box :accepts_tou %> I agree that the UN Global Compact can use this information for any purpose related to the SDG Pioneers.
          </label><br/>
          <label>
            <%= f.check_box :accepts_interview %> If selected, I agree for a 30 minute phone interview and the UN Global Compact can use the information for any purposes related to the SDG Pioneers.
          </label>
        </div>
      </fieldset>

      <fieldset>Questions? Email: <a href="mailto:sdgpioneers@unglobalcompact.org" target="_top">sdgpioneers@unglobalcompact.org</a></fieldset>

      <%= f.submit 'Nominate', id: "nominate-pioneer" %>

    </section>
  <% end %>

</section>
