- flash.keep(:alert)
- flash.keep(:error)
= devise_error_messages!
- unless flash[:error]

  %div{:style => 'width: 550px; margin: 20px auto;'}

    = image_tag("/pics/un_images/july_14_date.png", :alt => 'July 14', :height => 65, :width => 65, :style => 'float: left; margin-right: 25px;')

    %p{:style => 'width: 100%;'} Please be aware that we will be performing scheduled maintenance on Sunday, July 14th, starting at 9:00 AM EDT (1:00 PM UTC) and lasting approximately 1 to 2 hours. During this time, access to the Dashboard will not be available. We appreciate your participation in the Global Compact and apologize for any inconvenience.

%h2 Login

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %fieldset
    %ol
      %li
        = f.label :username
        = f.text_field :username
      %li
        = f.label :password
        = f.password_field :password
      %li
        = f.label :remember_me
        = f.check_box :remember_me

  = f.submit 'Login', :class => 'button'
  %h3= link_to 'Forgot your username or password?', new_contact_password_path
