<li class='component-content-block'>
  <%= link_to url, class: "component-content-block-link#{" component-content-block-type-#{type}" if type ||= nil}" do %>
    <div class='component-content-block-image' style='background-image: url(<%= thumbnail -%>)'>
      <div class="component-content-block-image-holder">
          <%= image_tag thumbnail %>
          <%= content_tag(:div, tag, class: 'component-content-block-tag') if tag ||= nil %>
      </div>
    </div>
    <div class='component-content-block-content'>
      <%= content_tag(:h2, title) if title ||= nil %>
      <div class="description">
        <%= content_tag(:div, description) if description ||= nil %>
      </div>
      <div class="save">
        Save
      </div>
      <%= content_tag(:time, date.string, class: 'date', datetime: date.iso) if date ||= nil %>
      <%= content_tag(:div, location, class: 'location') if location ||= nil %>
    </div>
    <% end %>
</li>
