<%- cli_host = request.protocol + (ENV['CLI_HOST'] || "#{request.domain}:4200") -%>
<!DOCTYPE html>
<html>
  <head>
    <title>UNGC Admin</title>

    <% if Rails.env.development? %>
      <%= stylesheet_link_tag "#{cli_host}/assets/vendor.css" %>
      <%= stylesheet_link_tag "#{cli_host}/assets/admin.css" %>
    <% else %>
      <%= stylesheet_link_tag 'redesign-admin' %>
    <% end %>

    <%= csrf_meta_tags %>
  </head>
  <body>
<%= yield %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "#{cli_host}/assets/vendor.js" %>
      <%= javascript_include_tag "#{cli_host}/assets/admin.js" %>
    <% else %>
      <%= javascript_include_tag 'redesign-admin' %>
    <% end %>
  </body>
</html>
