<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name='viewport' content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="robots" content="noindex, nofollow">
    <title><%= "#{yield(:title)} | UN Global Compact" %></title>
    <meta name="description" content="<%= "#{yield(:description)}" %>">
    <meta name="keywords" content="<%= "#{yield(:keywords)}" %>">
    <meta name="google-translate-customization" content="1b074c8528ae2c6e-cd3c90d1cf52c502-ged6edcb10ff9481c-17"></meta>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400|Roboto+Condensed:300italic,400italic,700italic,700,300,400', media: 'all' %>
    <%= stylesheet_link_tag 'redesign', media: 'all' %>
    <%= javascript_include_tag 'redesign' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'redesign/components/main_header' %>

    <main>
      <%= yield %>
    </main>

    <%= render partial: 'redesign/components/main_footer' %>
    <%= render partial: 'shared/ga_universal' %>

    <%# Google Translate %>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: 'en',
            includedLanguages: 'en,ar,es,fr,it,nl,zh-CN',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
          },
          'google_translate_element'
        );
      }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <%  if current_contact && current_contact.from_ungc? %>
      <%= content_tag(:small, "Last updated: #{current_payload.updated_at.strftime('%a %b %-d, %Y at %l:%M %p %Z')}") if current_payload%>
      <small>
        <%= link_to_redesign 'edit', redesign_admin_root_path("containers/#{current_container.id}") if current_container%>
      </small>
    <% end %>

    <% unless has_redesign? %>
      <script type="text/javascript">
        // this will be removed when we deploy the redesign version of the website
        $(function() {
          var links = $('.main-content-section a');

          var needsRedesign = function(href) {
            if (href) {
              return href.match(/^\/redesign|^http(s?):|^mailto:|^#|^\/system|^\/docs/) ? false : true;
            }
            return false;
          };

          links.each(function(i,e) {
            var $e = $(e);
            var href = $e.attr('href');
            if (needsRedesign(href)) {
              $e.attr('href', '/redesign' + href);
            }
          });
        });
      </script>
    <% end %>
  </body>
</html>
