<%= render partial: 'components/meta_tags', locals: { title: "Local SDG Pioneers", description: t('sdg_pioneer.business.blurb'), keywords: 'sustainable development goals business pioneers' } %>

<%= render partial: 'components/hero', locals: { hero: {theme: 'dark', size: 'small', title: {first: "Local SDG Pioneers"}, blurb: t('sdg_pioneer.business.blurb'), image: image_path('sdg_pioneer/local_business_leaders_bg.png') } } %>

<section class='main-content-section main-content-section-narrow'>
  <%= form_for @business, as: :business, html: {multipart: true, class: 'form-classic wrapper'} do |f| %>
    <header class='main-content-header'>
      <h1><%= t('sdg_pioneer.business.title') %></h1>
    </header>

    <section class='main-content-body'>
      <%= content_tag(:p, content_tag(:span, notice), {class: 'success-message'}) if notice %>

      <p>
        The Local SDG Pioneers campaign celebrates local business leaders and entrepreneurs who have demonstrated business success through advancing sustainable development – based on technologies, services or business models – in the country or region which is the primary base for their operations. This could include local leaders of a country division of a global company.
      </p>

      <% if @business.errors.any? %>
        <div class="errors-container">
          <h2><%= pluralize(@business.errors.count, "error") %> prohibited this nomination from being sent:</h2>

          <ul class='errors-list'>
            <% @business.errors.full_messages.each do |message| %>
              <li class='error'><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <div class="field nominate_the_organization">
          Have you been nominated as a local business and entrepreneur SDG Pioneer? *<br />
          <%= f.radio_button(:is_nominated, true) %>
          <%= f.label(:is_nominated_true, "Yes") %>
          <br />
          <%= f.radio_button(:is_nominated, false) %>
          <%= f.label(:is_nominated_false, "No, I am self nominating") %>
        </div>

        <div id="has_been_nominated" style="<%= unless @business.is_nominated? then 'display: none;' end %>">
          <div class="field field-required">
            <%= f.label :nominating_organization do %>
              Please indicate the name of the organization that nominated you to this role.
            <% end %>
            <%= f.text_field :nominating_organization, placeholder: 'Organization name' %>
          </div>

          <div class="field field-required">
            <%= f.label :nominating_individual do %>
              Please indicate the name of the individual that nominated you to this role.
            <% end %>
            <%= f.text_field :nominating_individual, placeholder: 'Individual name' %>
          </div>
        </div>

      </fieldset>

      <fieldset>
        <label>Contact Information</label>
        <div class="field field-required field-has-placeholder">
          <%= f.label :contact_person_name, 'Name' %>
          <%= f.text_field :contact_person_name, placeholder: 'Name' %>
        </div>

        <div class="field field-required field-has-placeholder">
          <%= f.label :contact_person_title, 'Title' %>
          <%= f.text_field :contact_person_title, placeholder: 'Title' %>
        </div>

        <div class="field field-required field-has-placeholder">
          <%= f.label :contact_person_email, 'Email' %>
          <%= f.text_field :contact_person_email, placeholder: 'Email' %>
        </div>

        <div class="field field-has-placeholder">
          <%= f.label :contact_person_phone, 'Telephone' %>
          <%= f.text_field :contact_person_phone, placeholder: 'Telephone' %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required ui-widget">
          <%= f.label :organization_name do %>
            Please indicate with which active UN Global Compact participant you are affiliated
          <% end %>
          <%= f.text_field :organization_name %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field">
          <%= f.label :local_business_name do %>
            Local business name. If submitting a branch/division of a larger business that has a different name please provide
          <% end %>
          <%= f.text_field :local_business_name %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field">
          Is the company an active UN Global Compact participant? *<br />
          <%= f.radio_button(:is_participant, true) %>
          <%= f.label(:is_participant_true, "Yes") %>
          <br />
          <%= f.radio_button(:is_participant, false) %>
          <%= f.label(:is_participant_false, "No") %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :country_name do %>
            Country of primary operation (if the company operates in multiple countries, please only indicate the country where the submission's activities take place):
          <% end %>
          <%= f.text_field :country_name %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field">
          <span>Is the business a member of the Global Compact Local Network in the country indicated? *</span>
          <%- SdgPioneer::Business.local_network_statuses.each do |status, _| -%>
            <br />
            <%= f.radio_button(:local_network_status, status) %>
            <%= f.label("local_network_status_#{status}", t(status, scope: 'sdg_pioneer.business.local_network_status')) %>
          <%- end -%>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :website_url do %>
            Website (link to the business website, or other URL relevant to the local business unit)
          <% end %>
          <%= f.text_field :website_url %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <div>
            <%= f.label :positive_outcomes, 'How have you achieved business success through advancing sustainable development - based on technologies, services or business models - in the country or region which is the primary base for your operations?' %>
          </div><br/>
          <div>
            <%= f.label :positive_outcomes do %>
              <em>Your submission should address how your approach has created positive <b>financial</b>, <b>environmental</b>, and <b>social impact</b>. Please include as much reportable data as possible - such as profit and loss, turnover, impact reports, and organizational targets - to evidence your submission.</em>
            <% end %>
          </div>
          <%= f.text_area :positive_outcomes, placeholder: 'Please limit to 800 words' %>
        </div>

        <div class="attachments field field-required">
          Please provide any annual reports, press clippings or other relevant documentation that supports your submission.<br />

          <div class="attachment">
            <%= file_field_tag 'business[uploaded_positive_outcome_attachments][][attachment]' %>
          </div>

          <div class="attachment-container"></div>

          <a class="add-another-attachment" href="#">Add another document</a>

          <script class="attachment-template" type="text/x-jquery-tmpl">
            <div class="attachment">
              <a href="#" class="delete fa fa-times-circle"></a>
              <%= file_field_tag 'business[uploaded_positive_outcome_attachments][][attachment]' %>
            </div>
          </script>
        </div>
      </fieldset>

      <fieldset class='accordion-container'>
        To which of the 17 <a href="/what-is-gc/our-work/sustainable-development/17-global-goals/" target="_blank">Sustainable Development Goals</a> does this submission specifically relate?
        <div class='accordion-item'>
          <h2 class='accordion-item-header'>Sustainable Development Goals</h2>

          <div class='checkboxes-collection accordion-item-content-wrapper'>
            <%= f.collection_check_boxes :matching_sdgs, @sdgs, :id, :name do |sdg| %>
              <div class='field field-checkbox'>
                <%= sdg.check_box %>
                <%= sdg.label %>
              </div>
            <%- end -%>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :other_relevant_info do %>
            Please feel free to include other information that you believe is relevant for the Pioneer Selection Group.
          <% end %>
          <%= f.text_area :other_relevant_info, placeholder: 'Please limit to 400 words' %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <p>We need your permission to potentially share your story with the world.</p>
          <label>
            <%= f.check_box :accepts_tou %> I agree that the UN Global Compact can use this information for any purposes related to the the Local SDG Pioneers.
          </label>
        </div>
      </fieldset>

      <fieldset>Questions? Email: <a href="mailto:sdgpioneers@unglobalcompact.org" target="_top">sdgpioneers@unglobalcompact.org></a></fieldset>

      <%= f.submit 'Submit' %>

    </section>

  <% end %>

</section>
