- if default_form.error_messages.present?
  %div{:class => 'flash error'}= display_readable_errors(@submodel)

%fieldset
  - unless @submodel.new_record?
    %dl{:style => 'width: auto;'} 
      %dt.first{:style=> 'width: 165px;'} Current file
      %dd.first= link_to_local_network_document(@submodel.file)
    
  %ol
    - staff_only do
      = default_form.select :mou_type, options_for_select(select_options_from_hash(Mou::TYPES), @submodel.mou_type_for_select_field), :label => 'Status'
    = default_form.date_select :year, {:order => [:year]}, {:label => 'Year of Agreement'}
    = default_form.file_field :file, {:label => 'Supporting Document'} 

