%tr
  %td= mou.year.year
  %td= mou.created_at
  %td= mou.type_name
  %td= link_to_uploaded_file(mou.file)
  - if current_contact_can_edit_network?
    %td
      %ul.actions
        %li= link_to 'Edit', edit_submodel_path(mou), :class => 'edit', :title => 'Edit MOU details'
        %li= link_to 'Delete', submodel_path(mou), :confirm => 'Are you sure you want to delete this MOU?', :method => :delete, :class => 'delete', :title => 'Delete MOU'

