%p
  %b Purpose:
  =h @logo_request.purpose
%p
  %b Contact:
  = @logo_request.contact.name
%p
  %b Publication:
  = @logo_request.publication.name
%p
  %b State:
  = @logo_request.state_name

= logo_request_actions(@logo_request)

%h3 Comments
= link_to 'New comment', new_logo_request_logo_comment_path(@logo_request) unless @logo_request.state_events.empty?
%ul
  = render :partial => @logo_request.logo_comments

%h3 Files
%ul
  - for comment in @logo_request.logo_comments.with_attachment
    %li
      = link_to_attachment(comment)
      = number_to_human_size(comment.attachment_file_size)

%h3 Approved logos
- staff_only do
  - form_for([@logo_request.organization, @logo_request]) do |f|
    %ul
      = render :partial => 'logo_files'
    = f.submit 'Save logos'
- organization_only do
  - if @logo_request.logo_files.any?
    %ul
      = render :partial => @logo_request.logo_files
  - else
    no approved logos