<h2>
  Review In Progress for
  <span class="organization-name"><%= @review.organization_name %></span>
</h2>

<%= render 'admin/due_diligence/reviews/review_basic_facts' %>

<%= form_for(@review,
             url: admin_due_diligence_risk_assessment_path(@review),
             as: :review,
             method: :patch) do |f| %>

  <section>
    <h4>General</h4>
    <div class="field">
      <%= f.label :world_check_allegations, "Allegations found on World-Check (past two years):" %>
      <%= f.text_area :world_check_allegations, maxlength: 2_000 %>
    </div>

    <div class="field">
      <%= f.label :included_in_global_marketplace do %>
        Found on the UN Global Marketplace Ineligible Vendor Lists?
        <%= f.select :included_in_global_marketplace, [['Add review...', nil], ['Yes', true], ['No', false]] %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :subject_to_sanctions do %>
        Subject to UN or other government sanctions?
        <%= f.select :subject_to_sanctions, [['Add review...', nil], ['Yes', true], ['No', false]] %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :subject_to_dialog_facilitation do %>
          Subject to dialog facilitation?
          <%= f.select :subject_to_dialog_facilitation, [['Add review...', nil], ['Yes', true], ['No', false]] %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :excluded_by_norwegian_pension_fund, "Excluded by the Norwegian Government Pension Fund Global?" %>
      <%= f.select :excluded_by_norwegian_pension_fund, [['Add review...', nil], ['Yes', true], ['No', false]] %>
    </div>

    <div class="field">
      <%= f.label :involved_in_landmines do %>
        Involved in the sale, manufacture or distribution of anti-personnel landmines or cluster bombs?
        <%= f.select :involved_in_landmines, [['Add review...', nil], ['Yes', true], ['No', false]] %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :involved_in_tobacco, "Involved in production or sale of tobacco?" %>
      <%= f.select :involved_in_tobacco, [['Add review...', nil], ['Yes', true], ['No', false]] %>
    </div>

    <div class="field">
      <%= f.label :requires_local_network_input, "Requires Local network input?" %>
      <%= f.select :requires_local_network_input, [['Add review...', nil], ['Yes', true], ['No', false]] %>
    </div>

    <div class="field">
      <%= f.label :local_network_input, "Local network input" %>
      <%= f.text_area :local_network_input, maxlength: 2_000 %>
    </div>

  </section>

  <section>
    <h4>Results from Sustainalytics</h4>

    <div class="field">
      <%= f.label :esg_score, "Overall ESG Score" %>
      <%= f.select :esg_score,
                   DueDiligence::Review.esg_scores.keys.map { |k|
                     [t(k, scope: [:due_diligence, :values, :sustainalytics, :esg_scores].freeze), k]},
                   prompt: "Add review......" %>

      <%= f.label :highest_controversy_level, "Highest Controversy Level:" %>
      <%= f.select :highest_controversy_level,
                   DueDiligence::Review.highest_controversy_levels.keys.map { |k|
                     [t(k, scope: [:due_diligence, :values, :sustainalytics, :controversies].freeze), k]},
                   prompt: "Add review......" %>
    </div>

  </section>

  <section>
    <h4>Results from RepRisk</h4>

    <div class="field">
      <%= f.label :rep_risk_peak do %>
        Peak RRI:
          <%= f.select :rep_risk_peak, rep_risk_rri_values, prompt: "Add review......" %>
      <% end %>

      <%= f.label :rep_risk_current do %>
        Current RRI:
        <%= f.select :rep_risk_current, rep_risk_rri_values, prompt: "Add review......" %>
      <% end %>

      <%= f.label :rep_risk_severity_of_news do %>
        Rep Risk Severity of News:
        <%= f.select :rep_risk_severity_of_news,
                     DueDiligence::Review.rep_risk_severity.keys.map { |k|
                       [t(k, scope: [:due_diligence, :values, :rep_risk, :severity_of_news].freeze), k]},
                     prompt: "Add review......" %>
      <% end %>
    </div>

  </section>

  <section>
    <h4>Analysis</h4>

    <div class="field">
      <%= f.label :analysis_comments, "Analysis comments:" %>
      <%= f.text_area :analysis_comments, maxlength: 2_000 %>
    </div>
  </section>


    <ul class="tools inline" style="float: right">
    <li><%= link_to 'Cancel', admin_due_diligence_review_path(@review), class: 'cancel_large' %></li>

    <% if @review.in_review? && @review_policy.can_do_due_diligence?(current_contact) %>
        <li><%= f.submit 'Save', class: 'button', name: 'commit[save]' %></li>
        <li><%= f.submit t("due_diligence.actions.request_network_input"), class: 'button', name: 'commit[request_local_network_input]' %></li>
        <li><%= f.submit t("due_diligence.actions.request_integrity_review"), class: 'button', name: 'commit[request_integrity_review]' %></li>
    <% end %>
  </ul>

<% end %>
