= form.error_messages
= form.text_field :title
%p
  = label :case_story, :priciple_ids, 'Principles'
  %br/
  = collection_select :case_story, :principle_ids, Principle.all, :id, :name, {}, :multiple => true, :name => 'case_story[principle_ids][]'
%p
  = check_box :case_story, :is_internalization_project
  = label :case_story, :is_internalization_project, 'Internalization project'
%p
  = check_box :case_story, :is_partnership_project
  = label :case_story, :is_partnership_project, 'Partnership project'
%p
  = label :case_story, :country_ids, 'Countries'
  %br/
  = collection_select :case_story, :country_ids, Country.all, :id, :name, {}, :multiple => true, :name => 'case_story[country_ids][]'

= form.text_field :url1
= form.text_field :url2
= form.text_field :url3
= form.text_area :description
= form.file_field :attachment

%fieldset
  %legend Authors
  = form.text_field :author1
  = form.text_field :author1_email
  = form.text_field :author1_institution
  = form.text_field :author2
  = form.text_field :author2_email
  = form.text_field :author2_institution

%fieldset
  %legend Contacts
  = form.text_field :contact1
  = form.text_field :contact1_email
  = form.text_field :contact2
  = form.text_field :contact2_email
