<%= form_for search, as: :search, url: redesign_participant_search_path, method: :get do |f| %>
  <fieldset id='section-search'>
    <%= f.search_field :keywords, placeholder: 'Search Participants', tabindex: 1, autofocus: true %>
    <%= f.button '<span>Search</span>'.html_safe, type: :submit %>
  </fieldset>

  <fieldset class='sorting'>
      <%= f.select :per_page, @search.per_page_options, {id: 'per_page'} %>
      <%= f.select :sort_field, @search.sort_options, {include_blank: 'Sort'}, {id: 'filter-sort-order'} %>
  </fieldset>

  <%= render 'redesign/components/filter_options_list', label: 'Type', filter: 'organization_types', options: @search.organization_type_options %>

  <%= render 'redesign/components/filter_options_list', label: 'Initiative', filter: 'initiatives', options: @search.initiative_options %>

  <%= render 'redesign/components/filter_options_list', label: 'Geography', filter: 'countries', options: @search.country_options %>

  <%= render 'redesign/components/filter_options_list', label: 'Sectors', filter: 'sectors', child_filter: 'sectors', options: @search.sector_options %>

  <%= render 'redesign/components/filter_options_list', label: 'Reporting Status', filter: 'reporting_status', options: @search.reporting_status_options %>

  <%= f.submit 'Search' %>

<% end %>
