<%= render partial: 'redesign/components/meta_tags' %>
<%= render partial: 'redesign/components/hero' %>

<%#= render partial: 'form', locals: {search: @search} %>
<%= render 'redesign/components/filters_form', form_url: redesign_participant_search_path, title: @page.meta_title.try(:html_safe), search_placeholder: 'Search Participants' %>

<% @results.no_results do %>
  No results.
<% end %>

<% @results.with_results do |results| %>
  <table>
    <% results.each do |participant| %>
      <tr>
        <td><%= link_to participant.name, redesign_participant_path(participant) %></td>
        <td><%= participant.type %></td>
        <td><%= participant.sector %></td>
        <td><%= participant.country %></td>
        <td><%= participant.company_size %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @results, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
<% end %>
