<%= render partial: 'redesign/components/meta_tags' %>
<%= render partial: 'redesign/components/hero' %>

<%= form_for @search, as: :search, url: redesign_search_path, method: :get, html: {id: 'filters-form'} do |f| %>

  <header>
    <h1>Search</h1>

    <fieldset id='section-search'>
      <%= f.search_field :keywords %>
      <%= f.button '<span>Search</span>'.html_safe, type: :submit %>
    </fieldset>
  </header>

<%- end -%>

  <section class='main-content-section main-content-section-narrow search-results-section'>
    <div class='wrapper'>
      <% if @results.any? %>
        <header class='main-content-header'>
          <menu class="search-facets">
            <li>
              <%= link_to 'All', @search.clear_facets(params, :search) %>
            </li>
            <%- @search.facets.each do |facet| -%>
              <li><%= link_to facet.title, facet.merge_with_new_facet(params, :search), class: facet.state %></li>
            <%- end %>
          </menu>
        </header>

        <section class='content-list'>
          <% @results.each do |result| %>
            <article class='content-list-item'>
              <h1><%= link_to_redesign(raw(result.excerpts.title), result.url) %></h1>
              <p><%= raw result.excerpts.content %></p>
            </article>
          <% end %>
        </section>

        <%= will_paginate @results, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
      <%- else -%>
        <section class='main-content-body'>
          <h5>No results found.</h5>
        </section>
      <%- end -%>
    </div>
  </section>
