{{#tree/x-label node=node tree=tree dragOver="mightDropNode" dragLeave="wontDropNode" drop="droppedNode"}}
  <span class="node-label-toggle">
    {{#if node.nodes}}
      <button {{action "toggle"}}>
        {{#if isOpen}}-{{else}}+{{/if}}
      </button>
    {{/if}}
  </span>

  <span class="label">
    {{node.model.layout}}
  </span>
  {{node.model.publicPath}}
{{/tree/x-label}}

{{#if isOpen}}
  {{#if node.nodes}}
    {{tree/x-tree nodes=node.nodes subtree=true tree=tree}}
  {{/if}}
{{/if}}
