%fieldset
  %ol
    = default_form.text_field :title
    = default_form.text_area :description
    = default_form.datetime_select :starts_at
    = default_form.datetime_select :ends_at
    = default_form.text_field :location
    = default_form.select :country_id, Country.data_for_select
