- if default_form.error_messages.present?
  %h3 Sorry, the Event was not saved. Please provide all required information:
  %div{:class => 'flash error'}
    %ul
      - @event.errors.full_messages.each do |e|
        %li= e

%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li
      %a{:href => '#general'} General
    %li
      %a{:href => '#programme'} Programme
    %li
      %a{:href => '#media'} Media
    %li
      %a{:href => '#sponsors'} Sponsors
    %li
      %a{:href => '#additional-tabs'} Additional Tabs
    %li
      %a{:href => '#topics'} Topics*
    %li
      %a{:href => '#issues'} Issues*
    %li
      %a{:href => '#sectors'} Sectors*

  #general.tab_content
    %fieldset
      %legend General Information
      %ol
        = default_form.text_field :title
        = default_form.text_area :description, {class: 'events-html-editor', style: 'display:none'}, {label: 'Description'}
        - # XXX: Note the last {} at the end of the datetime_select. It prevents
        - # incorrect "popping" from the args list in the DefaultFormBuilder
        = default_form.datetime_select :starts_at, {}, {class: 'datetime-select'}, {}
        = default_form.datetime_select :ends_at, {}, {class: 'datetime-select'}, {}
        = default_form.check_box :is_all_day, {}, 'true', 'false'
        = default_form.check_box :is_online, {}, 'true', 'false'
        = default_form.text_field :location
        = default_form.select :country_id, @event.country_options, {include_blank: 'Select a Country'}, {}
        = default_form.check_box :is_invitation_only, {}, 'true', 'false'
        = default_form.select(:priority, @event.priority_options)
        = default_form.select :contact_id, @event.contact_options, {include_blank: 'Select a Contact'}, {}
        = default_form.file_field :thumbnail_image, label: 'Thumbnail Image', accept: 'image/png,image/jpeg'
        - if @event.thumbnail_image.present?
          %label Preview
          .resource-img-preview
            = image_tag @event.thumbnail_image.url(:show)
        = default_form.file_field :banner_image, label: 'Banner Image', accept: 'image/png,image/jpeg'
        - if @event.banner_image.present?
          %label Preview
          .resource-img-preview
            = image_tag @event.banner_image.url(:show)
        = default_form.text_field :call_to_action_1_label
        = default_form.text_field :call_to_action_1_url
        = default_form.text_field :call_to_action_2_label
        = default_form.text_field :call_to_action_2_url

  #programme.tab_content
    %fieldset
      %legend Programme
      %ol
        = default_form.text_area :programme_description, {class: 'events-html-editor', style: 'display:none'}, {label: 'Description'}

  #media.tab_content
    %fieldset
      %legend Media
      %ol
        = default_form.text_area :media_description, {class: 'events-html-editor', style: 'display:none'}, {label: 'Description'}

  #additional-tabs.tab_content
    %fieldset
      %legend Additional tabs (1)
      %ol
        = default_form.text_field :tab_1_title, {label: "Tab Title"}
        = default_form.text_area :tab_1_description, {class: 'events-html-editor', style: 'display:none'}, {label: 'Description'}
    %fieldset
      %legend Additional tabs (2)
      %ol
        = default_form.text_field :tab_2_title, {label: "Tab Title"}
        = default_form.text_area :tab_2_description, {class: 'events-html-editor', style: 'display:none'}, {label: 'Description'}
    %fieldset
      %legend Additional tabs (3)
      %ol
        = default_form.text_field :tab_3_title, {label: "Tab Title"}
        = default_form.text_area :tab_3_description, {class: 'events-html-editor', style: 'display:none'}, {label: 'Description'}

  #sponsors.tab_content
    %fieldset
      %legend Sponsors
      .sponsors-tree
        %ol.sponsors-list
          - @event.sponsor_options.each do |sponsor|
            %li
              %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
                = hidden_field_tag "event[sponsor_ids][]", nil
                = check_box_tag 'event[sponsor_ids][]', sponsor.id, sponsor.selected?
                = sponsor.name
      %ol
        = default_form.text_area :sponsors_description, {class: 'events-html-editor', style: 'display:none'}, {label: 'Extra Sponsors'}


  =render partial: "admin/shared/tagging_form", locals: {taggable: @event, model_name: 'event'}
