%h2 Reset your password
%p Please enter your new password:

- form_tag password_path, :method => :put do
  = hidden_field_tag :id, @contact.reset_password_token
  %fieldset
    %ol
      %li
        = label_tag :password
        = password_field_tag :password
      %li
        = label_tag :password_confirmation
        = password_field_tag :password_confirmation

  = submit_tag 'Submit', :class => 'button'
