<h2>
  Integrity Decision for
  <span class="organization-name"><%= @review.organization_name %></span>
</h2>

<%= render 'admin/due_diligence/reviews/review_basic_facts' %>

<%= form_for(@review,
              as: :recommendations,
              url: admin_due_diligence_integrity_review_path(@review.id)) do |f| %>

  <div class="field">
    <%= f.label :integrity_explanation, "Explanation" %>
    <%= f.text_area :integrity_explanation, maxlength: 1_000 %>
  </div>

    <%= render 'admin/due_diligence/reviews/risk_assessment' %>

    <ul class="tools inline buttons" style="float: right">
    <li><%= link_to 'Cancel', admin_due_diligence_review_path(@review), class: 'cancel_large' %></li>

    <% if @review.integrity_review? && @review_policy.can_make_integrity_decision?(current_contact) %>
        <li><%= f.submit 'Save', class: 'button', name: 'commit[save]' %></li>

        <li><%= f.submit 'Approve', class: 'button', name: 'commit[approve_without_reservation]' %></li>
        <li><%= f.submit 'With Reservation', class: 'button', name: 'commit[approve_with_reservation]' %></li>
        <li><%= f.submit 'Reject', class: 'button', name: 'commit[reject]' %></li>

        <li><%= f.submit 'Send Back to Review', class: 'button', name: 'commit[send_to_review]' %></li>
    <% end %>

  </ul>

<% end %>
