%tr
  %td= integrity_measure.policy_type_name
  %td= integrity_measure.title
  %td= integrity_measure.date
  %td= link_to_uploaded_file(integrity_measure.file)
  - if current_user_can_edit_network?
    %td
      %ul.actions
        %li= link_to 'Edit', edit_submodel_path(integrity_measure), :class => 'edit', :title => 'Edit policy details'
        %li= link_to 'Delete', submodel_path(integrity_measure), :confirm => 'Are you sure you want to delete this policy?', :method => :delete, :class => 'delete', :title => 'Delete Policy'
