%tr
  %td= integrity_measure.policy_type
  %td= integrity_measure.title  
  %td= integrity_measure.date
  %td= link_to_local_network_document(integrity_measure.file)
  %td
    %ul.actions
      %li= link_to 'Edit', edit_submodel_path(integrity_measure), :class => 'edit', :title => 'Edit policy details'
      %li= link_to 'Delete', submodel_path(integrity_measure), :confirm => 'Are you sure you want to delete this policy?', :method => :delete, :class => 'delete', :title => 'Delete Policy'