%h2 New comment

- form_for([@commentable, @comment], :html => { :multipart => true }) do |form|
  = form.error_messages
  = form.text_area :body, :rows => 4
  = form.file_field :attachment
  
  %p
    - organization_only do
      = form.submit 'Save'
    - staff_only do
      = form.submit LogoRequest::EVENT_REVISE.titleize
      = form.submit LogoRequest::EVENT_APPROVE.titleize
      = form.submit LogoRequest::EVENT_REJECT.titleize

= link_to 'Back', [@commentable.organization, @commentable]