%p
  %strong Company:
  = @params.company
  %br/
  %strong Country:
  = @params.country.name
  %br/
  %strong Sectors:
  - @params.sectors.each do |sector|
    = sector.name
    %br/
  %br/
  %strong Participant:
  = @params.is_participant
  %br/
  %strong File:
  - host = Rails.application.config.action_mailer.default_url_options[:host]
  - protocol = Rails.application.config.action_mailer.default_url_options[:protocol]
  = link_to "#{protocol}://#{host}/#{@params.link}" do
    = @params.link
  %br/
