%tr
  %td= meeting.type_name
  %td= meeting.date
  %td= link_to_local_network_document(meeting.file)
  %td
    %ul.actions
      %li= link_to 'Edit', edit_submodel_path(meeting), :class => 'edit', :title => 'Edit details'
      %li= link_to 'Delete', submodel_path(meeting), :confirm => 'Are you sure you want to delete this meeting?', :method => :delete, :class => 'delete', :title => 'Delete meeting'