%h1= "Search results for '#{h params[:keyword]}'"
  
- if @facets.any? && @facets[:document_type].size > 1
  %p You can refine your search by category:
  %ul.nolist
    - @facets[:document_type].each_pair do |key, count|
      %li= link_to "#{pretty_facet_label(key)}: #{count}", params.merge(:document_type => key, :page => 1)

- if @results.any?
  - for result in @results do
    - if result
      .search_results
        %div{:style => 'font-weight: bold; color: blue'}
          = link_to result.title.force_encoding("UTF-8"), result.url
        %div
          = format result.force_encoding("UTF-8") # truncate result.content, length: 200
        %div{:style => 'color: #BAD5FB'}
          = "http://#{request.host}#{result.url}"
      
  %div
    = will_paginate @results
- else
  %p No search results were found for your query, please try again.