- if @facets.any? && @facets[:document_type].size > 1
  %h1= "Results for '#{h params[:keyword]}'"
  %p You may browse the search results by category:
  %ul.nolist
    - @facets[:document_type].each_pair do |key, count|
      - unless key == 'Participant'
        %li= link_to "#{pretty_facet_label(key)}: #{count}", params.merge(:document_type => key, :page => 1)

- if @results.any?
  - for result in @results do
    - if result && result.document_type != 'Participant'
      .search_results
        %div{:style => 'font-weight: bold; color: blue;'}
          = link_to result.title.force_encoding("UTF-8"), result.url
        %div
          = format result
  %div
    = will_paginate @results
- else
  %h1= "Sorry, there are no results for '#{h params[:keyword]}'"
  %p== Please try a #{link_to 'new search', DEFAULTS[:search_path]}. If you are looking for a specific organization, the #{link_to 'Participant Search', DEFAULTS[:participant_search_path]} is also available.
