%h1= "Search results for: '#{h params[:keyword]}'"
  

- if @results.any?
  - for result in @results do
    - if result
      %div{:style=>'margin-bottom: 1em;'}
        %div{:style => 'font-weight: bold; color: blue'}
          = link_to result.title, result.url
        %div
          = truncate result.content, 150
        %div{:style => 'color: green'}
          = result.url
      
  %div
    = will_paginate @results
- else
  %p Nothing found, try again.