%p All companies are strongly encouraged to make a regular voluntary annual contribution to support the work of the UN Global Compact Office. This revenue is critical to the development of value-maximizing programmes, projects and resources for the benefit of all participants and stakeholders. Financial contributions from the business sector provide vital support to the Global Compact and our work to drive the global corporate sustainability movement forward.

%p These contributions are received, administered and distributed through the Foundation for the Global Compact &ndash; a US-based non-profit 501(c)(3) &ndash; and are therefore tax deductible in many jurisdictions. Based on your reported annual sales/revenue, we have highlighted the suggested amount of your voluntary annual contribution.

%p In addition, companies are urged to engage in and provide financial support to Global Compact Local Networks in countries where they operate. Supporting the Global Compact at both the global and local level is the best approach for ensuring that corporate sustainability principles take root in companies, markets and communities in every country.

%p &nbsp;

%fieldset.pledge
  %legend Annual contribution

  %table.pledge_amounts{cellpadding: 0, cellspacing: 0, summary: "Contribution amounts"}
    %tr
      %th Annual sales/revenue
      %th Annual contribution
    %tr
      %td.revenue
        = form.radio_button :pledge_amount, 250, { checked: (form.object.pledge_amount == 250), class: 'fixed_pledge' }
        = label_tag "organization_pledge_amount_250", "Less than USD 50 million", class: @suggested_pledge_amount[1]
      %td
        = form.select :pledge_amount, Organization::COLLABORATIVE_MINIMUM_PLEDGE_LEVELS.invert, {}, disabled: !(form.object.pledge_amount == 250)
    %tr
      %td.revenue
        = form.radio_button :pledge_amount, 5000, { checked: (form.object.pledge_amount == 5000), class: 'fixed_pledge' }
        = label_tag "organization_pledge_amount_5000", "Between USD 50 million &ndash; USD 250 million".html_safe, class: @suggested_pledge_amount[2]
      %td
        = label_tag "organization_pledge_amount_5000", "USD 5,000", class: @suggested_pledge_amount[2]
    %tr
      %td.revenue
        = form.radio_button :pledge_amount, 10000, { checked: (form.object.pledge_amount == 10000), class: 'fixed_pledge' }
        = label_tag "organization_pledge_amount_10000", "Between USD 250 million &ndash; USD 1 billion".html_safe, class: @suggested_pledge_amount[3]
      %td
        = label_tag "organization_pledge_amount_10000", "USD 10,000", class: @suggested_pledge_amount[3]
    %tr
      %td.revenue
        = form.radio_button :pledge_amount, 15000, { checked: (form.object.pledge_amount == 15000), class: 'fixed_pledge' }
        = label_tag "organization_pledge_amount_15000", "Between USD 1 billion &ndash; USD 10 billion".html_safe, class: @suggested_pledge_amount[4]
      %td
        = label_tag "organization_pledge_amount_15000", "USD 15,000", class: @suggested_pledge_amount[4]
    %tr
      %td.revenue
        = form.radio_button :pledge_amount, 15000, { id: 'organization_pledge_amount_15000_1', checked: (form.object.pledge_amount == 15000), class: 'fixed_pledge' }
        = label_tag "organization_pledge_amount_15000_1", "USD 10 billion or more", class: @suggested_pledge_amount[5]
      %td
        = label_tag "organization_pledge_amount_15000_1", "USD 15,000+", class: @suggested_pledge_amount[5]
    %tr
      %td.no_contribution{colspan: 2}
        = form.radio_button :pledge_amount, 0, { id: 'organization_pledge_amount_0', checked: (form.object.pledge_amount == 0), class: 'fixed_pledge' }
        = label_tag "organization_pledge_amount_0", "Our company has elected not to make a contribution at this time"
        = form.select :no_pledge_reason, options_for_select(Organization::NO_PLEDGE_REASONS.invert), {include_blank: 'Select a reason...'}, label: 'Select'
