%h1== #{signup_type} Organization Application
%h2 About your organization
- if @jci_referral
  %p Welcome, JCI Member.
#main_content
  = form_for(@os.organization, url: organization_step2_path) do |form|
    = hidden_field_tag :org_type, @os.org_type
    = form.error_messages
    %fieldset
      %ol
        %li
          = form.label :name, "Organization name"
          = form.text_field :name
        %li
          = form.label :url, "Website"
          = form.text_field :url
        %li
          = form.label :employees, "Employees"
          = form.text_field :employees, {:label => "Number of employees"}
        - if @os.non_business?
          %li
            = form.label :organization_type_id, "Type"
            = form.select :organization_type_id, @organization_types.collect{|t| [t.name, t.id]}
        - if @os.business?
          = hidden_field :organization, :organization_type_id, :value => OrganizationType.try(:company).try(:id)
          %li
            = form.label :listing_status_id, "Ownership"
            = form.select :listing_status_id, ListingStatus.all.collect{|t| [t.name, t.id]}
          %li.public_company_only{:style => "display:#{@os.organization.public_company? ? 'block' : 'none'}"}
            = form.label :is_ft_500, "FT 500"
            = form.check_box :is_ft_500
          %li.public_company_only{:style => "display:#{@os.organization.public_company? ? 'block' : 'none'}"}
            = form.label :exchange_id, "Exchange"
            = form.select :exchange_id, Exchange.all.collect{|t| [t.name, t.id]}, :include_blank => true
          %li.public_company_only{:style => "display:#{@os.organization.public_company? ? 'block' : 'none'}"}
            = form.label :stock_symbol
            = form.text_field :stock_symbol
          %li
            = form.label :sector_id
            = form.select :sector_id, option_groups_from_collection_for_select(Sector.top_level, :children, :name, :id, :name, @os.organization.sector_id)
          %li
            = form.label :revenue, "Annual Sales / Revenues"
            = form.select :revenue, options_for_select(Organization::REVENUE_LEVELS.invert)
        %li
          = form.label :country_id
          = form.collection_select :country_id, Country.all, :id, :name

        - if @os.non_business?
          = fields_for :non_business_organization_registration, @os.registration do |fields|
            %li
              = fields.label :date
              = fields.text_field :date
            %li
              = fields.label :place
              = fields.text_field :place
            %li
              = fields.label :authority
              = fields.text_field :authority
            %li
              = fields.label :number
              = fields.text_field :number

    = form.submit 'Next', :class => 'button'
