<%= render partial: 'components/meta_tags' %>
<%= render partial: 'components/hero' %>
<section class='main-content-section main-content-section-narrow'>
  <div class='wrapper'>
    <header class='main-content-header'>
      <h1><%= signup_type -%> Organization Application</h1>
    </header>

    <%= form_for(@signup.organization, :url => organization_step7_path, :html => {:multipart => true, class: 'form-classic signup'}) do |form| %>

      <%= form.error_messages %>
      <%= render 'flash_error_messages' %>

      <fieldset>
        <h3>Letter of Commitment</h3>

        <p>Please ensure that your Letter of Commitment has been signed by your organization's chief executive and scanned for upload before completing this form. The uploaded file should be in PDF format.</p>

        <div class='field'>
          <%= form.file_field :commitment_letter, { :label => ' ' } %>
        </div>
      </fieldset>

      <%- if @signup.non_business? -%>
        <fieldset>
          <h3>Mission Statement</h3>

          <%= fields_for :non_business_organization_registration, @signup.registration do |fields| %>
            <%- unless @signup.registration.valid? -%>
              <p>Please provide a complete description of your organization’s mission statement (maximum 1000 characters).</p>
            <%- end -%>
            <%= fields.text_area :mission_statement, :maxlength => 1000 %>
          <%- end -%>

          <p>Please note that upon review and acceptance of your application, the
            Letter of Commitment and your Mission Statement will be made public
            on this website as adherence to accountability.</p>
        </fieldset>
      <%- else -%>
        <fieldset>
          <h3>Proof of Registration</h3>

          <p>Please show proof of official/legal registration by providing a link
            to a searchable database that contains company information (for example,
            registered office address, company status, company type, directors/officers,
            nature of business, etc.).</p>

          <div class='field'>
            <%= form.url_field :government_registry_url, { label: ' ', maxlength: 2_000, placeholder: "Registry Website" } %>
          </div>
        </fieldset>
      <%- end -%>

      <div class='field'>
        <label>
          <%= form.check_box :accepts_eula %> I have read and agree with the terms of the <a target="_blank" href="/privacy-policy">privacy policy</a> and <a target="_blank" href="/privacy-policy/cookies_notice">cookies policy</a>.
        </label>
      </div>

      <%= form.submit 'Submit', :class => 'button' %>
    <%- end -%>
  </div>
</section>
