<%= render partial: 'components/meta_tags' %>
<%= render partial: 'components/hero' %>

<section class='main-content-section main-content-section-narrow signup-step5'>
  <div class='wrapper'>
    <header class='main-content-header'>
      <h1><%= signup_type -%> Organization Application</h1>
    </header>

    <%= form_for(@signup.organization, url: organization_step6_path, html: {class: 'form-classic signup'}) do |form| %>

      <h2>Financial Contact</h2>

      <p>Thank you for your commitment. If applicable, an invoice will be sent after your company's application has been reviewed and accepted. Please provide a Financial Contact to receive the invoice.</p>

      <%= form.error_messages header_message: false %>
      <%= render 'flash_error_messages' %>

      <div class="field" >
        <%= form.label :primary_contact_is_financial_contact, "The primary contact is also the financial contact" %>
        <%= form.check_box :primary_contact_is_financial_contact %>
      </div>

      <%= fields_for :contact, @signup.financial_contact do |fields| %>
        <%= render partial: 'contact_form', locals: { form: fields, account_info: false, contact_type: 'Financial Contact', financial_contact: true } %>
      <% end %>

      <% if @signup.invoicing_required? %>
        <%= render(partial: "/shared/invoice_date_selector", locals: {
          form: form, options: @signup.invoice_date_options
        }) %>
      <% end %>

      <div class="clear"></div>

      <%= form.submit 'Next', class: 'button' %>

    <%- end -%>
  </div>
</section>
