%h1== #{signup_type} Organization Application

= flash_messages_for :error

%h2 Financial Commitment
#main_content

  = form_for(@os.organization, :url => organization_step5_path, :html => { :multipart => true }) do |form|
    = render :partial => 'pledge_form', :locals => {:form => form}
    = form.submit 'Next', :class => 'button'
