- @css = ['forms', 'application_form']
%h1== #{signup_type} Organization Application

= flash_messages_for :error

%h2 Financial Contact
#main_content

  %p 
    Thank you for your contribution. An invoice for
    %strong== #{@organization.pledge_amount} USD
    will be emailed after your company's application has been reviewed and accepted. Please provide a Financial Contact to receive the invoice.

  - form_for(@financial_contact, :url => organization_step6_path) do |form|
    #check_contact
      = form.check_box :foundation_contact
      = label_tag :contact_foundation_contact, "The invoice should be sent to the Contact Point, #{@contact.full_name_with_title}"
    = form.error_messages
    = render :partial => 'contact_form', :locals => {:form => form, :account_info => false, :financial_contact => true}
    = form.submit 'Next', :class => 'button'