<%= render partial: 'components/meta_tags' %>
<%= render partial: 'components/hero' %>

<section class='main-content-section main-content-section-narrow engagement-tier'>
  <div class='wrapper'>
    <header class='main-content-header'>
      <h1><%= signup_type -%> Organization Application</h1>
    </header>

    <h2>Engagement Tier</h2>

    <p>
      Starting in January 2018, the UN Global Compact will offer two distinct engagement tiers to suit your company’s needs: Participant or Signatory. In order to engage in either tier, and remain an active Participant or Signatory of the UN Global Compact, we ask larger companies to make a required annual financial contribution, based on their company’s annual gross revenue/sales.
    </p>

    <%= form_for(@signup.organization, url: organization_step5_path, html: {multipart: true, class: 'signup'}) do |form| %>

      <%= form.error_messages(message: false) %>
      <%= render 'flash_error_messages' %>

      <%= render partial: "/shared/participation_level_selector", locals: { form: form } %>

      <div id="action-platform-selector">
        <%= render(partial: "shared/action_platform_selector", locals: {
          prefix: "organization[subscriptions]",
          platforms: @signup.action_platforms,
          contacts: @signup.contacts.each_with_index.map { |c, index| [c.name, index] }
        }) %>
      </div>

      <br><p class="clear">** <a href="https://www.unglobalcompact.org/engage-locally" target="_blank">Please contact your Local Network for more details</a></p>

      <div class="form-classic">
        <%= form.submit 'Next', class: 'button' %>
      </div>
    <%- end -%>
  </div>
</section>
