{{#sitemap/x-label node=node onDragOver="onMightDropNode" onDragLeave="onWontDropNode" onDrop="onDroppedNode"}}
  <span class="node-expander">
    {{#if node.hasDescendants}}
      <button {{action "toggle"}} class="btn btn-sm btn-default">
        {{if isOpen "-" "+"}}
      </button>
    {{/if}}
  </span>

  <span class="node-label">
    {{#link-to "containers.edit" node.model.id}}{{!-- NOTE: We call .id here to force the route to load the model hook --}}
      {{~node.model.publicPath~}}
    {{/link-to}}

    <span class="label label-default">{{node.model.layout}}</span>
  </span>

  <span class="node-actions">
    <button {{action "insert"}} class="btn btn-sm btn-success">
      Insert Page
    </button>
    <a href="/redesign{{node.model.publicPath}}" target="_blank" class="btn btn-sm btn-primary">
      View
    </a>
  </span>
{{/sitemap/x-label}}

{{#if node.nodes}}
  {{#if isOpen}}
    <ul class="sitemap-x-node-subnodes">
      {{#each node.nodes as |n|}}
        {{sitemap/x-node tree=tree node=n isSubnode=true insert="subinsert"}}
      {{/each}}
    </ul>
  {{/if}}
{{/if}}
