- if default_form.error_messages.present?
  %h3 Sorry, the Headline was not saved. Please provide all required information:
  %div{:class => 'flash error'}
    %ul
      - @headline.errors.full_messages.each do |e|
        %li= e

%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li
      %a{:href => '#general'} General
    %li
      %a{:href => '#topics'} Topics
    %li
      %a{:href => '#issues'} Issues
    %li
      %a{:href => '#sectors'} Sectors
    %li
      %a{:href => '#sustainable-development-goals'} SDGs

  #general.tab_content
    %fieldset
      %legend General Information
      %ol
        -# The order of class/label is important, see default_form_builder
        = default_form.text_field :title
        = default_form.text_field :published_on, {class: 'datepicker iso-date'}, {label: "Published on"}
        = default_form.text_field :location
        = default_form.collection_select :country_id, Country.all, :id, :name
        = default_form.select :headline_type, @headline.headline_types_for_select, {prompt: 'Select a headline type'}, { label: 'Type'}
        = default_form.text_area :description, {class: 'replace_with_editor', style: 'display:none'}, {label: "Body"}

        = default_form.select :contact_id, @headline.contact_options, {include_blank: 'Select a Contact'}, {}
        = default_form.text_field :call_to_action_label
        = default_form.text_field :call_to_action_url

  =render partial: "admin/shared/tagging_form", locals: {taggable: @headline, model_name: 'headline'}
