%h2 News headlines

= link_to 'Create a headline', new_admin_headline_path, :class => 'new', :id => 'new_headline'

- if paged_headlines.any?
  %table.dashboard_table
    %tr
      %th= sort_header 'Title', field: 'title'
      %th= sort_header 'Dates', field: 'published_on'
      %th= sort_header 'Location', field: 'location'
      %th.actions Actions
    - for headline in paged_headlines do
      %tr
        %td= link_to headline.title, edit_admin_headline_path(headline)
        %td= headline.published_on || headline.approval
        %td= headline.full_location
        %td
          %ul.actions
            %li= link_to 'Approve', approve_admin_headline_path(headline), :class => 'approve link_to_post' if headline.can_approve?
            %li= link_to 'Revoke', revoke_admin_headline_path(headline), :class => 'revoke link_to_post' if headline.can_revoke?
            %li= link_to 'Edit', edit_admin_headline_path(headline), class: 'edit', title: 'Edit details'
            %li= link_to 'Delete', admin_headline_path(headline), class: 'delete link_to_destroy', :confirmation => 'Are you sure you want to delete this headline?'

= will_paginate paged_headlines