%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li <a href="#basic">General</a>
    %li#human_rights_tab{:class => 'additional_questions'} <a href="#human_rights_additional_questions">&nbsp;&raquo;&nbsp;Human Rights</a>
    %li#labour_tab{:class => 'additional_questions'} <a href="#labour_additional_questions">&nbsp;&raquo;&nbsp;Labour</a>
    %li#environment_tab{:class => 'additional_questions'} <a href="#environment_additional_questions">&nbsp;&raquo;&nbsp;Environment</a>
    %li#anti_corruption_tab{:class => 'additional_questions'} <a href="#anti_corruption_additional_questions">&nbsp;&raquo;&nbsp;Anti-Corruption</a>
    %li#submit_tab{:style => 'display:block;'} <a href="#finish">Submit your COP</a>
  
  #basic.tab_content
    = form.error_messages
    %fieldset
      %fieldset
        %legend
          %span What is the time period covered by the COP?
        %ul.date_select
          %li Start date
          = form.date_select :starts_on, {:order => [:month, :year], :start_year => 2000, :end_year => current_year, :default => {:year => current_year-1} }
        %ul.date_select
          %li End date
          = form.date_select :ends_on, {:order => [:month, :year], :start_year => 2000, :end_year => current_year}
      = cop_questions_for @communication_on_progress, :basic
  - PrincipleArea::FILTERS.each_pair do |key, value|
    %div.tab_content{:id => "#{key}_additional_questions"}
      %h3= value
      %p= Principle.principles_for_issue_area(key).collect(&:name).join('<br />')
      %fieldset= cop_questions_for @communication_on_progress, :basic, key

  #finish.tab_content
    %h3 Submit your COP
    %h4 Before submitting your COP, please confirm that the answers you have provided include the following content.
    %fieldset
      %fieldset
        %legend
          %span A statement by the CEO (or equivalent) expressing continued support for the Global Compact and renewing your company's ongoing commitment to the initiative and its principles
        = true_or_false_field(form, :include_continued_support_statement)
      
      %fieldset
        %legend
          %span
            Coverage of the four issue areas
        %span{:class => 'radio_label'}
          Human Rights
          = true_or_false_field(form, :references_human_rights, :class => 'score')
        %span{:class => 'radio_label'}
          Labour
          = true_or_false_field(form, :references_labour, :class => 'score')
        %span{:class => 'radio_label'}
          Environment
          = true_or_false_field(form, :references_environment, :class => 'score')
        %span{:class => 'radio_label'}
          Anti-Corruption
          = true_or_false_field(form, :references_anti_corruption, :class => 'score')
    
      %fieldset
        %legend
          %span Measurement of outcomes for any of the above issue areas
        = true_or_false_field(form, :include_measurement, :class => 'score')
    
    = hidden_field_tag("communication_on_progress[format]", 'basic')
    = hidden_field_tag("communication_on_progress[additional_questions]", 0)
    = submit_tag 'Submit', :class => "button", :id => "finish"

= organization_javascript_vars @organization
= javascript_tag "var work_in_progress = false;"