- new_cop_file_code = escape_javascript(render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:cop]), :record => 'NEW_RECORD'})
= javascript_tag("var cop_file_form = \"#{new_cop_file_code}\"")

#cop_files
  - unless @submitted
    = render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:cop]), :record => 0}
  - @communication_on_progress.cop_files.each_with_index do |cop_file, i|
    = render :partial => 'cop_file', :locals => {:cop_file => cop_file, :record => i}
= link_to_function "Add PDF file", "$('#cop_files').append(replace_ids(cop_file_form))", :class => 'new_page_large'