- record = "new_#{cop_file.attachment_type}" if record.nil?
%div{:id => "cop_file_#{record}"}
  = hidden_field_tag("communication_on_progress[cop_files_attributes][#{record}][attachment_type]", cop_file.attachment_type)

  %ol
    %li
      = label_tag("communication_on_progress_cop_files_attributes_attributes_#{record}_language_id", 'Language')
      = select_tag("communication_on_progress[cop_files_attributes][#{record}][language_id]", options_from_collection_for_select(Language.all, 'id', 'name', language_id))

      = file_field_tag("communication_on_progress[cop_files_attributes][#{record}][attachment]")
      - unless record == 0
        = link_to_function '<!--[if IE]>Remove<![endif]-->', "hideAndDisableFormElements('#cop_file_#{record}')", :class => 'delete_doc'
  - unless cop_file.new_record?
    = hidden_field_tag("communication_on_progress[cop_files_attributes][#{record}][id]", cop_file.id)
    To remove, check
    = check_box_tag("communication_on_progress[cop_files_attributes][#{record}][_delete]", "1", false)
    %br/
    Current file:
    = link_to cop_file.attachment_file_name, cop_file.attachment.url
