- record = "new_#{cop_link.attachment_type}" if record.nil?
%div{:id => "cop_link_#{record}"}
  = hidden_field_tag("communication_on_progress[cop_links_attributes][#{record}][attachment_type]", cop_link.attachment_type)

  = label_tag("communication_on_progress_cop_links_attributes_attributes_#{record}_language_id", 'Language')
  = select_tag("communication_on_progress[cop_links_attributes][#{record}][language_id]",  options_from_collection_for_select(Language.all, 'id', 'name'))

  = label_tag("communication_on_progress_cop_links_attributes_attributes_#{record}_url", 'URL')
  = text_field_tag("communication_on_progress[cop_links_attributes][#{record}][url]", cop_link.url, :style => 'width: 300px')

  - unless cop_link.new_record?
    = hidden_field_tag("communication_on_progress[cop_links_attributes][#{record}][id]", cop_link.id)
    To remove, check
    = check_box_tag("communication_on_progress[cop_links_attributes][#{record}][_delete]", "1", false)
%hr/