%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li <a href="#basic">Basic Details</a>
    #additional_questions{:style => css_display_style { @communication_on_progress.notable_program? || @communication_on_progress.additional_questions?}}
      %li#human_rights_tab{:style => css_display_style { @communication_on_progress.references_human_rights? || @communication_on_progress.concrete_human_rights_activities? }} <a href="#human_rights_additional_questions">Human Rights</a>
      %li#environment_tab{:style => css_display_style { @communication_on_progress.references_environment? || @communication_on_progress.concrete_environment_activities? }}  <a href="#environment_additional_questions">Environment</a>
      %li#labour_tab{:style => css_display_style { @communication_on_progress.references_labour? || @communication_on_progress.concrete_labour_activities? }}  <a href="#labour_additional_questions">Labour</a>
      %li#anti_corruption_tab{:style => css_display_style { @communication_on_progress.references_anti_corruption? || @communication_on_progress.concrete_anti_corruption_activities? }}  <a href="#anti_corruption_additional_questions">Anti-Corruption</a>
    %li#notable_tab{:style => css_display_style { @communication_on_progress.notable_program? }} <a href="#notable_questions">Notable Program</a>
    %li <a href="#finish">Finish</a>
  
  #basic.tab_content
    = form.error_messages
    %fieldset
      %fieldset
        %legend
          %span What is the format of the COP?
        - CommunicationOnProgress::FORMAT.each do |key, value|
          %label
            = form.radio_button :format, key
            = value

      #grace_letter_fields{:style => css_display_style { @communication_on_progress.is_grace_letter? } }
        %fieldset
          %legend
            %span Please upload your "Grace Letter"
          = render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:grace_letter])}

      #non_grace_letter_fields{:style => 'display: none'}
        %fieldset
          %legend
            %span Does your COP include an explicit statement of continued support for the Global Compact and its principles?
          = true_or_false_field(form, :include_continued_support_statement)

        #explicit_statement_of_support_fields{:style => 'display: none'}
          %fieldset
            %legend
              %span Who signed the statement of continued support?
            - CommunicationOnProgress::SIGNEE.each do |key, value|
              %label
                = form.radio_button :support_statement_signee, key
                = value

          #signed_by_executive_fields{:style => 'display: none'}
            %fieldset
              %legend
                %span Where is your company's statement of continued support located?
              - CommunicationOnProgress::STATEMENT_LOCATION.each do |key, value|
                %label
                  = form.radio_button :statement_location, key
                  = value

            #cop_files{:style => 'display: none'}
              %fieldset
                %legend
                  %span Upload the COP as a .pdf file
                = render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:cop])}
              %fieldset
                %legend
                  %span Provide a link that illustrates how the COP is shared with your stakeholders
                = render :partial => 'cop_link', :locals => {:cop_link => CopLink.new(:attachment_type => CopFile::TYPES[:cop_with_stakeholders])}
            #cop_links{:style => 'display: none'}
              %fieldset
                %legend
                  %span Provide a link to your web-based COP
                = render :partial => 'cop_link', :locals => {:cop_link => CopLink.new(:attachment_type => CopFile::TYPES[:cop])}
              %fieldset
                %legend
                  %span We encourage you to upload one .pdf file in addition to your web-based COP
                = render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:web_cop])}
            #statement_support_pdf{:style => 'display: none'}
              %fieldset
                %legend
                  %span Upload one .pdf file which contains the statement of continued support
                = render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:support_statement])}
            #statement_support_link{:style => 'display: none'}
              %fieldset
                %legend
                  %span Provide a link to the web page that contains the statement of continued support
                = render :partial => 'cop_link', :locals => {:cop_link => CopLink.new(:attachment_type => CopFile::TYPES[:support_statement])}
      
            %fieldset
              %legend
                %span Are you a subsidiary of another Global Compact participant submitting the COP of your parent company?
              %p= link_to 'Please refer to Subsidiary Participation and Communication on Progress', '/HowToParticipate/Business_Participation/Subsidiary_Engagement.html', {:popup => ['left=50,top=50,height=600,width=1024,resizable=1,scrollbars=1']}
              
              %span Are you submitting the COP of your parent company (this question only applies if you are representing a subsidiary of another Global Compact participant)?
              = true_or_false_field(form, :parent_company_cop, yes: 'Yes, I am submitting the COP of my parent company', no: "No, this is my company's own COP")
      
            %fieldset#parent_company_question{:style => 'display :none'}
              %legend
                %span Does the COP of your parent company cover the efforts made by your subsidiary to implement the Global Compact principles?
              = true_or_false_field(form, :parent_cop_cover_subsidiary)
        
            #own_company_questions{:style => 'display: block'}
              %fieldset
                %legend
                  %span
                    Does your COP contain description of actions, and when relevant, policies related to the following issue areas?
                Human Rights
                = true_or_false_field(form, :references_human_rights, :class => 'score')
                %br
                Labour
                = true_or_false_field(form, :references_labour, :class => 'score')
                %br
                Environment
                = true_or_false_field(form, :references_environment, :class => 'score')
                %br
                Anti-Corruption
                = true_or_false_field(form, :references_anti_corruption, :class => 'score')

              %fieldset
                %legend
                  %span
                    Does your COP contain information about
                    %strong procedures or concrete activities
                    related to the following issue areas?
                Human Rights
                = true_or_false_field(form, :concrete_human_rights_activities, :class => 'score')
                %br
                Labour
                = true_or_false_field(form, :concrete_labour_activities, :class => 'score')
                %br
                Environment
                = true_or_false_field(form, :concrete_environment_activities, :class => 'score')
                %br
                Anti-Corruption
                = true_or_false_field(form, :concrete_anti_corruption_activities, :class => 'score')

              %fieldset#only_3_areas_selected{:style => 'display: none'}
                %legend
                  %span
                    Does your COP contain an explanation of why
                    %span#last_issue_area
                    is not relevant to your company?
                = true_or_false_field(form, :missing_principle_explained)

              %fieldset
                %legend
                  %span
                    Does your COP
                    %strong
                      identify targets, define performance indicators
                      %i and
                      measure outcomes
                    ?
                = true_or_false_field(form, :include_measurement)
        
              %fieldset
                %legend
                  %span Your COP does not live up to the minimum requirements as defined by the COP Policy of April 2009, but for this time we can accept it anyhow. Do you want to continue submitting the COP?
                = true_or_false_field(form, :include_measurement, yes: 'Yes, continue submitting this COP', no: 'No, I will revise COP and submit it later')
        
              %fieldset
                %legend
                  %span Does your COP contain information about a partnership project undertaken in support of broader United Nations goals, such as the Millennium Development Goals?
                = true_or_false_field(form, :mentions_partnership_project)

              = cop_questions_for @communication_on_progress, :mandatory

              %fieldset
                %legend
                  %span Does the statement of continued support explain how your company benefits from participating in the Global Compact?
                = true_or_false_field(form, :support_statement_explain_benefits)

              %fieldset
                %legend
                  %span Would you like to answer some additional questions regarding the content of your COP in order to make it easier for others to search and find your COP on the Global Compact web site.
                = true_or_false_field(form, :additional_questions, :class => 'additional_questions')

              #partnership_additional_questions{:style => 'display: none'}
                = cop_questions_for @communication_on_progress, :additional

              %fieldset
                %legend
                  %span Would you like your Communication on Progress to be reviewed against the Notable Program?
                = true_or_false_field(form, :notable_program, :class => 'additional_questions')

        #reject_cop{:style => 'display: none'}
          %fieldset
            %legend
              %span Your COP has been rejected
            %p
              You COP was rejected because it does not live up to the minimum requirements as defined by the COP Policy of April 2009. [link here]
          - if submission_30_days_before_due? @organization, @communication_on_progress
            %fieldset
              %legend
                %span Do you want to submit this COP temporarily, which will give you an additional 90 days to submit a revised COP that complies with minimum requirements?
              = true_or_false_field(form, :is_draft)
      
  - PrincipleArea::FILTERS.each_pair do |key, value|
    %div.tab_content{:id => "#{key}_additional_questions"}
      %h2= value
      %fieldset= cop_questions_for @communication_on_progress, :additional, key

  #notable_questions.tab_content
    %h2 Notable questions
    %fieldset= cop_questions_for @communication_on_progress, :notable

  #finish.tab_content
    %h2 Finish:
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    = submit_tag 'Submit your information', :class => "button", :id => "finish"
