= form.error_messages
= form.text_field :title

= render :partial => 'cop_files_form'
= render :partial => 'cop_links_form'

%p
  = form.label :priciple_ids, 'Principles'
  %br/
  = collection_select :communication_on_progress, :principle_ids, PrincipleArea.all, :id, :name, {}, :multiple => true, :name => 'communication_on_progress[principle_ids][]'

%p
  = form.label :language_ids, 'Language(s)'
  %br/
  = collection_select :communication_on_progress, :language_ids, Language.all, :id, :name, {}, :multiple => true, :name => 'communication_on_progress[language_ids][]'

%p
  Does the COP include an explicit statement of continued support or the UN Global Compact and its ten principles?
  = true_or_false_field(form, :include_continued_support_statement)

%p
  What is the format of the COP?
  - CommunicationOnProgress::FORMAT.each do |key, value|
    %br
    = form.radio_button :format, key
    = form.label :format, value, :value => key

%p
  Does the COP make explicit reference to existing policies and/or activities related to the following issue areas?
  %br
  = form.check_box :references_human_rights
  = form.label :references_human_rights, 'Human Rights'
  %br
  = form.check_box :references_labour
  = form.label :references_labour, 'Labour'
  %br
  = form.check_box :references_environment
  = form.label :references_environment, 'Environment'
  %br
  = form.check_box :references_anti_corruption
  = form.label :references_anti_corruption, 'Anti-Corruption'

%p
  Does the COP measure outcomes, use performance indicators, or describe expected outcomes, in the following issue areas?
  %br
  = form.check_box :measures_human_rights_outcomes
  = form.label :measures_human_rights_outcomes, 'Human Rights'
  %br
  = form.check_box :measures_labour_outcomes
  = form.label :measures_labour_outcomes, 'Labour'
  %br
  = form.check_box :measures_environment_outcomes
  = form.label :measures_environment_outcomes, 'Environment'
  %br
  = form.check_box :measures_anti_corruption_outcomes
  = form.label :measures_anti_corruption_outcomes, 'Anti-Corruption'

%p 
  Is the statement of continued support for the UN Global Compact signed by the company’s top executive?
  = true_or_false_field(form, :support_statement_signed)

%p
  Does the statement of continued support explain why your company sees value in participating in the UN Global Compact?
  = true_or_false_field(form, :support_statement_lists_reason)

%p
  Does the statement of continued support mention specific types of engagement with the UN Global Compact, such as active participation in a local network, issue working group, Caring for Climate, or the CEO Water Mandate?
  = true_or_false_field(form, :support_statement_mentions_engagements)

- PrincipleArea::FILTERS.each_pair do |key, value|
  %fieldset
    %legend= value
    %div{:id => "#{key}_not_addressed", :style => "display:#{@communication_on_progress.send("references_#{key}?") ? "none" : "block"}"}
      = cop_questions_for @communication_on_progress, key, false
    %div{:id => "#{key}_addressed", :style => "display:#{@communication_on_progress.send("references_#{key}?") ? "block" : "none"}"}
      = cop_questions_for @communication_on_progress, key, true

%fieldset
  %legend Final questions
  = cop_questions_for @communication_on_progress, nil, false

%p
  Would you like the Global Compact office to check your COP for inclusion in the Notable COP program?
  = true_or_false_field(form, :notable_program)
