%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li <a href="#basic">Required Information</a>
    %li#human_rights_tab{:class => 'additional_questions', :style => principle_tab_display_style(@communication_on_progress, :human_rights)} <a href="#human_rights_additional_questions">Human Rights</a>
    %li#business_and_peace_tab{:class => 'additional_questions', :style => principle_tab_display_style(@communication_on_progress, :human_rights)} <a href="#business_and_peace_additional_questions">Business &amp; Peace</a>
    %li#labour_tab{:class => 'additional_questions', :style => principle_tab_display_style(@communication_on_progress, :labour)}  <a href="#labour_additional_questions">Labour</a>
    %li#environment_tab{:class => 'additional_questions', :style => principle_tab_display_style(@communication_on_progress, :environment)}  <a href="#environment_additional_questions">Environment</a>
    %li#anti_corruption_tab{:class => 'additional_questions', :style => principle_tab_display_style(@communication_on_progress, :anti_corruption)}  <a href="#anti_corruption_additional_questions">Anti-Corruption</a>
    %li#notable_tab{:style => css_display_style(@communication_on_progress.notable_program?)} <a href="#notable_questions">Notable Program</a>
    %li#submit_tab{:style => 'display:none'} <a href="#finish">Submit your COP</a>
  
  #basic.tab_content
    = form.error_messages
    %fieldset
      %fieldset
        %legend
          %span What is the format of the COP?
        - CommunicationOnProgress::FORMAT.each do |key, value|
          %label
            = form.radio_button :format, key
            = value

      #grace_letter_fields{:style => css_display_style(@communication_on_progress.is_grace_letter?)}
        %fieldset
          %legend
            %span Please upload your "Grace Letter"
          = render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:grace_letter])}

      #non_grace_letter_fields{:style => 'display: none'}
        %fieldset
          %legend
            %span Is your COP web-based?
          = true_or_false_field(form, :web_based)

        #cop_attachments{:style => css_display_style(!@communication_on_progress.web_based?)}
          %fieldset
            %legend
              %span Upload the COP as a PDF file
            = render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:cop])}
        #web_cop_attachments{:style => css_display_style(@communication_on_progress.web_based?)}
          %fieldset
            %legend
              %span Provide a link to your web-based COP
            = render :partial => 'cop_link', :locals => {:cop_link => CopLink.new(:attachment_type => CopFile::TYPES[:cop])}
          %fieldset
            %legend
              %span We encourage you to upload a copy of your web-based COP in PDF format
            = text_partial('b')
            = render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:web_cop])}
              
        #own_company_questions{:style => 'display: block'}
          %fieldset
            %legend
              %span Does your COP include an explicit statement of continued support for the Global Compact and its principles?
            = true_or_false_field(form, :include_continued_support_statement)

          #include_continued_support_statement{:style => 'display: none'}
            %fieldset
              %legend
                %span Does your COP contain description of actions, and when relevant, policies related to the following issue areas?
              %br
              Human Rights
              = true_or_false_field(form, :references_human_rights, :class => 'score')
              %br
              Labour
              = true_or_false_field(form, :references_labour, :class => 'score')
              %br
              Environment
              = true_or_false_field(form, :references_environment, :class => 'score')
              %br
              Anti-Corruption
              = true_or_false_field(form, :references_anti_corruption, :class => 'score')
              %br

              %fieldset
                %legend
                  %span
                    Does your COP
                    %strong
                      identify targets, define performance indicators
                      %i and
                      measure outcomes
                    ?
                = true_or_false_field(form, :include_measurement, :class => 'score')

              #approved_cop{:style => 'display: none'}
                = cop_questions_for @communication_on_progress, :mandatory

                %fieldset
                  %legend
                    %span Would you like to answer some additional questions regarding the content of your COP?
                  %p This will make it easier for others to search and find your COP on the Global Compact web site
                  = true_or_false_field(form, :additional_questions, :class => 'additional_questions')

                %fieldset
                  %legend
                    %span Would you like your Communication on Progress to be reviewed for possible inclusion in the Notable COP Program?
                  %p= popup_link_to 'Find more information about the Notable COP Program here.', '/docs/communication_on_progress/Notable_COPs.pdf'
                  = true_or_false_field(form, :notable_program, :class => 'additional_questions')

  - PrincipleArea::FILTERS.each_pair do |key, value|
    %div.tab_content{:id => "#{key}_additional_questions"}
      %h2= value
      %fieldset= cop_questions_for @communication_on_progress, :additional, key

  %div.tab_content{:id => "business_and_peace_additional_questions"}
    %h2 Business and Peace
    %fieldset= cop_questions_for @communication_on_progress, :business_and_peace

  #notable_questions.tab_content
    %h2 Notable questions
    %fieldset= cop_questions_for @communication_on_progress, :notable

  #finish.tab_content
    %h2 Submit your Communication on Progress:
    %p Please provide all required information before submitting your COP.
    
    = text_partial('a')
    - for letter in ('l'..'o')
      = text_partial(letter)
    
    = submit_tag 'Submit', :class => "button", :id => "finish"

= organization_javascript_vars @organization
= javascript_tag "var work_in_progress = false;"