-if @communication_on_progress.errors.any?
  %h3 Please correct the following before submitting your COE:
  %div{:class => 'flash error'}
    = error_messages_for @communication_on_progress, header_message: false

%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li <a id="basic_link" href="#basic">General Information</a>

    %li#strategy_governance_tab{:class => 'additional_questions'} <a href="#strategy_additional_questions">&nbsp;&raquo;&nbsp;Strategy</a>

    %li#human_rights_tab{:class => 'additional_questions'} <a href="#human_rights_additional_questions">&nbsp;&raquo;&nbsp;Human Rights</a>

    %li#labour_tab{:class => 'additional_questions'}  <a href="#labour_additional_questions">&nbsp;&raquo;&nbsp;Labour</a>

    %li#environment_tab{:class => 'additional_questions'}  <a href="#environment_additional_questions">&nbsp;&raquo;&nbsp;Environment</a>

    %li#anti_corruption_tab{:class => 'additional_questions'}  <a href="#anti_corruption_additional_questions">&nbsp;&raquo;&nbsp;Anti-Corruption</a>

    %li#un_goals_tab{:class => 'additional_questions'} <a href="#un_goals_additional_questions">&nbsp;&raquo;&nbsp;UN Goals</a>

    %li#governance_tab{:class => 'additional_questions'} <a href="#governance_additional_questions">&nbsp;&raquo;&nbsp;Governance</a>

    %li#business_peace_tab{:class => 'additional_questions', :style => css_display_style(@communication_on_progress.references_business_peace?)} <a href="#business_peace_additional_questions">&nbsp;&raquo;&nbsp;Business&nbsp&amp;&nbspPeace</a>

    %li#submit_tab{:style => "#{css_display_style(@communication_on_progress.submitted?)}"} <a id="submit_link" href="#finish">Submit your COP</a>

  #basic.tab_content
    %div.principles
      %h3 General Information
    %fieldset
      %fieldset
        %legend
          %span About the COP Self-assessment
        %p.question_text Using this online questionnaire you will have the opportunity to assess what commonly accepted best practice your COP describes under each of the GC Advanced criteria, in the following areas:

        %ul.bulleted
          %li Corporate Sustainability Governance & Leadership
          %li
            Implementing the Ten Principles into Strategies & Operations in the areas of:
            %p
            %p.indent Human Rights<br />Labour<br /> Environment<br />Anti-Corruption
          %li UN goals and issues
        %p
        %p In order for your COP to qualify for the GC Advanced level, you must select at least one best practice for each of the criteria. If you do, the COP will automatically qualify for the GC Advanced level and meet the minimum requirement for LEAD companies. Note: COPs and the results of the self-assessment will be made public on the Global Compact website, alongside your COPs, to improve the analysis of the COPs and underlying performance.
        %p If you cannot confirm that your COP fulfills every criterion, the COP will be published but will not meet the minimum criteria for LEAD. An email will be sent to the LEAD team notifying that an incomplete COP has been submitted. You will then have 3 months to resubmit. However, the results of the self-assessment will be made public on the Global Compact website, alongside the COP, to improve the analysis of the COPs and underlying performance.

        %p{:title => "Additional information on the best practice will appear here."}
          == Note: Throughout the self-assessment, best practices marked with #{image_tag "icons/Info_11x11.png", :height => 11, :width => 11, :style => 'position: relative; top: 1px; right: 0px; padding: 0; margin:0;'} indicate additional information is available for that item.

    = render :partial => 'cop_title_field', :locals => {:form => form}

    %fieldset
      %fieldset
        %legend
          %span The Communication on Progress is in the following format:
        - @communication_on_progress.formats.each do |key, value|
          %label
            = form.radio_button :format, key
            = value

      #non_grace_letter_fields{:style => "#{css_display_style(@communication_on_progress.submitted?)}"}

        #own_company_questions{:style => 'display: block'}
          %fieldset
            %legend
              %span What is the time period covered by your COP?
            %ul.date_select
              %li Start date
              = form.date_select :starts_on, {:order => [:month, :year], :start_year => 2000, :end_year => current_year, :default => {:year => current_year-1} }
            %ul.date_select
              %li End date
              = form.date_select :ends_on, {:order => [:month, :year], :start_year => 2000, :end_year => current_year}

          %fieldset
            %legend
              %span Does your COP contain a statement by the CEO (or equivalent) expressing continued support for the Global Compact and renewing your company's ongoing commitment to the initiative and its principles?
            = true_or_false_field(form, :include_continued_support_statement)

          #include_continued_support_statement{:style => css_display_style(@communication_on_progress.submitted?)}
            = render :partial => 'cop_issue_areas_form', :locals => {:form => form}
            = render :partial => 'cop_business_peace_question', :locals => {:form => form}
            = render :partial => 'cop_water_mandate_question', :locals => {:form => form}

            %fieldset
              %legend
                %span Does your COP include qualitative and/or quantitative measurement of outcomes illustrating the degree to which targets/performance indicators were met?
              = true_or_false_field(form, :include_measurement, :class => 'score')

          #method_shared_with_stakeholders{:style => css_display_style(@communication_on_progress.submitted?)}
            %fieldset
              %fieldset
                %legend
                  %span How does your organization share its COP with stakeholders?
                - @communication_on_progress.methods.each do |key, value|
                  %label
                    = form.radio_button :method_shared, key
                    = value

            = render :partial => 'cop_third_party_and_GRI_questions', :locals => {:form => form}

  %div.tab_content{:id => "strategy_additional_questions"}
    %h3 Implementing the Ten Principles into Strategies &amp; Operations
    %p For the following criterion, please check the best practices you have implemented and discussed in your COP.
    %div.hint_toggle About this section...
    %div.hint_text{:style => 'display: none;'}
      %p.indent The term 'value chain', for purposes of this self-assessment, refers to an organization's upstream business partners (including suppliers and subcontractors) and downstream business partners (e.g. for transport of finished products).
    %fieldset= render_cop_questions_for :strategy, :year => 2013

  %div.tab_content{:id => "human_rights_additional_questions"}
    %h3
      %span{:class => "#{issue_area_colour_for('human_rights')}" } Robust Human Rights Management Policies &amp; Procedures
    %p For the following criterion, please check the best practices you have implemented and discussed in your COP.
    %div.hint_toggle About this section...
    %div.hint_text{:style => 'display: none;'}
      %p.indent== Criteria and best practices under human rights implementation have been modified to reflect the #{ popup_link_to 'Guiding Principles on Business and Human Rights: Implementing the United Nations "Protect, Respect and Remedy" Framework', 'http://www.business-humanrights.org/media/documents/ruggie/ruggie-guiding-principles-21-mar-2011.pdf'} (the Guiding Principles), as well as the #{popup_link_to 'Human Rights COP Reporting Guidance', '/docs/issues_doc/human_rights/Resources/HR_COP_Reporting_Guidance.pdf'}.  Best practices reflect specific reporting elements of the latter guidance, either Basic (numbers starting with BRE) or Advanced (numbers starting with ARE).
      %p.indent
        <strong>Note on Criterion 4. <em>On-going due diligence process that includes an assessment of actual and potential human rights impacts.</em> The Guiding Principles suggest that the assessment:</strong>
        %ul.bulleted{:style => 'margin-left: 3em;'}
          %li Include the risk of impacts the business enterprise may be involved in through its own activities, business relationships, and country and/or industry context
          %li Involve meaningful consultation with potentially affected groups and other relevant stakeholders to assess actual and potential impacts as well as risks
          %li Be ongoing and evolving, adapted to size and complexity
          %li Be included in risk management systems
      %p.indent The Guiding Principles also suggest that risks should not be limited to the risks to the company itself (material) but should also include risks to right-holders. Lastly the Guiding Principles suggest that findings from impact assessments should be integrated across relevant internal functions and processes.
      %p.indent <strong>Criterion 5. Outcomes of due diligence process.</strong> Suggested GRI Indicators: HR2 Percentage of significant suppliers, contractors, and other business partners that have undergone human rights screening, and actions taken. HR10 Percentage and total number of operations that have been subject to human rights reviews and/or impact assessments.)
      %p.indent
        <strong>External and formal reporting of operations or operating contexts that pose risks of severe human rights impacts.</strong> The Guiding Principles suggest that communications should:
        %ol{:style => 'list-style-type:lower-alpha; margin-left: 5em;'}
          %li Be of a form and frequency that reflect an enterprise's human rights impacts and that are accessible to its intended audiences;
          %li Provide information that is sufficient to evaluate the adequacy of an enterprise's response to the particular human rights impact involved;
          %li In turn not pose risks to affected stakeholders, personnel or to legitimate requirements of commercial confidentiality.
      %p.indent <strong>Disclosure of main incidents involving the company.</strong> The Global Compact Office acknowledges that providing such details may be counterproductive for various reasons related to the protection of human rights, and that confidentiality may, at times, be more effective in alleviating human rights abuses.
      %p.indent <strong>Outcomes of remediation processes of adverse human rights impacts</strong> (Suggested GRI Indicator: HR11 Number of grievances related to human rights filed, addressed and resolved through formal grievance mechanisms.)

    %fieldset= render_cop_questions_for :additional, :principle => :human_rights, :year => 2013

  %div.tab_content{:id => "labour_additional_questions"}
    %h3
      %span{:class => "#{issue_area_colour_for('labour')}" } Robust Labour Management Policies &amp; Procedures
    %p For the following criterion, please check the best practices you have implemented and discussed in your COP.
    %fieldset= render_cop_questions_for :additional, :principle => :labour, :year => 2013

  %div.tab_content{:id => "environment_additional_questions"}
    %h3
      %span{:class => "#{issue_area_colour_for('environment')}" } Robust Environmental Management Policies &amp; Procedures
    %p For the following criterion, please check the best practices you have implemented and discussed in your COP.
    %fieldset= render_cop_questions_for :additional, :principle => :environment, :year => 2013

  %div.tab_content{:id => "anti_corruption_additional_questions"}
    %h3
      %span{:class => "#{issue_area_colour_for('anti_corruption')}" } Robust Anti-Corruption Management Policies &amp; Procedures
    %p For the following criterion, please check the best practices you have implemented and discussed in your COP.
    %div.hint_toggle About this section...
    %div.hint_text{:style => 'display: none;'}
      %p.indent== Criteria and best practices under Anti-Corruption implementation have been modified to reflect the #{link_to 'Anti-Corruption Reporting Guidance (pdf)','/docs/issues_doc/Anti-Corruption/UNGC_AntiCorruptionReporting.pdf'}. Best practices reflect specific reporting elements of the guidance, either Basic (numbers starting with B) or Desired (numbers starting with D).
    %fieldset= render_cop_questions_for :additional, :principle => :anti_corruption, :year => 2013

  %div.tab_content{:id => "un_goals_additional_questions"}
    %h3 Taking Action in Support of Broader UN Goals and Issues
    %p For the following criterion, please check the best practices you have implemented and discussed in your COP.
    %div{:class => 'hint_toggle'} About this section...
    %div{:class => 'hint_text', :style => 'display: none;'}
      %div{:style => 'margin-left: 2em;'}
        %p "Broader UN Goals and Issues" refers to an array of global issues - based on the most acute or chronic global challenges - including:
        %ul{:style => "float: left; margin-left: 1em; margin-right: 3em;"}
          %li Peace & Security
          %li Millennium Development Goals
          %li Human Rights
          %li Children's Rights
          %li Gender Equality

        %ul{:style => "float: left; margin-right: 4em;"}
          %li Health
          %li Education
          %li Humanitarian Assistance
          %li Migration
          %li Food Security

        %ul{:style => "margin-bottom: 2em;"}
          %li Sustainable Ecosystems and Biodiversity
          %li Climate Change Mitigation and Adaptation
          %li Water Security and Sanitation
          %li Employment and Decent Working Conditions
          %li Anti-Corruption
      %p{:style => 'display: block; clear both; margin-left: 2em;'}
        For a list of further Global Issues that are relevant to the work of the UN as well as business, please refer to
        = popup_link_to 'business.un.org','http://business.un.org/en/browse/global_issues'
    %fieldset= render_cop_questions_for :un_goals, :year => 2013

  %div.tab_content{:id => "governance_additional_questions"}
    %h3 Corporate Sustainability Governance and Leadership
    %p For the following criterion, please check the best practices you have implemented and discussed in your COP.
    %fieldset= render_cop_questions_for :governance, :year => 2013

  %div.tab_content{:id => "business_peace_additional_questions"}
    %h3
      %span{:class => "#{issue_area_colour_for('business_peace')}" } ANNEX: Business & Peace
    %p How does your COP demonstrate that your company is advancing responsible business practices aligned with your commitment to the Global Compact in high-risk and/or conflict-affected areas?  These areas differ significantly from more stable operating environments and require companies to take into consideration additional factors. For the following criteria, please check the policies and practices described in your COP.
    %fieldset= render_cop_questions_for :business_peace, :year => 2013

  #finish.tab_content
    %fieldset
      #cop_attachments{:style => 'display: block'}
        %fieldset
          %legend
            %span Required: upload the COP as a PDF file
          = text_partial('b')
          = render :partial => 'cop_files_form'

    %fieldset
      #web_cop_attachments{:style => 'display: block'}
        %fieldset
          %legend
            %span Optional: provide a link to your web-based COP. The link should be in the format 'http://www.company.com/'
          = render :partial => 'cop_link', :locals => {:cop_link => @communication_on_progress.new_link}

      #signature{:style => 'display: block'}
        %fieldset
          %legend
            %span Contact Information
          %p Optional: To facilitate stakeholder engagement, you may publish the contact information of a representative from your company.
          = form.text_area :contact_info, :class => 'cop_answer', :value => @communication_on_progress.contact_info

    = render :partial => 'submit_cop'
    %br
    %br

= organization_javascript_vars @communication_on_progress.organization
= javascript_tag "var work_in_progress = false;"
= form_submitted?(@communication_on_progress.submitted?)
