- if @communication_on_progress.cop_files.any?
  %dt Files:
  %dd
    %ul
      - for cop_file in @communication_on_progress.cop_files
        %li
          = link_to cop_file.attachment_file_name, cop_file.attachment.url
          == [#{cop_file.language.name}]
- if @communication_on_progress.cop_links.any?
  %dt Links:
  %dd
    %ul
      - for cop_link in @communication_on_progress.cop_links
        %li
          = link_to cop_link.url, cop_link.url
          == [#{cop_link.language.name}]
%dt Details:
%dd
  %ul
    - if @communication_on_progress.include_continued_support_statement?
      %li COP includes an explicit statement of continued support for the UN Global Compact and its ten principles
    - if @communication_on_progress.parent_company_cop?
      %li This is the COP of a parent company
      - if @communication_on_progress.parent_cop_cover_subsidiary?
        %li COP of parent company covers the efforts made by subsidiary to implement the Global Compact principles
    %li= CommunicationOnProgress::FORMAT[@communication_on_progress.format.try(:to_sym)]

- staff_only do
  - PrincipleArea::FILTERS.each_pair do |key, value|
    - if @communication_on_progress.send("references_#{key}?") && (@communication_on_progress.notable_program? || @communication_on_progress.additional_questions?)
      %dt
        = value
        %br/
        = show_issue_area_coverage(@communication_on_progress, key)
      %dd
        %ul= show_cop_attributes(@communication_on_progress, PrincipleArea.send(key).id, @communication_on_progress.send("references_#{key}?"))

  - if @communication_on_progress.notable_program? || @communication_on_progress.additional_questions?
    %dt Final questions
    %dd
      %ul= show_cop_attributes(@communication_on_progress, nil)
