%dt Title:
%dd= @communication_on_progress.title
%dt Time period:
%dd== #{@communication_on_progress.start_month}/#{@communication_on_progress.start_year} to #{@communication_on_progress.end_month}/#{@communication_on_progress.end_year}
%dt Principles:
%dd= @communication_on_progress.principles.collect(&:name).join('<br />')
%dt Languages:
%dd= @communication_on_progress.languages.collect(&:name).join(', ')
%dt Contact Information:
%dd= [@communication_on_progress.contact_name, @communication_on_progress.job_title, @communication_on_progress.email].compact.join(', ')
/ %dt Files
/ %dd TODO
/ %dt Web links
/ %dd= [@communication_on_progress.url1, @communication_on_progress.url1, @communication_on_progress.url1].compact.uniq.collect{|url| link_to(url, url)}.join(' ')
