= hidden_field_tag("communication_on_progress[cop_answers_attributes][#{answer_index}][cop_attribute_id]", answer.cop_attribute_id)
%label{:for => "communication_on_progress_cop_answers_attributes_#{answer_index}_value_true"}
  = radio_button_tag("communication_on_progress[cop_answers_attributes][#{answer_index}][value]", 'true', answer.value)
  Yes

%label{:for => "communication_on_progress_cop_answers_attributes_#{answer_index}_value_false"}
  = radio_button_tag("communication_on_progress[cop_answers_attributes][#{answer_index}][value]", 'false', !answer.value)
  No
