%h2 Submitting a Communication on Progress (COP)

%div{:class => "tab_container top_tabs", :style => 'width: 60%;'}
  %ul.tab_nav
    %li <a href="#introduction">Introduction</a>
    %li <a href="#basic">Basic Template</a>
    %li <a href="#general">COP Submission</a>
    %li <a href="#advanced">Advanced Level</a>
    - if current_user.submit_grace_letter?
      %li <a href="#grace">Grace Letter</a>

  #introduction.tab_content
    %p{:class => 'cop_description' :style => 'margin-top: 10px;'}
      %strong Please choose among the following options to publish your COP on the Global Compact website
    %p.cop_description
      %strong Basic Template:
      If you are new to the Global Compact, this Template will help you create your first COP.
      %p.cop_description
        %strong COP Submission:
        Use this tab if you have already created your COP, either integrated into your sustainability report or as a standalone report, and you are not aiming to qualify for the GC Advanced level.
    %p.cop_description
      %strong Advanced Level:
      Use this tab if your COP demonstrates a higher level of performance and disclosure and you would like to participate in the GC Advanced level.
    - if current_user.submit_grace_letter?
      %p.cop_description
        %strong Grace Letter:
        == You can also submit a grace letter for a #{Organization::COP_GRACE_PERIOD} day extension to your COP deadline.
    - else
      %p.cop_description
        %strong Grace Letter:
        == This option is not available because you have already submitted a Grace Letter.

  #basic.tab_content
    %h3 Create your COP by following the Basic Template

    %p.cop_description This template is designed to guide smaller and less experienced companies to communicate their progress by following simple steps and suggested topics using an easy to follow web-based template.

    %p.cop_description
      A COP created using the Basic COP Template will automatically be categorized in the GC Active level or place them on the Learner's platform, in accordance with the
      = popup_link_to 'COP policy.','/COP/communicating_progress/cop_policy.html'
      To qualify as GC Advanced, participants must submit their COP using the Advanced Level tab.

    %p.cop_description
      Translations of the template are currently available in the following languages:
    %ul{:style => 'float: left; margin-right: 100px;'}
      %li= link_to 'Arabic','/docs/communication_on_progress/templates/Basic/Basic_COP_AR.pdf'
      %li= link_to 'Chinese','/docs/communication_on_progress/templates/Basic/Basic_COP_ZH.pdf'
      %li= link_to 'English','/docs/communication_on_progress/templates/Basic/Basic_COP_EN.pdf'
      %li= link_to 'French','/docs/communication_on_progress/templates/Basic/Basic_COP_FR.pdf'
    %ul{:style => 'float: left; margin-right: 100px;'}
      %li= link_to 'German','/docs/communication_on_progress/templates/Basic/Basic_COP_DE.pdf'
      %li= link_to 'Japanese','/docs/communication_on_progress/templates/Basic/Basic_COP_JA.pdf'
      %li= link_to 'Korean','/docs/communication_on_progress/templates/Basic/Basic_COP_KR.pdf'
      %li= link_to 'Portuguese','/docs/communication_on_progress/templates/Basic/Basic_COP_PT.pdf'
    %ul{:style => 'float: left; margin-right: 100px; clear: right;'}
      %li= link_to 'Russian','/docs/communication_on_progress/templates/Basic/Basic_COP_RU.pdf'
      %li= link_to 'Spanish','/docs/communication_on_progress/templates/Basic/Basic_COP_ES.pdf'
      %li= link_to 'Turkish','/docs/communication_on_progress/templates/Basic/Basic_COP_TR.pdf'

    %p.clear= link_to 'New Basic COP', new_admin_organization_communication_on_progress_path(current_user.organization.id, :type_of_cop => 'basic'), :class => 'new_page_large'

  #general.tab_content
    %h3 Publish a COP on the Global Compact Website

    %p.cop_description Submit an electronic version of your COP (preferably a PDF file) and an optional link (URL) to the web page that contains the COP.

    %p= link_to 'New COP Submission', new_admin_organization_communication_on_progress_path(current_user.organization.id, :type_of_cop => 'intermediate'), :class => 'new_page_large'

  #advanced.tab_content
    %h3 The Advanced Level
    %p.cop_description To submit a COP that qualifies for the GC Advanced level, participants must fill out a self-assessment covering the content of their COP and describing how they meet the 21 GC Advanced criteria.
    %p.cop_description For each criterion, the Global Compact provides a list of commonly accepted best practices that companies are encouraged to implement to fulfill the criteria.  A criterion is "fulfilled" in one of three ways:
    %ol.cop_list
      %li If the COP describes best practices from the list that are <strong><em>relevant</em></strong> for the business participant's context of operation
      %li If the COP describes other emerging or established best practices outside the list of commonly accepted best practices
      %li If the COP does not address the criterion but explains the reason for omission (e.g., criterion deemed immaterial, legal prohibitions, privacy, competitive advantage).
    %p.cop_description Detailed results of the self-assessment and statistics on coverage of best practices will also be made public to encourage stakeholder vetting and extra-financial analysis.

    %p= link_to 'Qualify your COP for the GC Advanced level', new_admin_organization_communication_on_progress_path(current_user.organization.id, :type_of_cop => 'advanced'), :class => 'new_page_large'

  - if current_user.submit_grace_letter?
    #grace.tab_content
      %h3 Request a COP due date extension

      %p.cop_description== In cases where companies foresee a delay in their communication, the Global Compact Office may grant a grace period of #{Organization::COP_GRACE_PERIOD} days if a reasonable explanation for the delay is posted on the Global Compact website, including an expected date of COP submission.

      %p= link_to 'New Grace Letter', new_admin_organization_communication_on_progress_path(current_user.organization.id, :type_of_cop => 'grace'), :class => 'new_page_large'
