%h2 Submitting a Communication on Progress (COP)

%div{:class => "tab_container top_tabs", :style => 'width: 80%;'}
  %ul.tab_nav
    %li <a href="#introduction">Instructions  </a>
    %li <a href="#basic">Basic Template</a>
    %li <a href="#general">GC Active COP</a>
    %li <a href="#advanced">GC Advanced COP</a>
    - if current_contact.submit_grace_letter?
      %li <a href="#grace">Grace Letter</a>
    - if current_contact.submit_reporting_cycle_adjustment?
      %li <a href="#reporting">Reporting Cycle Adjustment</a>

  #introduction.tab_content
    %p{:class => 'cop_description', :style => 'margin-top: 10px;'}
      %strong Please choose among the following options to publish your COP on the Global Compact website
    
    %dl.left_column{style: 'width: 100%;'}
      %dt.first Basic Template
      %dd.first If your company is new to sustainability reporting, this template will guide you in creating your COP.
      %dt GC Active COP
      %dd Your report fulfills the three minimum requirements for the GC Active level and you are not aiming to qualify for the GC Advanced level.
      %dt GC Advanced COP
      %dd Your COP meets the GC Active level requirements and the GC Advanced criteria.
      %dt Grace Letter
      %dd  
        - if current_contact.submit_grace_letter?
          == Request a #{GraceLetterApplication::GRACE_DAYS} day extension to your COP deadline. A letter explaining the reasons for the request must be uploaded.
        - else
          This option is not available because you have already submitted a Grace Letter.
      %dt Reporting Cycle<br />Adjustment
      %dd
        - if current_contact.submit_reporting_cycle_adjustment?
          Submit a one-time deferral of up to 11 months to align your COP deadline with your company's reporting cycle.
        - else
          This option is not available because you have already submitted a Reporting Cycle Adjustment.

  #basic.tab_content
    %h3 Submit a Basic Template COP

    %p.cop_description== Smaller and less experienced companies can complete this template to create their COP. Translations of the template are currently available in several languages. Please note that the COP submission can only be completed through the #{link_to 'web-based template', new_admin_organization_communication_on_progress_path(current_contact.organization.id, :type_of_cop => 'basic')}.
    
    %ul{:style => 'float: left; margin-right: 100px;'}
      %li= link_to 'Arabic','/docs/communication_on_progress/templates/Basic/Basic_COP_AR.pdf'
      %li= link_to 'Chinese','/docs/communication_on_progress/templates/Basic/Basic_COP_ZH.pdf'
      %li= link_to 'English','/docs/communication_on_progress/templates/Basic/Basic_COP_EN.pdf'
      %li= link_to 'French','/docs/communication_on_progress/templates/Basic/Basic_COP_FR.pdf'
    %ul{:style => 'float: left; margin-right: 100px;'}
      %li= link_to 'German','/docs/communication_on_progress/templates/Basic/Basic_COP_DE.pdf'
      %li= link_to 'Japanese','/docs/communication_on_progress/templates/Basic/Basic_COP_JA.pdf'
      %li= link_to 'Korean','/docs/communication_on_progress/templates/Basic/Basic_COP_KR.pdf'
      %li= link_to 'Portuguese','/docs/communication_on_progress/templates/Basic/Basic_COP_PT.pdf'
    %ul{:style => 'float: left; margin-right: 100px; clear: right;'}
      %li= link_to 'Russian','/docs/communication_on_progress/templates/Basic/Basic_COP_RU.pdf'
      %li= link_to 'Spanish','/docs/communication_on_progress/templates/Basic/Basic_COP_ES.pdf'
      %li= link_to 'Turkish','/docs/communication_on_progress/templates/Basic/Basic_COP_TR.pdf'

    %p.clear= link_to 'Submit a Basic Template COP here', new_admin_organization_communication_on_progress_path(current_contact.organization.id, :type_of_cop => 'basic'), :class => 'new_page_large'

  #general.tab_content
    %h3 Submit a GC Active COP

    %p.cop_description== A COP must contain the following three elements to meet the #{popup_link_to 'GC Active level requirements', '/COP/differentiation/GCActive_level.html'}:
    
    %ol.cop_list.checked
      %li.checked CEO statement of continued support for the UN Global Compact and its ten principles
      %li.checked Description of actions or relevant policies related to Human Rights, Labour, Environment and Anti-Corruption
      %li.checked Measurement of outcomes

    %p.clear= link_to 'Submit a GC Active COP here', new_admin_organization_communication_on_progress_path(current_contact.organization.id, :type_of_cop => 'intermediate'), :class => 'new_page_large'

  #advanced.tab_content
    %h3 Submit a GC Advanced COP
    %p.cop_description== A COP must meet the #{ link_to '21 GC Advanced criteria (pdf)', 'http://www.unglobalcompact.org/docs/communication_on_progress/GC_Advanced_COP_selfassessment.pdf'} to achieve the the GC Advanced level. To meet a criterion, the COP must cover at least one of the listed best practices.

    %p= link_to 'Submit a GC Advanced COP here', new_admin_organization_communication_on_progress_path(current_contact.organization.id, :type_of_cop => 'advanced'), :class => 'new_page_large'

  - if current_contact.submit_grace_letter?
    #grace.tab_content
      %h3 Submit a Grace Letter

      %p.cop_description== A grace letter can be submitted to request an additional #{GraceLetterApplication::GRACE_DAYS} days to the current COP deadline. #{link_to 'View a sample Grace Letter (pdf)', 'http://unglobalcompact.org/docs/communication_on_progress/templates/Sample_Grace_Letter.pdf'}

      %p= link_to 'Submit a New Grace Letter here', new_admin_organization_grace_letter_path(current_contact.organization.id), :class => 'new_page_large'

  - if current_contact.submit_reporting_cycle_adjustment?
    #reporting.tab_content
      %h3 Submit a Reporting Cycle Adjustment

      %p.cop_description== A one-time adjustment request of up to 11 months will align your COP deadline with your company's reporting cycle. #{link_to 'View a sample Reporting Cycle Adjustment (pdf)', 'http://unglobalcompact.org/docs/communication_on_progress/templates/Sample_Reporting_Cycle_Adjustment_Request.pdf'}

      %p= link_to 'Submit a Reporting Cycle Adjustment here', new_admin_organization_reporting_cycle_adjustment_path(current_contact.organization.id), :class => 'new_page_large'
