%h2 Submitting a Communication on Progress (COP)

%div{:class => "tab_container top_tabs", :style => 'width: 60%;'}
  %ul.tab_nav
    %li <a href="#introduction">Instructions</a>
    %li <a href="#grace">Grace Letter</a>
    %li <a href="#reporting">Reporting Cycle Adjustment</a>

  #introduction.tab_content
    %h3 Reporting Requirements
    %p.cop_description As a participant in Global Compact LEAD, you have committed to communicate progress on implementing the 'Blueprint for Corporate Sustainability Leadership' at the GC Advanced level.
    %p= link_to 'Publish your COP', new_admin_organization_communication_on_progress_path(current_contact.organization.id, :type_of_cop => 'lead'), :class => 'new_page_large'

  #grace.tab_content
    %h3 Submit a Grace Letter

    %p.cop_description== A grace letter can be submitted to request an additional #{GraceLetterApplication::GRACE_DAYS} days to the current COP deadline. #{link_to 'View a sample Grace Letter (pdf)', 'http://unglobalcompact.org/docs/communication_on_progress/templates/Sample_Grace_Letter.pdf'}

    - if GraceLetterApplication.eligible?(current_contact.organization)
      %p= link_to 'Submit a New Grace Letter', new_admin_organization_grace_letter_path(current_contact.organization.id), :class => 'new_page_large'
    - else
      %p.cop_description
        %strong This option is not available because you have already submitted a Grace Letter.

  #reporting.tab_content
    %h3 Submit a Reporting Cycle Adjustment

    %p.cop_description== A one-time adjustment request of up to 11 months will align your COP deadline with your company's reporting cycle. #{link_to 'View a sample Reporting Cycle Adjustment (pdf)', 'http:/unglobalcompact.org/docs/communication_on_progress/templates/Sample_Reporting_Cycle_Adjustment_Request.pdf'}

    - if current_contact.submit_reporting_cycle_adjustment?
      %p= link_to 'Submit a Reporting Cycle Adjustment', new_admin_organization_reporting_cycle_adjustment_path(current_contact.organization.id), :class => 'new_page_large'
    - else
      %p.cop_description
        %strong This option is not available because you have already submitted a Reporting Cycle Adjustment.