= action_links(@communication_on_progress)

%p
  %b Title:
  =h @communication_on_progress.title
%p
  %b Principles:
  = @communication_on_progress.principles.collect(&:name).join(', ')
%p
  %b Languages:
  = @communication_on_progress.languages.collect(&:name).join(', ')

- if @communication_on_progress.cop_answers.any?
  = render :partial => 'show_new_style'
- else
  = render :partial => 'show_legacy_style'

%h3 Comments
= link_to 'New comment', new_admin_communication_on_progress_comment_path(@communication_on_progress)
%ul
  = render :partial => @communication_on_progress.comments
