- @body_class = 'details'

%h2== #{@communication.title} Details

%ul{:class => "tools inline"}

  %li= link_to "Back to #{@communication.acronym}s", @communication.return_path, :class => 'go_back_large'
  %li= link_to 'Public version', cop_detail_path(@communication.id), :class => 'web_preview_large'
  - participant_manager_only do
    %li= link_to "Edit #{@communication.acronym}", edit_admin_cop_path(@communication), :class => 'edit_large', :title => "#{t('admin.edit_' + @communication.acronym)}"
    %li= link_to 'Manage Files', admin_organization_communication_on_progress_files_path(@communication.organization.id, @communication.id), :class => "folder_large"
    %li= link_to "Backdate #{@communication.acronym}", backdate_admin_organization_communication_on_progress_path(@organization, @communication.id), :class => 'backdate'
    %li= link_to "Delete #{@communication.acronym}", @communication.delete_path, :method => :delete, :class => 'delete_large', :confirm => "#{t('admin.confirm_delete_' + @communication.acronym)}", :title => "#{t('admin.delete_' + @communication.acronym)}"

.main_content
  #status_box
    %dl{style: 'width: 90%;'}
      = render partial: @communication.admin_partial, locals: { results_partial: @communication.results_partial, communication_on_progress: @communication }
  = action_links(@communication)
