- @body_class = 'details'
%h2 Communication on Progress Details

#status_box
  %dl{:style => 'width: 90%'}
    %dt Organization
    %dd= @communication_on_progress.organization.name
    %dt Status
    %dd
      - if @communication_on_progress.additional_questions?
        This COP qualifies for the Advanced Programme
    - if @communication_on_progress.is_grace_letter?
      %dt Grace Letter
      %dd Yes

    - if @communication_on_progress.format == 'basic'
      = render :partial => '/shared/cops/show_basic_style', :locals => { :communication_on_progress => @communication_on_progress } 
    - elsif @communication_on_progress.is_new_format? || @communication_on_progress.is_grace_letter?
      = render :partial => '/shared/cops/show_new_style', :locals => { :communication_on_progress => @communication_on_progress } 
    - elsif  @communication_on_progress.is_legacy_format?
      = render :partial => '/shared/cops/show_legacy_style', :locals => { :communication_on_progress => @communication_on_progress } 

= action_links(@communication_on_progress)