<div>
  <h2><%= @business.organization_name %></h2>
</div>

<div>
  <ul style="list-style: none; font-size: 14px;">
    <h4>Is nominated</h4>
      <li><%= @business.is_nominated %></li></br>
    <%if @business.is_nominated?%>
    <h4>Nominating organization</h4>
      <li><%= @business.nominating_organization %></li></br>
    <h4>Nominating individual</h4>
      <li><%= @business.nominating_individual %></li></br>
    <% end %>

    <h4>Contact person name</h4>
      <li><%= @business.contact_person_name %></li></br>
    <h4>Contact person title</h4>
      <li><%= @business.contact_person_title %></li></br>
    <h4>Contact person email</h4>
      <li><%= @business.contact_person_email %></li></br>
    <h4>Local business name</h4>
      <li><%= @business.local_business_name %></li></br>
    <h4>Country</h4>
      <li><%= @business.country_name %></li></br>
    <h4>Website</h4>
      <li><%= @business.website_url %></li></br>
    <h4>Local Network status</h4>
      <li><%= @business.local_network_status %></li></br>
    <h4>Positive Outcomes</h4>
      <li><%= @business.positive_outcomes %></li></br>
    <h4>Matching Sdgs</h4>
      <li><%= @business.matching_sdg_names %></li></br>
    <h4>Other relevant info</h4>
      <li><%= @business.other_relevant_info %></li></br>
  </ul>
</div>

<div>
  <h4>Postive outcomes attachments</h4>
  <ul>
    <% @business.positive_outcome_attachments.each do |attachment| %>
      <li><%= link_to attachment.filename, attachment.attachment.url %></li>
    <% end %>
  </ul>
</div>
