%h2 Revised Procedure for Submitting a Communication on Progress

%p The Global Compact has introduced a new submission procedure for Communication on Progress (COP) that will further enhance the integrity of the initiative and facilitate the analysis of companies' implementation of the principles.

%p== Effective 1 February, 2010, companies submitting a COP to the Global Compact website must answer 6 basic questions about the format and content of their COP - consistent with the #{link_to('COP Policy of April 2009', 'http://www.unglobalcompact.org/docs/communication_on_progress/COP_Policy.pdf')}.

%p In addition, companies that wish to increase the visibility and usability of their COP can choose to answer more detailed questions on the content of their COP, allowing users to search for specific actions of companies in each of the issue areas: Human Rights, Labour, Environment and Anti-corruption.

%p
  Translations of the questions are currently available in the following languages. We recommend downloading the PDF file and reviewing the questions before proceeding to the COP submission.
  %ul
    %li Arabic
    %li= link_to 'Chinese', '/docs/communication_on_progress/translations/COP_Questionnaire_CN.pdf'
    %li= link_to 'French', '/docs/communication_on_progress/translations/COP_Questionnaire_FR.pdf'
    %li Russian
    %li= link_to 'Spanish', '/docs/communication_on_progress/translations/COP_Questionnaire_ES.pdf'
   
= link_to 'Proceed to COP submission', new_admin_organization_communication_on_progress_path(current_user.organization.id)