%h2 Submitting a Communication on Progress (COP)

%h3 Submit a COP to the Global Compact Database

%p Every year, businesses in the Global Compact must submit an electronic version of their COP (preferably a PDF  file)  and, if available, a link to the web page that contains the COP - to the Global Compact COP database.  As part of the online submission, participants are asked to answer six basic questions about the format and content of the COP. This is done to ensure compliance with the COP policy and to facilitate further analysis of companies' performance.

%p
  %ul
    %li= link_to 'Proceed to general COP submission', new_admin_organization_communication_on_progress_path(current_user.organization.id, :type_of_cop => 'intermediate')

%h3 Use the Basic COP Template

%p
  This online template helps smaller and less experienced companies communicate their progress by following a series of simple steps that meet basic disclosure requirements in accordance with the COP policy. Translations of the questions are currently available in the following languages:
  = link_to '(Arabic)','/docs/communication_on_progress/templates/Basic/Basic_COP_AR.pdf'
  = link_to '(Chinese)','/docs/communication_on_progress/templates/Basic/Basic_COP_ZH.pdf'
  = link_to '(English)','/docs/communication_on_progress/templates/Basic/Basic_COP_EN.pdf'
  = link_to '(French)','/docs/communication_on_progress/templates/Basic/Basic_COP_FR.pdf'
  = link_to '(Portuguese)','/docs/communication_on_progress/templates/Basic/Basic_COP_PT.pdf'
  = link_to '(Russian)','/docs/communication_on_progress/templates/Basic/Basic_COP_RU.pdf'
  = link_to '(Spanish)','/docs/communication_on_progress/templates/Basic/Basic_COP_ES.pdf'

%p
  %ul
    %li= link_to 'Proceed to the Basic COP Template', new_admin_organization_communication_on_progress_path(current_user.organization.id, :type_of_cop => 'basic')

%h3 Participate in the Advanced Programme

%p Companies at a higher level of sustainability performance and disclosure are encouraged to participate in the Advanced Programme by completing a self-assessment covering the content of their COP and assessing their implementation of the Global Compact principles against global best practices. More information. 

%p
  %ul
    %li= link_to 'Proceed to the Advanced Programme', new_admin_organization_communication_on_progress_path(current_user.organization.id, :type_of_cop => 'advanced')
  
%h3 Submit a Grace Letter for COP deadline extension request 

%p In cases where companies foresee a delay in their communication, the Global Compact Office may grant a grace period of 90 days if a reasonable explanation for the delay (e.g. changes to reporting cycles) is posted on the Global Compact website, including an expected date of COP submission.

%p
  %ul
    %li= link_to 'Proceed to Grace Letter submission', new_admin_organization_communication_on_progress_path(current_user.organization.id, :type_of_cop => 'intermediate')