%h1 Dashboard
== for #{link_to current_user.organization.name, edit_organization_path(current_user.organization)} staff

%h3 Contacts
= link_to 'new', new_organization_contact_path(current_user.organization)
%ul
  = render :partial => current_user.organization.contacts

%h3 Logo requests
= link_to 'new', new_organization_logo_request_path(current_user.organization)
- if current_user.organization.logo_requests.any?
  %ul
    = render :partial => current_user.organization.logo_requests
