%h3= link_to 'Organizations', organizations_path

%h3 Pending Organizations
- if @pending_organizations.any?
  %ul
    = render :partial => @pending_organizations
- else
  no work for you

%h3 Organizations under review
- if @in_review_organizations.any?
  %ul
    = render :partial => @in_review_organizations
- else
  no work for you

%h3 Pending Logo Requests
- if @pending_logo_requests.any?
  %ul
    = render :partial => @pending_logo_requests
- else
  no work for you

%h3 Logo Requests that need attention
- if @unreplied_logo_requests.any?
  %ul
    = render :partial => @unreplied_logo_requests
- else
  no work for you

%h3 Pending Case Stories
- if @pending_case_stories.any?
  %ul
    = render :partial => @pending_case_stories
- else
  no work for you
