- @title = 'Dashboard Overview'

%h2= @organization.name

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li= link_to 'Overview', '#overview'
    %li= link_to 'Getting Started', '#getting_started'
    %li= link_to 'Contacts', '#contacts'
    %li= link_to 'Logo Requests', '#logos'
    %li= link_to @organization.cop_acronym.pluralize, '#cops'
    %li= link_to "Draft #{@organization.cop_acronym.pluralize}", '#cop_drafts'
    - if @organization.business? || current_contact&.from_ungc?
      %li= link_to t("action_platform.labels.dashboard_tab"), "#action_platforms"
      %li= link_to 'Level of Engagement', '#level_of_engagement'

  - if !@organization.level_of_participation.present? && @organization.business?
    #should-show-engagement-modal.modal
      .modal-content
        .modal-header
          %span.close ×
          %h2
        .modal-body
          %p Your Organization has not selected a Level of Engagement
          %p
            = link_to "Click here to select a Level of Engagement", admin_choose_level_of_participation_path, class: "level-of-engagement-link"
        .modal-footer
          %h3

  #overview.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to name_for_edit_link(current_contact), edit_admin_organization_path(@organization.id), :class => 'edit_large', :title => "Edit profile"

    %dl.left_column
      %h3 Organization Details
      %dt.first= display_id_type(@organization)
      %dd.first= @organization.id
      %dt Status
      %dd= full_organization_status(@organization)
      %dt
        Engagement Manager
        -if @organization.engagement_participant || !@organization.level_of_participation.present? && @organization.business?
          %dd= link_to @organization.participant_manager_name, "mailto:#{@organization.participant_manager_email}?subject=#{@organization.name}%20(ID: #{@organization.id})"
        -else
          %dd Support Team
      %dt Participant since
      %dd= @organization.joined_on || 'n/a'
      %dt== #{@organization.cop_acronym} Due Date
      %dd= @organization.cop_due_on || 'n/a'
      %dt Organization Type
      %dd= @organization.organization_type_name
      %dt Invoice Date
      %dd= @organization.invoice_date_view
      - if @organization.company?
        %dt Parent Organization
        %dd= @organization.parent_company_name || 'No parent UNGC Organization was identified'
        %dt Ownership
        %dd
          = @organization.is_ft_500 ? 'FT 500' : nil
          = @organization.listing_status_name
          %dt Revenue Bracket
          %dd= @organization.revenue_description
      %dt Revenue
      %dd= @organization.precise_revenue_view
      - if @organization.business?
        %dt Level of Engagement
        %dd= t(@organization.level_of_participation_view)
      %dt Sector
      %dd= @organization.sector_name
      %dt Employees
      %dd= @organization.employees
      %dt Country
      %dd= @organization.country_name
      - unless @organization.url.blank?
        %dt Website
        %dd= link_to truncate(@organization.url, :length => 30), @organization.url
      - unless @organization.government_registry_url.blank?
        %dt Gov't Registration  Url
        %dd= link_to truncate(@organization.government_registry_url), @organization.government_registry_url
      - if @organization.commitment_letter?
        %dt Letter of Commitment
        %dd{:title => @organization.commitment_letter_file_name}= link_to truncate(@organization.commitment_letter_file_name, :length => 30), @organization.commitment_letter.url

    %dl.left_column
      %h3 Contact Information
      %dt.first Highest Level Executive
      %dd.first= render :partial => 'admin/organizations/contact_overview', :collection => @organization.contacts.ceos
      %dt Contact Point
      %dd= render :partial => 'admin/organizations/contact_overview', :collection => @organization.contacts.contact_points

    = render(partial: "shared/exclusionary_criteria", locals: { organization: @organization })

    - if local_network_and_contact_exists?
      %dl.left_column
        %h3 Local Network #{@organization.local_network_name}
        %p Please contact your Local Network with any questions or concerns regarding your participation in the Global Compact.
        %dt.first Contact Person
        %dd.first
          = mail_to @organization.network_contact_person.email, @organization.network_contact_person.full_name_with_title
          %dt Profile
          %dd= popup_link_to "Local Network #{@organization.local_network.name}", dashboard_link_to_public_profile(@organization.local_network)

  #getting_started.tab_content
    %dl.left_column{:style => 'width: 100%;'}
      %dt.first Documents
      %dd.first
        %ul.document_list
          %li= popup_link_to 'Welcome Package', link_to_getting_started, class: :web
          %li= popup_link_to 'Welcome Letter from the Executive Director of the Global Compact', show_welcome_letter_admin_organization_path(@organization.id), class: :doc
          %li= link_to_local_network_welcome_letter_if_exists

      %dt
        Participant Engagement
        %br/
        Manager
      %dd
        -if @organization.engagement_participant || !@organization.level_of_participation.present? && @organization.business?
          %p
            = @organization.participant_manager_name
            %br/
            = link_to @organization.participant_manager_email, "mailto:#{@organization.participant_manager_email}?subject=#{@organization.name}%20(ID: #{@organization.id})"
            %br/
            = @organization.participant_manager_phone
            %br/
        -else
          %p
            Support Team
            %br/
            = mail_to "info@unglobalcompact.org"
            %br/
            +1 212 907 1301

        %p Our Participant Engagement team aims to enhance your experience by supporting and navigating you through the UN Global Compact's broad offering of platforms, partnerships, resources and tools. They are able to assist with any technical queries that your organization may have related to engagement, reporting, and fees.

        %p Organizations in the Participant tier are assigned a dedicated Engagement Manager who will be available every step of the way upon joining our initiative in order to provide guidance on our entire array of opportunities and resources available.

        %p Organizations in the Signatory tier are always able to contact our Support Team to direct their questions and receive prompt assistance.

      - if local_network_and_contact_exists?
        %dt
          Local Network
          %br/
          Contact Person
        %dd
          %p
            = @organization.network_contact_person.full_name_with_title
            %br/
            = mail_to @organization.network_contact_person.email
          %p Local Networks help facilitate the progress of companies (both local firms and subsidiaries of foreign corporations) engaged in the Global Compact, while creating opportunities for multi-stakeholder engagement and collective action. Local Networks deepen the learning experience for participants through their own activities and events and promote action in support of broader UN goals. Please contact your Local Network for support and information on engagement opportunities in your country and region.
          - if @organization.local_network_url.present?
            %ul.document_list
              %li= popup_link_to "Local Network #{@organization.local_network.name}", dashboard_link_to_public_profile(@organization.local_network), :class => 'web'

  #contacts.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New contact', new_admin_organization_contact_path(@organization.id), :class => 'new_user_large', :title => 'New Contact'
    %ul.items= render :partial => "admin/contacts/tabbed_contact", :collection => current_contact.organization.contacts

  - if @organization.pending_review? or @organization.in_review?
    %h3 Comments
    = link_to 'New comment', new_admin_organization_comment_path(@organization.id)
    %ul
      = render :partial => 'admin/comments/comment', :collection => @organization.comments

  - else
    #logos.tab_content
      - if @organization.delisted?
        = render :partial => 'admin/cops/expelled_note'
      - else
        = link_to 'New Logo Request', new_admin_organization_logo_request_path(current_contact.organization.id), :class => 'new_large', :id => 'new_logo_request'
      %table.dashboard_table#logos_dashboard_table
        %tr
          %th.last_updated Last updated on
          %th.title Purpose
          %th.status Status
          %th.age Days since last update
          %th.actions Actions
        = render :partial => 'admin/logo_requests/logo_request', :collection => current_contact.organization.logo_requests
    #cops.tab_content
      - unless @organization.can_submit_cop?
        = render :partial => 'admin/cops/expelled_note'
      - else
        = link_to "New #{@organization.cop_name}", cop_introduction_path, :class => 'new_large', :id => 'new_COP'

      %table.dashboard_table#cops_dashboard_table
        %tr
          %th.last_updated Published
          %th.title Title
          %th.status Status
          - if @organization.business_entity?
            %th.differentiation Differentiation
          %th.actions Actions
        = render :partial => 'admin/communication_on_progresses/communication_on_progress', :collection => current_contact.organization.communication_on_progresses.order("created_at DESC")

    #cop_drafts.tab_content
      = render :partial => 'admin/cops/drafts', locals: { drafts: current_contact.organization.communication_on_progresses.in_progress }

    - if @organization.business? || current_contact&.from_ungc?
      #action_platforms.tab_content
        = render partial: "/admin/action_platform/landing", locals: { subscriptions: @organization.action_platform_subscriptions }
        = link_to "Signup for Action Platforms", new_admin_action_platform_subscription_path

      #level_of_engagement.tab_content
        %h2 Level of Engagement
        - if @organization.level_of_participation.present?
          You have selected the
          = t(@organization.level_of_participation)
        - else
          = link_to "Select a Level of Engagement", admin_choose_level_of_participation_path

:javascript
  $(function() {
    var modal = document.getElementById('should-show-engagement-modal');
    var span = document.getElementsByClassName("close")[0];
    var participationLevel = #{@organization.level_of_participation.to_json};
    openLevelEngagementModal(modal, span, participationLevel);
  });
