- @title = 'Dashboard Overview'
- @body_class = 'details'

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#overview">Overview</a>
    %li <a href="#contacts">Contacts</a>

  #overview.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      /%li= link_to text_for_edit_icon(current_user), edit_admin_local_network_path(@local_network.id), :class => 'edit_large', :title => "Edit Local Network profile"
      %li= link_to_public_profile(@local_network)
  
    %dl.left_column
      %h3 Profile
      %dt.first Local Network
      %dd.first= @local_network.name
      %dt Development Stage
      %dd= @local_network.humanize_state
      -if @local_network.url.present?
        %dt Website
        %dd= link_to @local_network.url, @local_network.url

    %dl.left_column
      %h3 Recent Activity
      %dt.first Example Item
      %dd.first Sample Meeting Report
      %dt Example Newsletter
      %dd Sample Newsletter

  #contacts.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New contact', new_admin_local_network_contact_path(@local_network.id), :class => 'new_user_large', :title => 'New Contact'
    %ul.items= render :partial => "admin/contacts/tabbed_contact", :collection => @local_network.contacts