%h2 Parameter tables

%ul#report_list.striped
  %li= link_to 'Countries', admin_countries_path
  %li= link_to 'Initiatives', admin_initiatives_path
  %li= link_to 'Logo Files', admin_logo_files_path
  %li= link_to 'Roles', admin_roles_path
  %li= link_to 'Sectors', admin_sectors_path
  %li= link_to 'COP Questions', admin_cop_questions_path
  %li= link_to 'Local Networks', admin_local_networks_path
