= mail_to contact_overview.email, "#{contact_overview.prefix} #{truncate(contact_overview.name, :length => 40)}", :title => "#{contact_overview.name}, #{contact_overview.job_title}, Tel: #{contact_overview.phone}"
%br/
