= default_form.error_messages
%fieldset
  %ol
    = default_form.text_field :name
    - staff_only do
      = default_form.text_area :description, {class: 'replace_with_editor', style: 'display:none'}, {label: "Description"}
      = default_form.file_field :image, label: 'Image Upload', accept: 'image/png,image/gif,image/jpeg'
      - if @local_network.image.present?
        %label Preview
        .local_network_img_preview
          = image_tag @local_network.image.url(:original)
    = default_form.text_field :url, label: 'Website'
    = default_form.select :state, options_for_select(LocalNetwork::STATES.invert, @local_network.state_for_select_field), label: 'Development Stage'
    = default_form.select :funding_model, options_for_select(LocalNetwork::FUNDING_MODELS.invert, @local_network.funding_model_for_select_field), label: 'Funding Model'
    - staff_only do
      = default_form.select :business_model, options_for_enum(LocalNetwork.business_models, scope: "local_network.business_model"), label: "Business model"
      = default_form.select :invoice_managed_by, options_for_enum(LocalNetwork.invoice_managed_bies, scope: "local_network.invoice_managed_by"), label: "Invoice managed by"
      = default_form.select :invoice_options_available, options_for_enum(LocalNetwork.invoice_options_availables), label: "Invoice options available"
