%fieldset{:style => 'width: 235px; height: 175px; float: left; margin-right: 50px;'}
  %legend Business
  %ol
    = default_form.text_field :membership_companies, {:class => 'short'}, :label => 'Companies'
    = default_form.text_field :membership_sme, {:class => 'short'}, :label => 'SMEs'
    = default_form.text_field :membership_micro_enterprise, {:class => 'short'}, :label => 'Micro Enterprises'
    = default_form.text_field :membership_business_organizations, {:class => 'short'}, :label => 'Business Associations'

%fieldset{:style => 'width: 235px; height: 175px; float: left; margin-right: 50px;'}
  %legend Non-Business
  %ol
    = default_form.text_field :membership_academic_institutions, {:class => 'short'}, :label => 'Academic'
    = default_form.text_field :membership_civil_societies, {:class => 'short'}, :label => 'Civil Society'
    = default_form.text_field :membership_csr_organizations, {:class => 'short'}, :label => 'CSR Organizations'
    = default_form.text_field :membership_government, {:class => 'short'}, :label => 'Government'
    = default_form.text_field :membership_labour_organizations, {:class => 'short'}, :label => 'Labour'
  
%fieldset{:style => 'width: 235px; height: 175px;'}
  %legend Subsidiary Participation
  %p Do subsidiaries of multinational companies participate in Local Network activities?
  %ol
    %li= default_form.radio_button :membership_subsidiaries, true, :label => 'Yes, in activities'
    %li= default_form.radio_button :membership_subsidiaries, false, :label => 'No participation'