%h2 Editing Fees and Contributions
- if default_form.error_messages.present?
  %div{:class => 'flash error'}= display_readable_errors(@local_network)
%fieldset{:style => 'width: 425px; height: 100px; float: left;'}
  %legend Member Fees
  %p Are members required to pay fees?
  %ol.radio_button_list
    = default_form.radio_button :fees_participant, true, {:li_class => 'radio_button', :label => 'Yes', :label_for => :local_network_fees_participant_true}
    = default_form.radio_button :fees_participant, false, {:li_class => 'radio_button', :label => 'No', :label_for => :local_network_fees_participant_false}

%fieldset{:style => 'width: 425px; height: 100px; float: right;'}
  %legend Financing of Total Budget (%)
  %ol
    = default_form.text_field :fees_amount_participant, {:class => 'short'}, :label => 'Member Fees'
    = default_form.text_field :fees_amount_voluntary_private, {:class => 'short'}, :label => 'Private Voluntary'
    = default_form.text_field :fees_amount_voluntary_public, {:class => 'short'}, :label => 'Public Voluntary'

%fieldset.contribution_levels
  %legend Enter the contribution level and corresponding amount
  - levels = @local_network.contribution_levels
  = default_form.fields_for 'contribution_levels', levels do |levels_fields|
    = levels_fields.hidden_field :id
    %script#contribution-level-template{type:'text/x-jquery-tmpl'}
      = render 'admin/contribution_levels/field', level: ContributionLevel.new
    %table#contribution-levels-table
      %tr
        %td#level-description.description
          = levels_fields.text_field :level_description, label: 'Level Description'
        %td#amount-description.description
          = levels_fields.text_field :amount_description, label: 'Amount Description'
        %td
      %tr
        %td= levels_fields.label 'Description'
        %td= levels_fields.label 'Amount'
        %td &nbsp;
      - levels.each do |level|
        = render 'admin/contribution_levels/field', level: level
      - unless levels.any?
        = render 'admin/contribution_levels/field', level: ContributionLevel.new
    = button_tag('New Level', id:'add-contribution-level', class: 'new_large')