%h2 Editing Network Structure
%div.hint_toggle
  About launch dates...
%div.hint_text{:style => 'display: none;'}
  %p Launching the Global Compact should be distinguished from launching the network. A public launch of the Global Compact, which is a high-level event within a country, typically takes place after a significant number of local companies have become engaged or are ready to be engaged in the initiative. Support from a critical mass of companies before the launch increases the likelihood that a Local Network will be established and that the network will be sustainable.
  
%fieldset
  %legend Key Launch Dates
  %ol
  
    = default_form.text_field :sg_global_compact_launch_date, {class: 'datepicker iso-date'}, {:label => 'Global Compact'}
    = default_form.text_field :sg_local_network_launch_date, {class: 'datepicker iso-date'}, {:label => 'Local Network'}

%fieldset
  %legend Legal Status
  %p Has the Local Network been established as a legal entity?
  %ol.radio_button_list
    %li= default_form.radio_button :sg_established_as_a_legal_entity, true, {:li_class => 'radio_button', :label => 'Yes', :label_for => :local_network_sg_established_as_a_legal_entity_true}
    %li= default_form.radio_button :sg_established_as_a_legal_entity, false, {:li_class => 'radio_button', :label => 'No', :label_for => :local_network_sg_established_as_a_legal_entity_false}

%fieldset
  %legend Supporting Document
  - if @local_network.sg_established_as_a_legal_entity_file
    %dl{:style => 'width: auto;'} 
      %dt.first{:style=> 'width: 165px;'} Current file
      %dd.first= link_to_uploaded_file(@local_network.sg_established_as_a_legal_entity_file)
  - else
    %p Please upload a document establishing the network's legal status
  %ol
    %li=default_form.file_field :sg_established_as_a_legal_entity_attachment, {:li_class => 'file', :label => 'Select a PDF to upload'}
