%h2 Editing Membership Breakdown
%div.hint_toggle
  About membership...
%div.hint_text{:style => 'display: none; width: 75%;'}
  %p Membership in the Local Network does not necessarily reflect participation in the Global Compact. Similarly, participants in the Global Compact may not necessarily be members of the Local Network.

%fieldset{:style => 'width: 235px; height: 175px; float: left; margin-right: 50px;'}
  %legend Subsidiary Participation
  %p Do subsidiaries of multinational companies participate in Local Network activities?
  %ol.radio_button_list
    %li= default_form.radio_button :membership_subsidiaries, true, {:li_class => 'radio_button', :label => 'Yes', :label_for => :local_network_membership_subsidiaries_true}
    %li= default_form.radio_button :membership_subsidiaries, false, {:li_class => 'radio_button', :label => 'No', :label_for => :local_network_membership_subsidiaries_false}

%fieldset{:style => 'width: 235px; height: 175px; float: left; margin-right: 50px;'}
  %legend Business Members
  %ol
    = default_form.text_field :membership_companies, {:class => 'short'}, :label => 'Companies'
    = default_form.text_field :membership_sme, {:class => 'short'}, :label => 'SMEs'
    = default_form.text_field :membership_micro_enterprise, {:class => 'short'}, :label => 'Micro Enterprises'
    = default_form.text_field :membership_business_organizations, {:class => 'short'}, :label => 'Business Associations'

%fieldset{:style => 'width: 235px; height: 175px;'}
  %legend Non-Business Members
  %ol
    = default_form.text_field :membership_academic_institutions, {:class => 'short'}, :label => 'Academic'
    = default_form.text_field :membership_civil_societies, {:class => 'short'}, :label => 'Civil Society'
    = default_form.text_field :membership_csr_organizations, {:class => 'short'}, :label => 'CSR Organizations'
    = default_form.text_field :membership_government, {:class => 'short'}, :label => 'Government'
    = default_form.text_field :membership_labour_organizations, {:class => 'short'}, :label => 'Labour'