%h2 Editing Contribution Text
- if default_form.error_messages.present?
  %div{:class => 'flash error'}= display_readable_errors(@local_network)

= default_form.fields_for 'contribution_levels_info' do |form|    

  %fieldset.contribution_levels
    %legend Message from Local Network
    = form.text_area :pledge_description, { class: 'pledges_invoicing', maxlength: 450 }, label: 'Pledge message'
  
  %fieldset.contribution_levels
    %legend Enter the contribution level and corresponding amount      
    = form.text_area :payment_description, { class: 'pledges_invoicing', maxlength: 450 }, label: 'Payment instructions'
    = form.text_area :contact_description, { class: 'pledges_invoicing', maxlength: 450 }, label: 'Contact or address'
    = form.text_area :additional_description, { class: 'pledges_invoicing', maxlength: 450 }, label: 'Additional information'