%h2 Edit Resources

%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    - @sections.each do |section|
      %li= link_to section_title(section), "##{section}"

  - @sections.each do |section|
    %div{:id => section, :class => 'tab_content'}
      %table.dashboard_table
        %tr
          %th Type
          %th Title
          %th Last change
          %th Version
          %th Status
          %th Actions
          - @pages[section].each do |page|
            %tr
              %td= section_or_page_icon(page)
              %td= page.title
              %td= page.updated_at
              %td= page.version_number
              %td{:title => page.approval.humanize }= pending_or_approved_icon(page.approval)
              %td
                %ul.actions
                  %li= popup_link_to 'View on site', page.path, class: 'preview', title: 'View published version on site'
                  %li= link_to 'Edit page', edit_admin_page_path(page), class: 'edit', title: 'Edit page'