%h2 Local Networks

%ul{:class => "tools inline"}
  %li= link_to 'New Local Network', new_admin_local_network_path, :class => "new_large", :id => "new_local_network"
  %li= link_to 'Countries', admin_countries_path, :class => 'web_preview_large', :title => 'Listing of all countries'
  %li= link_to 'Learning', admin_learning_path, :class => 'web_preview_large', :title => 'Find activies and events'

%table.dashboard_table#local_networks_table
  %tr
    %th= sort_header 'Name', field: 'name'
    %th= sort_header 'Stage', field: 'state'
    %th.actions Actions
  = render @local_networks
