%h2 Local Networks

- if current_user.from_ungc?
  %ul{:class => "tools inline"}
    %li= link_to 'New Local Network', new_admin_local_network_path, :class => "new_large", :id => "new_local_network"
    %li= link_to 'Countries', admin_countries_path, :class => 'web_preview_large', :title => 'Listing of all countries'
    %li= link_to 'Find Events', admin_learning_path, :class => 'search_large', :title => 'Find events'

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    - Country::REGIONS.each_pair do |key, value|
      %li
        %a{:href => "##{key}"}== #{value}

  - Country::REGIONS.each_pair do |key, value|
    .tab_content{:id => key}
      %table.dashboard_table
        %tr
          %th= sort_header 'Name',  field: 'name',  tab: key
          %th= sort_header 'Stage', field: 'state', tab: key
          %th.actions Actions
        = render @local_networks.find_all{ |item| item.region_name == value }
