- @body_class = 'details'
- unless current_user.local_network == @local_network
  %div.tab_switcher
    %ul.tab_switch
      %li=link_to 'Network Management', admin_local_network_path(@local_network), :class => "restrictions #{action_name != 'knowledge_sharing' ? ' selected' : ''}"
      %li=link_to 'Knowledge Sharing', knowledge_sharing_path(@local_network), :class => "restrictions #{action_name == 'knowledge_sharing' ? ' selected' : ''}"
%h3= @local_network.name
    
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#local_network_events">Events and Activities</a>
    %li <a href="#integrity_measures">Integrity Measures</a>
    %li <a href="#awards">Awards</a>

  #local_network_events.tab_content
    %ul{:class => "tools inline"}
      %li= link_to 'New Event', new_admin_local_network_local_network_event_path(@local_network), :class => "new_large"

    %table.dashboard_table
      %tr
        %th Title
        %th Type of Event
        %th Date
        %th Files
        %th.actions Actions
      = render @local_network.events

  #integrity_measures.tab_content
    %ul{:class => "tools inline"}
      %li= link_to 'New Policy', new_admin_local_network_integrity_measure_path(@local_network), :class => "new_large"
    %table.dashboard_table
      %tr
        %th Type
        %th Title
        %th Date
        %th Document
        %th.actions Actions
      = render @local_network.integrity_measures

  #awards.tab_content
    %ul{:class => "tools inline"}
      %li= link_to 'New Award', new_admin_local_network_award_path(@local_network), :class => "new_large"
    %table.dashboard_table
      %tr
        %th Type
        %th Title
        %th Date
        %th Document
        %th.actions Actions
      = render @local_network.awards
