- @body_class = 'details'
%h2= @local_network.name
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#structure_governance">Structure and Governance</a>
    %li <a href="#mou">Memorandum of Understanding</a>
    %li <a href="#meetings">Meetings</a>
    %li <a href="#membership">Membership Breakdown</a>
    %li <a href="#fees_contributions">Fees and Contributions</a>
    %li <a href="#communications">Communications</a>

  #structure_governance.tab_content
    %ul#tools{:class => "tools inline"}
      %div.hint_toggle
        About this section...
      %div.hint_text{:style => 'display: none;'}
        Information about key dates, appointments and legal status.
      
    %dl.left_column.short
      %h3 Key Launch Dates
      %dt.first Global Compact
      %dd.first= @local_network.sg_global_compact_launch_date
      %dt Local Network
      %dd= @local_network.sg_local_network_launch_date      

  #mou.tab_content
    %h3 Memorandum of Understanding
    
  #meetings.tab_content
    %h3 Meetings
  
  #membership.tab_content
    %ul#tools{:class => "tools inline"}
      %li= link_to 'Edit', edit_admin_local_network_path(@local_network.id), :class => 'edit_large'
      
    %dl.left_column.short
      %h3 Business
      %dt.first Companies
      %dd.first= @local_network.membership_companies
      %dt SMEs
      %dd= @local_network.membership_sme
      %dt Subsidiaries
      %dd= @local_network.membership_subsidiaries      
      %dt Micro Enterprises
      %dd= @local_network.membership_micro_enterprise      
      %dt Business Associations
      %dd= @local_network.membership_business_organizations      

    %dl.left_column.short
      %h3 Non-Business
      %dt.first Academic
      %dd.first= @local_network.membership_academic_institutions
      %dt Civil Society
      %dd= @local_network.membership_civil_societies      
      %dt CSR Organizations
      %dd= @local_network.membership_csr_organizations      
      %dt Government
      %dd= @local_network.membership_government      
      %dt Labour
      %dd= @local_network.membership_labour_organizations      


  #fees_contributions.tab_content
    %h3 Fees and Contributions

  #communications.tab_content
    %h3 Communications