- @body_class = 'details'
%h2= @local_network.name
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#structure_governance">Structure and Governance</a>
    %li <a href="#mou">Memorandum of Understanding</a>
    %li <a href="#meetings">Meetings</a>
    %li <a href="#membership">Membership Breakdown</a>
    %li <a href="#fees_contributions">Fees and Contributions</a>
    %li <a href="#communications">Communications</a>

  #structure_governance.tab_content

    %div.hint_toggle
      About this section...
    %div.hint_text{:style => 'display: none;'}
      %p Launching the Global Compact should be distinguished from launching the network. A public launch of the Global Compact, which is a high-level event within a country, typically takes place after a significant number of local companies have become engaged or are ready to be engaged in the initiative. Support from a critical mass of companies before the launch increases the likelihood that a GCLN will be established and that the network will be sustainable.
      %p Launching the network is essentially about institutionalizing a group of companies with a sufficient level of commitment to ensure the effective, inclusive and accountable governance system of the Global Compact initiative in a country.

    %ul#tools{:class => "tools inline"}
      %li= link_to 'Edit', edit_admin_local_network_path(@local_network.id, :section => :structure_governance), :class => 'edit_large'
        
    %dl.left_column.short
      %dt.title Key Launch Dates
      %dd.title &nbsp;
      %dt.first Global Compact
      %dd.first= @local_network.sg_global_compact_launch_date
      %dt Local Network
      %dd= @local_network.sg_local_network_launch_date      

  #mou.tab_content
    %h3 Memorandum of Understanding
    
  #meetings.tab_content
    %h3 Meetings
  
  #membership.tab_content
    %ul#tools{:class => "tools inline"}
      %li= link_to 'Edit', edit_admin_local_network_path(@local_network.id, :section => :membership), :class => 'edit_large'
      
    %dl.left_column.short{:style => 'width: 300px; margin-right: 20px;'}
      %dt.title Business
      %dd.title &nbsp;
      %dt.first Companies
      %dd.first= @local_network.membership_companies
      %dt SMEs
      %dd= @local_network.membership_sme
      %dt Micro Enterprises
      %dd= @local_network.membership_micro_enterprise      
      %dt Business Associations
      %dd= @local_network.membership_business_organizations      

    %dl.left_column.short{:style => 'width: 300px; margin-right: 20px;'}
      %dt.title Non-Business
      %dd.title &nbsp;
      %dt.first Academic
      %dd.first= @local_network.membership_academic_institutions
      %dt Civil Society
      %dd= @local_network.membership_civil_societies      
      %dt CSR Organizations
      %dd= @local_network.membership_csr_organizations      
      %dt Government
      %dd= @local_network.membership_government      
      %dt Labour
      %dd= @local_network.membership_labour_organizations      

    %dl.left_column{:style => 'width: 175px;'}
      %dt.title Subsidiary Participation
      %dd.title &nbsp;
      %dt.first= subsidiary_participation(@local_network)
      %dd.first &nbsp;

  #fees_contributions.tab_content
    %ul#tools{:class => "tools inline"}
      %li= link_to 'Edit', edit_admin_local_network_path(@local_network.id, :section => :fees_contributions), :class => 'edit_large'

    %dl.left_column{:style => 'width: 275px; margin-right: 0px;'}
      %dt.title Member Fees
      %dd.title &nbsp;
      %dt.first= participant_fees(@local_network)
      %dd.first &nbsp;

    %dl.left_column.short{:style => 'width: 275px; margin-right: 50px;'}
      %dt.title Annual Amount in U.S. Dollars
      %dd.title &nbsp;
      %dt.first Company
      %dd.first= number_to_currency(@local_network.fees_amount_company, :unit => "$")
      %dt SME
      %dd= number_to_currency(@local_network.fees_amount_sme, :unit => "$")
      %dt Other
      %dd= number_to_currency(@local_network.fees_amount_other_organization, :unit => "$")

    %dl.left_column.short{:style => 'width: 275px;'}
      %dt.title Financing of Total Budget
      %dd.title &nbsp;
      %dt.first Participant Fees
      %dd.first= number_to_percentage(@local_network.fees_amount_participant, :precision => 0)
      %dt Private Voluntary
      %dd= number_to_percentage(@local_network.fees_amount_voluntary_private, :precision => 0)
      %dt Public Voluntary
      %dd= number_to_percentage(@local_network.fees_amount_voluntary_public, :precision => 0)

  #communications.tab_content
    %h3 Communications