- @body_class = 'details'
- unless current_contact.local_network == @local_network
  %div.tab_switcher
    %ul.tab_switch
      %li=link_to 'Network Management', admin_local_network_path(@local_network), :class => "restrictions #{action_name != 'knowledge_sharing' ? ' selected' : ''}"
      %li=link_to 'Knowledge Sharing', knowledge_sharing_path(@local_network), :class => "restrictions #{action_name == 'knowledge_sharing' ? ' selected' : ''}"
%h3
  = link_to_region_list(@local_network)
  = @local_network.name

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    - if current_contact_can_edit_network?
      %li <a href="#contacts">Contacts</a>
    %li <a href="#profile">Profile</a>
    %li <a href="#structure">Structure</a>
    %li <a href="#governance">Governance</a>
    %li <a href="#membership">Membership</a>
    %li <a href="#fees_contributions">Fees</a>
    %li <a href="#integrity_measures">Integrity Measures</a>
    %li <a href="#mous">Memorandum of Understanding</a>

  - if current_contact_can_edit_network?
    #contacts.tab_content
      %ul#contacts_tools{:class => "tools inline"}
        - staff_only do
          %li= link_to 'New contact', new_admin_local_network_contact_path(@local_network.id), :class => 'new_user_large', :title => 'New Contact'

      %ul.items= render :partial => "admin/contacts/tabbed_contact", :collection => @local_network.contacts

  #profile.tab_content
    %ul#tools{:class => "tools inline"}
      %li= dashboard_link_to_public_profile(@local_network)
      - if current_contact_can_edit_network?
        %li= link_to 'Edit Website Address', edit_admin_local_network_path(@local_network.id, :section => :profile), :class => 'edit_page_large'

    %dl.left_column
      %h3 Profile
      %dt.first Local Network
      %dd.first= @local_network.name
      %dt Development Stage
      %dd= @local_network.humanize_state
      %dt Website Address
      %dd= @local_network.url.present? ? link_to(@local_network.url, @local_network.url) : 'Not provided'

    %dl.left_column
      %h3 Contacts
      %dt.first Representative
      %dd.first= render :partial => 'contact_overview', :collection => @local_network.contacts.network_representatives
      %dt Contact Person
      %dd= render :partial => 'contact_overview', :collection => @local_network.contacts.network_contacts

  #structure.tab_content
    - if current_contact_can_edit_network?
      %ul#tools{:class => "tools inline"}
        %li= link_to 'Edit', edit_admin_local_network_path(@local_network.id, :section => :structure), :class => 'edit_large'

    %dl.left_column.short{:style => 'width: 300px; margin-right: 20px;'}
      %dt.title Key Launch Dates
      %dd.title &nbsp;
      %dt.first Global Compact
      %dd.first= @local_network.sg_global_compact_launch_date
      %dt Local Network
      %dd= @local_network.sg_local_network_launch_date

    %dl.left_column{:style => 'width: auto; margin-right: 20px;'}
      %dt.title Legal Status
      %dd.title &nbsp;
      %dt.first= legal_status(@local_network)
      %dd.first &nbsp;
      %dt Supporting Document
      %dd= link_to_uploaded_file(@local_network.sg_established_as_a_legal_entity_file)

  #governance.tab_content
    - if current_contact_can_edit_network?
      %ul#tools{:class => "tools inline"}
        %li= link_to 'Edit', edit_admin_local_network_path(@local_network.id, :section => :governance), :class => 'edit_large'

    %dl.left_column{:style => 'width: 165px; margin-right: 150px;'}
      %dt.title Annual Meeting Appointments
      %dd.title &nbsp;
      %dt{:class => "first #{show_check(@local_network.sg_selected_appointees_local_network_representative)}"} Network Representative
      %dt{:class => show_check(@local_network.sg_selected_appointees_steering_committee)} Steering Committee
      %dt{:class => show_check(@local_network.sg_selected_appointees_contact_point)} Contact Person

    %dl.left_column.short.ie_fix{:style => 'width: 165px;'}
      %dt.title Stakeholder Groups Involved in Governance
      %dd.title &nbsp;
      %dt{:class => "first #{show_check(@local_network.stakeholder_company)}"} Companies
      %dt{:class => show_check(@local_network.stakeholder_sme)} SMEs
      %dt{:class => show_check(@local_network.stakeholder_business_association)} Business Associations

    %dl.left_column.short.ie_fix{:style => 'width: 165px;'}
      %dt.title &nbsp;
      %dd.title &nbsp;
      %dt{:class => "first #{show_check(@local_network.stakeholder_labour)}"} Labour
      %dt{:class => show_check(@local_network.stakeholder_un_agency)} UN Agencies
      %dt{:class => show_check(@local_network.stakeholder_ngo)} NGOs

    %dl.left_column{:style => 'width: 165px;'}
      %dt.title &nbsp;
      %dd.title &nbsp;
      %dt{:class => "first #{show_check(@local_network.stakeholder_foundation)}"} Foundations
      %dt{:class => show_check(@local_network.stakeholder_academic)} Academic Institutions
      %dt{:class => show_check(@local_network.stakeholder_government)} Government Entities

    - if @local_network.sg_annual_meeting_appointments_file
      %dl.left_column.short.ie_fix{:style => 'float: none; width: 165px;'}
        %dt.title Governance Document
        %dd.title &nbsp;
      %p= link_to_uploaded_file(@local_network.sg_annual_meeting_appointments_file)

  #membership.tab_content
    - if current_contact_can_edit_network?
      %ul#tools{:class => "tools inline"}
        %li= link_to 'Edit', edit_admin_local_network_path(@local_network.id, :section => :membership), :class => 'edit_large'

    %dl.left_column{:style => 'width: 275px; margin-right: 20px;'}
      %dt.title Subsidiary Participation
      %dd.title &nbsp;
      %dt.first= subsidiary_participation(@local_network)
      %dd.first &nbsp;

    %dl.left_column.short{:style => 'width: 275px; margin-right: 20px;'}
      %dt.title Business
      %dd.title &nbsp;
      %dt.first Companies
      %dd.first= @local_network.membership_companies
      %dt SMEs
      %dd= @local_network.membership_sme
      %dt Micro Enterprises
      %dd= @local_network.membership_micro_enterprise
      %dt Business Associations
      %dd= @local_network.membership_business_organizations

    %dl.left_column.short{:style => 'width: 275px;'}
      %dt.title Non-Business
      %dd.title &nbsp;
      %dt.first Academic
      %dd.first= @local_network.membership_academic_institutions
      %dt Civil Society
      %dd= @local_network.membership_civil_societies
      %dt CSR Organizations
      %dd= @local_network.membership_csr_organizations
      %dt Government
      %dd= @local_network.membership_government
      %dt Labour
      %dd= @local_network.membership_labour_organizations

  #fees_contributions.tab_content
    - if current_contact_can_edit_network?
      %ul#tools{:class => "tools inline"}
        %li= link_to 'Edit', edit_admin_local_network_path(@local_network.id, :section => :fees_contributions), :class => 'edit_large'

    %dl.left_column{:style => 'width: 275px; margin-right: 20px;'}
      %dt.title Member Fees
      %dd.title &nbsp;
      %dt.first= participant_fees(@local_network)
      %dd.first &nbsp;

    %dl.left_column.short{:style => 'width: 275px; margin-right: 20px;'}
      %dt.title Annual Amount in U.S. Dollars
      %dd.title &nbsp;
      %dt.first Company
      %dd.first= number_to_currency(@local_network.fees_amount_company, :unit => "$")
      %dt SME
      %dd= number_to_currency(@local_network.fees_amount_sme, :unit => "$")
      %dt Other
      %dd= number_to_currency(@local_network.fees_amount_other_organization, :unit => "$")

    %dl.left_column.short{:style => 'width: 275px;'}
      %dt.title Financing of Total Budget
      %dd.title &nbsp;
      %dt.first Participant Fees
      %dd.first= number_to_percentage(@local_network.fees_amount_participant, :precision => 0)
      %dt Private Voluntary
      %dd= number_to_percentage(@local_network.fees_amount_voluntary_private, :precision => 0)
      %dt Public Voluntary
      %dd= number_to_percentage(@local_network.fees_amount_voluntary_public, :precision => 0)

  #integrity_measures.tab_content
    - if current_contact_can_edit_network?
      %ul{:class => "tools inline"}
        %li= link_to 'New Policy', new_admin_local_network_integrity_measure_path(@local_network), :class => "new_large"

    %table.dashboard_table
      %tr
        %th Type
        %th Title
        %th Date
        %th Document
        - if current_contact_can_edit_network?
          %th.actions Actions
      = render @local_network.integrity_measures

  #mous.tab_content
    - if current_contact_can_edit_network?
      %ul{:class => "tools inline"}
        %li= link_to 'New MOU', new_admin_local_network_mou_path(@local_network), :class => "new_large"
    %table.dashboard_table
      %tr
        %th Year of MOU
        %th Received on
        %th Status
        %th Document
        - if current_contact_can_edit_network?
          %th.actions Actions
      = render @local_network.mous
