- @body_class = 'details'
%h2= @local_network.name
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#overview">Overview</a>
    %li <a href="#contacts">Contacts</a>
    %li <a href="#network_management">Network Management</a>
    %li <a href="#events">Events & Activities</a>
    %li <a href="#integrity">Integrity Measures</a>
    %li <a href="#awards">Awards</a>

  #overview.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to text_for_edit_icon(current_user), edit_admin_local_network_path(@local_network.id), :class => 'edit_large', :title => "Edit Local Network profile"
      %li= link_to_public_profile(@local_network)
  
    %dl.left_column
      %h3 Profile
      %dt.first Local Network
      %dd.first= @local_network.name
      %dt Development Stage
      %dd= @local_network.humanize_state
      -if @local_network.url.present?
        %dt Website
        %dd= link_to @local_network.url, @local_network.url

    %dl.left_column
      %h3 Contacts
      %dt.first Representative
      %dd.first= render :partial => 'admin/local_networks/contact_overview', :collection => @local_network.contacts.network_representatives
      %dt Contact Person
      %dd= render :partial => 'admin/local_networks/contact_overview', :collection => @local_network.contacts.network_contacts
      %dt Report Recipient
      %dd= render :partial => 'admin/local_networks/contact_overview', :collection => @local_network.contacts.network_report_recipients

  #contacts.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New contact', new_admin_local_network_contact_path(@local_network.id), :class => 'new_user_large', :title => 'New Contact'
    %ul.items= render :partial => "admin/contacts/tabbed_contact", :collection => @local_network.contacts
    
  #network_management.tab_content
 
    %ul#contacts_tools{:class => "tools inline"}
      %div.click_to_edit
        %li= link_to '', edit_admin_local_network_path(@local_network.id, :section => 'structure'), :class => 'edit_small'
      %h3.button_label Structure

    %dl.short{:style => 'width: 300px; margin-right: 20px;'}
      %dt.title Key Launch Dates
      %dd.title &nbsp;
      %dt.first Global Compact
      %dd.first= @local_network.sg_global_compact_launch_date
      %dt Local Network
      %dd= @local_network.sg_local_network_launch_date      

    %p{:style => 'clear: both;'}
    
    %ul#contacts_tools{:class => "tools inline"}
      %div.click_to_edit
        %li= link_to '', edit_admin_local_network_path(@local_network.id, :section => 'governance'), :class => 'edit_small'
      %h3.button_label Governance

    %dl.left_column.short.ie_fix{:style => 'width: 150px;'}
      %dt.title Stakeholder Groups Involved in Governance
      %dd.title &nbsp;
      %dt{:class => "first #{show_check(@local_network.stakeholder_company)}"} Companies
      %dt{:class => show_check(@local_network.stakeholder_sme)} SMEs
      %dt{:class => show_check(@local_network.stakeholder_business_association)} Business Associations

    %dl.left_column.short.ie_fix{:style => 'width: 150px;'}
      %dt.title &nbsp;
      %dd.title &nbsp;
      %dt{:class => "first #{show_check(@local_network.stakeholder_labour)}"} Labour
      %dt{:class => show_check(@local_network.stakeholder_un_agency)} UN Agencies
      %dt{:class => show_check(@local_network.stakeholder_ngo)} NGOs

    %dl.left_column.short.ie_fix{:style => 'width: 150px;'}
      %dt.title &nbsp;
      %dd.title &nbsp;
      %dt{:class => "first #{show_check(@local_network.stakeholder_foundation)}"} Foundations
      %dt{:class => show_check(@local_network.stakeholder_academic)} Academic Institutions
      %dt{:class => show_check(@local_network.stakeholder_government)} Government Entities

    %p{:style => 'clear: both;'}
 
    %ul#contacts_tools{:class => "tools inline"}
      %div.click_to_edit
        %li= link_to '', edit_admin_local_network_path(@local_network.id, :section => 'membership'), :class => 'edit_small'
      %h3.button_label Membership Breakdown

    %dl.left_column{:style => 'width: 300px; margin-right: 20px;'}
      %dt.title Subsidiary Participation
      %dd.title &nbsp;
      %dt.first= subsidiary_participation(@local_network)
      %dd.first &nbsp;

    %dl.left_column.short{:style => 'width: 300px; margin-right: 20px;'}
      %dt.title Business
      %dd.title &nbsp;
      %dt.first Companies
      %dd.first= @local_network.membership_companies
      %dt SMEs
      %dd= @local_network.membership_sme
      %dt Micro Enterprises
      %dd= @local_network.membership_micro_enterprise      
      %dt Business Associations
      %dd= @local_network.membership_business_organizations      

    %dl.left_column.short{:style => 'width: 200px;'}
      %dt.title Non-Business
      %dd.title &nbsp;
      %dt.first Academic
      %dd.first= @local_network.membership_academic_institutions
      %dt Civil Society
      %dd= @local_network.membership_civil_societies      
      %dt CSR Organizations
      %dd= @local_network.membership_csr_organizations      
      %dt Government
      %dd= @local_network.membership_government      
      %dt Labour
      %dd= @local_network.membership_labour_organizations      

    %p{:style => 'clear: both;'}
    
    %ul#contacts_tools{:class => "tools inline"}
      %div.click_to_edit
        %li= link_to '', edit_admin_local_network_path(@local_network.id, :section => 'fees_contributions'), :class => 'edit_small'
      %h3.button_label Fees and Contributions
  
    %dl.left_column{:style => 'width: 300px; margin-right: 20px;'}
      %dt.title Member Fees
      %dd.title &nbsp;
      %dt.first= participant_fees(@local_network)
      %dd.first &nbsp;

    %dl.left_column.short{:style => 'width: 300px; margin-right: 20px;'}
      %dt.title Annual Amount in U.S. Dollars
      %dd.title &nbsp;
      %dt.first Company
      %dd.first= number_to_currency(@local_network.fees_amount_company, :unit => "$")
      %dt SME
      %dd= number_to_currency(@local_network.fees_amount_sme, :unit => "$")
      %dt Other
      %dd= number_to_currency(@local_network.fees_amount_other_organization, :unit => "$")

    %dl.left_column.short{:style => 'width: 200px;'}
      %dt.title Financing of Total Budget
      %dd.title &nbsp;
      %dt.first Participant Fees
      %dd.first= number_to_percentage(@local_network.fees_amount_participant, :precision => 0)
      %dt Private Voluntary
      %dd= number_to_percentage(@local_network.fees_amount_voluntary_private, :precision => 0)
      %dt Public Voluntary
      %dd= number_to_percentage(@local_network.fees_amount_voluntary_public, :precision => 0)
    
  #events.tab_content
    %h3 Events & Activities

  #integrity.tab_content
    %h3 Integrity Measures

  #awards.tab_content
    %h3 Awards
