<%= render partial: 'redesign/components/meta_tags' %>

<%= render partial: 'redesign/components/hero' %>

<h1> Add filters here </h1>

<%= render layout: 'redesign/components/content_blocks', locals: {blocks: @page.events} do |block| %>
  <%= render 'redesign/components/content_block',
    title: block.title,
    url: redesign_event_path(block),
    thumbnail: block.thumbnail_image.url,
    tag: block.tag
  %>
<% end %>

<%= will_paginate @page.results, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
