<%= render partial: 'redesign/components/meta_tags' %>

<%= render partial: 'redesign/components/hero' %>

<%= form_for @search, as: :search, url: redesign_events_path, method: :get, html: {id: 'filters-form'}  do |form| %>

  <fieldset class='filter-lists'>
    <% @search.filters.each do |filter| %>
      <%= search_filter(filter) %>
    <% end %>
  </fieldset>

  <%= form.text_field :start_date, placeholder: 'start date', class: 'datepicker' %>
  <%= form.text_field :end_date, placeholder: 'end date', class: 'datepicker' %>

  <%= active_filters(@search) %>

  <%= form.submit 'Search' %>
<% end %>

<%= render layout: 'redesign/components/content_blocks', locals: {blocks: @page.events} do |event| %>
  <%= render 'redesign/components/content_block',
    type: 'event',
    title: event.title,
    url: redesign_event_path(event),
    thumbnail: event.thumbnail_image.url,
    tag: event.tag,
    date: event.date,
    location: event.location
  %>
<% end %>

<%= will_paginate @page.results, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
