<%= render partial: 'components/meta_tags', locals: { title: "SDG Pioneers", description: t('sdg_pioneer.other.blurb'), keywords: 'sustainable development goals nominate pioneers' } %>

<%= render partial: 'components/hero', locals: { hero: {theme: 'dark', size: 'small', title: {first: "SDG Pioneers"}, blurb: t('sdg_pioneer.other.blurb'), image: image_path('sdg_pioneer/nomination_form_2017.jpg') } } %>

<section class='main-content-section main-content-section-narrow'>
  <%= form_for @other, as: :other, html: {class: 'form-classic wrapper'} do |f| %>
    <header class='main-content-header'>
      <h1><%= t('sdg_pioneer.other.title') %></h1>
    </header>

    <section class='main-content-body'>
      <%= content_tag(:p, content_tag(:span, notice), {class: 'success-message'}) if notice %>

      <p>
        At the UN Global Compact, the search is on for SDG Pioneers business leaders who are doing an exceptional job of taking action to advance the Global Goals.
      </p>

      <p>
        Do you have a colleague or know someone that you think is doing great work to advance the Sustainable Development Goals? Individuals who are working at any level of a business that is an active participant of the UN Global Compact are eligible for consideration. Your nominee will be requested to submit the "Nominate Yourself" form in order to complete the submission process.
      </p>

      <% if @other.errors.any? %>
        <div class="errors-container">
          <h2><%= pluralize(@other.errors.count, "error") %> prohibited this nomination from being sent:</h2>

          <ul class='errors-list'>
            <% @other.errors.full_messages.each do |message| %>
              <li class='error'><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <div class="field field-required">
          <%= f.label :submitter_name, "Your name" %>
          <%= f.text_field :submitter_name %>
        </div>
        <div class="field field-required">
          <%= f.label :submitter_place_of_work, "Your organization" %>
          <%= f.text_field :submitter_place_of_work %>
        </div>
        <div class="field field-required">
          <%= f.label :submitter_job_title, "Your job title" %>
          <%= f.text_field :submitter_job_title %>
        </div>
        <div class="field field-required">
          <%= f.label :submitter_email, "Your preferred email address" %>
          <%= f.text_field :submitter_email %>
        </div>
        <div class="field">
          <%= f.label :submitter_phone, "Your preferred telephone number" %>
          <%= f.text_field :submitter_phone %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field">
          Is the nominee's company a UN Global Compact signatory? (*Please note that only UN Global Compact business signatories will be considered.)<br />
          <%= f.radio_button(:is_participant, true) %>
          <%= f.label(:is_participant_true, "Yes") %>
          <br />
          <%= f.radio_button(:is_participant, false) %>
          <%= f.label(:is_participant_false, "No") %> <br />
        </div>
        <div id="ungc-participant" class="field field-required ui-widget">
          <%= f.label :organization_name do %>
            Organization name
          <% end %>
          <%= f.text_field :organization_name %>
        </div>

        <div id="join-ungc">
          <p>We greatly appreciate your interest in the SDG Pioneers. However, at the moment we are only considering UN Global Compact business signatories. For more information on how to join the UN Global Compact, please visit our <a href="/participation/join/application" target="_blank">website.</a></p>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :nominee_name, "Name of nominee" %>
          <%= f.text_field :nominee_name %>
        </div>
        <div class="field field-required">
          <%= f.label :nominee_work_place, "Nominee’s organization" %>
          <%= f.text_field :nominee_work_place %>
        </div>
        <div class="field field-required">
          <%= f.label :nominee_title, "Nominee’s title" %>
          <%= f.text_field :nominee_title %>
        </div>
        <div class="field field-required">
          <%= f.label :nominee_email, "Nominee’s preferred email address " %>
          <%= f.text_field :nominee_email %>
        </div>
        <div class="field">
          <%= f.label :nominee_phone, "Nominee’s preferred telephone number" %>
          <%= f.text_field :nominee_phone %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <%= f.label :why_nominate do %>
            Please explain why you think that this individual should be nominated as a SDG Pioneer
          <% end %>
          <%= f.text_area :why_nominate, placeholder: 'Please limit to 150 words' %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field field-required">
          <p>We need your permission to share your name and contact information with the individual you are nominating as a SDG Pioneer. Please kindly note that your nomination is not an official submission. Once nominated we will ask the person you selected to complete the "Nominate Yourself" form.</p>
          <label>
            <%= f.check_box :accepts_tou %> I agree that the UN Global Compact can share my information with the individual I am nominating as a Local SDG Pioneer.
          </label>
        </div>
      </fieldset>

      <fieldset>Questions? Email: <a href="mailto:sdgpioneers@unglobalcompact.org" target="_top">sdgpioneers@unglobalcompact.org</a></fieldset>

      <%= f.submit 'Nominate', id: "nominate-pioneer" %>

    </section>

  <% end %>
</section>
