- if default_form.error_messages.present?
  %div{:class => 'flash error'}= display_readable_errors(@submodel)

%fieldset
  %legend General Information

  %ol
    = default_form.text_field  :title,                                                             :label => 'Title'
    = default_form.text_area   :description,                                                       :label => 'Description'
    = default_form.select      :event_type, LocalNetworkEvent::TYPES, { :include_blank => true },  :label => 'Type of Event'
    = default_form.date_select :date,                                 { :include_blank => true },  :label => 'Date', :li_class => 'date'

%fieldset
  %legend Issue Areas

  - LocalNetworkEvent.principle_areas.in_groups(3).each do |group|
    %ol.checkbox_list{:style => 'float: left'}
      - group.each do |area|
        %li.checkbox
          = check_box_tag 'local_network_event[principle_ids][]', area.id, @submodel.principle_ids.include?(area.id), :id => "principle_area_checkbox_#{area.id}"
          %label{:for => "principle_area_checkbox_#{area.id}"}= area.name

%fieldset
  %legend Stakeholder Attendance

  .checkbox_list_container
    %ol.checkbox_list{:style => 'float: left'}
      = default_form.check_box :stakeholder_company,              { :li_class => 'checkbox', :label => 'Companies'             }
      = default_form.check_box :stakeholder_sme,                  { :li_class => 'checkbox', :label => 'SMEs'                  }
      = default_form.check_box :stakeholder_business_association, { :li_class => 'checkbox', :label => 'Business Associations' }
      = default_form.check_box :stakeholder_media,                { :li_class => 'checkbox', :label => 'Media'                 }

    %ol.checkbox_list{:style => 'float: left'}
      = default_form.check_box :stakeholder_labour,    { :li_class => 'checkbox', :label => 'Labour'      }
      = default_form.check_box :stakeholder_un_agency, { :li_class => 'checkbox', :label => 'UN Agencies' }
      = default_form.check_box :stakeholder_ngo,       { :li_class => 'checkbox', :label => 'NGOs'        }
      = default_form.check_box :stakeholder_others,    { :li_class => 'checkbox', :label => 'Others'      }

    %ol.checkbox_list{:style => 'float: left'}
      = default_form.check_box :stakeholder_foundation, { :li_class => 'checkbox', :label => 'Foundations'           }
      = default_form.check_box :stakeholder_academic,   { :li_class => 'checkbox', :label => 'Academic Institutions' }
      = default_form.check_box :stakeholder_government, { :li_class => 'checkbox', :label => 'Government Entities'   }

  %ol.numeric_inputs
    = default_form.text_field :num_participants,          :label => 'Total Attendance'
    = default_form.text_field :gc_participant_percentage, :label => 'Global Compact Participants (%)'

%fieldset.file_inputs
  %legend Files

  - if @submodel.new_record?
    %ol
      %li= file_field_tag 'local_network_event[uploaded_attachments][][attachment]'
  - else
    %p
      = pluralize(@submodel.attachments.count, 'file')
      attached to this event.
      = link_to 'Manage files', admin_local_network_local_network_event_attachments_path(@local_network, @submodel)
