= form_for(review, url: url, as: :review, method: form_method) do |form|
  .field
    = form.label :organization_name
    = form.text_field :organization_name
  .field
    = form.label :event_title
    = form.text_field :event_title
  .field
    = form.label :level_of_engagement
    = form.select :level_of_engagement, DueDiligence::Review.level_of_engagements, prompt: 'Choose level...'
  .field
    = form.label :individual_subject
    = form.text_field :individual_subject, maxlength: 100
  .field
    = form.label :additional_information, 'Additional Information'
    = form.text_area :additional_information, maxlength: 512, rows: 2
  %ul.tools.inline{:style => "float: right"}
    %li
      = link_to 'Cancel', for_state_admin_due_diligence_reviews_path(state: :in_review), class: 'cancel_large'
    = form.submit submit_label