<% if @review.event_title.present? %>
<h5>
  Event: <%= @review.event_title %>
</h5>
<% end %>

<h4>Basic facts:</h4>
<section id="basic-facts">
  <ul>
    <li><strong>Name of Requester:</strong> <%= @review.requester.name %><br /></li>
    <li><strong>Level of Engagement:</strong> <%= @review.level_of_engagement %><br /></li>
    <li><strong>Individual:</strong> <%= @review.individual_subject %><br /></li>
    <li><strong>Additional Information:</strong> <%= @review.additional_information %><br /></li>
    <li><strong>Relationship Manager:</strong> <%= @review.organization.try(:participant_manager_name) %><br /></li>
    <li><strong>UNGC join date:</strong> <%= @review.organization.joined_on %><br /></li>
    <li><strong><%= link_to "More information", [:admin, @review.organization] %></strong></li>
  </ul>
</section>
