<h4>Risk Assessment</h4>
<section id="risk-assessment">

  <p>
    <strong>Allegations found on World-Check (past two years):</strong>
  <div id="world_check_allegations"><%= blank_warn(@review.world_check_allegations) %></div>
  </p>
  <p><strong>Found on the UN Global Marketplace Ineligible Vendor Lists: </strong><%= bool_warn(@review.included_in_global_marketplace) %></p>
  <p><strong>Subject to UN or other government sanctions: </strong><%= bool_warn(@review.subject_to_sanctions) %></p>
  <p id="excluded_by_norwegian_pension_fund"><strong>Excluded by the Norwegian Government Pension Fund Global: </strong><%= bool_warn(@review.excluded_by_norwegian_pension_fund) %></p>
  <p><strong>Involved in the sale, manufacture or distribution of anti-personnel landmines or cluster bombs: </strong><%= bool_warn(@review.involved_in_landmines) %></p>
  <p id="involved_in_tobacco"><strong>Involved in production or sale of tobacco: </strong><%= bool_warn(@review.involved_in_tobacco) %></p>
  <p id="subject_to_dialog_facilitation"><strong>Subject to dialog facilitation: </strong><%= bool_warn(@review.subject_to_dialog_facilitation) %></p>
  <p>
    <strong>Delisted from the UNGC?:</strong> <%= bool_warn(@review.organization.delisted?) %> <%- if @review.organization.delisted? %>
        <%= @review.organization.removal_reason.try!(:description) %>
    <%- end -%>
  </p>
  <p id="requires_local_network_input"><strong>Requires Local Network Input? </strong><%= as_bool(@review.requires_local_network_input, 'blue') %></p>
  <p>
    <strong>Local Network input:</strong> <%= blank_warn(@review.local_network_input) if @review.requires_local_network_input %>
  </p>

  <h5>Results from Sustainalytics</h5>
  <section id="sustainalytics">
    <span id="esg_score"><strong>ESG Score:</strong> <%= blank_warn(@review.esg_score) %></span>
    <span id="highest_controversy_level"><strong>Highest Controversy:</strong>
      <%= blank_warn(@review.highest_controversy_level) %>
      </span>
  </section>
  <p/>

  <h5>Results from RepRisk</h5>
  <section id="rep-risk">
    <span id="rep_risk_current"><strong>Current RRI:</strong> <%= blank_warn(@review.rep_risk_current) %></span>
    <span id="rep_risk_peak"><strong>Peak RRI:</strong> <%= blank_warn(@review.rep_risk_peak) %></span>
    <span id="rep_risk_severity_of_news"><strong>Severity of news:</strong> <%= blank_warn(@review.rep_risk_severity_of_news) %></span>
  </section>
  <p/>

  <h5>Analysis</h5>
  <section id="analysis">
    <strong>Analysis Comments:</strong> <%= @review.analysis_comments %>
  </section>
</section>
