-if form.error_messages.present?
  %div{:class => 'flash error'}
    Please select a PDF file for upload.
%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li <a href="#grace">Grace Letter</a>
  #grace.tab_content
    %fieldset
      %fieldset
        %legend
          %span Grace Period
        By submitting a Grace Letter, your COP due date will be extended by
        %strong== #{@form.grace_period} days.
        Your COP must be received by
        %strong==  #{yyyy_mm_dd @form.due_on}.

      %fieldset
        %legend
          %span Please upload your "Grace Letter" as a PDF file
        = render 'admin/cops/cop_file', cop_file: @form.cop_file, record: 0, language_id: @form.language_id

    = form.hidden_field :title, value: 'Grace Letter'
    = submit_tag 'Submit', :class => "button", id: "finish"
