- @body_class = 'details'

%h2 Grace Letter Details

%ul{:class => "tools inline"}

  %li= link_to "Back to COPs", @grace_letter.return_path, :class => 'go_back_large'
  %li= link_to 'Public version', show_cops_path(@grace_letter.differentiation_level_with_default, @grace_letter.id), :class => 'web_preview_large'
  - staff_only do
    %li= link_to "Backdate Grace Letter", backdate_admin_organization_communication_on_progress_path(@grace_letter.organization.id, @grace_letter.id), :class => 'backdate'
    %li= link_to 'Delete Grace Letter', admin_organization_grace_letter_path(@grace_letter.organization, @grace_letter.id), method: :delete, :class => 'delete_large', data: { confirm: "#{t('admin.confirm_delete_grace_letter')}" }, title: "#{t('admin.delete_grace_letter')}"

.main_content
  #status_box
    %dl{style: 'width: 90%;'}
      = render partial: 'shared/cops/show_grace_style', locals: { communication_on_progress: @grace_letter }
