%ul#tools{:class => "tools inline"}
  - if contribution_description.new_record?
    %li= link_to 'Add custom contribution text', new_admin_local_network_contribution_description_path(@local_network.id), :class => 'new_large'
  - else
    %li= link_to 'Edit', edit_admin_local_network_contribution_description_path(@local_network), :class => 'edit_large'

#pledges_invoicing_display

  - if contribution_description.empty?
    %p This section has not been completed.

  - if contribution_description.pledge.present?
    %h4 Contribution Message
    = simple_format contribution_description.pledge
    = simple_format contribution_description.pledge_continued

  - if contribution_description.payment.present?
    %h4 Invoice Instructions
    = simple_format contribution_description.payment

  - if contribution_description.contact.present?
    %h4 Contact / Address Information
    = simple_format contribution_description.contact

  - if contribution_description.additional.present?
    %h4 Additional Information
    = simple_format contribution_description.additional
