%h3 Country
%p= @cop.country_name

%h3 Sector
%p= @cop.sector_name

%h3 Title of Communication on Progress
%p= @cop.title

%h3 Time period covered
%p
  = date_range(@cop)

%h3 Links to Communication in Progress
%ul.nolist
  - for cop_file in @cop.cop_files do
    %li= link_to cop_file.attachment_file_name, cop_file.attachment.url
  - for url in @cop.urls do
    %li= link_to truncate(url, :length => 80), url

- unless @cop.description.blank?
  %h2 Method COP is shared with stakeholders:
  %p= @cop.description

%h3 Contact Person
%p= @cop.contact_name

%h3 Contact Email
%p= link_to @cop.email

%h3 Published
%p= yyyy_mm_dd @cop.added_on