<%= render partial: 'redesign/components/meta_tags' %>
<%= render partial: 'redesign/components/hero' %>

<section id='paged_results' class='main-content-section main-content-section-wide cop-list'>
  <div class='wrapper'>
    <header class='main-content-header'>
      <h1>Expelled Participants</h1>

      <p>The following participants have been expelled for failure to communicate progress <%= link_to 'in accordance with the COP Policy', '/participation/report/cop' -%> by the required deadline.</p>

      <h2>Total number of expelled participants: <%= count_all_orgs(:expelled_for_failure_to_communicate_progress) %></h2>
      <%= per_page_select %>
    </header>
    <table class="table-embedded striped sortable">
      <thead>
        <tr>
          <th class="sort participant">Participant</th>
          <th class="sort sector">Sector</th>
          <th class="sort country">Country</th>
          <th class="sort year">Expelled</th>
        </tr>
      </thead>
      <tbody>
        <% for organization in paged_organizations(:expelled_for_failure_to_communicate_progress)%>
          <tr>
            <td title="<%= organization.name %>" class='participant'>
              <%= link_to truncate(organization.name, :length => 40), participant_path(organization, :expelled) %>
            </td>
            <td title="<%= organization.sector_name %>" class='sector'>
              <%= truncate(organization.sector_name, :length => 30) %>
            </td>
            <td title="<%= organization.country_name %>" class='country'>
              <%= truncate(organization.country_name, :length => 15) %>
            </td>
            <td class='year'>
              <%= yyyy_mm_dd organization.delisted_on %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate_orgs(:expelled_for_failure_to_communicate_progress, :anchor => 'paged_results') %>
  </div>
</section>
