%p &nbsp;

%h3 COP Tools and Resources

- row_style = 'border-bottom: 1px solid #CCC; padding: 1.5em 2em 1.5em 0em; width: 300px;'
- row_style_last = 'border: none; 1px solid #CCC; padding: 1.5em 2em 1.5em 0em; width: 300px;'

%table{:border => 0, :cellpadding => 0, :cellspacing => 0}

  %tr
    %td{:style => row_style}= link_to 'COP Basic Guide', 'http://unglobalcompact.org/docs/communication_on_progress/Tools_and_Publications/COP_Basic_Guide.pdf'
    %td{:style => row_style} Practical guide on drafting a complete COP.

  %tr
    %td{:style => row_style}= link_to 'Video on How To Submit a COP (5 minutes)', 'http://www.unglobalcompact.org/COP/communicating_progress/how_to_submit_a_cop.html'
    %td{:style => row_style} Guidance for submitting a COP at the GC Active level. Available in English, Spanish, French, Japanese and Arabic.

  %tr
    %td{:style => row_style}
      Step-by-step Guidance
      %ul
        %li= link_to 'How to submit a GC Active COP', 'http://www.unglobalcompact.org/docs/communication_on_progress/COP_Submission_Step_by_Step_Guide.pdf'
        %li= link_to 'How to submit a GC Advanced COP', 'http://www.unglobalcompact.org/docs/communication_on_progress/GC_Advanced_COP_Step_by_Step.pdf'
        %li= link_to 'How to request a deadline modification', 'http://unglobalcompact.org/COP/cop_deadlines.html'
    %td{:style => row_style} Guidance for submitting a COP at the GC Active or GC Advanced level and for requesting a deadline modification.

  %tr
    %td{:style => row_style}
      Webinars
      %ul
        %li= link_to 'Upcoming live sessions', 'http://www.unglobalcompact.org/NewsAndEvents/event_calendar/online_cop_training.html'
        %li
          Recorded sessions
          %ul
            %li= link_to 'Introduction to the Global Compact', 'http://www.youtube.com/watch?v=IUI3-iwiAOs'
            %li= link_to 'Communication on Progress', 'http://www.youtube.com/watch?v=N0LvcxuIZH0'
    %td{:style => row_style}== Live and pre-recorded webinars on the Global Compact and on the #{link_to 'Differentiation Programme', 'http://unglobalcompact.org/COP/communicating_progress/cop_policy/cop_levels.html'}. Available in English, Spanish, and French.

    %tr
      %td{:style => row_style}= link_to 'COP Examples', 'http://www.unglobalcompact.org/participants/search'
      %td{:style => row_style} List of UN Global Compact participants and their COPs.

      %tr
        %td{:style => row_style_last}= link_to 'Basic Online COP Template', 'http://www.unglobalcompact.org/docs/communication_on_progress/Basic_COP_Step_by_Step_Guide.pdf'
        %td{:style => row_style_last} Tool for reporters at the GC Active or GC Learner level who do not have their report available in PDF format.