%ul.self_assessment

  - unless communication_on_progress.include_continued_support_statement?
    %li.unselected_question An explicit statement of continued support for the UN Global Compact and its ten principles

  - PrincipleArea::FILTERS.each_pair do |key, value|
    - unless communication_on_progress.send("references_#{key}?")
      %li.unselected_question== Description of actions or relevant policies related to #{value}

  - unless communication_on_progress.include_measurement?
    %li.unselected_question A measurement of outcomes
    
  - if communication_on_progress.questions_missing_answers.any?
    - communication_on_progress.questions_missing_answers.each do |question|
      %li.unselected_question= question.text
  - communication_on_progress.questions_not_fully_covered('lead_un_goals').each do |question|
    %li.unselected_question= question.text
  - communication_on_progress.questions_not_fully_covered('lead_gc').each do |question|
    %li.unselected_question= question.text