%dt Format
%dd
  %ul
    %li Stand alone document

%dt Time period
%dd
  %ul
    %li== #{communication_on_progress.starts_on.month}/#{communication_on_progress.starts_on.year} to #{communication_on_progress.ends_on.month}/#{communication_on_progress.ends_on.year}

%dt Issue areas covered
%dd
  %ul
    %li
      - if communication_on_progress.issue_areas_covered.count > 0
        = communication_on_progress.issue_areas_covered.join(', ')
      - else
        The participant has not confirmed coverage for any issue area

%dt Self-assessment
%dd
  %ul
    - unless communication_on_progress.include_continued_support_statement? || communication_on_progress.include_measurement?
      %li The participant did not provide a self-assessment of the COP's content
    - if communication_on_progress.include_continued_support_statement?
      %li Includes an explicit statement of continued support for the UN Global Compact and its ten principles
    - if communication_on_progress.include_measurement?
      %li Includes a measurement of outcomes for at least one issue area

%dt
  COP Content
%dd
  %ul
    %li= show_basic_cop_attributes(communication_on_progress, nil, false)
      
- PrincipleArea::FILTERS.each_pair do |key, value|
  %dt
    %span{:class => "#{value.gsub(/ /,'').tableize.singularize}" }= value
  %dd
    %ul
      %li= show_basic_cop_attributes(communication_on_progress, PrincipleArea.send(key).id, communication_on_progress.send("references_#{key}?"))