= render :partial => '/shared/cops/cop_info_header', :locals => { :communication_on_progress => communication_on_progress }

%dt Links
%dd
  %ul
    - communication_on_progress.cop_files.each do |cop_file|
      %li= link_to cop_file.attachment_file_name, cop_file.attachment.url
    - communication_on_progress.cop_links.each do |link|
      %li{:title => link.url}= link_to truncate(link.url, :length => 70), link.url

- unless communication_on_progress.description.blank?
  %dt Description
  %dd
    %ul
      %li= simple_format(communication_on_progress.description)

%dt Principles covered
%dd
  %ul
    - if communication_on_progress.principles.any?
      - communication_on_progress.principles.each do |principle|
        %li= principle.name
    - else
      %li None reported

%dt Languages
%dd
  %ul
    %li= communication_on_progress.languages.collect(&:name).join(', ')