%dt Format
%dd
  %ul
    %li Stand alone document &ndash; Basic COP Template

- if communication_on_progress.evaluated_for_differentiation?
  %dt
    Differentiation Level
  %dd
    %ul
      %li
        = communication_on_progress.differentiation_description
        - if communication_on_progress.differentiation_level == :learner
          %li
            Missing items have been flagged
            %img{:src => '/assets/unchecked.png', :height => 10, :width => 12}
            in the self-assessment

%dt
  Self-assessment
%dd
  = render :partial => '/shared/cops/self_assessment', :locals => { :communication_on_progress => communication_on_progress }

%dt &nbsp;
%dd= show_basic_cop_attributes(communication_on_progress, nil, false)

- PrincipleArea::FILTERS.each_pair do |key, value|
  %dt
    %span{:class => "#{issue_area_colour_for(value)}" }= value
  %dd= show_basic_cop_attributes(communication_on_progress, PrincipleArea.send(key).id, communication_on_progress.send("references_#{key}?"))
