= render partial: '/shared/cops/cop_info_header', locals: { communication_on_progress: communication_on_progress }

- if communication_on_progress.has_files?
  %dt Files
  %dd
    %ul
      - communication_on_progress.files.each do |file|
        %li
          = link_to truncate(file.attachment_file_name, length: 50), file.attachment.url
          == (#{file.language.name})

- if communication_on_progress.has_links?
  %dt Links
  %dd
    %ul
      - communication_on_progress.links.each do |link|
        %li
          = link_to truncate(link.url, length: 50), link.url
          == (#{link.language.name})

%dt Format
%dd
  %ul
    %li= communication_on_progress.format

%dt
  Self-assessment
%dd
  %ul.self_assessment
    %li{:class => select_answer_class(communication_on_progress.include_continued_support_statement?) }
      Includes a CEO statement of continued support for the UN Global Compact and its ten principles
    %li{:class => select_answer_class(communication_on_progress.include_measurement?) }
      Includes a measurement of outcomes

%dt Actions
%dd.indent
  - communication_on_progress.questions.collect do |question|
    - answers = communication_on_progress.coe.cop_answers.all(:conditions => ['cop_attributes.cop_question_id=?', question.id], :include => [:cop_attribute])
    = render :partial => 'admin/cops/cop_answers', :locals => { :question => question, :answers => answers }
