%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#differentiation">Differentiation Level</a>
    %li <a href="#results">Detailed Results</a>
    %li <a href="#next_steps">Next Steps</a>

  #differentiation.tab_content
    %h3= differentiation_placement(communication_on_progress)
    %p== Thank you for submitting your company's Communication on Progress (COP). It is now publicly available on the Global Compact website. According to your self-assessment, your COP is missing <strong>#{communication_on_progress.number_missing_items}</strong> of the required elements and as a result, your company has been placed on the #{popup_link_to 'Learner Platform.','/COP/differentiation/the_learner_platform.html'}
    
    %dl{:style => 'width: 85%;'}
      %dt.first Flagged items are missing
      %dd.first{:style => 'padding-left: 50px;'}= render :partial => '/shared/cops/self_assessment.html.haml', :locals => { :communication_on_progress => communication_on_progress }

  #results.tab_content
    %h3= differentiation_placement(communication_on_progress)
    %dl{:style => 'width: 100%;'}
      = render :partial => '/shared/cops/cop_info_header', :locals => { :communication_on_progress => communication_on_progress }
      = render :partial => results_partial, :locals => { :communication_on_progress => communication_on_progress }

  #next_steps.tab_content
    %h3= differentiation_placement(communication_on_progress)
    %p Companies in the Learner Platform are given a one-time, 12-month 'Learner' grace period to submit a COP that meets all content requirements. 
    %p The Learner status will be communicated publicly on the Global Compact website. We therefore encourage your company to move to the GC Active level as soon as possible by submitting an updated COP meeting all content requirements. Alternatively, you may wait until your next COP submission deadline to meet all content requirements, provided that the COP is submitted within the 12-month 'Learner' grace period.
    %p
      %strong If a COP is submitted after the 12-month 'Learner' grace period fails to meet all content requirements, your company will be marked as non-communicating on the Global Compact website.
    %p The Learner Platform was created to help participants that have demonstrated a commitment to progress and transparency by submitting a COP, but have not yet achieved the level of disclosure and transparency expected for the GC Active level. 
    %p The Global Compact is working with Local Networks and other partners, including the Global Reporting Initiative, to help companies in the Learner Platform to meet all COP requirements.
    %p== If you need any assistance in improving your COP, please do not hesitate to contact the COP team at #{mail_to 'cop@unglobalcompact.org'} or your Local Network Contact Person.

    %h3 Resources    
    %ul.bulleted
      %li= link_to 'COP policy', '/COP/communicating_progress/cop_policy.html'
      %li= link_to 'The Learner Platform', '/COP/differentiation/the_learner_platform.html'
      %li= link_to 'GC Active level', '/COP/differentiation/GCActive_level.html'
      %li= link_to 'Local Networks', '/NetworksAroundTheWorld/'
      %li= link_to 'COP Webinars', '/NewsAndEvents/event_calendar/webinars.html'