= render partial: '/shared/cops/cop_info_header', locals: { communication_on_progress: communication_on_progress }

- if communication_on_progress.has_files?
  %dt Files
  %dd
    %ul
      - communication_on_progress.files.each do |file|
        %li
          = link_to truncate(file.attachment_file_name, length: 50), file.attachment.url
          == (#{file.language.name})

- if communication_on_progress.has_links?
  %dt Links
  %dd
    %ul
      - communication_on_progress.links.each do |link|
        %li
          = link_to truncate(link.url, length: 50), link.url
          == (#{link.language.name})

%dt Format
%dd
  %ul
    %li= communication_on_progress.format

%dt
  Self-assessment
%dd
  %ul.self_assessment
    %li{:class => select_answer_class(communication_on_progress.include_continued_support_statement?) }
      Includes an explicit statement of continued support for the UN Global Compact and its ten principles
    %li{:class => select_answer_class(communication_on_progress.include_measurement?) }
      Includes a measurement of outcomes

%dt Actions
%dd.indent= show_cop_attributes(communication_on_progress, nil, nil, communication_on_progress.non_business_type)
