%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#differentiation">COP Assessment</a>
    %li <a href="#results">Detailed Results</a>
    %li <a href="#next_steps">Next Steps</a>

  #differentiation.tab_content
    - unless communication_on_progress.missing_items? || communication_on_progress.questions_missing_answers.any?
      %h3= differentiation_placement(communication_on_progress)
    %p
      Thank you for submitting your company's Communication on Progress (COP). It is now publicly available on the Global Compact website.

      - if communication_on_progress.missing_items? || communication_on_progress.questions_missing_answers.any?
        We would like to inform you that, according to your self-assessment, your COP is missing the following elements required for LEAD companies:
        %dl{:style => 'width: 100%;'}
          %dt.first Missing or<br />incomplete criteria
          %dd.first
            = render :partial => '/shared/cops/cop_missing_advanced_criteria', :locals => { :communication_on_progress => communication_on_progress }
      - else
        According to your self-assessment, your COP has qualified for the <strong>GC Advanced level</strong>. GC Advanced COPs will be publicly recognized on the Global Compact website with detailed results of the self-assessment and statistics on coverage of best practices for the COP.

  #results.tab_content
    - unless communication_on_progress.missing_items? || communication_on_progress.questions_missing_answers.any?
      %h3= differentiation_placement(communication_on_progress)
    %dl{:style => 'width: 100%;'}
      = render :partial => '/shared/cops/cop_info_header', :locals => { :communication_on_progress => communication_on_progress }
      = render :partial => results_partial, :locals => { :communication_on_progress => communication_on_progress }

  #next_steps.tab_content
    - if communication_on_progress.missing_items? || communication_on_progress.questions_missing_answers.any?
      %p== Please send an updated document or supplementary note covering the missing elements within the next 3 months or by <strong>#{dd_month_yyyy communication_on_progress.created_at + 3.months}</strong> to #{mail_to 'lead@unglobalcompact.org'}.
      %dl{:style => 'width: 100%;'}
        %dt.first Missing or<br />incomplete criteria
        %dd.first
          = render :partial => '/shared/cops/cop_missing_advanced_criteria', :locals => { :communication_on_progress => communication_on_progress }
    - else
      %h3= differentiation_placement(communication_on_progress)

      %p Through the GC Advanced level, the Global Compact Office recognizes companies that strive to be top reporters and declare that they have adopted and report on a broad range of best practices in sustainability governance and management.

      %p The Global Compact is currently working with long-term investors (through the Principles for Responsible Investment) and financial information service providers (Bloomberg L.P.) to disseminate this information throughout the financial community, thus increasing visibility and recognition.

      %p We hope that the COP self-assessment can also serve as a roadmap to guide your actions for the upcoming year and ensure your company continues to progress towards implementing all relevant best practices of the GC Advanced level, following the Global Compact's Blueprint for Corporate Sustainability Leadership.

      %p We look forward to your continued participation in the Global Compact at the GC Advanced level.

      %h3 Resources
      %ul.bulleted
        %li= link_to 'Blueprint for Corporate Sustainability Leadership', '/HowToParticipate/Business_Participation/blueprint_for_corporate_sustainability_leadership.html'
        %li= link_to 'COP Webinars', '/NewsAndEvents/event_calendar/webinars.html'

