%p
  %strong Name:
  = @params.name
  %br/
  %strong Email:
  = @params.email
  %br/
  %strong Organization:
  = @params.organization
  %br/
  %strong General Areas of Interest:
  = @params.interests
  %br/
  %strong Areas of Focus:
  = @params.focuses
  %br/
  %strong Comments:
  = @params.comments
  %br/
