%h1 Participant Search

- if @results.any?
  %p== There are #{@results.total_entries} #{searched_for}.
  
  %a{ :name => "paged_results" }
  %div.clearfix
    .left
      %strong== #{@results.total_entries} results
    .right
      = per_page_select

  %table.striped.sortable{ :cellspacing => "0", :cellpadding => "0", :width => '100%' }
    %thead
      %tr
        %th.sort
          Name
        %th.sort
          Type
        %th.sort
          Sector
        %th.sort
          Country
        %th.sort
          Participant since
    %tbody
      - for org in @results
        %tr
          %td{:title => org.name}
            #div{:class => iconize(org)}
              = link_to truncate(org.name, :length => 25), participant_path(org)
          %td{:title => org.organization_type.name}
            = truncate(org.organization_type.name, :length => 15)
          %td{:title => org.sector_name}
            = truncate(org.sector_name, :length => 20)
          %td{:title => org.country_name}
            = truncate(org.country_name, :length => 20)
          %td
            = yyyy_mm_dd org.joined_on
      
  %div
    = will_paginate @results, :anchor => 'paged_results'
    
  %h3 Key:
  %ul
    %li
      %img{ :src => "/images/icon_alert.gif" }
      indicates that a participant is "Non-communicating" for failing to develop a Communication on Progress by the relevant deadline.

- else
  %p== Sorry, there are no #{searched_for}.