%h1= "Participants #{searched_for}"

%a{ :name => "paged_results" }
%div.clearfix
  .left
    %strong
      Number of matching participants:
      = @results.total_entries
  .right
    = per_page_select

- if @results.any?

  %table.striped.sortable{ :cellspacing => "0", :cellpadding => "0", :width => '100%' }
    %thead
      %tr
        %th.sort
          Participant
        %th.sort
          Type
        %th.sort
          Sector
        %th.sort
          Country
        %th.sort
          Joined
    %tbody
      - for org in @results
        %tr{:title => org.name}
          %td
            #div{:class => iconize(org)}
              = link_to truncate(org.name, :length => 25), participant_path(org)
          %td
            = org.organization_type.name
          %td
            = org.sector_name
          %td
            = org.country_name
          %td
            = yyyy_mm_dd org.joined_on
      
  %div
    = will_paginate @results, :anchor => 'paged_results'
    
  %h3 Key:
  %ul
    %li
      %img{ :src => "/images/icon_alert.gif" }
      indicates that a participant is "Non-communicating" for failing to develop a Communication on Progress by the relevant deadline.

- else
  %p Sorry, there are no participants matching that criteria.