%h1 Participant Search

= stylesheet_link_tag '/javascripts/tablesorter/addons/pager/jquery.tablesorter.pager.css'

- if @results.any?

  %p
    == There #{@results.total_entries > 1 ?  'are' : 'is only'} #{searched_for}.

  %a{ :name => "paged_results" }
  %div.clearfix
    .left
      &nbsp;
    .right
      = per_page_select

  %table.striped.sortable{ :cellspacing => "0", :cellpadding => "0", :width => '100%' }
    %thead
      %tr
        %th.sort.server#name
          Name
        %th.sort.server#organization_type_id
          Type
        %th.sort.server#sector_name
          Sector
        %th.sort.server#country_name
          Country
        %th.sort.server#joined_on
          Participant since
    %tbody
      - @results.each do |org|
        %tr
          %td{:title => org.name}
            #div{:class => iconize(org)}
              = link_to truncate(org.name, :length => 25), participant_path(org)

          - if @searched_for[:business] == OrganizationType::BUSINESS
            %td{:title => org.listing_status_name}
              = truncate(org.listing_status_name, :length => 15)
          - else
            %td{:title => org.organization_type.name}
              = truncate(org.organization_type.name, :length => 15)

          %td{:title => org.sector_name}
            = truncate(org.sector_name, :length => 15)
          %td{:title => org.country_name}
            = truncate(org.country_name, :length => 15)
          %td
            = yyyy_mm_dd org.joined_on
  %br
  %div
    = will_paginate @results, :anchor => 'paged_results'
  %h5
    If
    %img{ :src => "/assets/icon_alert.gif" }
    appears next to the company's name, the company is Non-communicating for failing to submit a Communication on Progress by the relevant deadline.  If no such icon appears, the company is currently an Active participant.

- else
  %p
    == Sorry, there are #{searched_for}.
    %br
    #{link_to 'Try another search.', participant_search_url}
