%h1 Participant search

- form_tag :method => 'get' do
  %p
    %label Participant Name:
    %br/
    = text_field_tag :keyword
  %p
    %label Country
    %br/
    = select_tag :country, countries_for_select, :multiple => true, :size => 6
  %hr/
  %p
    %label Type of Participant
  %p
    = radio_button_tag :business_type, :all, true
    %label{:for => 'business_type_all'} All participants
    = radio_button_tag :business_type, 1
    %label{:for => 'business_type_1'} Business participants only
    = radio_button_tag :business_type, 0
    %label{:for => 'business_type_0'} Other Stakeholders only
  %hr/
  %p
    = submit_tag 'Search'
    