- @title = @participant.name
%h1= @participant.name

%dl
  %dt Status
  %dd
    %ul
      %li
        = display_participant_status(@participant)

  - if @participant.delisted?
    %dt= display_delisted_description(@participant)
    %dd
      %ul
        %li= @participant.removal_reason.description rescue "Unknown"

  %dt
    - if @participant.was_expelled? && @participant.active
      Initial Participation
    - else
      Participant since
  %dd
    %ul
      %li= yyyy_mm_dd @participant.joined_on

  - if @participant.was_expelled? || @participant.delisted?
    %dt= display_delisted_title(@participant)
    %dd
      %ul
        %li= yyyy_mm_dd @participant.delisted_on

  - if @participant.was_expelled? && @participant.active
    %dt Readmitted
    %dd
      %ul
        %li= yyyy_mm_dd @participant.rejoined_on

  - if @participant.cop_due_on.present? && !@participant.delisted?
    %dt= display_cop_status_title(@participant)
    %dd
      %ul
        %li= display_cop_status(@participant)

  - elsif @participant.business_entity? && @participant.participant_has_submitted_differentiation_cop
    %dt Differentiation Level
    %dd
      %ul
        %li= @participant.status_name

  %dt Country
  %dd
    %ul
      %li= @participant.country_name

  %dt Employees
  %dd
    %ul
      %li= @participant.employees

  %dt Organization Type
  %dd
    %ul
      %li
        = @participant.is_ft_500 ? 'FT 500' : nil
        = @participant.organization_type_name

  - if @participant.business_entity?
    %dt Ownership
    %dd
      %ul
        %li
          = @participant.listing_status_name
    %dt Sector
    %dd
      %ul
        %li= @participant.sector_name

  - if @participant.commitment_letter_file_name.present?
    %dt Letter of Commitment
    %dd
      %ul
        %li
          = link_to truncate(@participant.commitment_letter_file_name, :length => 60), @participant.commitment_letter.url, :title => @participant.commitment_letter_file_name

  %dt Website
  %dd
    %ul
      %li= @participant.url.blank? ? 'No address provided' : link_to(@participant.url, @participant.url)

  - if @participant.stock_symbol.present? && @participant.exchange.present?
    %dt Financial Information
    %dd
      %ul
        %li
          = link_to 'Google Finance', "http://finance.google.com/finance?q=%s:%s" % [@participant.exchange.code, @participant.stock_symbol]
          |
          = link_to 'Yahoo! Finance', "http://finance.yahoo.com/q?s=%s%s" % [@participant.stock_symbol, ('.' + @participant.exchange.secondary_code unless @participant.exchange.secondary_code.blank?)]

  - if @participant.bhr_url.present?
    %dt Non-Financial Information
    %dd
      %ul
        %li= link_to 'Business and Human Rights Resource Centre', 'http://www.business-humanrights.org/Categories/Individualcompanies/' + @participant.bhr_url

  - if @participant.mission_statement?
    %dt Mission Statement
    %dd
      %ul
        %li= @participant.non_business_organization_registration.mission_statement

- if @participant.communication_on_progresses.new_policy.approved.any?
  %br/
  %h2= @participant.cop_name

  %table.cop_links{:cellspacing => 0, :cellpadding => 0}
    %thead
      %tr
        %th Communication
        %th Statement<br />of Support
        - if @participant.business_entity?
          %th Issue Areas<br />Covered
        %th Measurement<br />of Outcomes
    %tbody
      - for cop in @participant.communication_on_progresses.new_policy.approved do
        %tr{:title => cop.title}
          %td= link_to truncate(cop.title, :length => 40), cop_link(cop, params[:navigation])
          %td.center= check_if cop.include_continued_support_statement?
          - if @participant.business_entity?
            %td.center== #{cop.score} / 4
          %td.center= check_if cop.include_measurement?

- if @participant.communication_on_progresses.old_policy.approved.any?
  %h3 Communication on Progress (pre-2010)

  %table.cop_links{:cellspacing=>0, :cellpadding=>0}
    %thead
      %tr
        %th{:rowspan=>2} Submission Date
        %th{:rowspan=>2} Time Period Covered
        %th{:rowspan=>2} Communication Title
        %th.center{:colspan=>3} COP Elements
      %tr
        %th.check 1
        %th.check 2
        %th.check 3
    %tbody
      - for cop in @participant.communication_on_progresses.old_policy.approved do
        %tr{:title => cop.title}
          %td.center= yyyy_mm_dd cop.created_at
          %td.center= date_range cop
          %td= link_to truncate(cop.title, :length => 20), cop_link(cop, params[:navigation])
          %td.center= check_if cop.include_continued_support_statement?
          %td.center= check_if cop.include_actions?
          %td.center= check_if cop.include_measurement?

  %p COP Elements:
  %ol
    %li Statement of continued support for the Global Compact by the CEO or other senior executive
    %li Description of practical actions taken to implement the Global Compact principles
    %li Measurement of outcomes or expected outcomes

- if @participant.business_entity?
  %h2{style: 'padding-top: 2em;'} Annual contributions to the Foundation for the Global Compact

  %table.cop_links{:cellspacing=>0, :cellpadding=>0}
    %thead
      %tr
        %th Year
        %th Annual contribution received
    %tbody=contribution_years(@participant)

- if @participant.case_stories.approved.any?
  .case_stories
    %h2 Case Stories
    %ul
    - for case_story in @participant.case_stories.approved do
      %li= link_to case_story.title, case_story_path(case_story.id)
