%h1 New comment

- form_for([@logo_request, @logo_comment],  :html => { :multipart => true }) do |form|
  = form.error_messages
  = form.text_area :body
  = form.file_field :attachment
  
  %p
    = form.submit 'Create'

= link_to 'Back', [@organization, @logo_request]