%tr
  %td= platform.updated_at
  %td= platform.name
  %td= platform.slug
  %td{:style=>"text-align:right"}
    = platform.active_subs
    :plain
      /
    = platform.all_subs
  %td
    %ul.actions
      %li= link_to 'View details', admin_action_platform_platform_path(platform), :class => 'preview', :title => 'View details'
      %li= link_to 'Edit', edit_admin_action_platform_platform_path(platform), :class => 'edit', :title => 'Edit details'
      %li= link_to 'Delete', admin_action_platform_platform_path(platform), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'delete', :title => 'Delete entry'
