%tr
  %td{:title => subscription.organization.name}= link_to truncate(subscription.organization.name, :length => 70), admin_organization_path(subscription.organization.id)
  %td= subscription.status
  %td= subscription.created_at
  %td= subscription.expires_on
  %td= subscription.organization.organization_type_name
  %td= subscription.organization.cop_state.humanize
  %td
    %ul.actions
      %li= link_to 'Delete', admin_action_platform_platform_subscription_path(subscription), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'delete'
      %li= link_to 'Approve', approve_admin_action_platform_platform_subscription_path(subscription), class: 'approve', method: :post unless subscription.approved?
      %li= link_to 'Revoke', revoke_admin_action_platform_platform_subscription_path(subscription), class: 'revoke', method: :post if subscription.approved?
