%li
  = case_story.title
  ==[#{case_story.state.humanize}]
  
  = link_to 'show', admin_organization_case_story_path(case_story.organization.id, case_story)
  - organization_only do
    = link_to 'edit', edit_admin_organization_case_story_path(case_story.organization.id, case_story)
  - staff_only do
    = link_to 'delete', admin_organization_case_story_path(case_story.organization.id, case_story), :confirm => 'Are you sure?', :method => :delete
