%p
  %b Title:
  =h @case_story.title
%p
  %b Principles:
  %br/
  = @case_story.principles.collect(&:name).join('<br/>')
%p
  %b Countries:
  = @case_story.countries.collect(&:name).join(', ')
%p
  %b Type:
  %br/
  = "Internalization project<br/>" if @case_story.is_internalization_project?
  = "Partnership project" if @case_story.is_partnership_project?
%p
  %b URL(s):
  = [@case_story.url1, @case_story.url2, @case_story.url3].compact.join(' ')
%p
  %b Submission:
  = link_to_attachment(@case_story)
- if @case_story.author1
  %p
    %b Author 1:
    = [@case_story.author1, @case_story.author1_email, @case_story.author1_institution].compact.join(' ')
- if @case_story.author2
  %p
    %b Author 2:
    = [@case_story.author2, @case_story.author2_email, @case_story.author2_institution].compact.join(' ')
- if @case_story.contact1
  %p
    %b Contact:
    = [@case_story.contact1, @case_story.contact1_email].compact.join(' ')
- if @case_story.contact2
  %p
    %b Contact:
    = [@case_story.contact2, @case_story.contact2_email].compact.join(' ')
%p
  %b Description:
  %blockquote= @case_story.description

%h3 Comments
= link_to 'New comment', new_admin_case_story_comment_path(@case_story) #unless @logo_request.state_events.empty?
%ul
  = render :partial => @case_story.comments

%h3 Files
%ul
  - for comment in @case_story.comments.with_attachment
    %li
      = link_to_attachment(comment)
      = number_to_human_size(comment.attachment_file_size)
