<div class="form-group {{if hasErrors "has-error"}}">
  <label class="control-label col-sm-2" for={{field.uid}}>
    {{field.label}}
  </label>
  <div class="col-sm-10">
    {{input type="text"
      class="form-control"
      id=field.uid
      value=field.value}}
    {{container/uploads/file-field selectedFile=file saving=isSaving}}
    <p class="col-sm-offset-2 help-block">{{if isSaving "uploading..."}}</p>
  </div>
  {{#if uploadError}}
    <p class="col-sm-offset-2 help-block">{{uploadError}}</p>
  {{/if}}
  {{#if field.errors}}
    <p class="col-sm-offset-2 help-block">{{field.errors.firstObject.detail}}</p>
  {{/if}}
</div>
