%p
%a{:name => 'paged_results'}

%div.clearfix
  %div.left
    %strong
      Number of COPs:
      = count_all_cops(:active)

  %div.right= per_page_select

%p &nbsp;

%table{:class => 'striped sortable', :width => '100%', :cellpadding => '0', :cellspacing => '0'}
  %thead
    %tr
      %th{:class => 'sort'} Participant
      %th{:class => 'sort'} Sector
      %th{:class => 'sort'} Country
      %th{:class => 'sort'} COP
  %tbody
    - for cop in paged_cops(:active)
      %tr
        %td{:title => cop.organization_name}= truncate(cop.organization_name, :length => 40)
        %td{:title => cop.sector_name}= truncate(cop.sector_name, :length => 30)
        %td{:title => cop.country_name}= truncate(cop.country_name, :length => 15)
        %td= link_to cop.created_at.year, cop_link(cop, :active)

= paginate_cops(:active, {:anchor => 'paged_results'})
