- if country_id.nil?
  %h1 There is no report available for that country
- else
  - @title = "Participant Report for #{country_name}"
  %h1== Participant Report for #{country_name}

  %h2 COP submitted in the past 30 days
  - unless cop_submitted_days_ago(30).any?
    There are no participants in this category
  - else
    %table{:class => 'striped sortable', :width => '100%', :cellpadding => '0', :cellspacing => '0'}
      %thead
        %tr
          %th{:class => 'sort'} Name
          %th{:class => 'sort'} Received
          %th{:class => 'sort'} Title
          %th{:class => 'sort'} Differentiation
      %tbody
        - for cop in cop_submitted_days_ago(30) do
          %tr{:title => cop.organization.name}
            %td= link_to truncate(cop.organization.name, :length => 30), participant_path(cop.organization)
            %td= cop.published_on.to_date
            %td= link_to truncate(cop.title, :length => 30), cop_link(cop, params[:navigation])
            %td= cop.differentiation_level_name

  %h2 COP due in the next 30 days
  - unless cop_due_in_days(30).any?
    There are no participants in this category
  - else
    %table{:class => 'striped sortable', :width => '100%', :cellpadding => '0', :cellspacing => '0'}
      %thead
        %tr
          %th{:class => 'sort'} Name
          %th{:class => 'sort'} Status
          %th{:class => 'sort'} Participant since
          %th{:class => 'sort'} COP due date
      %tbody
        - for organization in cop_due_in_days(30) do
          %tr{:title => organization.name}
            %td= link_to truncate(organization.name, :length => 50), participant_path(organization)
            %td= organization.cop_state.humanize
            %td= organization.joined_on.to_date
            %td= organization.cop_due_on.to_date

  %h2 Non-Communicating and at risk of being delisted in the next 30 days
  - unless delisted_in_days(30).any?
    There are no participants in this category
  - else
    %table{:class => 'striped sortable', :width => '100%', :cellpadding => '0', :cellspacing => '0'}
      %thead
        %tr
          %th{:class => 'sort'} Name
          %th{:class => 'sort'} Participant since
          %th{:class => 'sort'} Number of COPs
          %th{:class => 'sort'} Delisting date
      %tbody
        - for organization in delisted_in_days(30) do
          %tr{:title => organization.name}
            %td= link_to truncate(organization.name, :length => 30), participant_path(organization)
            %td= organization.joined_on.to_date
            %td= organization.communication_on_progresses.approved.try(:count)
            - projected_delisted_date = organization.cop_due_on + 1.year
            %td= projected_delisted_date.to_date


  %h2 Non-Communicating in the past 30 days
  - unless participants_became_noncommunicating(30).any?
    There are no participants in this category
  - else
    %table{:class => 'striped sortable', :width => '100%', :cellpadding => '0', :cellspacing => '0'}
      %thead
        %tr
          %th{:class => 'sort'} Name
          %th{:class => 'sort'} Participant since
          %th{:class => 'sort'} COP past due date
      %tbody
        - for organization in participants_became_noncommunicating(30) do
          %tr{:title => organization.name}
            %td= link_to truncate(organization.name, :length => 70), participant_path(organization)
            %td= organization.joined_on.to_date
            %td= organization.cop_due_on.to_date

  %h2 Delisted in the past 90 days
  - unless participants_became_delisted(90).any?
    There are no participants in this category
  - else
    %table{:class => 'striped sortable', :width => '100%', :cellpadding => '0', :cellspacing => '0'}
      %thead
        %tr
          %th{:class => 'sort'} Name
          %th{:class => 'sort'} Participant since
          %th{:class => 'sort'} Delisting date
      %tbody
        - for organization in participants_became_delisted(90) do
          %tr{:title => organization.name}
            %td= link_to truncate(organization.name, :length => 70), participant_path(organization)

            %td= organization.joined_on.to_date
            %td= organization.delisted_on.to_date

  - if participants_requesting_withdrawal().any?
    %h2== Participants requesting withdrawal in #{current_year}
    %table{:class => 'striped sortable', :width => '100%', :cellpadding => '0', :cellspacing => '0'}
      %thead
        %tr
          %th{:class => 'sort'} Name
          %th{:class => 'sort'} Participant since
          %th{:class => 'sort'} Withdrawal date
      %tbody
        - for organization in participants_requesting_withdrawal() do
          %tr{:title => organization.name}
            %td= link_to truncate(organization.name, :length => 70), participant_path(organization)

            %td= organization.joined_on.to_date
            %td= organization.delisted_on.to_date

  - if approved_logo_requests(30).any?
    %h2 Logo Requests approved in the past 30 days
    %table{:class => 'striped sortable', :width => '100%', :cellpadding => '0', :cellspacing => '0'}
      %thead
        %tr
          %th{:class => 'sort'} Name
          %th{:class => 'sort'} Publication Type
          %th{:class => 'sort'} Title / Purpose
          %th{:class => 'sort'} Approval Date
      %tbody
        - for logo_request in approved_logo_requests(30) do
          %tr{:title => logo_request.organization.name}
            %td= link_to truncate(logo_request.organization.name, :length => 20), participant_path(logo_request.organization)
            %td= logo_request.publication.name
            %td{:title => logo_request.purpose}= truncate(logo_request.purpose, :length => 20)
            %td= logo_request.approved_on.to_date
