<%= render partial: 'redesign/components/meta_tags' %>
<%# Body %>
<%= render partial: 'redesign/components/hero' %>

<%- if content = @page.main_content_section -%>
  <section class='main-content-section'>
    <div class='wrapper'>
      <%= content_tag(:header, content_tag(:h1, content[:title]), {class: 'main-content-header'}) if content[:title] %>

      <section class='main-content-body'>
        <%= content[:content].html_safe if content[:content] %>

        <%= content_tag(:p, link_to_redesign(content[:call_to_action][:title], content[:call_to_action][:url], class: "button #{content[:call_to_action][:theme]}")) if content[:call_to_action] %>
      </section>

      <%- if sidebar = @page.sidebar_widgets -%>
        <%= render layout: 'redesign/components/sidebar' do %>
          <%= render 'redesign/components/widget_contact', contact: sidebar.contact %>

          <%= render 'redesign/components/widget_calls_to_action', calls_to_action: sidebar.calls_to_action %>

          <%= render 'redesign/components/widget_links_lists', links_lists: sidebar.links_lists %>
        <% end %>
      <%- end -%>
    </div>
  </section>
<%- end -%>

<%= render layout: 'redesign/components/content_blocks', locals: {classes: 'resources', title: 'From our Library', blocks: @page.resources} do |block| %>
  <%= render 'redesign/components/resource_block', block: block %>
<% end %>

<%= render partial: 'redesign/components/events_news' %>
