<nav class="homepage-nav">
  <ol>
    <li><%= link_to 'What is UN Global Compact?', '#' %></li>
    <li><%= link_to 'Participation', '#' %></li>
    <li><%= link_to 'Take Action', '#' %></li>
    <li><%= link_to 'Engage Locally', '#' %></li>
    <li><%= link_to 'Explore Our Library', '#' %></li>
  </ol>
</nav>

<hr>

<section class="homepage-content">
  <h2><%= @page[:main_heading] %></h2>

  <p>
    <%= @page[:main_text] %>
  </p>

  <p class="learn-more">
    <%= link_to @page[:main_button_caption], @page[:main_button_path] %>
  </p>

  <nav>
    <ol>
      <% @page.main_links.each do |link| %>
        <li class="<%= link['icon'] %>">
          <%= link_to link['label'], link['path'] %>
        </li>
      <% end %>
    </ol>
  </nav>
</section>

<hr>

<section class="homepage-stats">
  <ol>
    <% @page.stats.each_with_index do |stat, i| %>
      <li class="stat-<%= i + 1 %>">
        <span class="number"><%= stat['number'] %></span><br>
        <span class="label"><%= stat['label'] %></span>
      </li>
    <% end %>
  </ol>
</section>

<section class="homepage-related-content">
  <% if @page.event %>
    <div class="homepage-event">
      <h2>Events</h2>
      <dl>
        <dt>Name</dt>
        <dd><%= @page.event.title %></dd>
        <dt>Date</dt>
        <dd><%= @page.event.starts_at.strftime('%-d %B %Y') %></dd>
        <dt>Info</dt>
        <dd><%= @page.event.description %></dd>
      </dl>
    </div>
  <% end %>
</section>
