<header id='hero' style='background-image: url(https://d306pr3pise04h.cloudfront.net/uploads/c2/c2d709ffa21a94233931ba8e51b2ca85296e88bc---UN.jpg);' class='page-section has-custom-image dark-theme hero-size-small'>
  <div class='wrapper'>
    <h1><br/><span>Page Not found (404)</span></h1>

    <p class="blurb">This page your were trying to reach at this address doesn't seem to exist. This is usually the result of a bad or outdated link. We apologize for any inconvenience.</p>
  </div>
</header>

<section class='main-content-section'>
  <div class='wrapper'>
    <header class='main-content-header'>
      <h1>What can I do now?</h1>
    </header>

    <section class='main-content-body'>
      <p>If this is your first time visiting UN Global Compact, welcome! Sorry for the circumstances under which we're meeting. Here's where you can fo from here:</p>

      <ul>
        <li>
          Browse the <%= link_to_redesign 'issues', '/what-is-gc/our-work/all' -%> we are passionate about and see how <%= link_to_redesign 'you can participate', '/participation' -%> we are passionate about and see how in our cause.
        </li>
        <li>
          Consider running a search of this site for the information you were looking, using the search box in the top-right-hand corner of this site.
        </li>
        <li>
          Our <%= link_to_redesign 'homepage', '/' -%> contains the latest information on environment, social, and governance issues.
        </li>
        <li>
          Our <%= link_to_redesign 'about page', '/about' -%> contains more information about us, UN Global Compact.
        </li>
        <li>
          Have a question or comment? Use our <%= link_to_redesign 'contact us', redesign_new_contact_us_path -%> form to let us know!
        </li>
      </ul>
    </section>
  </div>
</section>
