%li
  = signing.organization.name
  added on
  = signing.added_on
  = link_to 'delete', admin_initiative_signing_path(signing.initiative, signing), :confirm => 'Are you sure?', :method => :delete
  = link_to_function 'contacts', "$('##{dom_id(signing.organization, "contacts")}').toggle()"
  
  %div{:id => dom_id(signing.organization, "contacts"), :style => 'display: none'}
    %ul
      = render :partial => 'admin/signings/initiative_contact', :collection => signing.organization.contacts
