%tr
  %td= cop_admin.updated_at
  %td= cop_admin.title
  %td= cop_admin.state.humanize
  %td.age= (Date.today - cop_admin.updated_at.to_date).to_i
  %td
    %ul.actions
      %li= link_to 'View Details', admin_organization_communication_on_progress_path(cop_admin.organization.id, cop_admin), :title => "View details", :class => "preview"
      - organization_only do
        - if cop_admin.editable?
          %li= link_to 'Edit Details', edit_admin_organization_communication_on_progress_path(cop_admin.organization.id, cop_admin), :title => "Edit details", :class => "edit"
      - staff_only do
        %li= link_to 'Delete', admin_organization_communication_on_progress_path(cop_admin.organization.id, cop_admin), :confirm => 'Are you sure?', :method => :delete, :title => "Delete entry", :class => 'delete'
/ %tr
/   %td= cop_admin.created_at.strftime '%I:%M %p'
/   %td= cop_admin.organization.name
/   %td= cop_admin.title
/   %td
/     = cop_admin.format.try(:humanize)
/     - if cop_admin.is_advanced_programme?
/       %br/
/       %span.small (Advanced Programme)
/   
/   %td
/     %ul.actions
/       %li= link_to 'View COP details', admin_organization_communication_on_progress_path(cop_admin.organization.id, cop_admin), :title => "View details", :class => "preview"
/       - organization_only do
/         - if cop_admin.editable?
/           %li= link_to 'Edit Details', edit_admin_organization_communication_on_progress_path(cop_admin.organization.id, cop_admin), :title => "Edit details", :class => "edit"
/       - staff_only do
/         /%li= link_to 'Delete', admin_organization_communication_on_progress_path(cop_admin.organization.id, cop_admin), :confirm => 'Are you sure?', :method => :delete, :title => "Delete entry", :class => 'delete'