<%= render partial: 'redesign/components/meta_tags' %>

<%= render 'redesign/components/hero' %>

<%= form_for @search, as: :search, url: redesign_actions_path, method: :get, html: {id: 'filters-form'}  do |form| %>
  <% @search.filters.each do |filter| %>
    <%= search_filter filter %>
  <% end %>
  <%= form.submit 'Search' %>
<% end %>

<%= active_filters(@search) %>

<%= render layout: 'redesign/components/content_blocks', locals: {blocks: @page.actions} do |block| %>
  <%= render 'redesign/components/content_block', title: block.title, url: block.url, thumbnail: block.thumbnail, tag: t(block.issue) %>
<% end %>

<%= will_paginate @page.results, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
