%h1= "News Archive #{year}"
- if @headlines.any?
  - for headline in @headlines do
    %h4= headline.published_on
    = link_to truncate(headline.title, :length => 95), headline
- else
  %p
    ==There are no items in #{year}. Feel free to 
    = link_to 'browse the news archives.', '/NewsAndEvents/news_archives/'