<%= render 'components/meta_tags' %>
<%# Body %>
<%= render 'components/hero' %>

<section class='main-content-section main-content-section-narrow'>
  <div class='wrapper'>
    <%= content_tag(:header, content_tag(:h1, @page.title), {class: 'main-content-header'}) %>

    <section class='main-content-body'>
      <h5><%= @page.full_location %></h5>
      <%= @page.description.html_safe %>
    </section>

    <%= render layout: 'components/sidebar' do %>
      <%= render 'components/widget_contact', contact: @page.contact if @page.contact.present?%>

      <%= render 'components/widget_calls_to_action', calls_to_action: @page.calls_to_action if @page.calls_to_action.any? %>

      <%= render layout: 'components/widget_social_links' do %>
        <%-
        wsl_title = u @page.title
        wsl_url   = u request.original_url
        -%>
        <a href="https://twitter.com/home?status=<%= u("\"#{@page.title}\" #{request.original_url} —@globalcompact") -%>" class='twitter' target='_blank'><span>Twitter</span></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= wsl_url -%>" class='facebook' target='_blank'><span>Facebook</span></a>
        <a href="https://plus.google.com/share?url=<%= wsl_url -%>" class='google-plus' target='_blank'><span>Google Plus</span></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= wsl_url -%>&title=<%= wsl_title -%>&source=UN%20Global%20Compact" class='linkedin' target='_blank'><span>LinkedIn</span></a>
      <%- end -%>
    <%- end -%>
  </div>
</section>
