

<%= form_for @search, as: :search, url: library_search_path, method: :get, html: {class: 'left-sidebar filters-form'} do |f| %>
      <div class="left-sidebar-close sidebar-toggle">
        Close
      </div>
      <div class="filter-title">
        Narrow your Results
      </div>
      <a class="clear-all-filters">
        Clear All Filters
      </a>
      <fieldset class='filter-lists'>
        <% @search.filters.each do |filter| %>
          <%= search_filter filter, disabled: @search.disabled? %>
        <% end %>
      </fieldset>
      <a href="https://shift.tools/" class="shift">
        <span class="shift-label"> Powered by </span>
        <span class="shift-logo">
        </span>
      </a>

<% end %>


<%= form_for @search, as: :search, url: library_search_path, method: :get, html: {class: 'right-sidebar filters-form'} do |f| %>
    <a class="filter-open sidebar-toggle">
      Filters
    </a>

    <% if @results.any?  %>
      <div class='results-count'>
        <a class="previous-page"> Previous </a>
        <%- if @search.keywords && !@search.keywords.empty? -%>
          Searched for: <strong>&ldquo;<%= @search.keywords -%>&rdquo;</strong>&mdash;
          Searched for: <strong>&ldquo;<%= @search.keywords -%>&rdquo;</strong>&mdash;
        <%- end -%>
        Results 10 of <%= @results.total_entries -%>
        <a class="next-page"> Next </a> <%# pagination will need to be hooked up correctly%>
      </div>
    <% end %>

    <div class="sort-display">
      <fieldset id='section-search'>
        <%= f.search_field :keywords, placeholder: 'Search Our Library', tabindex: 1, autofocus: true %>
        <%= f.button '<span>Search</span>'.html_safe, type: :submit %>
      </fieldset>

      <div class="display_sort">
        <fieldset class='filter-sorting'>
          <%- @page.sorting_options.each do |so| -%><%# Need to include javascript to restyle%>
          <div class="select">
            <%- so[:options] = @search.try(so[:options]) -%>
            <%= f.select so[:field], so[:options], {include_blank: so[:label]}, {id: "filter-#{so[:field].to_s.parameterize}"} %>
          </div>
          <%- end -%>
        </fieldset>
      </div>
    </div>

    <%= active_filters(@search) %>
<% end %>
