.library.list
  = render partial: 'components/meta_tags'
  = render partial: 'components/hero'
  = render 'form', title: "Featured Resources"
  = render layout: 'components/lib_content_blocks', locals: {classes: 'library', blocks: @page.featured} do |block|
    = render 'components/resource_block', block: block
