.library.list
  = render partial: 'components/meta_tags'
  = render partial: 'components/lib_hero'
  .form-container
    = render 'form'
    .right-sidebar
      = render layout: 'components/lib_content_blocks', locals: {classes: 'library', blocks: @page.featured} do |block|
        = render 'components/resource_block', block: block

- if @results.empty?
  %section.main-content-section.main-content-section-wide
    .wrapper
      %h2 No results found.
= will_paginate @results, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>"
