= render partial: 'components/meta_tags'
= render partial: 'components/hero'
%section.main-content-section
  .wrapper
    %header.main-content-header
      %h1= @resource.title
    %section.main-content-body
      %p= @resource.description
      %time.resource-year{:datetime => year = @resource.year}
        (#{year.to_date.year})
      = render layout: 'components/resource_attributes_list', locals: {attributes: @resource.topics, title: 'Topics'} do |a|
        - search_hash = a.parent.present? ? {topics: [a.id]} : {topic_groups: [a.id]}
        = link_to a.name, library_search_path(search: search_hash)
      = render layout: 'components/resource_attributes_list', locals: {attributes: @resource.issues, title: 'Issues'} do |a|
        - search_hash = a.parent.present? ? {issues: [a.id]} : {issue_groups: [a.id]}
        = link_to a.name, library_search_path(search: search_hash)
      = render layout: 'components/resource_attributes_list', locals: {attributes: @resource.sectors, title: 'Sectors'} do |a|
        - search_hash = a.parent.present? ? {sectors: [a.id]} : {sector_groups: [a.id]}
        = link_to a.name, library_search_path(search: search_hash)
      = render layout: 'components/resource_attributes_list', locals: {attributes: @resource.sustainable_development_goals, title: 'SDG'} do |a|
        - search_hash = {sustainable_development_goals: [a.id]}
        = link_to a.name, library_search_path(search: search_hash)
      = render layout: 'components/resource_attributes_list', locals: {attributes: @resource.authors, title: 'Authors'} do |a|
        = a.full_name
      - if @resource.links.any?
        %article.resource-links-list
          %ul
            - @resource.links_list.each do |link|
              %li{:class => "resource-link resource-link-type-#{link.type}"}
                %h2
                  = link_to link.title, link.url, target: '_blank', data: {resource_link_id: link.id}
                  %span.resource-link-language
                    (#{link.language})
                - if link.is_youtube?
                  .video-iframe
                    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => link.embed_url, :width => "560"}
                - if link.is_podcast?
                  %audio{:controls => ""}
                    %source{:src => link.url, :type => "audio/mp3"}
                      Your browser does not support the audio element.
    = render layout: 'components/sidebar' do
      = render 'components/widget_image', image: {src: "//www.unglobalcompact.org#{@resource.cover_image(:show, retina: true)}", alt: @resource.title}