.click_to_edit 
  -# NOTE: Will float right, so place here in reverse order
  = link_to 'Click to edit', versioned_edit_path, :class => 'edit_content'
  = link_to 'Next &raquo;', "#version_#{@current_version.next_version.number}" if @current_version.next_version
  = link_to '&laquo; Previous', "#version_#{@current_version.previous_version.number}" if @current_version.previous_version
  #editorLoading{:style => 'display:none'}= image_tag 'scanner.gif'
  