- if default_form.error_messages.present?
  %h3 Sorry, the event was not saved. Please provide all required information:
  %div{:class => 'flash error'}
    %ul
      - @resource.errors.full_messages.each do |e|
        %li= e

%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li
      %a{:href => '#general'} General
    %li
      %a{:href => '#topics'} Topics
    %li
      %a{:href => '#authors'} Authors
    %li
      %a{:href => '#links'} Links

  #general.tab_content
    %fieldset
      %legend General Information
      %ol
        = default_form.text_field  :title, :label => 'Title'
        = default_form.text_area   :description, :label => 'Description'
        = default_form.text_field  :year, :label => 'Year'
        = default_form.text_field  :isbn, :label => 'Isbn'
        = default_form.text_field  :image_url, :label => 'Image Url'

  #topics.tab_content
    %fieldset
      %legend Topics
      = render 'topics_menu', topics: @topics

  #authors.tab_content
    %fieldset
      %legend Authors
      %script#author_template{type:'text/x-jquery-tmpl'}
        = render 'author_row', authors:@authors, author_id:nil
      %table.author_table
        - @resource.authors.each do |author|
          = render 'author_row', authors:@authors, author_id:author.id
      = button_tag('Add Author...', id:'add_author')

  #links.tab_content
    %fieldset
      %legend Links
      - if @resource.new_record?
        %p Please finish creating your new resource before adding links.
      - else
        %table.link_table
          %tr
            %th Title
            %th Url
            %th Language
            %th Type
            %th Actions
          - @resource.links.each do |link, i|
            %tr
              %td= link.title
              %td= link.url
              %td= link.language.name
              %td= link.link_type_title
              %td
                = link_to('edit', edit_admin_resource_resource_link_path(link.resource, link))
                = link_to('delete', admin_resource_resource_link_path(link.resource, link), method:'delete', class:'delete_link')
        = link_to 'New link...', new_admin_resource_resource_link_path(@resource)