- if default_form.error_messages.present?
  %h3 Sorry, the event was not saved. Please provide all required information:
  %div{:class => 'flash error'}
    %ul
      - @resource.errors.full_messages.each do |e|
        %li= e

%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li
      %a{:href => '#general'} General
    %li
      %a{:href => '#topics'} Topics
    %li
      %a{:href => '#authors'} Authors
    %li
      %a{:href => '#links'} Links

  #general.tab_content
    %fieldset
      %legend General Information
      %ol
        = default_form.text_field  :title, :label => 'Title'
        = default_form.text_area   :description, :label => 'Description'
        = default_form.text_field  :year, :label => 'Year'
        = default_form.text_field  :isbn, :label => 'Isbn'
        = default_form.text_field  :image_url, :label => 'Image Url'

  #topics.tab_content
    %fieldset
      %legend Topics
      %ol.checkbox_list
        %li.checkbox
          = render :partial => 'principle_checkbox', :locals => {:reference => :global_compact}
        %li.checkbox
          = render :partial => 'principle_checkbox', :locals => {:reference => :human_rights}
          %ol.checkbox_list
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :women_gender}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :childrens_rights}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :indigenous_peoples}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :persons_disabilities}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :human_trafficking}

        %li.checkbox
          = render :partial => 'principle_checkbox', :locals => {:reference => :labour}
          %ol.checkbox_list
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :child_labour}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :forced_labour}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :migrant_workers}

        %li.checkbox
          = render :partial => 'principle_checkbox', :locals => {:reference => :environment}
          %ol.checkbox_list
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :climate_change}
            %ol.checkbox_list
              %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :climate_mitigation}
              %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :climate_adaptation}
              %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :climate_finance}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :water_sustainability}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :energy}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :biodiversity}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :environmental_stewardship}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :green_industry}
        %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :anti_corruption}
        %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :business_peace}
        %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :financial_markets}
        %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :suppy_chain}
        %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :partnerships}
        %li.checkbox
          = render :partial => 'principle_checkbox', :locals => {:reference => :development}
          %ol.checkbox_list
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :education}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :mdgs}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :post_2015}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :social_enterprise}
            %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :agriculture}

        %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :management_education}
        %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :cop}
        %li.checkbox= render :partial => 'principle_checkbox', :locals => {:reference => :local_networks}

  - authors = Author.scoped.map {|a| [a.full_name, a.id]}
  #authors.tab_content
    %fieldset
      %legend Authors
      %script#author_template{type:'text/x-jquery-tmpl'}
        = render partial:'author_row', locals:{authors:authors, author_id:nil}
      %table.author_table
        - @resource.authors.each do |author|
          = render partial:'author_row', locals:{authors:authors, author_id:author.id}
      = button_tag('Add Author...', id:'add_author')

  - types = ResourceLink::TYPES.map {|k, v| [v, k]}
  - languages = Language.scoped.map {|l| [l.name, l.id]}
  #links.tab_content
    %fieldset
      %legend Links
      %script#link_template{type:'text/x-jquery-tmpl'}
        = render partial:'link_row', locals:{languages:languages, types:types, link:nil}
      %table.link_table
        %tr
          %th Title
          %th Url
          %th Language
          %th Type
          %th Actions
        - @resource.resource_links.each do |link, i|
          = render partial:'link_row', locals:{languages:languages, types:types, link:link}
      = button_tag('Add Link...', id:'add_link')

