%tr
  %td= text_field_tag 'resource[links][][title]', link.title
  %td= text_field_tag 'resource[links][][url]', link.url
  %td= select_tag 'resource[links][][language_id]', options_from_collection_for_select(languages, :id, :name, link.language.try(:id))
  %td= select_tag 'resource[links][][link_type]', options_from_collection_for_select(types, :first, :last, link.link_type)
  %td
    = link_to 'delete', '#', class:'remove_link delete_large'
    = hidden_field_tag  'resource[links][][id]', link.id
