%ol.checkbox_list
  %li.checkbox
    = render 'principle_checkbox', :topic => topics[:global_compact]
  %li.checkbox
    = render 'principle_checkbox', :topic => topics[:human_rights]
    %ol.checkbox_list
      %li.checkbox= render 'principle_checkbox', :topic => topics[:women_gender]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:childrens_rights]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:indigenous_peoples]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:persons_disabilities]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:human_trafficking]

  %li.checkbox
    = render 'principle_checkbox', :topic => topics[:labour]
    %ol.checkbox_list
      %li.checkbox= render 'principle_checkbox', :topic => topics[:child_labour]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:forced_labour]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:migrant_workers]

  %li.checkbox
    = render 'principle_checkbox', :topic => topics[:environment]
    %ol.checkbox_list
      %li.checkbox= render 'principle_checkbox', :topic => topics[:climate_change]
      %ol.checkbox_list
        %li.checkbox= render 'principle_checkbox', :topic => topics[:climate_mitigation]
        %li.checkbox= render 'principle_checkbox', :topic => topics[:climate_adaptation]
        %li.checkbox= render 'principle_checkbox', :topic => topics[:climate_finance]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:water_sustainability]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:energy]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:biodiversity]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:environmental_stewardship]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:green_industry]
  %li.checkbox= render 'principle_checkbox', :topic => topics[:anti_corruption]
  %li.checkbox= render 'principle_checkbox', :topic => topics[:business_peace]
  %li.checkbox= render 'principle_checkbox', :topic => topics[:financial_markets]
  %li.checkbox= render 'principle_checkbox', :topic => topics[:suppy_chain]
  %li.checkbox= render 'principle_checkbox', :topic => topics[:partnerships]
  %li.checkbox
    = render 'principle_checkbox', :topic => topics[:development]
    %ol.checkbox_list
      %li.checkbox= render 'principle_checkbox', :topic => topics[:education]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:mdgs]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:post_2015]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:social_enterprise]
      %li.checkbox= render 'principle_checkbox', :topic => topics[:agriculture]

  %li.checkbox= render 'principle_checkbox', :topic => topics[:management_education]
  %li.checkbox= render 'principle_checkbox', :topic => topics[:cop]
  %li.checkbox= render 'principle_checkbox', :topic => topics[:local_networks]