%h2 Resources


%table.dashboard_table
  %tr
    %th= sort_header 'ID', field: 'id'
    %th= sort_header 'Title', field: 'title'
    %th= sort_header 'Year', field: 'year'
    %th= sort_header 'Issue Tags', field: 'principles_count'
    %th Status
    %th Actions

  - @resources.each do |resource|
    %tr
      %td= resource.id
      %td{:title => resource.title}
        = truncate(resource.title, :length => 40)
      %td
        = resource.year.year rescue nil
      %td
        = resource.principles_count
      %td=h resource.approval.humanize
      %td
        %ul.actions
          %li
            = link_to 'Show', admin_resource_path(resource.id), :class => "preview", :title => "Show"
          %li
            = link_to 'Edit', edit_admin_resource_path(resource.id), :class => "edit", :title => "Edit"
          %li
            = link_to 'Destroy', admin_resource_path(resource.id), :class => "delete", :title => "Delete", :confirm => 'Are you sure?', :method => :delete

= will_paginate @resources
