%h2 Resources

%ul.tools.inline
  %li= link_to 'New Resource', new_admin_resource_path, :title => "New Resource", class: 'new_large'

%table.dashboard_table.resource-index-table
  %tr
    %th= sort_header 'ID', field: 'id'
    %th= sort_header 'Title', field: 'title'
    %th= sort_header 'Year', field: 'year'
    %th= sort_header 'Issue Tags', field: 'principles_count'
    %th= sort_header 'Status', field: 'approval'
    %th Actions

  - @resources.each do |resource|
    %tr
      %td= resource.id
      %td{:title => resource.title}
        = truncate(resource.title, :length => 90)
      %td
        = resource.year.year rescue nil
      %td
        = resource.principles_count
      %td=h approval_name(resource)
      %td
        %ul.actions
          %li
            = link_to 'Show', admin_resource_path(resource.id), :class => "preview", :title => "Show"
          %li
            = link_to 'Edit', edit_admin_resource_path(resource.id), :class => "edit", :title => "Edit"
          %li
            = link_to 'Destroy', admin_resource_path(resource.id), :class => "delete", :title => "Delete", :confirm => 'Are you sure?', :method => :delete

= will_paginate @resources
