%h2 Resources

%ul.tools.inline
  %li= link_to 'New Resource', new_admin_resource_path, :title => "New Resource", class: 'new_large'

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li
    - Resource::STATES.each do |key, value|
      %li
        %a{:href => "##{key}"}== #{value} (#{Resource.send("#{key}").count})

  - Resource::STATES.keys.each do |value|
    .tab_content{:id => value}
      %table.dashboard_table
        %tr
        %th= sort_header 'ID', field: 'id', tab: value
        %th= sort_header 'Title', field: 'title', tab: value
        %th= sort_header 'Year', field: 'year', tab: value
        %th= sort_header 'Topics', field: 'principles_count', tab: value
        %th.status-cell= sort_header 'Updated', field: resource_sort_field(value), tab: value
        %th.action-cell Actions
        = render @resources.find_all{ |item| item.approval == value.to_s }