- @body_class = 'details'
%h2= truncate(@resource.title, :length => 60)

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#overview">Overview</a>
    %li <a href="#links">Links</a>

  #overview.tab_content.resources-show
    %ul{:class => "tools inline"}
      %li= link_to "Edit", edit_admin_resource_path(@resource.id), :class => 'edit_large'
      - if current_contact.is?(Role.website_editor)
        %li= link_to "Approve", approve_admin_resource_path(@resource.id), :class => 'approve', :method => :post, :title => "Approve Resource"

    %dl.left_column
      %h3 Resource Details
      %dt.first Title
      %dd.first= @resource.title
      %dt Year
      %dd= @resource.year.year rescue nil
      %dt Status
      %dd=h @resource.approval.humanize
      %dt Description
      %dd=@resource.description
      - if @resource.image_url?
        %dt Image
        %dd= image_tag @resource.image_url
      - if @resource.isbn?
        %dt Isbn
        %dd= @resource.isbn
      - if @resource.approved?
        %dt Published at
        %dt= @resource.published_on

    %dl.left_column
      %h3 Authors
      %ol
        - @resource.authors.each do |a|
          %li= a.full_name

      %h3 Topics
      %ol
        - @resource.principles.each do |topic|
          %li= topic.name


  #links.tab_content.resources-show
    %table.dashboard_table.resource-table
      %tr
        %th Title
        %th URL
        %th Language
        %th Type

      - @resource.links.each do |link|
        %tr
          %td.title
            = link.title
          %td.url
            %span= link.url
          %td
            = link.language.name
          %td
            %span.icon{:class => "#{link.link_type}"}
            = ResourceLink::TYPES[link.link_type.to_sym]

= link_to raw("&larr; Back"), admin_resources_path
