
<%= render partial: 'redesign/components/meta_tags' %>

<%= render 'redesign/components/hero' %>

<%= form_for @search, as: :search, url: redesign_all_our_work_path, method: :get, html: {id: 'filters-form'}  do |form| %>
  <fieldset class='filter-lists'>
    <% @search.filters.each do |filter| %>
      <%= search_filter(filter) %>
    <% end %>
  </fieldset>
  <%= active_filters(@search) %>
  <%= form.submit 'Search', class: 'accessible-submit' %>
<% end %>


<%= render layout: 'redesign/components/content_blocks', locals: {blocks: @page.issues} do |block| %>
  <%= render 'redesign/components/content_block', title: block.title, url: block.url, thumbnail: block.thumbnail, tag: t(block.issue) %>
<% end %>

<%- if @page.issues.empty? -%>
  <section class="main-content-section main-content-section-full-width">
    <article class='component-content-blocks-list'>
      No Results found.
    </article>
  </section>
<% end %>

<%= will_paginate @page.results, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
