%li.item{:id => dom_id(contact)}
  .meta
    %p.name= contact.name
    
    #ul{:class => "post_tools inline"}
      %li= link_to 'Edit details', edit_admin_organization_contact_path(contact.organization.id, contact), :class => 'edit', :title => 'Edit details'
      - unless contact == current_user
        %li= link_to 'Delete', admin_organization_contact_path(contact.organization.id, contact), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete contact'

  .body
    %dl#contact_data_left.contact_data
      %dt Job Title:
      %dd= contact.job_title
      
      %dt Email Address
      %dd= contact.email
      
      %dt Phone Number:
      %dd= contact.phone
    %dl#contact_data_right.contact_data
      %dt Country:
      %dd= contact.country.name
      
      %dt Address:
      %dd= contact.address
      
      %dt City:
      %dd= contact.city
      
      %dt State:
      %dd= contact.state
      
      %dt Postal Code:
      %dd= contact.postal_code
