%tr
  %td= contact.updated_at
  %td= contact.name
  %td= contact.email
  %td= contact.job_title
  %td
    %ul.actions
      %li= link_to 'View details', edit_contact_path(contact), :class => 'edit', :title => 'View/Edit details'
      - unless contact == current_contact
        %li= link_to 'Delete', contact_path(contact), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete entry'
