= default_form.error_messages
%fieldset
  %legend Details
  %ol
    = default_form.text_field :prefix
    = default_form.text_field :first_name
    = default_form.text_field :middle_name
    = default_form.text_field :last_name
    = default_form.text_field :job_title
    = default_form.text_field :email
    = default_form.text_field :phone
    = default_form.text_field :fax
    = default_form.text_field :address
    = default_form.text_field :address_more, :label => 'Address 2'
    = default_form.text_field :city
    = default_form.text_field :state
    = default_form.text_field :postal_code
    = default_form.collection_select :country_id, Country.all, :id, :name

%fieldset
  %legend Roles
  %ol.checkbox_list
    - for role in @roles
      %li
        = check_box_tag "contact[role_ids][]", role.id, @contact.roles.include?(role), { :id => "contact_role_ids_" + role.id.to_s, :class => "#{login_fieldset_class(role)} label_right", :readonly => @contact.last_contact_or_ceo?(role, current_user) }
        = label_tag "contact_role_ids_" + role.id.to_s, role.name, :class => 'checkbox_label'
        = content_tag :p, role.description || 'There is no description for this role', :class => 'check_box_label_description'
%fieldset#login_information{:style => login_fieldset_style(@contact)}
  %legend Login
  = default_form.text_field :login, :label => 'Username'
  = default_form.password_field :password
