%h2== Search results "#{@searched_for}"

%div
  %p
    Number of matching contacts:
    %strong= @results.total_entries

%table.dashboard_table
  %tr
    %th ID
    %th Name
    %th Organization
    %th Email
    %th Roles
    %th Actions

  - for contact in @results
    %tr
      %td= contact.id
      %td= contact.name
      %td{:title => contact.organization_name}= link_to (truncate contact.organization_name, :length => 40), contact_parent_path(contact)
      %td= contact.email
      %td
        %ul.matching_list
          - for role in contact.roles
            %li= role.name
      %td
        %ul.actions
          %li
            = link_to 'Edit', edit_contact_path(contact), :class => "edit", :title => "Edit"
          %li
            = link_to 'Destroy', contact_path(contact), :class => "delete", :title => "Delete", :confirm => 'Are you sure?', :method => :delete

= will_paginate @results, :anchor => 'paged_results'
