<%- if active_filters.any? -%>
  <article class='active-filters'>
    <h2>Active Filters:</h2>
    <ol class='active-filters-list'>
      <%- active_filters.each do |filter| -%>
        <li class='active-filter'>
          <span class='active-filter-type'><%= filter.type.to_s.split('_')[0] %><span>:</span></span>
          <span class='active-filter-name'><%= filter.name %></span>
          <button class='remove-active-filter' data-filter-id="<%= filter.id -%>" data-filter-type="<%= filter.type -%>">&times;</button>
        </li>
      <%- end -%>

      <li class='clear-all-filters'><%= button_tag 'Clear All', type: 'reset' %></li>
      <%- if disabled -%>
        <li class='filter-limit-message'>You're using 5 filters, please remove some to add more</li>
      <%-end -%>
    </ol>
  </article>
<%- end -%>
