<%- if article ||= nil -%>
<section class='article-content-block <%= "has-custom-bg" if article[:bg_image] -%> <%= "align-#{article[:align]}" if article[:align] -%> <%= "#{article[:theme]}-theme" if article[:theme] -%>' style="<%= "background-image: url(#{article[:bg_image]});" if article[:bg_image] -%>">
  <header class='article-header'>
    <%= content_tag(:h1, article[:title]) if article[:title] %>
  </header>

  <article class='article-body'>
    <%= article[:content].html_safe if article[:content] %>

    <%- if article[:call_to_action] %>
      <p>
      <a href="<%= article[:call_to_action][:url] %>" class="button <%= article[:call_to_action][:theme] %>">
        <%= article[:call_to_action][:title] %>
      </a>
      </p>
    <%- end -%>

  </article>

  <%= render(partial: 'redesign/components/sidebar', locals: {widgets: article[:widgets]}) if article[:widgets] %>
</section>
<%- end -%>
