<%- article = @page.article_block -%>
<%- if article[:title] && article[:content] -%>
<section class='article-content-block <%= "has-custom-bg" if article[:bg_image] -%> <%= "align-#{article[:align]}" if article[:align] -%> <%= "#{article[:theme]}-theme" if article[:theme] -%>' style="<%= "background-image: url(#{article[:bg_image]});" if article[:bg_image] -%>">
  <header class='article-header'>
    <h1><%= article[:title] -%></h1>
  </header>

  <article class='article-body'>
    <%= article[:content].html_safe %>
  </article>

  <%= render partial: 'redesign/components/sidebar', locals: {widgets: {contact: @page.contact_widget, call_to_action: @page.call_to_action, links_list: @page.links_block}} %>
</section>
<%- end -%>
