<li class='component-content-block'>
  <%= link_to_redesign url, class: "component-content-block-link#{" component-content-block-type-#{type}" if type ||= nil}" do %>
    <div class='component-content-block-image' style='background-image: url(<%= thumbnail -%>)'>
      <%= image_tag thumbnail %>
    </div>
    <h2 class='component-content-block-title'><%= title -%></h2>
    <div class='component-content-block-tag'><%= tag -%></div>
  <% end %>
</li>
