<%- if events = @page.events -%>
<%- featured = events.featured %>

<section class='tabbed-component events-news-component'>
  <menu class='tabs'>
    <li class='tab'>
      <button type='button' class='active' data-tab-content='events'>Events</button>
    </li>
    <li class='tab'>
      <button type='button' data-tab-content='news'>News</button>
    </li>
  </menu>

  <article class='tab-content events active'>
    <header class='tab-content-header'>
      <h1>Events</h1>
    </header>

    <%- if featured -%>
      <article class='featured-event'>
        <%= link_to redesign_event_path(featured), class: 'event' do -%>
          <div class='thumbnail' style='background-image: url(<%= featured.thumbnail_image.url -%>)'>
            <div class='date-location'>
              <time datetime="<%= featured.starts_at.strftime('%F') -%>">
                <%= featured.starts_at -%>
              </time>
              <address><%= featured.full_location -%></address>
            </div>
          </div>

          <h1><%= featured.title -%></h1>

          <%- #TODO truncate description, but it's html -%>
          <p><%= featured.description.html_safe -%></p>
        <%- end -%>
      </article>
    <%- end -%>

    <h2>Future events</h2>
    <ul class='other-events'>
      <%- events.each do |e| -%>
        <li><%= link_to redesign_event_path(e), class: 'event' do -%>
          <time datetime="<%= e.starts_at.strftime('%F') -%>">
            <%= e.starts_at -%>
          </time>
          <address><%= e.full_location -%></address>
          <h2><%= e.title -%></h2>
        <%- end -%></li>
      <%- end -%>
    </ul>

    <h2>Past events</h2>
    <ul class='other-events past-events'>
      <%- events.past.each do |e| -%>
        <li><%= link_to redesign_event_path(e), class: 'event' do -%>
          <time datetime="<%= e.starts_at.strftime('%F') -%>">
            <%= e.starts_at -%>
          </time>
          <address><%= e.full_location -%></address>
          <h2><%= e.title -%></h2>
        <%- end -%></li>
      <%- end -%>
    </ul>

    <footer class='events-component-footer'>
      View <%= link_to 'All Events', redesign_events_path -%>
    </footer>
  </article>

  <article class='tab-content news'>
    <header class='tab-content-header'>
      <h1>News</h1>
    </header>

    <ul class='other-events'>
      <%- @page.news.each do |n| -%>
        <li><%= link_to redesign_news_path(n[:item]), class: 'news' do -%>
          <time datetime="<%= n[:date].strftime('%F') -%>"><%= n[:date] -%></time>
          <address><%= n[:location].html_safe -%></address>
          <h2><%= n[:title].html_safe -%></h2>
        <%- end -%></li>
      <%- end -%>
    </ul>

    <footer class='events-component-footer'>
      View <%= link_to_redesign 'All News', redesign_news_index_path -%>
    </footer>
  </article>
</section>

<%- end -%>
