<%- if events = @page.events -%>
<%- featured = events.pop %>

<section class='events-news-section'>
  <header class='tabs'>
    <h1 class='tab events active'>Events</h1>
    <%= link_to 'News', '', class: 'tab news' -%>
  </header>

  <div class='content'>
    <%- if featured -%>
      <article class='featured-event'>
        <%= link_to featured[:url], class: 'event' do -%>
          <div class='thumbnail' style='background-image: url(<%= featured[:thumbnail] -%>)'>
            <div class='date-location'>
              <time datetime="<%= Date.parse(featured[:date]).strftime('%F') -%>"><%= featured[:date] -%></time>
              <address><%= featured[:location] -%></address>
            </div>
          </div>

          <h1><%= featured[:title] -%></h1>

          <p><%= featured[:excerpt] -%></p>
        <%- end -%>
      </article>
    <%- end -%>

    <ul class='other-events'>
      <%- events.each do |e| -%>
        <li><%= link_to e[:url], class: 'event' do -%>
          <time datetime="<%= Date.parse(e[:date]).strftime('%F') -%>"><%= e[:date].html_safe -%></time>
          <address><%= e[:location].html_safe -%></address>
          <h2><%= e[:title].html_safe -%></h2>
        <%- end -%></li>
      <%- end -%>
    </ul>

    <footer class='events-section-footer'>
      View <%= link_to 'All Events', '' -%> | <%= link_to 'Local Events', '' -%>
    </footer>
  </div>
</section>

<%- end -%>
