<%-
form_url            ||= nil
form_classes        ||= nil # String, space separated
title               ||= nil
search_placeholder  ||= 'Search'

if form_url
-%>
  <%= form_for @search, as: :search, url: form_url, method: :get, html: {class: form_classes, id: 'filters-form'} do |f| %>

    <header>
      <%= content_tag(:h1, title) if title %>

      <fieldset id='section-search'>
        <%= f.search_field :keywords, placeholder: search_placeholder, tabindex: 1, autofocus: true %>
        <%= f.button '<span>Search</span>'.html_safe, type: :submit %>
      </fieldset>
    </header>

    <fieldset class='filter-lists'>
      <%- @page.filters.each do |filter| -%>
        <%- filter[:options] = @search.try(filter[:options]) -%>
        <%= render 'redesign/components/filter_options_list', filter.merge({disabled: @search.disabled?}) %>
      <%- end -%>
    </fieldset>

    <%- if @search.try(:active_filters) -%>
      <%= render 'redesign/components/active_filters_list', active_filters: @search.active_filters, disabled: @search.disabled? %>
    <%- end -%>

    <%= f.hidden_field :sort_direction %>

    <%- if @results.any? -%>
      <p class='results-count'>
        <%- if !@search.keywords.empty? -%>
          Searched for: <strong>&ldquo;<%= @search.keywords -%>&rdquo;</strong>&mdash;
        <%- end -%>
        <strong><%= @results.total_entries -%></strong> results</p>
    <%- end -%>
  <% end %>
<%- end -%>
