<%- if hero_data = @page.hero -%>
  <%-
  hero_classes = ['page-section']
  hero_classes << 'has-issues-nav' if hero_data[:show_issues_nav]
  hero_classes << 'has-section-nav' if hero_data[:show_section_nav]
  hero_classes << 'has-regions-nav' if hero_data[:show_regions_nav]
  hero_classes << 'has-custom-image' if hero_data[:image]
  hero_classes << "hero-size-#{hero_data[:size]}" if hero_data[:size]

  if hero_data[:theme] && hero_data[:theme] != 'none'
    hero_classes << "#{hero_data[:theme].parameterize}-theme"
  end

  hero_styles = hero_data[:image] ? "background-image: url(#{hero_data[:image]});" : ""
  -%>

  <header id='hero' style='<%= hero_styles %>' class='<%= hero_classes.join(' ') -%>'>

    <%- if hero_data[:title] -%>
      <h1><%- hero_data[:title].each do |key, value| -%>
        <%= tag(:br) if value -%>
        <%= content_tag(:span, value.try(:html_safe)) if value -%>
      <%- end -%></h1>
    <%- end -%>

    <%= content_tag(:p, hero_data[:blurb].html_safe, {class: 'blurb'}) if hero_data[:blurb] %>

    <%= link_to_redesign(hero_data[:link][:label], hero_data[:link][:url], class: 'button') if hero_data[:link] && hero_data[:link][:url] -%>

    <%= render('redesign/components/issues_nav') if hero_data[:show_issues_nav] %>

    <%= render('redesign/components/nav_section') if hero_data[:show_section_nav] %>

    <%= render('redesign/components/regions_nav') if hero_data[:show_regions_nav] %>
  </header>
<%- end -%>
