<%- if hero_data = @page.hero -%>

<header id='hero' style='<%= "background-image: url(#{hero_data[:image]});" if hero_data[:image] %>' class='<%= 'has-nav' if hero_data[:show_issues_nav] || hero_data[:show_section_nav] -%> <%= 'custom-image' if hero_data[:image] -%> <%= "#{hero_data[:theme].parameterize}-theme" if hero_data[:theme] -%> page-section'>

  <%- if hero_data[:title] -%>
    <h1><%- hero_data[:title].each do |key, value| -%>
      <%= tag(:br) if value -%>
      <%= content_tag(:span, value.try(:html_safe)) if value -%>
    <%- end -%></h1>
  <%- end -%>

  <%- if hero_data[:blurb] -%>
  <p class='blurb'><%= hero_data[:blurb].html_safe -%></p>
  <%- end -%>

  <%= link_to(hero_data[:link][:label], hero_data[:link][:url], class: 'button') if hero_data[:link] -%>

  <%- if hero_data[:show_issues_nav] -%>
  <ul id='issues-nav'>
    <li><%= link_to 'Human Rights'      , '', class: 'human-rights' %></li>
    <li><%= link_to 'Labour'            , '', class: 'labour' %></li>
    <li><%= link_to 'Environment'       , '', class: 'environment' %></li>
    <li><%= link_to 'Anti-Corruption'   , '', class: 'anti-corruption' %></li>
    <li><%= link_to 'Strengthen Society', '', class: 'strengthen-society' %></li>
  </ul>
  <%- end -%>


  <%- if hero_data[:show_section_nav] -%>
  <nav id='section-nav'>
    <button class='section-nav-trigger'>In this section</button>
    <%- nav = @page.section_nav %>
    <%= nav.parent.title %>
    <%= nav.current.title %>
    <% nav.children.each do |c| %>
      <%= c.title %>
    <% end %>
  </nav>
  <%- end -%>

</header>

<%- end -%>
