<%= form_for @search, as: :search, url: redesign_library_search_path, method: :get, html: {class: 'library-filters-form'} do |f| %>

  <header>
    <h1>Explore Our Library</h1>

    <%= f.search_field :keywords, placeholder: 'Search', id: 'search-field' %>
  </header>


  <fieldset class='filter-lists'>
    <button class='filter-options-list-trigger' data-filter='issue_areas'>Issues</button>
    <%= render 'redesign/components/filter_options_list', filter: 'issue_areas', child_filter: 'issues', options: @search.issue_options %>

    <button class='filter-options-list-trigger' data-filter='topic_groups'>Topics</button>
    <%= render 'redesign/components/filter_options_list', filter: 'topic_groups', child_filter: 'topics', options: @search.topic_options %>

    <button class='filter-options-list-trigger' data-filter='languages'>Languages</button>
    <%= render 'redesign/components/filter_options_list', filter: 'languages', options: @search.language_options %>

    <button class='filter-options-list-trigger' data-filter='sector_groups'>Sectors</button>
    <%= render 'redesign/components/filter_options_list', filter: 'sector_groups', child_filter: 'sectors', options: @search.sector_options %>
  </fieldset>

  <fieldset class='sorting'>
    <%= f.select :content_type, @search.type_options, {include_blank: 'Type'}, {id: 'filter-content-type'} %>

    <%= f.select :sort_field, @search.sort_options, {include_blank: 'Sort'}, {id: 'filter-sort-order'} %>

    <div class='reset-and-submit'>
      <%= f.submit 'Clear', type: 'reset' %>
      <%= f.submit 'Search', id: 'our-search' %>
    </div>
  </fieldset>

  <%- if @search.active_filters.any? -%>
  <fieldset class='active-filters'>
    <h2>Active Filters:</h2>
    <ol class='active-filters-list'>
      <%- @search.active_filters.each do |filter| -%>
        <li class='active-filter'>
          <span class='active-filter-name'><%= filter.name %></span>
          <button class='remove-active-filter' data-filter-id="<%= filter.id -%>" data-filter-type="<%= filter.type -%>">&times;</button>
        </li>
      <%- end -%>
    </ol>
  </fieldset>
  <%- end -%>

<%- end -%>
