<section class='main-content-section <%= content[:classes] -%>' style="<%= content[:styles] -%>">

  <%= content_tag(:header, content_tag(:h1, content[:title]), {class: 'main-content-header'}) if content[:title] %>

  <section class='main-content-body'>
    <%= render('redesign/components/tied_principles', principles: principles) if principles ||= nil -%>

    <%= content[:content].html_safe if content[:content] %>

    <%= content_tag(:p, link_to_redesign(content[:call_to_action][:title], content[:call_to_action][:url], class: "button #{content[:call_to_action][:theme]}")) if content[:call_to_action] %>
  </section>

  <%= yield %>
</section>
