<header id="main-header">
  <%= link_to '/redesign', class: 'logo' do %>
    <h1><span>United Nations Global Compact</span></h1>
    <h2>Business as a Force for Good</h2>
  <% end %>

  <nav>
    <ul id='primary-navigation'>
      <li><%= link_to 'What Is UN Global Compact?', '/redesign' -%></li>
      <li><%= link_to 'Participation', '/redesign/participation', class: params[:action] == 'landing' ? 'active' : nil -%></li>
      <li><%= link_to 'Take Action', '/redesign' -%></li>
      <li><%= link_to 'Engage Locally', '/redesign' -%></li>
      <li><%= link_to 'Explore Our Library', '/redesign/our-library', class: params[:controller] == 'redesign/library' ? 'active' : nil -%></li>
    </ul>

    <ul id='secondary-navigation'>
      <li><%= link_to 'About', '/redesign/about', class: params[:action] == 'long_article' ? 'active' : nil -%></li>
      <li><%= link_to 'News', '/redesign' -%></li>
      <li><%= link_to 'Sign In', '/redesign' -%></li>
      <li><%= link_to 'English', '/redesign' -%></li>
    </ul>
  </nav>

  <form id='main-search'>
    <div id='main-search-filters'>
      <fieldset>
        <%= radio_button_tag :'search-filter', value: 'all',       id: 'search-filter-all', checked: true -%>
        <label for="search-filter-all"> All</label>
        <%= radio_button_tag :'search-filter', value: 'events',    id: 'search-filter-events' -%>
        <label for="search-filter-events">Events</label>
        <%= radio_button_tag :'search-filter', value: 'news',      id: 'search-filter-news' -%>
        <label for="search-filter-news">News</label>
        <%= radio_button_tag :'search-filter', value: 'cops',      id: 'search-filter-cops' -%>
        <label for="search-filter-cops">COPs</label>
        <%= radio_button_tag :'search-filter', value: 'companies', id: 'search-filter-companies' -%>
        <label for="search-filter-companies">Companies</label>
      </fieldset>
    </div>
    <%= text_field_tag :search, nil, placeholder: 'Search', class: 'search-field' -%>
    <button type="submit" class='search-button'><span>Search</span></button>
  </form>
</header>
