<header id="main-header">
  <%= link_to '/redesign', class: 'logo' do %>
    <h1><span>United Nations Global Compact</span></h1>
  <% end %>

  <nav>
    <ul id='primary-navigation'>
      <li><%= link_to_redesign 'What Is UN Global Compact?', '/what-is-gc', class: request.fullpath =~ /\A\/redesign\/what-is-gc/ ? 'active' : nil -%></li>
      <li><%= link_to_redesign 'Participation', '/participation', class: request.fullpath =~ /\A\/redesign\/participation/ ? 'active' : nil -%></li>
      <li><%= link_to_redesign 'Take Action', '/take-action', class: request.fullpath =~ /\A\/redesign\/take-action/ ? 'active' : nil -%></li>
      <li><%= link_to_redesign 'Engage Locally', '/engage-locally', class: request.fullpath =~ /\A\/redesign\/engage-locally/ ? 'active' : nil -%></li>
      <li><%= link_to_redesign 'Explore Our Library', '/library', class: params[:controller] == 'redesign/library' ? 'active' : nil -%></li>
    </ul>

    <ul id='secondary-navigation'>
      <li><%= link_to_redesign 'About', '/about', class: params[:action] == 'long_article' ? 'active' : nil -%></li>
      <li><%= link_to_redesign 'News', redesign_news_index_path -%></li>
      <li><%= link_to 'Sign In', '/login' -%></li>
      <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,es,fr,it,nl,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </ul>
  </nav>

  <form id='main-search'>
    <div id='main-search-filters'>
      <fieldset>
        <%= radio_button_tag :'search-filter', value: 'all',       id: 'search-filter-all', checked: true -%>
        <label for="search-filter-all"> All</label>
        <%= radio_button_tag :'search-filter', value: 'events',    id: 'search-filter-events' -%>
        <label for="search-filter-events">Events</label>
        <%= radio_button_tag :'search-filter', value: 'news',      id: 'search-filter-news' -%>
        <label for="search-filter-news">News</label>
        <%= radio_button_tag :'search-filter', value: 'cops',      id: 'search-filter-cops' -%>
        <label for="search-filter-cops">COPs</label>
        <%= radio_button_tag :'search-filter', value: 'companies', id: 'search-filter-companies' -%>
        <label for="search-filter-companies">Companies</label>
      </fieldset>
    </div>
    <%= text_field_tag :search, nil, placeholder: 'Search', class: 'search-field' -%>
    <button type="submit" class='search-button'><span>Search</span></button>
  </form>
</header>
