<%- if tiles = @page.tiles -%>

<section class='tiles-section'>
  <%- tiles.each do |tile| -%>
  <article class='tile <%= "color-#{tile[:color]}" if tile[:color] -%> <%= 'double-width' if tile[:double_width] -%> <%= 'double-height' if tile[:double_height] -%>' style='<%= "background-image: url(#{tile[:bg_image]});" if tile[:bg_image] -%>'>
    <%= link_to_redesign tile[:link][:url] do %>
      <%= "<h1>#{tile[:title]}</h1>".html_safe if tile[:title] %>
      <%= "<p>#{tile[:blurb]}</p>".html_safe if tile[:blurb] && tile[:double_height] && !tile[:double_width] %>
      <%= "<span class='link-label'>#{tile[:link][:label]}</span>".html_safe if tile[:link][:label] %>
    <% end %>
  </article>
  <%- end -%>
</section>

<%- end -%>
