<%- if contact ||= nil -%>
  <%- has_photo = contact[:photo].present? -%>
  <article class='widget widget-contact<%= " widget-contact-has-photo" if has_photo -%>'>
    <h1>Contact</h1>
    <%= image_tag(contact[:photo].url, class: 'photo') if has_photo %>
    <address>
      <%= content_tag(:h2, contact[:name], class: 'name') if contact[:name] %>
      <%= content_tag(:p, contact[:title], class: 'title') if contact[:title] %>
      <%= content_tag(:p, contact[:email], class: 'email') if contact[:email] %>
      <%= content_tag(:p, contact[:phone], class: 'phone') if contact[:phone] %>
    </address>

    <%- if network_representative ||= nil %>
      <div class='representative'>
        <h2>Representative</h2>
        <p><%= network_representative %></p>
      </div>
    <%- end -%>
  </article>
<%- end -%>
