%tr
  %td= initiative.updated_at
  %td= initiative.name
  %td= initiative.signings.count
  %td
    %ul.actions
      %li= link_to 'View details', admin_initiative_path(initiative), :class => 'preview', :title => 'View details'
      %li= link_to 'Edit', edit_admin_initiative_path(initiative), :class => 'edit', :title => 'Edit details'
      %li= link_to 'Delete', admin_initiative_path(initiative), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete entry'
