%h2== #{@initiative.name} (#{@initiative.signings.count})

%ul.tools.inline
  %li= link_to_function 'Add signatory', "$('#add_signatory').toggle()", :class => 'new_large'
  %li= link_to 'Back to Initiatives', admin_initiatives_path, :class => 'go_back_large'
%p
#add_signatory{:style => 'display: none;'}
  = render :partial => 'admin/signings/form'
%p
%table.dashboard_table
  %tr
    %th.title Name
    %th.status Signed on
    %th.status Organization Type
    %th.status COP Status
    %th.actions Actions
  = render :partial => 'admin/signings/signing', :collection => @signatories