%tr
  %td= country.name
  %td= country.local_network_name
  %td= country.region_name
  %td= country.regional_manager_name
  %td
    %ul.actions
      %li= link_to 'Edit', edit_admin_country_path(country), :class => 'edit', :title => 'Edit details'
      %li= link_to 'Delete', admin_country_path(country), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete entry'
