= default_form.error_messages
%fieldset
  %ol
    = default_form.text_field :name
    = default_form.text_field :region
    = default_form.text_field :code, :label => 'ISO Code'
    = default_form.collection_select :local_network_id, LocalNetwork.all, :id, :name, {:include_blank => true}, {:label => 'Local Network'}