{{#container/x-fields scope=model.container as |actionDetail|}}
  {{#container/macros/x-metatags scope=actionDetail as |metaTags|}}
    {{container/x-field key="contentType" type="content-type-select" scope=metaTags}}
  {{/container/macros/x-metatags}}

  {{container/macros/x-hero scope=actionDetail}}

  <fieldset>
    <legend>Principles</legend>
    {{#container/x-fields key="principles" array=true min=0 max=5 scope=actionDetail as |principles|}}
      {{container/x-field key="principle" type="number" scope=principles}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>actionDetail Content</legend>
    {{#container/x-fields key="actionDetailBlock" scope=actionDetail as |actionDetailBlock|}}
      {{container/x-field key="title" type="string" limit=50 scope=actionDetailBlock}}
      {{container/x-field key="content" label="actionDetail content" type="redactor" limit=50 scope=actionDetailBlock}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Contact</legend>
    {{#container/x-fields key="widgetContact" scope=actionDetail as |widgetContact|}}
      {{container/macros/x-contact key="contactId" scope=widgetContact}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Call to Action</legend>
    {{#container/x-fields key="widgetCallsToAction" array=true min=1 max=2 scope=actionDetail as |widgetCallsToAction|}}
      {{container/x-field key="label" type="string" scope=widgetCallsToAction}}
      {{container/x-field key="url" type="href" scope=widgetCallsToAction}}
    {{/container/x-fields}}
  </fieldset>

  {{container/macros/x-widget-links-list scope=actionDetail}}

  <fieldset>
    <legend>Related Content</legend>
    {{#container/x-fields key="relatedContent" scope=actionDetail as |relatedContent|}}
      {{container/x-field key="title" type="string" limit=50 scope=relatedContent}}
      {{#container/x-fields tagName="ol" key="contentBoxes" array=true size=3 scope=relatedContent as |boxes|}}
        <li class="stat-group">
            {{container/x-field key="containerPath" type="string" scope=boxes}}
        </li>
      {{/container/x-fields}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Resources</legend>
    {{#container/x-fields tagName="ol" key="resources" array=true size=3 scope=actionDetail as |resources|}}
      <li class="stat-group">
        {{container/macros/x-resource key="resourceId" scope=resources}}
      </li>
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Participants (related Initiative)</legend>
    {{#container/x-fields key="initiative" scope=actionDetail as |initiative|}}
      {{container/macros/x-initiative key="initiativeId" scope=initiative}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Partners</legend>
    {{#container/x-fields tagName="ol" key="partners" array=true max=5 scope=actionDetail as |partners|}}
      <li class="stat-group">
        {{container/x-field key="name" type="string" scope=partners}}
        {{container/x-field key="logo" label="Logo URL" type="href" scope=partners}}
        {{container/x-field key="url" type="href" scope=partners}}
      </li>
    {{/container/x-fields}}
  </fieldset>

  {{container/macros/x-taggings scope=actionDetail}}
{{/container/x-fields}}

