{{#container/x-fields scope=model.container as |article|}}
  {{container/macros/x-metatags scope=article}}

  {{container/macros/x-hero scope=article}}

  <fieldset>
    <legend>Article Content</legend>
    {{#container/x-fields key="articleBlock" scope=article as |articleBlock|}}
      {{container/x-field key="title" type="string" limit=50 scope=articleBlock}}
      {{container/x-field key="content" type="redactor" limit=50 scope=articleBlock}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Contact</legend>
    {{#container/x-fields key="widgetContact" scope=article as |widgetContact|}}
      {{container/macros/x-contact key="contactId" scope=widgetContact}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Call to Action</legend>
    {{#container/x-fields key="widgetCallsToAction" array=true min=1 max=2 scope=article as |widgetCallsToAction|}}
      {{container/x-field key="label" type="string" scope=widgetCallsToAction}}
      {{container/x-field key="url" type="href" scope=widgetCallsToAction}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Links</legend>
    {{#container/x-fields key="widgetLinksList" scope=article as |widgetLinksList|}}
      {{container/x-field key="title" type="string" limit=50 scope=widgetLinksList}}
      {{#container/x-fields tagName="ol" key="links" array=true max=5 scope=widgetLinksList as |links|}}
        <li class="stat-group">
          {{container/x-field key="label" type="string" scope=links}}
          {{container/x-field key="url" type="href" scope=links}}
        </li>
      {{/container/x-fields}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Resources</legend>
    {{#container/x-fields tagName="ol" key="resources" array=true size=3 scope=article as |resources|}}
      <li class="stat-group">
        {{container/macros/x-resource key="resourceId" scope=resources}}
      </li>
    {{/container/x-fields}}
  </fieldset>

  {{container/macros/x-taggings scope=article}}
{{/container/x-fields}}
