{{#container/x-fields scope=model.container as |highlight|}}
  {{container/macros/x-metatags scope=highlight}}

  {{#container/macros/x-hero scope=highlight as |hero|}}
    {{container/x-field key="showSectionNav" label="Show Section nav" type="boolean" default=false scope=hero}}
  {{/container/macros/x-hero}}

  <fieldset>
    <legend>Highlight Content</legend>
    {{#container/x-fields tagName="div" key="articleBlocks" array=true min=1 max=3 scope=highlight as |article|}}
      <div class="stat-group">
        {{container/x-field key="align" type="article-align-select" scope=article}}
        {{container/x-field key="theme" type="hero-theme-select" scope=article}}
        {{container/x-field key="title" type="string" limit=50 scope=article}}
        {{container/x-field key="content" type="redactor" limit=50 scope=article}}
        {{container/x-field key="bgImage" type="image-upload" scope=article}}

        {{#container/x-fields key="callToAction" scope=article as |callToAction|}}
          <div class="form-group">
            <label class="control-label col-sm-2">Call to Action</label>
          </div>
          {{container/x-field label="Theme" key="theme" type="tile-color-select" limit=50 scope=callToAction}}
          {{container/x-field key="title" type="string" limit=50 scope=callToAction}}
          {{container/x-field key="url" type="string" limit=50 scope=callToAction}}
          {{container/x-field key="enabled" label="Enable" type="boolean" default=false scope=callToAction}}
        {{/container/x-fields}}

        {{#container/x-fields key="widgetImage" scope=article as |image|}}
          <div class="form-group">
            <label class="control-label col-sm-2">Image Widget</label>
          </div>
          {{container/x-field label="Image title" key="alt" type="string" limit=50 scope=image}}
          {{container/x-field label="Image Url" key="src" type="image-upload" scope=image}}
          {{container/x-field label="Image Link" key="url" type="href" scope=image}}
        {{/container/x-fields}}
      </div>
      <hr>
    {{/container/x-fields}}
  </fieldset>

  {{container/macros/x-resources scope=highlight}}

  {{container/macros/x-taggings scope=highlight}}
{{/container/x-fields}}
