{{#container/x-fields data=model.container.data as |data|}}
  <fieldset>
    <legend>Hero</legend>
    {{#container/x-fields key="hero" data=data as |d|}}
      {{container/x-field key="image" type="string" data=d}}
      {{container/x-field key="theme" type="hero-theme-select" data=d}}

      {{#container/x-fields key="title" data=d as |dd|}}
        {{container/x-field key="title1" type="string" limit=50 data=dd}}
        {{container/x-field key="title2" type="string" limit=50 data=dd}}
      {{/container/x-fields}}

      {{container/x-field key="blurb" type="string" data=d}}
      {{container/macros/x-link key="link" data=d}}
      {{container/x-field key="showIssuesNav" label="Show issues nav" type="boolean" default=true data=d}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Stats</legend>
    {{#container/x-fields tagName="ol" key="stats" array=true size=3 data=data as |d|}}
      <li class="stat-group">
        {{container/x-field key="value" type="string" data=d}}
        {{container/x-field key="label" type="string" data=d}}
      </li>
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Tiles</legend>
    {{#container/x-fields tagName="ol" key="tiles" array=true size=6 data=data as |d|}}
      <li class="tile-group">
        {{container/x-field key="color" type="tile-color-select" data=d}}
        {{container/x-field key="bgImage" type="string" data=d}}
        {{container/x-field key="title" type="string" limit=100 data=d}}
        {{container/x-field key="blurb" type="string" limit=150 data=d}}
        {{container/macros/x-link key="link" data=d}}
        {{container/x-field key="doubleWidth" type="boolean" data=d}}
        {{container/x-field key="doubleHeight" type="boolean" data=d}}
      </li>
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Feature Event</legend>
    <p>
      <em>You can choose the current featured event from the Events panel.</em>
    </p>
  </fieldset>
{{/container/x-fields}}
