{{#container/x-fields scope=model.container as |issue|}}
  {{container/macros/x-metatags scope=issue}}

  {{container/macros/x-hero scope=issue}}

  <fieldset>
    <legend>Principles</legend>
    {{#container/x-fields key="principles" array=true min=0 max=5 scope=issue as |principles|}}
      {{container/x-field key="principle" type="number" scope=principles}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Issue Content</legend>
    {{#container/x-fields key="issueBlock" scope=issue as |issueBlock|}}
      {{container/x-field key="title" type="string" limit=50 scope=issueBlock}}
      {{container/x-field key="content" label="Issue content" type="redactor" limit=50 scope=issueBlock}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Contact</legend>
    {{#container/x-fields key="widgetContact" scope=issue as |widgetContact|}}
      {{container/macros/x-contact key="contactId" scope=widgetContact}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Call to Action</legend>
    {{#container/x-fields key="widgetCallsToAction" array=true min=1 max=2 scope=issue as |widgetCallsToAction|}}
      {{container/x-field key="label" type="string" scope=widgetCallsToAction}}
      {{container/x-field key="url" type="href" scope=widgetCallsToAction}}
    {{/container/x-fields}}
  </fieldset>

  {{container/macros/x-widget-links-lists scope=issue}}

  <fieldset>
    <legend>Related Content</legend>
    {{#container/x-fields key="relatedContent" scope=issue as |relatedContent|}}
      {{container/x-field key="title" type="string" limit=50 scope=relatedContent}}
      {{#container/x-fields tagName="ol" key="contentBoxes" array=true size=3 scope=relatedContent as |boxes|}}
        <li class="stat-group">
            {{container/x-field key="containerPath" type="string" scope=boxes}}
        </li>
      {{/container/x-fields}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Resources</legend>
    {{#container/x-fields tagName="ol" key="resources" array=true size=3 scope=issue as |resources|}}
      <li class="stat-group">
        {{container/macros/x-resource key="resourceId" scope=resources}}
      </li>
    {{/container/x-fields}}
  </fieldset>

  {{container/macros/x-taggings scope=issue}}
{{/container/x-fields}}
