{{#container/x-fields scope=model.container as |issue|}}
  {{container/macros/x-metatags scope=issue}}

  <fieldset>
    <legend>Hero</legend>
    {{#container/x-fields key="hero" scope=issue as |hero|}}
      {{container/x-field key="image" type="image-upload" scope=hero}}
      {{container/x-field key="theme" type="hero-theme-select" scope=hero}}

      {{#container/x-fields key="title" scope=hero as |title|}}
        {{container/x-field key="title1" type="string" limit=50 scope=title}}
        {{container/x-field key="title2" type="string" limit=50 scope=title}}
      {{/container/x-fields}}

      {{container/x-field key="blurb" type="string" scope=hero}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Issue Content</legend>
    {{#container/x-fields key="issueBlock" scope=issue as |issueBlock|}}
      {{container/x-field key="title" type="string" limit=50 scope=issueBlock}}
      <div class="form-group">
        <label class="control-label col-sm-2">Tied to Principles</label>
      </div>
      {{#container/x-fields tagName="ol" key="principles" array=true min=1 max=5 scope=issueBlock as |principles|}}
        <li class="stat-group">
          {{container/x-field key="label" type="string" scope=principles}}
          {{container/x-field key="blurb" type="string" scope=principles}}
          {{container/x-field key="url" type="href" scope=principles}}
        </li>
      {{/container/x-fields}}
      <hr>
      {{container/x-field key="content" label="Issue content" type="redactor" limit=50 scope=issueBlock}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Contact</legend>
    {{#container/x-fields key="widgetContact" scope=issue as |widgetContact|}}
      {{container/macros/x-contact key="contactId" scope=widgetContact}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Call to Action</legend>
    {{#container/x-fields key="widgetCallsToAction" array=true min=1 max=2 scope=issue as |widgetCallsToAction|}}
      {{container/x-field key="label" type="string" scope=widgetCallsToAction}}
      {{container/x-field key="url" type="href" scope=widgetCallsToAction}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Links</legend>
    {{#container/x-fields key="widgetLinksList" scope=issue as |widgetLinksList|}}
      {{container/x-field key="title" type="string" limit=50 scope=widgetLinksList}}
      {{#container/x-fields tagName="ol" key="links" array=true max=5 scope=widgetLinksList as |links|}}
        <li class="stat-group">
          {{container/x-field key="label" type="string" scope=links}}
          {{container/x-field key="url" type="href" scope=links}}
        </li>
      {{/container/x-fields}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Related Content</legend>
    {{#container/x-fields tagName="ol" key="relatedContent" array=true size=3 scope=issue as |resources|}}
      <li class="stat-group">
          {{container/x-field key="containerPath" type="string" scope=resources}}
      </li>
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Resources</legend>
    {{#container/x-fields tagName="ol" key="resources" array=true size=3 scope=issue as |resources|}}
      <li class="stat-group">
        {{container/macros/x-resource key="resourceId" scope=resources}}
      </li>
    {{/container/x-fields}}
  </fieldset>

  {{container/macros/x-taggings scope=issue}}
{{/container/x-fields}}
