{{#container/x-fields scope=model.container as |landing|}}
  <fieldset>
    <legend>Hero</legend>
    {{#container/x-fields key="hero" scope=landing as |hero|}}
      {{container/x-field key="image" type="string" scope=hero}}
      {{container/x-field key="theme" type="hero-theme-select" scope=hero}}

      {{#container/x-fields key="title" scope=hero as |title|}}
        {{container/x-field key="title1" type="string" limit=50 scope=title}}
        {{container/x-field key="title2" type="string" limit=50 scope=title}}
      {{/container/x-fields}}

      {{container/x-field key="blurb" type="string" scope=hero}}
      {{container/macros/x-link key="link" scope=hero}}
    {{/container/x-fields}}
  </fieldset>

  <fieldset>
    <legend>Tiles</legend>
    {{#container/x-fields tagName="ol" key="tiles" array=true size=6 scope=landing as |tiles|}}
      <li class="tile-group">
        {{container/x-field key="color" type="tile-color-select" scope=tiles}}
        {{container/x-field key="bgImage" type="string" scope=tiles}}
        {{container/x-field key="title" type="string" limit=100 scope=tiles}}
        {{container/x-field key="blurb" type="string" limit=150 scope=tiles}}
        {{container/macros/x-link key="link" scope=tiles}}
        {{container/x-field key="doubleWidth" type="boolean" scope=tiles}}
        {{container/x-field key="doubleHeight" type="boolean" scope=tiles}}
      </li>
    {{/container/x-fields}}
  </fieldset>
{{/container/x-fields}}
