%h2 New Announcements

%div.hint_toggle
  About Announcements...
%div.hint_text{style: 'display: none;'}
  %p== Use announcements to inform other Local Networks about upcoming activities and events. These will appear within your Local Network profile and when network contacts login to the Dashboard. If you would like to report on a past event, please #{link_to 'create a new event', new_admin_local_network_local_network_event_path(@local_network)}.

= form_for @submodel, builder: DefaultFormBuilder, url: submodels_path, html: {multipart: true, novalidate: "novalidate"} do |form|
  = render partial: form
  %ul.tools.inline{style: 'float: right;'}
    %li= link_to 'Cancel', return_url, class: 'cancel_large'
    %li= form.submit 'Create', class: 'button'
