<%- sections.each do |section| -%>
  <section class='main-content-section <%= section[:classes] -%>' style="<%= section[:styles] -%>">
    <div class='full-width-wrapper'>
      <div class='wrapper'>
        <%= content_tag(:header, content_tag(:h1, section[:title]), {class: 'main-content-header'}) if section[:title] %>

        <section class='main-content-body'>
          <%= section[:content].html_safe if section[:content] %>

        <% cta = section[:call_to_action] %>
        <% if cta && cta.fetch(:enabled?, false) %>
            <%= content_tag(:p, link_to(cta[:title], cta[:url],
                                        target: cta[:external] ? "_blank" : "",
                                        class: "button #{cta[:theme]}")) %>
        <% end %>

        </section>

        <%- if section[:image] -%>
          <%= render layout: 'components/sidebar' do %>
            <%= render 'components/widget_image', image: section[:image] %>
          <% end %>
        <%- end -%>
      </div>
    </div>
  </section>
<%- end -%>

<%= render layout: 'components/content_blocks', locals: {title: 'From our Library', blocks: blocks} do |block| %>
  <%= render 'components/resource_block', block: block %>
<% end %>
