<%= render partial: 'redesign/components/meta_tags' %>

<%= render partial: 'redesign/components/hero' %>

<%- if list = @page.list -%>
<section class='main-content-section main-content-section-narrow'>
  <div class='wrapper'>
    <%= content_tag(:header, content_tag(:h1, list.title), {class: 'main-content-header'}) if list.title %>

    <section class='content-list'>
      <%= content_tag(:div, list.blurb.try(:html_safe), class: 'main-content-blurb') if list.blurb %>

      <%- list.items.each do |item| -%>
        <article class='content-list-item'>

          <%- if item.image -%>
            <%- if item.url -%>
              <%= link_to(image_tag(item.image, alt: item.title), item.url, class: 'content-list-item-image', target: item.external ? '_blank' : '') %>
            <%- else -%>
              <span class='content-list-item-image'><%= image_tag(item.image, alt: item.title)%></span>
            <%- end -%>
          <%- end -%>

          <div class='content-list-item-content-wrapper<%= " has-image" if item.image ||= nil %>'>

            <%- if item.url -%>
              <%= content_tag(:h1, link_to(item.title, item.url, class: "type-#{item.type}", target: item.external ? '_blank' : '')) %>
            <%- else -%>
              <%= content_tag(:h1, item.title) %>
            <%- end -%>

            <%= content_tag(:div, item.blurb.try(:html_safe), class: 'blurb') if item.blurb.present? %>
          </div>
        </article>
      <%- end -%>
    </section>

    <%# Pagination will go here %>
  </div>
</section>
<%- end -%>
