<% provide :title, "Not Found" %>
<header id='hero' style='background-image: url(https://d306pr3pise04h.cloudfront.net/uploads/3f/3f5dde5c9c2abc09355b07cbc7fd971479d74e38---flags.jpg);' class='page-section has-custom-image light-theme hero-size-small'>
  <div class='wrapper'>
    <h1><br/><span>Page Not Found (404)</span></h1>

    <p class="blurb">The page you were trying to reach at this address doesn't seem to exist. This is usually the result of a bad or outdated link. We apologize for any inconvenience.</p>
  </div>
</header>

<section class='main-content-section'>
  <div class='wrapper'>
    <header class='main-content-header'>
      <h1>What can I do now?</h1>
    </header>

    <section class='main-content-body'>
      <p>If this is your first time visiting UN Global Compact, welcome! Sorry for the circumstances under which we're meeting. Here's what you can do from here:</p>

      <ul>
        <li>
          Browse the <%= link_to 'issues', '/what-is-gc/our-work/all' -%> we are passionate about and see how <%= link_to 'you can participate', '/participation' -%> in our cause.
        </li>
        <li>
          Consider using the search box in the top-right-hand corner to find the information you were looking for.
        </li>
        <li>
          Our <%= link_to 'homepage', '/' -%> contains the latest information on environment, social, and governance issues.
        </li>
        <li>
          Visit our <%= link_to 'about page', '/about' -%> to learn more about the UN Global Compact.
        </li>
        <li>
          Have a question or comment? Use our <%= link_to 'contact us', new_contact_us_path -%> form to let us know!
        </li>
      </ul>
    </section>
  </div>
</section>
