%p
  = link_to 'Pending', pending_review_admin_logo_requests_path, :id => "show_pending", :class => "restrictions"
  |
  = link_to 'In Review', in_review_admin_logo_requests_path, :id => "show_in_review", :class => "restrictions"
  |
  = link_to 'Updated', unreplied_admin_logo_requests_path, :id => "show_unreplied", :class => "restrictions"
  |
  = link_to 'Approved', approved_admin_logo_requests_path, :id => "show_approved", :class => "restrictions"
  |
  = link_to 'Rejected', rejected_admin_logo_requests_path, :id => "show_rejected", :class => "restrictions"
  |
  = link_to 'Accepted', accepted_admin_logo_requests_path, :id => "show_accepted", :class => "restrictions"
