= default_form.error_messages :header_message => "Sorry, we could not save your logo request", :message => "The following fields must be completed:"

%h3 Instructions

%ol
  %li
    %p== Please review the #{link_to('Global Compact Logo Policy','/AboutTheGC/Global_Compact_Logo/GC_Logo_Policy.html')} before submitting a request. To illustrate how the Global Compact logo will be used in your communication materials, please prepare a sample, mock up, or screenshot. For this purpose, a Global Compact logo with a 'sample' watermark is available on the Logo Policy page.

  %li
    %p Upload a sample of your publication. For print publications, you may upload only those pages in which the logo will appear. If the logo is to be used on a website, a screen capture illustrating the logo's placement can be submitted.

  %li
    %p Each publication must be submitted as a separate request. For example, a request to use the logo on your organization's website must be requested separately from a request to use the logo in a print publication.

%fieldset
  %ol
    = default_form.text_field :purpose
    = default_form.select :contact_id, options_for_select(@organization.contacts.contact_points.collect{|contact| [contact.name, contact.id]}, current_user.id)
    = default_form.select :publication_id, option_groups_from_collection_for_select(LogoPublication.top_level, :children, :name, :id, :name, @logo_request.publication_id), :label => 'Publication Type'
    - if @logo_request.new_record?
      %li
        = label_tag("logo_request_logo_comments_attributes_0_body", 'Description')
        = text_area_tag("logo_request[logo_comments_attributes][0][body]", @logo_request.logo_comments.first.body)
      %li
        = label_tag("logo_request_logo_comments_attributes_0_attachment", 'Sample')
        = file_field_tag("logo_request[logo_comments_attributes][0][attachment]")
