%h2= @list_name || "Logo Requests in Review"
.tab_container
  = render :partial => 'control_tabs'
  
  .tab_content
    %table.dashboard_table
      %tr
        %th ID
        %th= sort_header 'Organization', field: 'organizations.name'
        %th Purpose
        %th Country
        %th= sort_header 'Created', field: 'created_at', direction: 'DESC'
        %th= sort_header 'Latest activity', field: 'updated_at', direction: 'DESC'
        %th Reviewer
        %th Actions
      - @logo_requests.each do |logo_request|
      - @latest_comment_date = comment_date(logo_request.logo_comments.first)
        %tr
          %td=h logo_request.id
          %td{:title => logo_request.organization.name}= link_to truncate(logo_request.organization.name, :length => 30), admin_organization_path(logo_request.organization.id)
          %td{:title => logo_request.purpose}= logo_request.purpose.blank? ? 'Not specified' : truncate(logo_request.purpose, :length => 20)
          %td= logo_request.organization.try(:country_name)
          %td
            = logo_request.created_at
            %br/
            %span.small= display_days_ago(logo_request.created_at)
          %td
            = @latest_comment_date
            %br/
            %span.small= display_days_ago(@latest_comment_date)
          %td= Contact.find(logo_request.reviewer_id).try(:name)
          %td
            %ul.actions
              %li 
                = link_to 'Show', admin_organization_logo_request_path(logo_request.organization.id, logo_request), :class => "preview", :title => "Show"
                
    = will_paginate @logo_requests