%h1 New logo request

- form_for(:logo_request, url: admin_organization_logo_requests_path(@organization.id), :html => { :multipart => true }) do |form|
  = render :partial => form
  
  - form.fields_for :logo_comments do |comment_form|
    = comment_form.text_area :body
    = comment_form.file_field :attachment
  
  %p
    = form.submit 'Save'

= link_to 'Back', admin_organization_path(@organization.id)