%h2 Logo Requests Pending Review
= render :partial => 'control_tabs'
%table.dashboard_table
  %tr
    %th ID
    %th= sort_header 'Organization', field: 'organizations.name'
    %th= sort_header 'Received', field: 'created_at'
    %th Actions
  - @logo_requests.each do |logo_request|
    %tr
      %td=h logo_request.id
      %td{:title => logo_request.organization.name}=h truncate(logo_request.organization.name)
      %td=h logo_request.created_at
      %td
        %ul.actions
          %li 
            = link_to 'Show', admin_organization_logo_request_path(logo_request.organization.id, logo_request), :class => "preview", :title => "Show"
          %li 
            = link_to 'Delete', admin_organization_logo_request_path(logo_request.organization.id, logo_request), :class => "delete", :title => "Delete", :confirm => 'Are you sure?', :method => :delete

= will_paginate @logo_requests