%h2 Rejected Logo Requests
= render :partial => 'control_tabs'
%table.dashboard_table
  %tr
    %th ID
    %th Organization
    %th Rejected
    %th Reviewer
    %th Actions
  - @logo_requests.each do |logo_request|
    %tr
      %td=h logo_request.id
      %td{:title => logo_request.organization.name}= link_to truncate(logo_request.organization.name), edit_admin_organization_path(logo_request.organization.id)
      %td=h logo_request.logo_comments.last.added_on || logo_request.logo_comments.last.created_at
      %td= Contact.find(logo_request.reviewer_id).name
      %td
        %ul.actions
          %li 
            = link_to 'Show', admin_organization_logo_request_path(logo_request.organization.id, logo_request), :class => "preview", :title => "Show"
          %li 
            = link_to 'Delete', admin_organization_logo_request_path(logo_request.organization.id, logo_request), :class => "delete", :title => "Delete", :confirm => 'Are you sure?', :method => :delete

= will_paginate @logo_requests