= default_form.error_messages
%fieldset
  %ol
    = default_form.text_field :name
    = default_form.text_field :position, :label => 'Order'
    = default_form.text_area :description
    = default_form.select :initiative_id, Initiative.all.map { |i| [i.name, i.id] }, { include_blank: true }, {} # check app/builders/default_form_builder.rb for why
