%tr
  %td= role.name
  %td= role.position
  %td= role.description
  %td= role.initiative.try(:name)
  %td
    %ul.actions
      %li= link_to 'Edit', edit_admin_role_path(role), :class => 'edit', :title => 'Edit details'
      %li= link_to 'Delete', admin_role_path(role), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete entry'
