= link_to "#{contact_overview.prefix} #{truncate(contact_overview.name, :length => 40)}", edit_contact_path(contact_overview), :title => "#{contact_overview.name}, #{contact_overview.job_title}, Tel: #{contact_overview.phone}"
%br/
