= default_form.error_messages
%fieldset
  %legend Details
  %ol
    = default_form.text_field :name
    = default_form.text_field :url, {:label => 'Website'}
    = default_form.select :organization_type_id, @organization_types.collect{|t| [t.name, t.id]}

    / - if @organization_types.first.type_property == OrganizationType::BUSINESS
    = default_form.select :listing_status_id, ListingStatus.all.collect{|t| [t.name, t.id]}, :li_class => 'company_only'
    = default_form.select :exchange_id, Exchange.all.collect{|t| [t.name, t.id]}, :li_class => 'public_company_only'
    = default_form.text_field :stock_symbol, :li_class => 'public_company_only'
    = default_form.check_box :is_ft_500, :label => 'FT 500', :li_class => 'public_company_only'
    = default_form.select :sector_id, option_groups_from_collection_for_select(Sector.top_level, :children, :name, :id, :name, @organization.sector_id)
    = default_form.text_field :employees
    = default_form.collection_select :country_id, Country.all, :id, :name

    / TODO create styles displaying for non-field attributes
    %label{:style => 'margin-right: 25px;'} Letter of Commitment
    - if @organization.commitment_letter?
      %li= link_to @organization.commitment_letter_file_name, @organization.commitment_letter.url
      = default_form.file_field :commitment_letter, {:label => 'Replace file'}
    - else
      The Letter of Commitment has not been uploaded
      = default_form.file_field :commitment_letter, {:label => 'Upload file'}

- staff_only do
  - if @organization.participant
    %fieldset
      %legend Participant Status
      %ol
        = default_form.check_box :participant, :label => 'Participant'
        = default_form.check_box :active, :label => 'Active'

    #delisted_only{:style => "display: #{show_delisted_details @organization};"}
      %fieldset
        %legend Delisting Status
        %ol
          = default_form.text_field :delisted_on_string, {class: 'datepicker'}, {:label => 'Date'}
          = default_form.select :removal_reason_id, RemovalReason.all.collect{|t| [t.description, t.id]}, {:label => 'Reason'}

= initial_organization_state @organization