= error_messages_for @organization, @organization.non_business_organization_registration
%fieldset
  %legend Details
  %ol
    - staff_only do
      = default_form.collection_select :participant_manager_id, Contact.participant_managers, :id, :name, {:include_blank => true}, {:label => 'Relationship Manager'}
    = default_form.text_field :name
    = default_form.text_field :url, :label => 'Website'
    = default_form.text_field :employees

    - staff_only do
      = default_form.select :organization_type_id, @organization_types.collect{|t| [t.name, t.id]}

    = default_form.select :listing_status_id, ListingStatus.all.collect{|t| [t.name, t.id]}, :li_class => 'company_only', :label => 'Ownership'
    = default_form.select :exchange_id, Exchange.all.collect{|t| [t.name, t.id]}, {:include_blank => true}, :li_class => 'public_company_only'
    = default_form.text_field :stock_symbol, :li_class => 'public_company_only'
    = default_form.text_field :isin, :li_class => 'public_company_only'
    = default_form.check_box :is_ft_500, :label => 'FT 500', :li_class => 'public_company_only'
    = default_form.select :sector_id, option_groups_from_collection_for_select(Sector.top_level, :children, :name, :id, :name, @organization.sector_id), :li_class => 'company_only'
    = default_form.select :revenue, Organization::REVENUE_LEVELS.collect{|key,value| [value,key]}, {:include_blank => @organization.revenue.blank?}, :li_class => 'company_only'

    - staff_only do
      = default_form.collection_select :country_id, Country.all, :id, :name
      = default_form.text_field :pledge_amount

- staff_only do

  - if @organization.can_approve?
    %fieldset#review_reason
      %legend Review / Delay Status
      %ol
        = default_form.select :review_reason, options_for_select(Organization::REVIEW_REASONS.invert, @organization.review_reason_to_sym), {:include_blank => true}, :label => 'Reason'

  - if @organization.participant
    %fieldset
      %legend= @organization.cop_name
      %ol.radio_button_list.no_indent
        %li= default_form.radio_button :cop_state, :active, {:li_class => 'radio_button', :label => 'Active', :label_for => :organization_cop_state_active}
        %li= default_form.radio_button :cop_state, :noncommunicating, {:li_class => 'radio_button', :label => 'Non-Communcating', :label_for => :organization_cop_state_noncommunicating}
        %li= default_form.radio_button :cop_state, :delisted, {:li_class => 'radio_button', :label => 'Delisted...', :label_for => :organization_cop_state_delisted}
  
    #delisted_only{:style => "#{css_display_style(@organization.cop_state == Organization::COP_STATE_DELISTED)}"}
      %fieldset
        %legend Delisting Status
        %ol
          = default_form.text_field :delisted_on, {class: 'datepicker iso-date'}, {:label => 'Date'}
          = default_form.select :removal_reason_id, RemovalReason.all.collect{|t| [t.description, t.id]}, {:label => 'Reason'}

    %fieldset
      %legend Participant Status
      %ol.checkbox_list.no_indent
        = default_form.check_box :participant, {:li_class => 'checkbox', :label => 'Participant'}
        = default_form.check_box :non_comm_dialogue, {:li_class => 'checkbox', :label => 'No Dialogue...'}

    #non_comm_dialogue_only{:style => "#{css_display_style(@organization.non_comm_dialogue)}"}
      %fieldset
        %legend Failure to Engage in Dialogue
        %p Select the date on which the participant became Non-Communicating for failing to engage in dialogue.
        %ol
          = default_form.text_field :non_comm_dialogue_on, {class: 'datepicker iso-date'}, {:label => 'Non-Communicating'}
          /= default_form.date_select :non_comm_dialogue_on, {:include_blank => true}, { :li_class => 'date', :label => 'Non-Communicating'}

- if @organization.non_business? && @organization.non_business_organization_registration
  %fieldset.organization_registration
    %legend Legal Status
    = fields_for @organization.registration do |fields|
      %ol
        %li
          = fields.label :date, "Date of Registration"
          = fields.text_field :date, :class => 'datepicker iso-date', :size => 11
        %li
          = fields.label :place, "Place of Registration"
          = fields.text_field :place
        %li
          = fields.label :authority, "Public Authority"
          = fields.text_field :authority
        %li
          = fields.label :number, "Registration number"
          = fields.text_field :number
        %li
          = fields.label :mission_statement, "Mission statement"
          = fields.text_area :mission_statement

- if can_edit_letter? @organization
  %fieldset
    %legend Documents

    -staff_only do
      %div.hint_toggle
        About these documents...
      %div.hint_text{:style => 'display: none;'}
        %dl.noborder{:style => 'width: 75%;'}
          %dt Letter of Commitment
          %dd The initial letter of commitment uploaded during the online registration process. The applicant may be asked to make revisions to the letter.
          - if @organization.non_business?
            %dt Legal Status
            %dd Non-Business applicants must provide a registration number or upload a proof of legal status during the online registration process.
          %dt Letter of Recommitment
          %dd When a participant has been expelled and is reapplying to the Global Compact, a document must be uploaded after the expulsion date to reactivate the COP submission process.
          %dt Letter of Withdrawal
          %dd When a participant voluntarily ends their participation, a letter formally requesting withdrawal should be provided.
        %hr

    %ol
      %li
        %label{:style => 'margin-right: 20px;'} Letter of Commitment
        = file_field_tag "organization[commitment_letter]"
        - if @organization.commitment_letter?
          = link_to truncate(@organization.commitment_letter_file_name, :length => 80), @organization.commitment_letter.url, {:title => @organization.commitment_letter_file_name}
        - else
          no file uploaded
      - if @organization.non_business? && @organization.non_business_organization_registration    
        %li.organization_registration
          %label{:style => 'margin-right: 20px;'} Legal Status
          = link_to_document(@organization, 'legal_status')

    -staff_only do
      %li
        %label{:style => 'margin-right: 20px;'} Letter of Recommitment
        = link_to_document(@organization, 'recommitment_letter')
      %li
        %label{:style => 'margin-right: 20px;'} Letter of Withdrawal
        = link_to_document(@organization, 'withdrawal_letter')

= initial_organization_state @organization
