= default_form.error_messages
%fieldset
  %legend Details
  %ol
    - staff_only do
      = default_form.collection_select :participant_manager_id, Contact.participant_managers, :id, :name, {:include_blank => true}, {:label => 'Relationship Manager'}
    = default_form.text_field :name
    = default_form.text_field :url, :label => 'Website'
    = default_form.text_field :employees

    - staff_only do
      = default_form.select :organization_type_id, @organization_types.collect{|t| [t.name, t.id]}

    - if @organization.company?
      = default_form.select :listing_status_id, ListingStatus.all.collect{|t| [t.name, t.id]}, :li_class => 'company_only', :label => 'Ownership'
      = default_form.select :exchange_id, Exchange.all.collect{|t| [t.name, t.id]}, {:include_blank => true}, :li_class => 'public_company_only'
      = default_form.text_field :stock_symbol, :li_class => 'public_company_only'
      = default_form.check_box :is_ft_500, :label => 'FT 500', :li_class => 'public_company_only'
      = default_form.select :sector_id, option_groups_from_collection_for_select(Sector.top_level, :children, :name, :id, :name, @organization.sector_id), :li_class => 'company_only'

    = default_form.collection_select :country_id, Country.all, :id, :name
  - if can_edit_letter? @organization
    %label{:style => 'margin-right: 25px;'} Letter of Commitment
    - if @organization.commitment_letter?
      %li= link_to @organization.commitment_letter_file_name, @organization.commitment_letter.url
      = default_form.file_field :commitment_letter, {:label => 'Replace file'}
    - else
      The Letter of Commitment has not been uploaded
      = default_form.file_field :commitment_letter, {:label => 'Upload file'}

- staff_only do

  - if @organization.can_approve?
    %fieldset#review_reason
      %legend Review / Delay Status
      %ol
        = default_form.select :review_reason, options_for_select(select_options_from_hash(Organization::REVIEW_REASONS), @organization.review_reason_to_sym), {:include_blank => true}, :label => 'Reason'

  - if @organization.participant
    %fieldset
      %legend Participant Status
      %ol
        = default_form.check_box :participant, :label => 'Participant'
        = default_form.check_box :active, :label => 'Active'
        = default_form.check_box :non_comm_dialogue, :label => 'No Dialogue'

    #delisted_only{:style => "#{css_display_style(@organization.cop_state == Organization::COP_STATE_DELISTED)}"}
      %fieldset
        %legend Delisting Status
        %ol
          = default_form.text_field :delisted_on, {class: 'datepicker iso-date'}, {:label => 'Date'}
          = default_form.select :removal_reason_id, RemovalReason.all.collect{|t| [t.description, t.id]}, {:label => 'Reason'}

    #non_comm_dialogue_only{:style => "#{css_display_style(@organization.non_comm_dialogue)}"}
      %fieldset
        %legend Failure to Engage in Dialogue
        %p Select the date on which the participant became Non-Communicating for failing to engage in dialogue.
        %ol
          = default_form.date_select :non_comm_dialogue_on, {:include_blank => true}, { :li_class => 'date', :label => 'Non-Communicating'}


= initial_organization_state @organization
