%tr
  %td= organization.updated_at
  %td{:title => organization.name}= truncate(organization.name)
  %td= organization.state.humanize
  %td.age= (Date.today - organization.updated_at.to_date).to_i
  %td
    %ul.actions
      %li= link_to 'View details', admin_organization_path(organization.id), :class => 'edit', :title => 'View/Edit details'
      - staff_only do
        %li= link_to 'Delete', admin_organization_path(organization.id), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete entry'
