%h2 Editing organization

= form_for(:organization, builder: DefaultFormBuilder, url: admin_organization_path(@organization.id), html: {method: :put, multipart: true, novalidate: "novalidate"}) do |form|
  = render partial: form

  %ul{class: "tools inline", style: 'float: right;'}
    %li= link_to 'Cancel', cancel_and_return(current_contact), class: 'cancel_large'
    %li= form.submit 'Save changes', class: 'button', style: 'float: right;'

  - staff_only do
    %p{style: 'float: left;'}== Last edit by #{@organization.last_modified_by_full_name} on #{@organization.updated_at.strftime("%A %e %B %Y, %H:%M")}
