%h2== Listing Organizations: #{action_name.humanize}

%div.tab_container
  = render :partial => 'control_tabs'

  %div.tab_content
    %table.dashboard_table
      %tr
        %th ID
        %th= sort_header 'Name', field: 'name'
        %th Updated by
        %th Actions

      - @organizations.each do |organization|
        %tr
          %td=h organization.id
          %td{:title => organization.name}=h truncate(organization.name, :length => 20)
          %td=h organization.last_modified_by_full_name
          %td
            %ul.actions
              %li
                = link_to 'Show', admin_organization_path(organization.id), :class => "preview", :title => "Show"
              %li
                = link_to 'Edit', edit_admin_organization_path(organization.id), :class => "edit", :title => "Edit"
              %li
                = link_to 'Destroy', admin_organization_path(organization.id), :class => "delete", :title => "Delete", :confirm => 'Are you sure?', :method => :delete

    = will_paginate @organizations
