%h2 Organizations under Network Review

= render :partial => 'organization_navigation'

%table.dashboard_table
  %tr
    %th ID
    %th Old ID
    %th Name
    %th Review time
    %th Updated by
    %th Actions

  - @organizations.each do |organization|
    %tr
      %td=h organization.id
      %td=h organization.old_id || organization.old_tmp_id
      %td{:title => organization.name}=h truncate(organization.name)
      %td=h distance_of_time_in_words(organization.network_review_on, Date.today + 24.hours)
      %td=h organization.last_modified_by_full_name
      %td
        %ul.actions
          %li 
            = link_to 'Show', admin_organization_path(organization.id), :class => "preview", :title => "Show"
          %li 
            = link_to 'Edit', edit_admin_organization_path(organization.id), :class => "edit", :title => "Edit"
          %li 
            = link_to 'Destroy', admin_organization_path(organization.id), :class => "delete", :title => "Delete", :confirm => 'Are you sure?', :method => :delete

= will_paginate @organizations

%br/

= link_to 'New organization', new_admin_organization_path
