%h2 Pending Applications

%div.tab_container
  = render :partial => 'control_tabs'

  %div.tab_content
    %table.dashboard_table
      %tr
        %th= sort_header 'ID', field: 'id'
        %th= sort_header 'Name', field: 'name'
        %th= sort_header 'Submitted on', field: 'created_at'
        %th Status
        %th Actions

      - @organizations.each do |organization|
        %tr
          %td=h organization.id
          %td{:title => organization.name}
            =h truncate(organization.name, :length => 40)
            = duplicate_application(organization)
          %td
            =h organization.created_at
            %br/
            %span.small= display_days_ago(organization.created_at)
          %td=h organization.state.humanize
          %td
            %ul.actions
              %li
                = link_to 'Show', admin_organization_path(organization.id), :class => "preview", :title => "Show"
              %li
                = link_to 'Edit', edit_admin_organization_path(organization.id), :class => "edit", :title => "Edit"
              %li
                = link_to 'Destroy', admin_organization_path(organization.id), :class => "delete", :title => "Delete", :confirm => 'Are you sure?', :method => :delete

    = will_paginate @organizations
