%h3== There are #{@results.total_entries} #{searched_for}.
%div.tab_container
  = render :partial => 'control_tabs'
  %div.tab_content
    %table.dashboard_table
      %tr
        %th ID
        %th Old ID
        %th Name
        %th Type
        %th Status
        %th Country
        %th Actions

      - for organization in @results
        %tr
          %td=h organization.id
          %td=h organization.old_id || organization.old_tmp_id
          %td{:title => organization.name.force_encoding("UTF-8")}=h truncate(organization.name.force_encoding("UTF-8"))
          %td= organization.organization_type_name
          %td= display_status(organization)
          %td=h organization.country_name
          %td
            %ul.actions
              %li 
                = link_to 'Show', admin_organization_path(organization.id), :class => "preview", :title => "Show"
              %li 
                = link_to 'Edit', edit_admin_organization_path(organization.id), :class => "edit", :title => "Edit"
              %li 
                = link_to 'Destroy', admin_organization_path(organization.id), :class => "delete", :title => "Delete", :confirm => 'Are you sure?', :method => :delete

    = will_paginate @results, :anchor => 'paged_results'
