%h2 Organizations search
%div.tab_container
  = render :partial => 'control_tabs'
  %div.tab_content
    - form_tag nil, method: 'get' do
      = hidden_field_tag 'commit', 'Search'
      %fieldset
        %ol
          %li
            %label Search by Name or ID
            = text_field_tag :keyword
          %li
            %label Country
            = select_tag :country, options_for_select(Country.all.map{|c| [c.name, c.id]}, ''), :multiple => true, :size => 6
      %fieldset
        %legend Type of Organization
        %ol
          %li
            = radio_button_tag :business_type, :all, true
            %label{:for => 'business_type_all', :style => 'width: 150px'} All organizations
          %li
            = radio_button_tag :business_type, OrganizationType::BUSINESS
            %label{:for => "business_type_#{OrganizationType::BUSINESS}", :style => 'width: 150px'} Business
          %li
            = radio_button_tag :business_type, OrganizationType::NON_BUSINESS
            %label{:for => "business_type_#{OrganizationType::NON_BUSINESS}", :style => 'width: 150px'} Non-business

      / %fieldset
      /   %ol
      /     %li
      /       %label{:for => 'joined_after_year'} Participant since
      /       = text_field_tag :published_on_string, nil, :class => 'datepicker'
      /       = select_year(nil, {:start_year => 2000, :end_year => Date.today.year, :prefix => 'joined_after', :include_blank => true }, {:style => 'width: 60px'})
      /       = select_month(nil, {:prefix => 'joined_after', :include_blank => true }, :style => 'width: 150px')
      /       = select_day(nil, {:prefix => 'joined_after', :include_blank => true }, :style => 'width: 60px')

      = submit_tag 'Search', :class => 'button'
