%p
  %b Name:
  =h @organization.name
%p
  %b Status:
  = @organization.state == 'approved' ? @organization.cop_state : @organization.state

- if @organization.commitment_letter
  %p
    Letter of Commitment:
    = link_to @organization.commitment_letter_file_name, @organization.commitment_letter.url

= organization_actions(@organization)

%h3 Comments
= link_to 'New comment', new_admin_organization_comment_path(@organization.id)
%ul
  = render :partial => @organization.comments

%h3 Contacts
= link_to 'New contact', new_admin_organization_contact_path(@organization.id)
%ul
  = render :partial => @organization.contacts

%h3 Local Network
- if @organization.network_report_recipients.count >= 1
  Network Report Recipients
  %ul
    = render :partial => 'admin/contacts/network_report_recipient', :collection => @organization.network_report_recipients
- else
  == There is no Network Report Recipient for #{@organization.country.name}