- @body_class = 'details'
%h2= @organization.name
%p= organization_actions(@organization)

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#overview">Overview</a>
    %li <a href="#contacts">Contacts</a>
    %li <a href="#comments">Comments</a>
    - if current_contact.from_ungc? && Organization.peer_organizations(@organization).any?
      %li==<a href="#peers">Peers (#{Organization.peer_organizations(@organization).count})</a>
    - if @organization.communication_on_progresses.any?
      %li== <a href="#cops">#{@organization.cop_acronym}s</a>
    - if @organization.case_stories.any?
      %li <a href="#case_stories">Case Stories</a>
    - if @organization.logo_requests.any?
      %li <a href="#logo_requests">Logo Requests</a>
    - if @organization.initiatives.any? and current_contact.from_ungc?
      %li <a href="#initiatives">Engagement</a>

  #overview.tab_content
    %ul{:class => "tools inline"}
      %li= link_to text_for_edit_icon(current_contact), edit_admin_organization_path(@organization.id), :class => 'edit_large'
      - staff_only do
        - unless @organization.approved?
          %li{:style => 'margin-left: 362px;'}= link_to 'Reverse roles', reverse_roles_admin_organization_path(@organization.id), :class => 'refresh_large', :title => 'Switch the CEO and Contact Point roles, and transfer login information.'

    %dl.left_column
      %h3 Organization Details
      %dt.first= display_id_type(@organization)
      %dd.first= @organization.id
      %dt Status
      %dd= display_status(@organization).html_safe
      %dt Relationship Manager
      %dd= link_to @organization.participant_manager_name, "mailto:#{@organization.participant_manager_email}?subject=#{@organization.name}%20(ID: #{@organization.id})"
      %dt Participant since
      %dd= @organization.joined_on || 'n/a'
      %dt== #{@organization.cop_acronym} Due Date
      %dd= @organization.cop_due_on || 'n/a'
      %dt Organization Type
      %dd= @organization.organization_type_name
      - if @organization.company?
        %dt Ownership
        %dd
          = @organization.is_ft_500 ? 'FT 500' : nil
          = @organization.listing_status_name
        %dt Annual Revenue
        %dd= @organization.revenue_description
      %dt Sector
      %dd= @organization.sector_name
      %dt Employees
      %dd{:style => "color: #{alert_if_micro_enterprise(@organization, current_contact)};"}= @organization.employees
      %dt Country
      %dd= @organization.country_name
      - unless @organization.url.blank?
        %dt Website
        %dd= link_to truncate(@organization.url, :length => 30), @organization.url
      - if @organization.commitment_letter?
        %dt Letter of Commitment
        %dd{:title => @organization.commitment_letter_file_name}= link_to truncate(@organization.commitment_letter_file_name, :length => 30), @organization.commitment_letter.url
      - if @organization.recommitment_letter
        %dt Recommitment Letter
        %dd{:title => @organization.recommitment_letter.attachment_file_name}= link_to truncate(@organization.recommitment_letter.attachment_file_name), @organization.recommitment_letter.attachment.url
      - if @organization.withdrawal_letter
        %dt Withdrawal Letter
        %dd{:title => @organization.withdrawal_letter.attachment_file_name}= link_to truncate(@organization.withdrawal_letter.attachment_file_name), @organization.withdrawal_letter.attachment.url

    %dl.left_column
      %h3 Contact Information
      %dt.first Highest Level Executive
      - if @organization.contacts.ceos.count > 0
        %dd.first= render :partial => 'contact_overview', :collection => @organization.contacts.ceos
      - else
        %dd.first{:style => 'color: red'} Not assigned
      %dt Contact Point
      - if @organization.contacts.contact_points.count > 0
        %dd= render :partial => 'contact_overview', :collection => @organization.contacts.contact_points
      - else
        %dd{:style => 'color: red'} Not assigned

    -staff_only do
      %dl.left_column
        %h3 Welcome Package
        %dt.first Requested?
        %dd.first= @organization.welcome_package? ? 'Yes' : 'No'

      - if @organization.company?
        %dl.left_column
          %h3 Foundation Contribution
          %dt.first Suggested amount
          %dd.first= number_to_currency(@organization.suggested_pledge, :unit => "$") if @organization.revenue.present?
          %dt Pledge made
          %dd
            - if @organization.pledge_amount.to_i == 0 && @organization.no_pledge_reason.present?
              = "None. #{@organization.no_pledge_reason_value}."
            - else
              = number_to_currency(@organization.pledge_amount, :unit => "$")

      %dl.left_column
        %h3 Local Network
        %dt.first Membership Status
        %dd.first= local_network_membership
        %dt Network Status
        %dd= local_network_detail(@organization, :state).titleize
        %dt Name
        %dd= local_network_detail(@organization, :name)
        %dt Report Recipients
        %dd
          - if @organization.network_report_recipients.count >= 1
            = render :partial => 'admin/contacts/network_report_recipient', :collection => @organization.network_report_recipients
          - else
            == There is no Network Report Recipient for #{@organization.country_name}

    - if @organization.non_business? && @organization.non_business_organization_registration
      %dl.left_column
        %h3 Legal Status
        - reg = @organization.non_business_organization_registration
        %dt.first Date of Registration
        %dd.first= reg.date
        %dt Place of Registration
        %dd= reg.place
        %dt Public Authority
        %dd= reg.authority
        %dt Registration number
        %dd= reg.number
        - if @organization.legal_status
          %dt Proof of Legal Status
          %dd{:title => @organization.legal_status.attachment_file_name}= link_to truncate(@organization.legal_status.attachment_file_name), @organization.legal_status.attachment.url
        %dt Mission Statement
        %dd= reg.mission_statement

  #contacts.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New contact', new_admin_organization_contact_path(@organization.id), :class => 'new_user_large', :title => 'New Contact'
    %ul.items= render :partial => "admin/contacts/tabbed_contact", :collection => @organization.contacts

  #comments.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      - if @organization.network_review? && current_contact.from_ungc?
        %h4 Staff cannot add comments for applications under Network Review
      - else
        %li= link_to 'New Comment', new_admin_organization_comment_path(@organization.id), :class => 'new_large', :title => 'New Comment'
    %ul.items= render @organization.comments

  #peers.tab_content
    %h2 Peers
    %p.cop_description= describe_peer_organizations(@organization)
    %table.dashboard_table#cops_dashboard_table
      %tr
        %th Name
        %th Employees
        %th Status
        %th Actions
      = render :partial => 'admin/organizations/peer_organization', :collection => Organization.peer_organizations(@organization)

  - if @organization.communication_on_progresses.any?
    #cops.tab_content
      %h2= @organization.cop_name
      %table.dashboard_table#cops_dashboard_table
        %tr
          %th.last_updated Published
          %th.title Title
          %th.status Status
          - if @organization.company?
            %th.status Differentiation
          %th.actions Actions
        = render :partial => 'admin/communication_on_progresses/communication_on_progress', :collection => @organization.communication_on_progresses.find(:all, order: "created_at DESC")

  - if @organization.case_stories.any?
    #case_stories.tab_content
      %h2 Case Stories
      %table.dashboard_table#case_stories_dashboard_table
        %tr
          %th.last_updated Updated
          %th.title Title
          %th.status Status
          %th.actions Actions
        = render :partial => 'admin/case_stories/case_story', :collection => @organization.case_stories.find(:all, order: "created_at DESC")

  - if @organization.logo_requests.any?
    #logo_requests.tab_content
      %h2 Logo Requests
      %table.dashboard_table#logos_dashboard_table
        %tr
          %th.last_updated Last updated on
          %th.title Purpose
          %th.status Status
          %th.age Days since last update
          %th.actions Actions
        = render :partial => 'admin/logo_requests/logo_request', :collection => @organization.logo_requests.find(:all, order: "created_at DESC")

  - if @organization.initiatives.any?
    #initiatives.tab_content
      %h2 Engagement
      %table.dashboard_table#initiatives_dashboard_table
        %tr
          %th.title Initiative / Activity
          %th.title Since
          %th.actions Actions
        = render :partial => 'admin/initiatives/signing', :collection => @organization.signings.find(:all, order: "added_on DESC")
