- @body_class = 'details'
%h2= @organization.name

%p= organization_actions(@organization)

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#overview">Overview</a>
    %li <a href="#contacts">Contacts</a>
    %li <a href="#comments">Comments</a>

  #overview.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'Edit', edit_admin_organization_path(@organization.id), :class => 'edit', :title => 'Edit Profile'

    %dl.left_column
      %h3 Organization Details
      %dt.first= display_id_type(@organization)
      %dd.first= @organization.id
      %dt Status:
      %dd= display_status(@organization)
      %dt Participant since:
      %dd= @organization.joined_on || 'n/a'
      - if @organization.company?
        %dt COP Due Date:
        %dd= @organization.cop_due_on || 'n/a'
      %dt Organization Type:
      %dd= @organization.organization_type_name
      - if @organization.company?
        %dt Ownership:
        %dd= @organization.listing_status_name
      %dt Sector:
      %dd= @organization.sector_name
      %dt Employees:
      %dd= @organization.employees
      %dt Country:
      %dd= @organization.country_name
      - if @organization.commitment_letter?
        %dt Letter of Commitment:
        %dd{:title => @organization.commitment_letter_file_name}= link_to truncate(@organization.commitment_letter_file_name, :length => 30), @organization.commitment_letter.url

    %dl.left_column
      %h3 Contact Information
      %dt.first Highest Level Executive:
      %dd.first= render :partial => 'admin/contacts/contact_overview', :collection => @organization.contacts.ceos
      %dt Contact Point:
      %dd= render :partial => 'admin/contacts/contact_overview', :collection => @organization.contacts.contact_points
  
    -staff_only do
      %dl.left_column
        %h3 Local Network
        %dt.first Status:
        %dd.first= local_network_detail(@organization, :state).titleize
        %dt Name:
        %dd= local_network_detail(@organization, :name)
        %dt Report Recipients:
        %dd
          - if @organization.network_report_recipients.count >= 1
            = render :partial => 'admin/contacts/network_report_recipient', :collection => @organization.network_report_recipients
          - else
            == There is no Network Report Recipient for #{@organization.country_name}
  
  #contacts.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New contact', new_admin_organization_contact_path(@organization.id), :class => 'new', :title => 'New Contact'
    %ul.items= render :partial => "admin/contacts/tabbed_contact", :collection => @organization.contacts

  #comments.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New Comment', new_admin_organization_comment_path(@organization.id), :class => 'new', :title => 'New Comment'
    %ul.items= render @organization.comments
  
