- @body_class = 'details'
%h2= @organization.name

#status_box
  %dl
    %dt Status:
    %dd
      = @organization.approved? ? @organization.cop_state.humanize : @organization.state.humanize
      - if @organization.network_review?
        == for #{distance_of_time_in_words(@organization.network_review_on, Date.today + 24.hours)}
    %dt Local Network:
    %dd
      - if @organization.network_report_recipients.count >= 1
        = render :partial => 'admin/contacts/network_report_recipient', :collection => @organization.network_report_recipients
      - else
        == There is no Network Report Recipient for #{@organization.country.name}
    %dt Letter of Commitment:
    %dd
      %ul.document_list
        %li= link_to @organization.commitment_letter_file_name, @organization.commitment_letter.url

%p= organization_actions(@organization)

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#status">Status</a>
    %li <a href="#contacts">Contacts</a>
    %li <a href="#comments">Comments</a>

  #status.tab_content
    %ul#status_tools{:class => "tools inline"}
      %li= link_to 'Change status', edit_admin_organization_contact_path(@organization.id), :class => 'new', :title => 'Edit'
    %ul.items= render :partial => "admin/organizations/status_tab", :locals => {:organization => @organization}
  
  #contacts.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New contact', new_admin_organization_contact_path(@organization.id), :class => 'new', :title => 'New Contact'
    %ul.items= render :partial => "admin/contacts/tabbed_contact", :collection => @organization.contacts

  #comments.tab_content
    %ul#comments_tools{:class => "tools inline"}
      %li= link_to 'New Comment', new_admin_organization_comment_path(@organization.id), :class => 'new', :title => 'New Comment'
    %ul.items= render @organization.comments
  
