- @body_class = 'details'
%h2 Organization details:

#status_box
  %dl
    %dt Name:
    %dd=h @organization.name
    %dt Status:
    %dd= @organization.approved? ? @organization.cop_state.humanize : @organization.state.humanize
    %dt Commitment Letter:
    %dd
      %ul.document_list
        %li= link_to_commitment_letter(@organization)

/= organization_actions(@organization)

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#comments">Comments</a>
    %li <a href="#contacts">Contacts</a>
  
  #comments.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New Comment', new_admin_organization_comment_path(@organization.id), :class => 'new', :title => 'New Comment'
    %ul.items= render @organization.comments
  
  #contacts.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New contact', new_admin_organization_contact_path(@organization.id), :class => 'new', :title => 'New Contact'
    %ul.items= render @organization.contacts
