%p
  %b Name:
  =h @organization.name
%p
  %b State:
  = @organization.state

- if @organization.commitment_letter
  %p
    Commitment letter:
    = link_to @organization.commitment_letter_file_name, @organization.commitment_letter.url

= organization_actions(@organization)

%h3 Comments
= link_to 'New comment', new_admin_organization_comment_path(@organization.id)
%ul
  = render :partial => @organization.comments

%h3 Contacts
= link_to 'New contact', new_admin_organization_contact_path(@organization.id)
%ul
  = render :partial => @organization.contacts
