%p Thank you for writing to the UN Secretary-General to express your city’s support for the UN Global Compact’s principles in the areas of human rights, labour, environment and anti- corruption. We applaud your leadership in making this decision and welcome your city’s participation in the Global Compact – the world’s largest corporate responsibility initiative, with over 8,000 business participants and other stakeholders from civil society, labour and government based in over 135 countries.

%p From the beginning, the Global Compact has considered the active engagement of non- business stakeholders a critical factor for making real progress. Cities, in particular, have the potential to make enormous strides in creating sustainable societies – where economic, social, political and environmental issues are integrated and advanced.

%p Our Global Compact Cities Programme is dedicated to the promotion and adoption of the ten principles by cities, and provides a framework for translating the principles into day-to- day urban governance and management. Administered by an International Secretariat based at the Global Cities Institute at RMIT University in Melbourne, Australia, the Global Compact Cities Programme provides unique expertise and guidance to participating cities.

%p The Global Compact Cities Programme offers three levels of engagement – with each successive level involving a progression in terms of the commitment by cities and the commensurate advice, tools and recognition provided by the Cities Programme:

%p
  %ol
    %li <em>Signatory City</em> (your current designation): A city commits to the ten principles of the Global Compact, endeavours to enact and promote those principles in city management, and encourages businesses in the city to join the Global Compact.

    %li <em>Reporting City</em>: In addition to the Signatory commitment, a city agrees to annually report progress on efforts to advance the ten principles in city management, as well as through advocacy with the local business community. The Cities Programme provides guidance on relevant reporting indicators and metrics.

    %li <em>Innovating City</em>: Beyond the commitments of levels 1 and 2 above, a city undertakes a multi-year project to address a complex or seemingly intractable issue within the city linked to the ten principles. The development and management of the project is done using the Cities Programme methodology &ndash; which includes tools that facilitate collaborative partnerships, and the establishment of rigorous monitoring and evaluation processes. Dedicated support is provided by the Cities Programme. A fee is associated with this level of engagement which is invested into further development of research methodologies and related activities undertaken by the International Secretariat and made available to Innovating cities.

%p.addressee
  = @organization.contacts.ceos.first.full_name_with_title
  <br />
  = @organization.contacts.ceos.first.job_title
  <br />
  = @organization.name
  <br />
  = @organization.contacts.ceos.first.city
  <br />
  <br />
  cc: Paul James, Director, Global Compact Cities Programme

%p.new_page The Cities Programme is actively working with cities around the world, including San Francisco and Milwaukee (USA), Berlin (Germany), Jinan (China), Jamshedpur (India), and Asker (Norway). Projects address a range of issues, such as capacity building among the urban poor in slum redevelopment, community engagement around climate change mitigation, access to health care by disenfranchised citizens, and development of cross-sectoral mechanisms to prevent corruption. The Cities Programme website (www.citiesprogramme.org) provides a comprehensive overview.

%p== We look forward to your city&rsquo;s engagement in the Global Compact and hope that #{@organization.name} &ndash; as a Signatory City &ndash; will find increased opportunities to advance the ten principles and will give consideration to successive levels of engagement as a Reporting or Innovating city.

%p The Director of the Global Compact Cities Programme, Professor Paul James, would be pleased to discuss the level of engagement that best suits the circumstances and needs of your city. If you would like to arrange such a briefing, or if you have any queries in relation to this letter, please contact Professor James at paul.james@rmit.edu.au.

%p We look forward to working with you and your colleagues in adopting the principles of the UN Global Compact, and helping your city to advance collaborative and innovative approaches to improving the quality of urban life.