%h1 Featured

.display_shelf-section.ungc
  .display_shelf-header
    = link_to 'view all', '', class: 'view-all'
    %h3 Featured Resources

  %ul.display_shelf
    - @featured.featured.each do |f|
      = render partial: 'featured_resource', locals: { resource: f }

.display_shelf-section.ungc
  .display_shelf-header
    = link_to 'view all', '', class: 'view-all'
    %h3 Global Compact

  %ul.display_shelf
    - @featured.global_compact.each do |f|
      = render partial: 'featured_resource', locals: { resource: f }

.display_shelf-section.human_rights
  .display_shelf-header
    = link_to 'view all', '', class: 'view-all'
    %h3 Human Rights

  %ul.display_shelf
    - @featured.human_rights.each do |f|
      = render partial: 'featured_resource', locals: { resource: f }
