%a.resouce-block-link{href: "#{resource_path(result)}"}
  - if result.cover_image.present?
    .resource-result-img
      = retina_image result, :result, title: result.title

  .resource-result-body
    %h4
      = result.title
    %p
      = result.description

    %p.detail
      - if result.authors.any?
        == #{result.authors.map{|a| a.acronym || a.full_name }.join(' / ')}, #{result.year.year}
