#resources_search
  = form_tag nil, method: 'get', class: 'resources_search' do
    %fieldset
      %legend Details
      %dl
        %dt
          %label Keywords
        %dd
          = text_field_tag 'resource_search[keyword]', @search.keyword
      %dl
        %dt
          %label Languages
        %dd
          = select_tag 'resource_search[language]', languages_for_select(@search.language), include_blank: true, multiple: true, "data-placeholder" => "Find resources in selected languages"
      %dl
        %dt
          %label Authors
        %dd
          = select_tag 'resource_search[author]', options_from_collection_for_select(@authors, 'id', 'full_name',selected: @search.author), multiple: true, "data-placeholder" => "Find resources from selected authors"

    %fieldset
      %legend Topics
      = render '/shared/topics_menu', prefix: 'resource_search[topic]', topics: @topics, topics_ids: @search.topic_ids

    %p{:style => 'text-align: right; display: block;'}= submit_tag 'Search'
