- @title = 'Resources | Search Results'
#resources_results
  %h1 Search Results

  %p
    There
    = @results.total_count == 1 ? 'is' : 'are'
    = pluralize(@results.total_count, "resource")

  %ul.results-tools.results-actions
    %li
      = link_to "New Search", resources_search_path(tab: 'search'), class: 'button'
    %li
      = link_to "Refine Search", resources_search_path(tab: 'search', resource_search: params[:resource_search]), class: 'button'
  %ul.results-tools.results-filter
    %li
      = per_page_select([10,25,50,75,100])
    %li
      = resource_sort_by


  %ul.resource-results
    - @results.each do |result|
      %li
        = render :partial => "result_item", locals: { :result => result }

  = will_paginate @results
