#resources_results
  %h1
    Search Results

  There
  = @results.total_count == 1 ? 'is' : 'are'
  = pluralize(@results.total_count, "resource")
  -# TODO add topics description

  %div.clearfix
    %div.left
      = link_to "New Search", resources_search_path
      = link_to "Refine Search", resources_search_path(:keyword => params[:keyword], language: params[:language], :author => params[:author], :topic => params[:topic])
    %div.right
      = per_page_select([10,25,50,75,100])
      = resource_sort_by

  %ul
  - @results.each do |result|
    %li
      = render :partial => "result_item", locals: { :result => result }
  = will_paginate @results
