#resources_search
  %h1 Find Resources

  = form_tag nil, method: 'get', class: 'resources_search' do
    = hidden_field_tag 'commit', 'Search'
    %fieldset
      %legend Search
      %dl
        %dt
          %label Keywords
        %dd
          = text_field_tag :keyword
      %dl
        %dt
          %label Language
        %dd
          = select_tag :language, languages_for_select
      %dl
        %dt
          %label Authors
        %dd
          = select_tag(:author, options_from_collection_for_select(Author.all, 'id', 'full_name'), multiple: true)



    %p{:style => 'text-align: right; display: block;'}= submit_tag 'Search'
