- unless @resource.image_url.blank?
  = image_tag(@resource.image_url, title: @resource.title)
%h3= @resource.title
%p= @resource.description

%h4 Topics
%ul
  - @resource.principles.each do |topic|
    %li
      = link_to topic.name, resources_search_path(commit: "search", topic: {principle_ids: [topic.id]})
%h4 Authors
%ul
  - @resource.authors.each do |author|
    %li
      = link_to author.full_name, resources_search_path(commit: "search", author: [author.id])

%h4 Year
= @resource.year.year

%h4 Links
%ul
  - @resource.links.each do |link|
    %li= render link
