= error_messages_for @form, { header_message: false }

%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li <a href="#reporting_cycle_adjustments">Reporting Cycle Adjustment</a>
  #reporting_cycle_adjustments.tab_content
    %fieldset
      %fieldset
        %legend
          %span Select your new reporting deadline
        %ol
          %li
            = form.label :starts_on, "Starts on date (disabled)"
            = form.text_field :starts_on, :class => 'datepicker iso-date', :size => 11, disabled: true
          %li
            = form.label :ends_on, "Ends on date"
            = form.text_field :ends_on, :class => 'datepicker iso-date', :size => 11, disabled: !@form.new_record?

      %fieldset
        %legend
          %span Please upload your "Reporting Cycle Adjustment" as a PDF file
        %ol
          %li
            = form.label :language
            = form.select :language_id, options_from_collection_for_select(Language.all, :id, :name, @form.language_id)
            = form.file_field :attachment
            - if @form.has_file?
              %br
              - if @form.cop_file.attachment?
                Current file:
                = link_to @form.cop_file.attachment_file_name, @form.cop_file.attachment.url


    = form.hidden_field :title, value: 'Reporting Cycle Adjustment'

    %ul.tools.inline{:style => 'float: right;'}
      %li= link_to 'Cancel', @form.return_url, class: 'cancel_large'
      %li= submit_tag 'Submit', :class => "button", id: "finish"
