= error_messages_for @form, { header_message: false }

%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li <a href="#reporting_cycle_adjustments">Reporting Cycle Adjustment</a>
  #reporting_cycle_adjustments.tab_content
    %fieldset
      %fieldset
        %legend
          %span Reporting Period
        %ol
          %li
            = form.label :starts_on, "Starts on date (disabled)"
            = form.text_field :starts_on, :class => 'datepicker iso-date', :size => 11, disabled: true
          %li
            = form.label :ends_on, "Ends on date"
            = form.text_field :ends_on, :class => 'datepicker iso-date', :size => 11

      %fieldset
        %legend
          %span Please upload your "Reporting Cycle Adjustment" as a PDF file
        = render 'admin/cops/cop_file', cop_file: @form.cop_file, record: 0, language_id: @form.language_id

    = form.hidden_field :title, value: 'Reporting Cycle Adjustment'
    = submit_tag 'Submit', :class => "button", id: "finish"
