- @body_class = 'details'

%h2== Communication On Progress Details

%ul{:class => "tools inline"}

  %li= link_to "Back to COPs", @cycle_adjustment.return_path, :class => 'go_back_large'
  %li= link_to 'Public version', cop_detail_path(@cycle_adjustment.id), :class => 'web_preview_large'
  - staff_only do
    %li= link_to 'Delete Reporting Cycle Adjustment', admin_organization_cycle_adjustment_path(@cycle_adjustment.organization, @cycle_adjustment.id), method: :delete, :class => 'delete_large', confirm: "#{t('admin.confirm_delete_cycle_adjustment')}", title: "#{t('admin.delete_cycle_adjustment')}"

.main_content
  #status_box
    %dl{style: 'width: 90%;'}
      = render :partial => '/shared/cops/cop_info_header', :locals => { :communication_on_progress => @cycle_adjustment }
      %dt Reporting Cycle Ajustment
      %dd
        %ul
          %li== COP due date was extended until #{yyyy_mm_dd @cycle_adjustment.ends_on}
      - if @cycle_adjustment.has_file?
        %dt File
        %dd
          %ul
            - @cycle_adjustment.files.each do |file|
              %li
                = link_to truncate(file.attachment_file_name, :length => 60), file.attachment.url
                == (#{file.language.name})
      =action_links(@cycle_adjustment)
