%h2 Subscribe to the UN Global Compact Bulletin

%p
  News, Engagement Opportunities, Resources and Events.
  Please complete the following form:

= flash_messages_for(:error, :notice)

- form_for(@bulletin_subscriber) do |form|
  = form.text_field :first_name
  = form.text_field :last_name
  = form.text_field :organization_name
  = form.text_field :email
  
  %p
    = form.submit 'Subscribe'
    = form.submit 'Unsubscribe'
    