<%= render partial: 'redesign/components/meta_tags' %>
<%= render partial: 'redesign/components/hero' %>

<%= form_for @case_example, url: redesign_case_example_path, method: :post,  html: {class: 'main-content-section main-content-section-wide form-classic'} do |f| %>

  <header class='main-content-header'>
    <h1>Share Success</h1>
  </header>

  <%= content_tag(:p, content_tag(:span, notice), {class: 'success-message'}) if notice %>

  <% if @case_example.errors.any? %>
    <div class="errors-container">
      <h2><%= pluralize(@case_example.errors.count, "error") %> prohibited this case example from being sent:</h2>

      <ul class='errors-list'>
        <% @case_example.errors.full_messages.each do |message| %>
          <li class='error'><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field-required field-has-placeholder">
    <%= f.label :company %>
    <%= f.text_field :company, placeholder: 'Company' %>
  </div>

  <div class="field">
    <%= f.label :country_id, 'Country' %>
    <%= f.collection_select(:country_id, @case_example.countries, :id, :name) %>
  </div>

  <fieldset class='accordion-container'>
    <div class='accordion-item fields-required'>
      <h2 class='accordion-item-header'>Sector</h2>

      <div class='checkboxes-collection accordion-item-content-wrapper'>
        <%= f.collection_check_boxes :sector_ids, @case_example.sector_options, :id, :name do |sector| %>
          <div class='field field-checkbox'>
            <%= sector.check_box %>
            <%= sector.label %>
          </div>
        <%- end -%>
      </div>
    </div>
  </fieldset>

  <div class="field radio-buttons-collection">
    <p class='label'>Are you currently a global compact participant?</p>
    <%= f.collection_radio_buttons :is_participant, @case_example.is_participant_options, :id, :name do |participant| %>
      <div class='field field-radio-button'>
        <%= participant.radio_button %>
        <%= participant.label %>
      </div>
    <%- end -%>
  </div>

  <div class="field">
    <%= f.label :file, 'Upload a File (PDF, Word Doc, or plain text file)' %>
    <%= f.file_field :file, accept: 'application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain' %>
  </div>

  <div class="actions">
    <%= f.submit 'Share Case Example' %>
  </div>
<% end %>
