%h2 Approved logo requests

%ul{:class => "tools inline"}
  %li= link_to 'Excel file', url_for(params.merge(:format => 'xls')), :class => 'download_large'

%p
  - form_for admin_report_path(:action => :approved_logo_requests), :html => {:method => :get} do |f|
    = select_month_tag(@month)
    = select_year_tag(@year)
    = f.submit 'View'

%table.dashboard_table
  %tr
    %th Request ID
    %th Participant
    %th Publication Type
    %th Reviewer
    %th Approval Date
    %th State
    %th Days to process
    %th Actions
  - @report.records.each do |record|
    %tr
      %td= record.id
      %td{:title => record.organization.name}= truncate record.organization.name
      %td{:title => record.publication.name}= truncate record.publication.name
      %td= record.reviewer.name
      %td= record.approved_on
      %td= record.state.titleize
      %td= record.days_to_process
      %td
        %ul.actions
          %li= link_to 'View Details', admin_organization_logo_request_path(record.organization.id, record), :title => "View logo request details", :class => "preview"
