%h2 LEAD Companies - Latest COP Submission

%p
  %ul{:class => "tools inline"}
    %li= link_to 'Download Excel file', url_for(params.merge(:format => 'xls')), :class => 'download_large'

%table.dashboard_table
  %tr
    %th Company
    %th COP Title
    %th Differentiation
    %th Missing<br />required<br />items?
    %th Missing<br />LEAD<br />criteria?
    %th Submitted On
    %th Next COP
    %th Actions
  - @report.records.each do |org|
    %tr
      %td{:title => org.name}= link_to truncate(org.name), admin_organization_path(org.id)
      %td= link_to truncate(org.last_approved_cop.title), admin_organization_communication_on_progress_path(org.id, org.last_approved_cop), :title => org.last_approved_cop.title
      %td= org.last_approved_cop.differentiation_level_name
      %td= !org.last_approved_cop.is_grace_letter? && org.last_approved_cop.missing_items? ? 'Yes': ''
      %td= org.last_approved_cop.lead_cop_is_incomplete? ? 'Yes': ''
      %td= org.last_approved_cop.created_at.strftime('%Y-%m-%d')
      %td= org.cop_due_on.strftime('%Y-%m-%d')
      %td
        %ul.actions
          =link_to 'View Details', admin_organization_communication_on_progress_path(org.id, org.last_approved_cop), :title => "View Details", :class => "preview"