%h2 Foundation Pledges

%ul{:class => "tools inline"}
  %li= link_to 'Excel file', url_for(params.merge(:format => 'xls')), :class => 'download_large'

- form_for admin_report_path(:action => :foundation_pledges), :html => {:method => :get} do |f|
  = select_month_tag(@month)
  = select_year_tag(@year)
  = f.submit 'View'

%div= @report.render_html
