%h3 Reports

%h4 Participant Management
%ul
  %li= link_to_report 'Participant Breakdown', :participant_breakdown
  %li= link_to_report 'Contacts for Mail Merge', :contacts_mail_merge
<<<<<<< HEAD
  %li= link_to_report 'Delisted Participants', :delisted_participants
  %li= link_to_report 'Publicly-traded Companies', :listed_companies
=======
  %li= link_to_report 'Approved Logo Requests', :approved_logo_requests
  %li= link_to_report 'Listed Companies', :listed_companies
>>>>>>> master
  %li= link_to_report 'Companies without contacts', :companies_without_contacts
  
%h4 Communication on Progress

%h4 Local Networks
%ul
  %li= link_to_report 'Networks Report', :networks

%h4 Communications
%ul
  %li= link_to_report 'Bulletin Subscribers', :bulletin_subscribers

%h4 Other Reports
%ul
  %li= link_to_report 'Foundation Pledges', :foundation_pledges
  %li= link_to_report 'Approved Logo Requests', :approved_logo_requests