%h2 Reports

%hr

%dl.left_column

  %p
    %h3 Participant Management

  %ul.report_list
    %li= link_to_report_xls 'Participant Breakdown', :participant_breakdown
    %li= link_to_report_xls 'Contacts for Mail Merge', :contacts_mail_merge
    %li= link_to_report_xls 'Contacts for Excel Macro', :contacts_excel_macro
    %li= link_to_report_xls 'Delisted Participants', :delisted_participants
    %li= link_to_report_xls 'Publicly-traded Companies', :listed_companies

  %p
    %h3 Local Networks

  %ul.report_list
    %li= link_to_report_xls 'Network Management', :local_networks_management
    %li= link_to_report_xls 'Events and Activities', :local_networks_events
    %li= link_to_report_xls 'Knowledge Sharing Items', :local_networks_knowledge_sharing
    %li= link_to_report_xls 'Representatives and Contact Persons', :local_networks_contacts
    %li= link_to_report_xls 'Monthly Report Recipients', :local_networks_report_recipients

%dl.left_column

  %p
    %h3 Communication on Progress

  %ul.report_list
    %li= link_to_report_xls 'Differentiated COPs for Weekly and Monthly Analysis', :cops_with_differentiation
    %li= link_to_report_xls 'COPs received after 2010 with required elements', :cop_required_elements
    %li= link_to_report_xls 'Communication on Progress Export', :all_cops
    %li= link_to_report_xls 'Advanced Questionnaire Answers', :cop_questionnaire_answers
    %li= link_to_report_xls 'COP files received after 2010 with language', :cop_languages

  %p
    %h3 Other Reports

  %ul.report_list
    / %li= link_to_report 'Networks Report', :networks
    %li= link_to_report_xls 'CEO Water Mandate Contacts', :initiative_contacts
    %li= link_to_report 'Foundation Pledges', :foundation_pledges
    %li= link_to_report 'Approved Logo Requests', :approved_logo_requests


