%h2 Reports

%hr

%dl.left_column

  %p
    %h3 Participant Management

  %ul.report_list
    %li= link_to_report_xls 'Participant Breakdown', :participant_breakdown
    %li= link_to_report_xls 'Contacts for Mail Merge', :contacts_mail_merge
    %li= link_to_report_xls 'Contacts for Excel Macro', :contacts_excel_macro
    %li= link_to_report_xls 'Delisted Participants', :delisted_participants
    %li= link_to_report_xls 'Publicly-traded Companies', :listed_companies
    %li= link_to_report_xls 'Participant Applications', :participant_applications
    %li= link_to_report_html 'Initiative Organizations', :initiative_organizations
    %li= link_to_report_xls 'Due Diligence Reviews', :due_diligence_reviews

  %p
    %h3 Local Networks

  %ul.report_list
    %li= link_to_report_xls 'Network Management', :local_networks_management
    %li= link_to_report_xls 'Events and Activities', :local_networks_events
    %li= link_to_report_xls 'Activity Archive Items', :local_networks_knowledge_sharing
    %li= link_to_report_xls 'All Local Networks Persons', :local_networks_contacts

%dl.left_column

  %p
    %h3 Communication on Progress

  %ul.report_list
    %li= link_to_report_xls 'Differentiated COPs for Weekly and Monthly Analysis', :cops_with_differentiation
    %li= link_to_report_xls 'COPs received after 2010 with required elements', :cop_required_elements
    %li= link_to_report_xls 'Communication on Progress Export', :all_cops
    %li= link_to_report_xls 'Advanced Questionnaire Answers', :cop_questionnaire_answers
    %li= link_to_report_xls 'COP files received after 2010 with language', :cop_languages
    %li= link_to_report_html 'COP based on Initiative answers', :initiative_cops
    %li= link_to_report_html 'LEAD Companies - Latest COP Submission', :cop_lead_submissions
    %li= link_to_report_html 'CEO Water Mandate - Latest COP Submission', :cop_water_mandate_submissions

  %p
    %h3 Other Reports

  %ul.report_list
    / %li= link_to_report 'Networks Report', :networks
    %li= link_to_report_xls 'CEO Water Mandate Contacts', :water_mandate_contacts
    %li= link_to_report_xls 'Caring for Climate Contacts', :caring_for_climate_contacts
    %li= link_to_report_html 'Foundation Pledges', :foundation_pledges
    %li= link_to_report_html 'Approved Logo Requests', :approved_logo_requests
    %li= link_to_report_xls 'All Logo Requests', :all_logo_requests
    %li= link_to_report_xls 'SDG Pioneer Submission', :sdg_pioneer_submission
    %li= link_to_report_xls 'SDG Pioneer Nominee', :sdg_pioneer_other
    %li= link_to_report_xls 'SDG COP Answers', :sdg_cop_answers
    %li= link_to_report_xls 'Action Platforms', :action_platform_contacts
    %li= link_to_report_html 'Academy Viewers', :academy_viewers

= render partial: 'report_modal'
