<h2>Generate COP report based on an Initiative<h2>

<ul class="tools inline">
  <li>
    <%= link_to_download_report text: "Download Excel Report", format: 'xls'%>
  </li>
</ul>

<p>
  <%= form_for admin_report_path(:action => :initiative_cops, :html => {:method => :get}) do |form|%>
  <fieldset>
      <legend>Initiatives</legend>
        <h5>Starting Date<h5>
          <p>
            <%= select_month_tag(@start_month) %>
            <%= select_day(@start_day) %>
            <%= select_year_tag(@start_year) %>
          </p>
        <h5>Ending Date</h5>
          <p>
            <%= select_month_tag(@end_month) %>
            <%= select_day(@end_day) %>
            <%= select_year_tag(@end_year) %>
          </p>


      <% Initiative.initiatives_for_cop_form.each_pair do |key, value| %>
        <ol class="checkbox_list column">
            <li>
              <%= check_box_tag "initiatives", key, @initiative, { id: "initiatives_#{value}", class: "label_right" } %>
              <%= label_tag "initiatives_#{key}", key, class: 'checkbox_label normal' %>
            </li>
        </ol>
      <% end %>
    </fieldset>
    <ul class="tools inline">
      <li>
        <%= form.submit "Create Excel with selected Initiative", admin_report_path(:action => :initiative_cops), class: 'new_large', style: 'margin-right: 25px;' %>
      </li>
      <li>
        <%= link_to 'Clear selection', admin_report_path(:action => :initiative_cops), :class => 'cancel_large' %>
      </li>
    </ul>
  <% end %>
</p>
<%= render partial: 'report_modal' %>
