<h2>Generate COP report based on an Initiative<h2>

<ul class="tools inline">
  <li>
    <%= link_to_download_report text: "Download Excel Report", format: 'xls'%>
  </li>
</ul>

<p>
  <%= form_for admin_report_path(:action => :initiative_cops), :html => {:method => :get} do |form|%>
  <fieldset>
      <legend>Initiatives</legend>
      <div>
        <h5>Starting Date<h5>
        <%= select_date(@start_date, prefix: "start_date", prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}) %>
        <h5>Ending Date</h5>
        <%= select_date(@end_date, prefix: "end_date", prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}) %>
      </div>

      <h5>Select only ONE initiative<h5>

      <% Initiative.initiatives_for_cop_form.each_pair do |key, value| %>
        <ol class="checkbox_list column">
            <li>
              <%= check_box_tag "initiatives", key, @initiative, { id: "initiatives_#{value}", class: "label_right" } %>
              <%= label_tag "initiatives_#{key}", key, class: 'checkbox_label normal' %>
            </li>
        </ol>
      <% end %>
    </fieldset>
    <ul class="tools inline">
      <li>
        <%= form.submit "Create Excel with selected Initiative", class: 'new_large', style: 'margin-right: 25px;' %>
      </li>
      <li>
        <%= link_to 'Clear selection', admin_report_path(:action => :initiative_cops), :class => 'cancel_large' %>
      </li>
    </ul>
  <% end %>
</p>
<%= render partial: 'report_modal' %>
