<h2>Generate COP report based on an Initiative<h2>

<ul class="tools inline">
  <li>
    <% if @initiatives_form.errors.any? %>
      <%= @initiatives_form.errors.full_messages.to_sentence %>
    <% else %>
      <%= link_to_download_report text: "Download Excel Report", format: 'xls'%>
    <% end %>
  </li>
</ul>

<p>
  <%= form_for @initiatives_form, as: :report, url: admin_report_path(:action => :initiative_cops), :html => {:method => :get} do |form|%>
  <fieldset>
      <legend>Initiatives</legend>
      <div>
        <h5>Starting Date</h5>
        <%= form.date_select :start_date %>
        <h5>Ending Date</h5>
        <%= form.date_select :end_date %>
      </div>

      <h5>Select an initiative<h5>

      <% InitiativeCops.initiative_names.each_pair do |slug, title| %>
        <ol class="checkbox_list column">
            <li>
              <%= radio_button_tag "initiatives", slug, @initiative_name, { id: "initiatives_#{slug}", class: "label_right" } %>
              <%= label_tag "initiatives_#{slug}", title, class: 'checkbox_label normal' %>
            </li>
        </ol>
      <% end %>
    </fieldset>
    <ul class="tools inline">
      <li>
        <%= form.submit "Create Excel with selected Initiative", class: 'new_large', style: 'margin-right: 25px;' %>
      </li>
      <li>
        <%= link_to 'Clear selection', admin_report_path(:action => :initiative_cops), :class => 'cancel_large' %>
      </li>
    </ul>
  <% end %>
</p>
<%= render partial: 'report_modal' %>
