<h2>Generate COP report based on an Initiative<h2>

<ul class="tools inline">
  <li>
    <%= link_to_download_report text: "Download Excel Report", format: 'xls'%>
  </li>
</ul>

<p>
  <%= form_for @initiatives_form, as: :report, url: admin_report_path(:action => :initiative_cops), :html => {:method => :get} do |form|%>
  <fieldset>
      <legend>Initiatives</legend>
      <div>
        <h5>Starting Date<h5>
        <%= form.date_select :start_date, prompt: {start_day: 'Choose day', start_month: 'Choose month', start_year: 'Choose year'} %>
        <h5>Ending Date</h5>
        <%= form.date_select :end_date, prompt: {end_day: 'Choose day', end_month: 'Choose month', end_year: 'Choose year'} %>
      </div>

      <h5>Select an initiative<h5>

      <% Initiative.initiatives_for_cop_form.each_pair do |initiative, value| %>
        <ol class="checkbox_list column">
            <li>
              <%= radio_button_tag "initiatives", initiative, @initiative_name, { id: "initiatives_#{value}", class: "label_right" } %>
              <%= label_tag "initiatives_#{initiative}", t(initiative, scope: :initiative_cops), class: 'checkbox_label normal' %>
            </li>
        </ol>
      <% end %>
    </fieldset>
    <ul class="tools inline">
      <li>
        <%= form.submit "Create Excel with selected Initiative", class: 'new_large', style: 'margin-right: 25px;' %>
      </li>
      <li>
        <%= link_to 'Clear selection', admin_report_path(:action => :initiative_cops), :class => 'cancel_large' %>
      </li>
    </ul>
  <% end %>
</p>
<%= render partial: 'report_modal' %>
