%h2 Published Webpages

%p
  %ul.tools.inline
    %li= link_to_download_report

%table.dashboard_table
  %tr
    %th Page ID
    %th Path
    %th Title
    %th Main Section
    %th Parent Section
    %th Last Update
  - @report.records.each do |page|
    %tr
      %td= page.id
      %td{:title => page.path}= truncate(page.path, :length => 30)
      %td{:title => page.title}= truncate(page.title, :length => 30)
      %td= page.main_section
      %td= page.parent_section
      %td= page.approved_at.to_date

= render partial: 'report_modal'
