%p== Dear #{@user.name_with_title},

%p
  Thank you for submitting your Communication on Progress (COP). According to your self-assessment, your COP meets all minimum requirements and qualifies for the GC Active level. Your COP and the self-assessment are now publicly available on the Global Compact website. 
  == Your COP and the self-assessment are now #{link_to "publicly available", 'http://www.unglobalcompact.org' + cop_detail_path(@cop)} on the Global Compact website. 

%p The Global Compact encourages GC Active participants to improve policy implementation and increase transparency in order to progress toward achieving GC Advanced status for the next reporting period. 

%p== The #{link_to 'GC Advanced', 'http://www.unglobalcompact.org/COP/differentiation/GCAdvanced_level.html'} level aims to create a higher standard for corporate sustainability performance and disclosure based on the Blueprint for Corporate Sustainability Leadership and the UN Global Compact Management Model.

%p Companies have an opportunity to identify themselves as "GC Advanced" by demonstrating that they have adopted, and report on, policies and processes in the following areas:

%ul
  %li strategy, governance and engagement
  %li UN goals and issues
  %li implementation of Global Compact principles
  %li value chain implementation
  %li verification and disclosure

%p== We look forward to receiving your next COP by #{dd_month_yyyy @organization.cop_due_on} and hope that you will consider participating at the GC Advanced level.

%p Sincerely,
%p
  The COP Team
  %br
  United Nations Global Compact
  %br
  = mail_to 'cop@unglobalcompact.org'