%p{:style => 'text-align: center;'}
  = link_to 'Ce message en Fran&ccedil;ais'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_today_active_fr.pdf'
  |
  = link_to 'Este mensaje en Espa&ntilde;ol'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_today_active_es.pdf'
  |
  = link_to '&#x4FE1;&#x4EF6;&#x4E2D;&#x6587;'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_today_active_ch.pdf'

Dear Contact Points for
%strong== #{@organization.name},

%p== We would like to remind you that your company's deadline to submit your COP to the UN Global Compact website on #{dd_month_yyyy @organization.cop_due_on} 23:00 UTC. We stand ready to address any question you may have around the submission of your COP and your participation in the UN Global Compact.

%p== In case you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one.

%p== If your company fails to submit a COP by #{dd_month_yyyy @organization.cop_due_on} 23:00 UTC it will be listed as "Non-communicating" on the UN Global Compact public list of participants and the company's individual Global Compact page.

%p== If you have not requested a deadline extension within the last three months, you may submit a #{link_to 'Grace Letter', 'http://unglobalcompact.org/docs/communication_on_progress/Grace_Letter_Step_by_Step_Guide.pdf'} through the UN Global Compact website to extend your deadline by 90 days. To maintain your "Active" status and avoid becoming "Non-communicating", the letter must be submitted before the deadline at 23:00 UTC. The Grace Letter must provide a short explanation for the delay and must be uploaded to the UN Global Compact website. This letter can be signed by any relevant company representative.

%p
  ==If you have any questions related to your COP or to any other aspect of your participation in the UN Global Compact, please do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} via phone at #{@organization.participant_manager_phone} or email at #{mail_to @organization.participant_manager_email.to_s}.

  - if @organization.network_report_recipients.any?
    == Additionally, your Local Network contact point, #{@organization.network_report_recipient_name} in #{@organization.country_name}, copied on this email, would be happy to provide you with further support and information.

  We look forward to the timely submission of your COP and we stand ready to answer your questions.

%p Sincerely,

%p
  Transparency and Disclosure Team
  %br/
  = render :partial => '/shared/ungc_signature'

= render :partial => '/shared/cops/cop_resources_for_email.html.haml'