%p{:style => 'text-align: center;'}
  = link_to 'Ce message en Fran&ccedil;ais'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_in_90_days_active_fr.pdf'
  |
  = link_to 'Este mensaje en Espa&ntilde;ol'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_in_90_days_active_es.pdf'
  |
  = link_to '&#x4FE1;&#x4EF6;&#x4E2D;&#x6587;'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_in_90_days_active_ch.pdf'
  |
  = link_to 'Veja esta mensagem em portugu&ecirc;s'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_in_90_days_active_pt.pdf'


Dear Contact Points for
%strong== #{@organization.name},

%p==We would like to remind you that the deadline for submitting your company's annual Communication on Progress (COP) to the UN Global Compact website is in 90 days on #{dd_month_yyyy @organization.cop_due_on}.

%p==Upon joining the initiative all UN Global Compact participants make the commitment to annually disclose progress through their #{link_to 'COP', 'http://www.unglobalcompact.org/COP/communicating_progress/cop_policy.html'}. Depending on the level of disclosure and the self-assessment filled out at the time of submission, COPs are classified as one of the following levels: #{link_to 'GC Advanced', 'http://www.unglobalcompact.org/docs/communication_on_progress/GC_Advanced_COP_Step_by_Step.pdf'}, #{link_to 'GC Active', 'http://www.unglobalcompact.org/docs/communication_on_progress/COP_Submission_Step_by_Step_Guide.pdf'}, or #{link_to 'GC Learner', 'http://www.unglobalcompact.org/COP/differentiation/the_learner_platform.html'}.

%p==In case you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one. For your convenience, at the end of this email, you will find a list of tools and resources that can help you in drafting and submitting your COP.

%p
  ==If you have any questions related to your COP or to any other aspect of your participation in the UN Global Compact, please do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} at #{mail_to @organization.participant_manager_email.to_s}.

  - if @organization.network_report_recipients.any?
    == Additionally, your Local Network contact point, #{@organization.network_report_recipient_name} in #{@organization.country_name}, copied on this email, would be happy to provide you with support and information about how to engage locally.

  We look forward to the timely submission of your COP and we stand ready to answer your questions.

%p We appreciate your participation in our global movement and we strongly believe that our collective action will yield sustainable and positive impact.


%p Sincerely,

%p
  Transparency and Disclosure Team
  %br/
  = render :partial => '/shared/ungc_signature'

= render :partial => '/shared/cops/cop_resources_for_email.html.haml'
