%p{:style => 'text-align: center;'}
  - if @organization.last_cop_is_learner?
    = link_to 'Ce message en Fran&ccedil;ais', 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_in_90_days_learner_fr.pdf'
    |
    = link_to 'Este mensaje en Espa&ntilde;ol', 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_in_90_days_learner_es.pdf'
  - else
    = link_to 'Ce message en Fran&ccedil;ais', 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_in_90_days_active_fr.pdf'
    |
    = link_to 'Este mensaje en Espa&ntilde;ol', 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_due_in_90_days_active_es.pdf'

To all Contact Points for
%strong== #{@organization.name}:

%p== The Global Compact Office would like to remind you that the deadline for submitting your company's annual Communication on Progress (COP) to the Global Compact website is in 90 days on #{dd_month_yyyy @organization.cop_due_on}.

%p== The Global Compact #{link_to 'COP policy', 'http://www.unglobalcompact.org/COP/communicating_progress/cop_policy.html'} requires companies to communicate progress annually with stakeholders on their implementation of the 10 principles and to publish their Communication on Progress (COP) on the Global Compact website. If a company fails to meet its submission deadline, it will be listed as "non-communicating" on the list of participants and the company's #{link_to 'individual Global Compact page', 'http://www.unglobalcompact.org/participant/'+@organization.id.to_s}.

- if @organization.last_cop_is_learner?
  %p== Your company is currently in the Learner Platform due to your COP's omission of one or more required elements. To see which elements your company is missing, please #{link_to 'access your COP', 'http://www.unglobalcompact.org' + cop_detail_path(@organization.last_cop)}.

%p All COPs must meet all content criteria listed below. If you fail to include all THREE elements, the COP will not be considered in compliance with the GC Active level.

%p To achieve the GC Active level, all COPs must include:

%ul
  %li A statement by the chief executive of continued support for the Global Compact and renewed commitment to the initiative and its principles;
  %li A description of practical actions the company has taken to implement the Global Compact principles in each of the four issue areas: Human Rights, Labour, Environment and Anti-Corruption; and
  %li A measurement of outcomes (i.e. the degree to which targets/performance indicators were met)

%p= link_to 'Full COP policy', 'http://www.unglobalcompact.org/COP/communicating_progress/cop_policy.html'

%p Companies that remain non-communicating for more than one year will be expelled from the initiative, the name of expelled participants are made public on the Global Compact website.

- if @organization.last_cop_is_learner?
  %p== Should you need any guidance on preparing or submitting your COP, please visit the #{link_to 'Learner Platform page', 'http://www.unglobalcompact.org/COP/differentiation/the_learner_platform.html'} on the Global Compact website, where you will also find a #{link_to 'Basic COP Template', 'http://www.unglobalcompact.org/COP/communicating_progress/basic_cop_template.html'}.

%p== Note: All COPs must be directly uploaded on the Global Compact website. If you do not have your login information, you may #{link_to 'retrieve your username and select a new password', new_password_url}.

%p
  == Please do not hesitate to contact the COP team (#{mail_to 'cop@unglobalcompact.org'}) or your Local Network contact person (#{link_to 'see here for a list of networks and contact information', 'http://www.unglobalcompact.org/NetworksAroundTheWorld/index.html'}) for further support.
  - if @organization.network_report_recipients.any?
    == Additionally, your Local Network in #{@organization.country_name} has been copied on this email.

%p We look forward to the timely submission of your COP.

%p Sincerely,

%p Communication on Progress Team

= render :partial => '/shared/ungc_signature'
