To all Contact Points for
%strong== #{@organization.name}:

%p== We regret to inform you that your company was expelled from the Global Compact for failure to submit a Communication on Progress (COP) by #{dd_month_yyyy Date.today} 01:00 UTC.

%p== The Global Compact #{link_to 'COP policy', 'http://www.unglobalcompact.org/COP/communicating_progress/cop_policy.html'} requires companies to communicate progress annually with stakeholders on their implementation of the 10 principles and to publish their Communication on Progress (COP) on the Global Compact website.

%p== When a company fails to meet its submission deadline, it will be listed in the #{link_to '"non-communicating" list of participants', 'http://www.unglobalcompact.org/'+DEFAULTS[:cop_noncommunicating_path]} and the company's #{link_to 'public profile', 'http://www.unglobalcompact.org/participant/'+@organization.id.to_s}. Companies that remain non-communicating for more than a year will be expelled from the initiative.

%p== Should you need any guidance on preparing or submitting your COP, we offer a wide range of #{link_to 'COP tools and publications', 'http://www.unglobalcompact.org/COP/communicating_progress.html'} on the Global Compact website.

%p== Note: All COPs must be submitted online by #{link_to 'logging into the Global Compact website', dashboard_url}. If you do not have your login information, you may #{link_to 'retrieve your username and select a new password', new_contact_password_url}.

%p
  == If you wish to reverse your expelled status and rejoin the Global Compact, please contact our Participant Management team at #{mail_to 'participants@unglobalcompact.org'}.
  - if @organization.network_report_recipients.any?
    == Additionally, your Local Network Contact Person in #{@organization.country_name} has been copied on this email.

%p Sincerely,

%p The Global Compact Office

= render :partial => '/shared/ungc_signature'
