%p{:style => 'text-align: center;'}
  = link_to 'Ce message en Fran&ccedil;ais'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_7_days_fr.pdf'
  |
  = link_to 'Este mensaje en Espa&ntilde;ol'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_7_days_es.pdf'
  |
  = link_to '&#x4FE1;&#x4EF6;&#x4E2D;&#x6587;'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_7_days_cn.pdf'

Dear Contact Points for
%strong== #{@organization.name},

%p== Please note that #{@organization.name} continues to be in danger of being expelled from the United Nations Global Compact due to failure to communicate on progress.  We would like to remind you of the pledge you made in your [Letter of Commitment] to report on progress on an annual basis.

%p== We urge you to submit your company’s COP though our website by #{dd_month_yyyy delisting_on(@organization)}. Expelled companies will be removed from our list of participants and will be listed as #{link_to 'Expelled Participants', 'http://www.unglobalcompact.org/COP/analyzing_progress/expelled_participants.html'} on our website and in our next press release announcing the names of expelled companies. 

%p==If you will not be able to meet the deadline, and if you have not requested an extension within your last reporting cycle, you can #{link_to 'submit a Grace Letter', 'http://www.unglobalcompact.org/docs/communication_on_progress/Grace_Letter_Step_by_Step_Guide.pdf'} to extend your deadline by 90 days.

%p==In case you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one.

%p==Your company can also choose to #{link_to 'voluntarily withdraw', 'http://www.unglobalcompact.org/docs/how_to_participate_doc/Withdrawal_sample_letter.pdf'} before being expelled from the UN Global Compact to ensure that your company’s name does not appear in the expelled list and in the press release. Please reply to this message to let us know how you would like to proceed, and do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} at #{mail_to @organization.participant_manager_email.to_s} with any questions.

%p We hope you will continue your participation in our global movement and we strongly believe that our collective action will yield sustainable and positive impact.

%p Sincerely,

%p
  Transparency and Disclosure Team
  %br/
  = render :partial => '/shared/ungc_signature'

= render :partial => '/shared/cops/cop_resources_for_email.html.haml'