%p{:style => 'text-align: center;'}
  = link_to 'Ce message en Fran&ccedil;ais'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/delisting_today_sme_fr.pdf'
  |
  = link_to 'Este mensaje en Espa&ntilde;ol'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/delisting_today_sme_es.pdf'
  |
  = link_to '&#x4FE1;&#x4EF6;&#x4E2D;&#x6587;'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/delisting_today_sme_ch.pdf'
  |
  = link_to 'Veja esta mensagem em portugu&ecirc;s'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/delisting_today_sme_pt.pdf'

Dear Contact Points for
%strong== #{@organization.name},

%p== Our records show that your company has missed its second consecutive deadline to submit a #{link_to 'Communication on Progress (COP)', 'http://www.unglobalcompact.org/COP/'} on the UN Global Compact website. Normally, your company would be expelled from the initiative and listed as such #{link_to 'on our website', 'http://www.unglobalcompact.org/COP/analyzing_progress/expelled_participants.html'} and in our next press release announcing the names of expelled companies.

%p==However, in order to support SMEs in their sustainability efforts and to encourage your company to continue its engagement with the UN Global Compact, we are willing to grant your company additional time to submit a COP. Your COP should have been submitted by #{dd_month_yyyy @organization.cop_due_on - 1.year} and the expulsion should have taken place on #{dd_month_yyyy @organization.cop_due_on}. To avoid being expelled from the initiative, please submit your COP on the UN Global Compact website as soon as possible. In case you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one.

%p==To ensure that your next COP fulfills all requirements, we urge you to take advantage of the relevant guidance developed by our office listed below. Please note that the #{link_to 'Basic Template','http://www.unglobalcompact.org/docs/communication_on_progress/Basic_COP_Step_by_Step_Guide.pdf'} is designed for companies that do not have their report available as a PDF.

%p
  ==We hope these resources will assist you in advancing your sustainability practices and in submitting an updated COP at the #{link_to 'GC Active','http://www.unglobalcompact.org/docs/communication_on_progress/COP_Submission_Step_by_Step_Guide.pdf'} or #{link_to 'GC Advanced','http://www.unglobalcompact.org/docs/communication_on_progress/GC_Advanced_COP_Step_by_Step.pdf'} level.  Please do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} at #{mail_to @organization.participant_manager_email.to_s} with any questions you might have on your COP submission or your participation in the Global Compact.
  - if @organization.network_report_recipients.any?
    == Your Local Network contact point, #{@organization.network_report_recipient_name} in #{@organization.country_name}, copied on this email, would also be happy to answer any questions or provide you with assistance.

%p We hope you will continue your participation in our global movement and we strongly believe that our collective action will yield sustainable and positive impact.

%p Sincerely,

%p
  Transparency and Disclosure Team
  %br/
  = render :partial => '/shared/ungc_signature'

= render :partial => '/shared/cops/cop_resources_for_email.html.haml'