%p{:style => 'text-align: center;'}
  = link_to 'Ce message en Fran&ccedil;ais'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_30_days_fr.pdf'
  |
  = link_to 'Este mensaje en Espa&ntilde;ol'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_30_days_es.pdf'
  |
  = link_to '&#x4FE1;&#x4EF6;&#x4E2D;&#x6587;'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_30_days_ch.pdf'
  |
  = link_to 'Veja esta mensagem em portugu&ecirc;s'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_30_days_pt.pdf'

Dear Contact Points for
%strong== #{@organization.name},

%p== We are contacting you on behalf of the United Nations Global Compact Office to bring to your attention that #{@organization.name} is in danger of being removed from our list of active participants on #{dd_month_yyyy delisting_on(@organization)} for failing to submit an annual Communication on Progress (COP). We would like to remind you of the pledge your company made in its #{link_to_letter_of_commitment_if_available(@organization)} to report on progress on an annual basis. If your company does not submit an updated COP by #{dd_month_yyyy delisting_on(@organization)}, it will appear in the #{link_to 'Expelled Participants', 'http://www.unglobalcompact.org/COP/analyzing_progress/expelled_participants.html'} section of our website and in our next press release announcing the names of expelled companies.

%p== To rectify this urgent matter, please access your profile on the #{link_to 'UN Global Compact website', 'http://unglobalcompact.org/login'} and submit a COP at the #{link_to 'GC Active','http://www.unglobalcompact.org/docs/communication_on_progress/COP_Submission_Step_by_Step_Guide.pdf'} or #{link_to 'GC Advanced','http://www.unglobalcompact.org/docs/communication_on_progress/GC_Advanced_COP_Step_by_Step.pdf'} level. In case you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one.

%p== If your company needs additional time to meet the COP requirement, and if you have not requested an extension within your last reporting cycle, you can request a deadline extension of 90 days by uploading a #{link_to 'Grace letter','http://www.unglobalcompact.org/docs/communication_on_progress/Grace_Letter_Step_by_Step_Guide.pdf'} to our website. Please note that this letter must be submitted before your expulsion date on #{dd_month_yyyy delisting_on(@organization)}.

%p For your convenience, at the end of this email, you will find a list of tools and resources that can help you in drafting and submitting your COP.

%p
  ==Please do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} at #{mail_to @organization.participant_manager_email.to_s} to provide you with further clarification.

  - if @organization.network_report_recipients.any?
    == Your Local Network contact point, #{@organization.network_report_recipient_name} would also be happy to answer any questions or provide you with assistance.

%p We look forward to hearing from you.

%p Sincerely,

%p
  Transparency and Disclosure Team
  %br/
  = render :partial => '/shared/ungc_signature'

= render :partial => '/shared/cops/cop_resources_for_email.html.haml'