%p{:style => 'text-align: center;'}
  = link_to 'Ce message en Fran&ccedil;ais'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_90_days_fr.pdf'
  |
  = link_to 'Este mensaje en Espa&ntilde;ol'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_90_days_es.pdf'
  |
  = link_to '&#x4FE1;&#x4EF6;&#x4E2D;&#x6587;'.html_safe, 'http://www.unglobalcompact.org/docs/communication_on_progress/translations/cop_delisted_90_days_ch.pdf'

Dear Contact Points for
%strong== #{@organization.name},

%p==This message is regarding the potential expulsion of #{@organization.name} from the UN Global Compact for failing to submit a Communication on Progress (COP).  Please submit your company's COP on our website by #{dd_month_yyyy @organization.delisting_on} to avoid being expelled from the initiative and appearing under #{link_to 'Expelled Participants', 'http://www.unglobalcompact.org/COP/analyzing_progress/expelled_participants.html'} on our website and in our next press release announcing the names of expelled companies.

%p==For your convenience, at the end of this email, you will find a list of tools and resources that can help you in drafting and submitting your COP. In case you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one.

%p
  ==If you have any questions related to your COP or to any other aspect of your participation in the UN Global Compact, please do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} via phone at #{@organization.participant_manager_phone} or email at #{mail_to @organization.participant_manager_email.to_s}.

  - if @organization.network_report_recipients.any?
    == Additionally, your Local Network contact point, #{@organization.network_report_recipient_name} in #{@organization.country_name}, copied on this email, would be happy to provide you with further support and information.

%p Sincerely,

%p
  Transparency and Disclosure Team
  %br/
  = render :partial => '/shared/ungc_signature'

= render :partial => '/shared/cops/cop_resources_for_email.html.haml'