%h2 Find Events

- form_for @search, :url => {:action => 'search'}, :html => {:method => 'get'}, :builder => DefaultFormBuilder do |form|

  %fieldset{:style => "width: 50%;"}
    %ol
      = form.text_field :start_date,       {:class => 'datepicker iso-date'}, :label => 'Start Date'
      = form.text_field :end_date,         {:class => 'datepicker iso-date'}, :label => 'End Date'
      = form.select     :event_type,       event_type_options,                :label => 'Type of Event'
      = form.select     :principle_id,     issue_area_options,                :label => 'Issue Area'
      = form.select     :region,           region_options,                    :label => 'Region'
      <!--[if !IE]><!-->
      = form.select     :local_network_id, local_network_options,             :label => 'Local Network'
      <!-- <![endif]-->

  %p= form.submit 'Search'

<!--[if IE]><!-->
= local_network_region_js
<!-- <![endif]-->
