%h2 Find Activies and Events

- form_for @search, :url => {:action => 'search'}, :html => {:method => 'get'}, :builder => DefaultFormBuilder do |form|

  %fieldset
    %ol
      = form.text_field :start_date,       {:class => 'datepicker iso-date'}, :label => 'Start Date'
      = form.text_field :end_date,         {:class => 'datepicker iso-date'}, :label => 'End Date'
      = form.select     :event_type,       event_type_options,                :label => 'Type of Event'
      = form.select     :principle_id,     issue_area_options,                :label => 'Issue Area'
      = form.select     :region,           region_options,                    :label => 'Region'
      = form.select     :local_network_id, local_network_options,             :label => 'Local Network'

  = form.submit 'Search'

= local_network_region_js

