= form_for [:admin, @link.resource, @link] do |f|
  %p= f.label :title
  %p= f.text_field :title
  %p= f.label :url
  %p= f.text_field :url
  %p= f.label :language
  %p= f.collection_select(:language_id, @languages, :id, :name, include_blank:true)
  %p= f.label :type
  %p= f.collection_select(:link_type, @link_types, :first, :last, include_blank:true)
  %p= f.submit 'Save changes'
