= form_for [:admin, @link.resource, @link] do |f|
  %p= f.label :title
  %p= f.text_field :title
  %p= f.label :url
  %p= f.text_field :url
  %p= f.label :language
  %p= f.select(:language_id, @languages)
  %p= f.label :type
  %p= f.select(:link_type, @link_types)
  %p= f.submit 'Save changes'
