<%= render partial: 'redesign/components/meta_tags' %>
<%= render partial: 'redesign/components/hero' %>

<section id='paged_results' class='main-content-section main-content-section-wide cop-list'>
  <header class='main-content-header'>
    <h1>Expelled Participants</h1>
    <h2>Total number of expelled participants: <%= count_all_orgs(:expelled_for_failure_to_communicate_progress) %></h2>
    <%= per_page_select %>
  </header>
  <table class="table-embedded striped sortable">
    <thead>
      <tr>
        <th class="sort">Participant </th>
        <th class="sort">Sector </th>
        <th class="sort">Country </th>
        <th class="sort">Expelled </th>
      </tr>
    </thead>
    <tbody>
      <% for organization in paged_organizations(:expelled_for_failure_to_communicate_progress)%>
        <tr>
          <td title="<%= organization.name %>">
            <%= link_to truncate(organization.name, :length => 40), participant_link(organization, :expelled) %>
          </td>
          <td title="<%= organization.sector_name %>">
            <%= truncate(organization.sector_name, :length => 30) %>
          </td>
          <td title="<%= organization.country_name %>">
            <%= truncate(organization.country_name, :length => 15) %>
          </td>
          <td>
            <%= yyyy_mm_dd organization.delisted_on %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate_orgs(:expelled_for_failure_to_communicate_progress, :anchor => 'paged_results') %>
</section>
