<%= render partial: 'redesign/components/meta_tags' %>
<%= render partial: 'redesign/components/hero' %>

<section id='paged_results' class='main-content-section main-content-section-wide cop-list'>
  <header class='main-content-header'>
    <h1>GC Learner</h1>
    <h2>Total number of GC Learner COPs received: <%= count_all_cops(:learner) %></h2>
    <%= per_page_select %>
  </header>
  <table class="table-embedded striped sortable">
    <thead>
      <tr>
        <th class="sort">Participant </th>
        <th class="sort">Sector </th>
        <th class="sort">Country </th>
        <th class="sort">Year </th>
      </tr>
    </thead>
    <tbody>
      <% for cop in paged_cops(:learner) %>
        <tr>
          <td title="<%= cop.organization_name %>">
            <%= truncate(cop.organization_name, :length => 40) %>
          </td>
          <td title="<%= cop.sector_name %>">
            <%= truncate(cop.sector_name, :length => 30) %>
          </td>
          <td title="<%= cop.country_name %>">
            <%= truncate(cop.country_name, :length => 15) %>
          </td>
          <td>
            <%= link_to cop.published_on.year, redesign_cops_path(:learner, cop) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate_cops(:learner, {:anchor => 'paged_results'}) %>
</section>
