<%= render partial: 'redesign/components/meta_tags' %>
<%= render partial: 'redesign/components/hero' %>

<section id='paged_results' class='main-content-section main-content-section-wide cop-list'>
  <div class='wrapper'>
    <header class='main-content-header'>
      <h1>Submitted COE</h1>
      <h2>Total number of COEs received: <%= count_all_cops(:coes) %></h2>
      <%= per_page_select %>
    </header>
    <table class="table-embedded striped sortable">
      <thead>
        <tr>
          <th class="sort participant">Participant</th>
          <th class="sort type">Organization Type</th>
          <th class="sort country">Country</th>
          <th class="sort year">Year</th>
        </tr>
      </thead>
      <tbody>
        <% for cop in paged_cops(:coes) %>
          <tr>
            <td title="<%= cop.organization_name %>" class='participant'>
              <%= link_to truncate(cop.organization_name, :length => 40), redesign_coe_path(cop) %>
            </td>
            <td title="<%= cop.organization_type %>" class='type'>
              <%= truncate(cop.organization_type, :length => 30) %>
            </td>
            <td title="<%= cop.country_name %>" class='country'>
              <%= truncate(cop.country_name, :length => 15) %>
            </td>
            <td class='year'>
              <%= cop.published_on.year %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate_cops(:coes, {:anchor => 'paged_results'}) %>
  </div>
</section>
