%h1 Listing organizations

%p
  = link_to 'All', organizations_path
  |
  = link_to 'Approved', approved_organizations_path
  |
  = link_to 'Rejected', rejected_organizations_path
  |
  = link_to 'Pending', pending_review_organizations_path

%table
  %tr
    %th Name
    %th State

  - @organizations.each do |organization|
    %tr
      %td=h organization.name
      %td=h organization.state
      %td= link_to 'Show', organization
      %td= link_to 'Edit', edit_organization_path(organization)
      %td= link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete

%br/

= link_to 'New organization', new_organization_path
