%h2 New organization

- form_for(@organization) do |f|
  = render :partial => f

  %h3 Contact
  
  - f.fields_for :contacts do |contact_form|
    = contact_form.text_field :first_name
    = contact_form.text_field :middle_name
    = contact_form.text_field :last_name
    = contact_form.text_field :job_title
    = contact_form.text_field :email
    = contact_form.text_field :phone
    = contact_form.text_field :fax
    = contact_form.text_field :address
    = contact_form.text_field :city
    = contact_form.text_field :state
    = contact_form.text_field :postal_code
    = contact_form.collection_select :country_id, Country.all, :id, :name
  
  %p
    = f.submit 'Create'

= link_to 'Back', organizations_path