%h1 New organization

- form_for(@organization) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :url
    %br
    = f.text_field :url
  %p
    = f.label :sector_id
    %br
    = f.select :sector_id, option_groups_from_collection_for_select(Sector.top_level, :children, :name, :id, :name, @organization.sector_id)
  %p
    = f.label :employees
    %br
    = f.text_field :employees
  %p
    = f.label :country_id
    %br
    = f.select :country_id, options_for_select(Country.all.collect{|country| [country.name, country.id]})

  %h2 Contact
  
  - f.fields_for :contacts do |contact_form|
    %p
      = contact_form.label :first_name
      %br
      = contact_form.text_field :first_name
    %p
      = contact_form.label :last_name
      %br
      = contact_form.text_field :last_name
  
  %p
    = f.submit 'Create'

= link_to 'Back', organizations_path