%h1 New organization

- form_for(@organization) do |f|
  = f.error_messages
  = f.text_field :name
  = f.text_field :url
  = f.select :sector_id, option_groups_from_collection_for_select(Sector.top_level, :children, :name, :id, :name, @organization.sector_id)
  = f.text_field :employees
  = f.select :country_id, options_for_select(Country.all.collect{|country| [country.name, country.id]})

  %h2 Contact
  
  - f.fields_for :contacts do |contact_form|
    = contact_form.text_field :first_name
    = contact_form.text_field :middle_name
    = contact_form.text_field :last_name
    = contact_form.text_field :job_title
    = contact_form.text_field :email
    = contact_form.text_field :phone
    = contact_form.text_field :fax
    = contact_form.text_field :address
    = contact_form.text_field :city
    = contact_form.text_field :state
    = contact_form.text_field :postal_code
    = contact_form.select :country_id, options_for_select(Country.all.collect{|country| [country.name, country.id]})
  
  %p
    = f.submit 'Create'

= link_to 'Back', organizations_path