Dear Contact Points for
%strong== #{@organization.name},

%p==#{@organization.name} is in danger of being removed from the UN Global Compact's list of active participants on #{@organization.projected_expulsion_date} for failing to submit its biennial Communication on Engagement (COE).

%p
  ==Non-business organizations in the UN Global Compact are required to issue biennial COE, a public disclosure to stakeholders on the ways in which they support the Global Compact and promote the implementation of the ten principles among businesses. To remain a UN Global Compact participant, #{@organization.name} must submit a COE by  #{@organization.projected_expulsion_date}. This will prevent your organization from being publicly listed on our websites as an <strong>expelled participant</strong>
  == due to failure to submit a COE. For your reference, at the end of this email, you will find a list of resources that can help you in drafting and submitting your COE.

%p==To submit your organization's COE you will need to log-in to the Global Compact website. In case you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one. For your convenience, at the end of this email, you will find a list of tools and resources that can help you in drafting and submitting your COE.

%p
  == Please do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} via email at #{mail_to @organization.participant_manager_email.to_s} should you experience any difficulties in submitting your COE.

  - if @organization.network_report_recipients.any?
    == Your Local Network contact point, #{@organization.network_report_recipient_name} in #{@organization.country_name}, would also be happy to provide you with assistance.

%p Kind regards,

%p
  Reporting Team
  %br/
  = render :partial => '/shared/ungc_signature'

  = render :partial => '/shared/coes/coe_resources_for_email.html.haml'
