Dear Contact Points for
%strong== #{@organization.name},

%p
  == As your Relationship Manager, I am aware that you have been receiving notifications concerning your organization’s participation with the UN Global Compact. I would like to kindly bring to your attention that if your organization does not submit an updated
  == #{link_to 'COE', 'https://www.unglobalcompact.org/library/1861'} or #{link_to 'Grace Letter', 'https://www.unglobalcompact.org/library/2941'} or alternatively, voluntarily withdraw by #{@expulsion}, it will be listed on the UN Global Compact's website as an
  %strong== expelled participant.

%p I stand ready to offer you direct support and would be happy to schedule a call with you to find a solution that best suits your ORGANIZATION.

%p Looking forward to hearing from you,

%p
  #{@organization.participant_manager_name}
  %br/
  = render :partial => '/shared/ungc_signature'

  = render :partial => '/shared/coes/coe_resources_for_email.html.haml'
