Dear Contact Points for
%strong== #{@organization.name},

%p
  == We are contacting you on behalf of the UN Global Compact to bring to attention that #{@organization.name} is in danger of being removed from our list of active participants on #{@expulsion} for failing to submit a Communication on Engagement (COE). If your organization does not submit a #{link_to 'COE', 'https://www.unglobalcompact.org/library/1861'} by #{@expulsion}, it will appear in the #{link_to 'Expelled Participants', 'https://www.unglobalcompact.org/participation/report/cop/create-and-submit/expelled'} section of our website.
  == For your convenience, at the end of this email, you will find a list of tools and resources that can help you to draft and submit your COE.

%p==To submit your organization's COE you will need to log-in to the Global Compact website. In case you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one.

%p
  == Please do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} via email at #{mail_to @organization.participant_manager_email.to_s} should you experience any difficulties in submitting your COE.
  - if @organization.network_report_recipients.any?
    == Your Local Network contact point, #{@organization.network_report_recipient_name} #{@nrr_email} would also be happy to answer any questions or provide you with assistance.

%p Kind regards,

%p
  Reporting Team
  %br/
  = render :partial => '/shared/ungc_signature'

= render :partial => '/shared/cops/cop_resources_for_email.html.haml'
