Dear Contact Points for
%strong== #{@organization.name},

%p== We would like to remind you that your organization's deadline to submit your COE to the UN Global Compact website is today. We stand ready to address any questions that you may have around the submission of your COE and your participation in the UN Global Compact.

%p== To submit your organization's COE you will need to log-in to the Global Compact website. If you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one.

%p== If your ORGANIZATION fails to submit a COE by 01:00 UTC it will be listed as "Non-communicationg" on the UN Global Compact public list of participants and the organization's individual Global Compact page.

%p
  == If you have not requested a deadline extension within the last three months, you may submit a #{link_to 'Grace Letter', 'https://www.unglobalcompact.org/library/2941'} through the UN Global Compact website to extend your deadline by 90 days. To maintain your "Active"
  == status and avoid becoming "Non-communicating", the letter must be submitted before the deadline today at 01:00 UTC. The Grace Letter must provide a short explanation for the delay and must be uploaded to the UN Global Compact website. This letter can be signed by any relevant ORGANIZATION representative.

%p
  ==If you have any questions related to your COE or to any other aspect of your participation in the Global Compact, please do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} at #{mail_to @organization.participant_manager_email.to_s}.

  - if @organization.network_report_recipients.any?
    == Additionally, your Local Network contact point, #{@organization.network_report_recipient_name} in #{@organization.country_name}, copied on this email, would be happy to provide you with further support and information.   We look forward to the timely submission of your COE.

%p Sincerely,

%p
  Reporting Team
  %br/
  = render :partial => '/shared/ungc_signature'

  = render :partial => '/shared/coes/coe_resources_for_email.html.haml'
