Dear Contact Points for
%strong== #{@organization.name},

%p== This is a friendly reminder to submit your organization's Communication on Engagement #{link_to 'COE', 'https://www.unglobalcompact.org/library/1861'} to the UN Global Compact website by #{dd_month_yyyy @organization.coe_due_on}.

%p== Organizations that fail to submit a COE by the due date will be listed as “Non-communicating” on our website’s public list of participants and on the organization’s individual UN Global Compact page.

%p== For your convenience, at the end of this email, you will find a list of tools and resources that can help you in drafting and submitting your COE.

%p
  == Companies whose deadlines are approaching typically benefit from the following resources:

  == The #{link_to 'Grace Letter', 'https://www.unglobalcompact.org/library/2941'} or an #{link_to 'Adjustment Letter', 'https://www.unglobalcompact.org/library/2931'} to modify an upcoming deadline.

%p== In case you have forgotten your password, please use the #{link_to 'Forgot your username or password', 'http://unglobalcompact.org/password/new'} link to request a new one. For your convenience, at the end of this email, you will find a list of tools and resources that can help you in drafting and submitting your COE.

%p
  ==Please do not hesitate to contact your Relationship Manager, #{@organization.participant_manager_name} at #{mail_to @organization.participant_manager_email.to_s}.

  - if @organization.network_report_recipients.any?
    == Additionally, your Local Network contact point, #{@organization.network_report_recipient_name} in #{@organization.country_name}, copied on this email, would be happy to provide you with further support and information.   We look forward to the timely submission of your COE.

%p Sincerely,

%p
  Reporting Team
  %br/
  = render :partial => '/shared/ungc_signature'

= render :partial => '/shared/cops/cop_resources_for_email.html.haml'
