- if contact
  %article{class: "widget widget-contact"}
    %h1 Contact
    %address
      = content_tag(:h2, contact[:name], class: 'name') if contact[:name]
      = content_tag(:p, contact[:title], class: 'title') if contact[:title]
      = content_tag(:p, mail_to(contact[:email]), class: 'email', title: "Email #{contact[:email]}" ) if contact[:email]
      - if phone = contact[:phone]
        %p.phone= link_to phone, "tel:#{phone.gsub(/[^0-9]/, '')}"
    - if executive_director
      .executive-director
        %address
          = content_tag(:h2, executive_director[:name], class: 'name') if executive_director[:name]
          = content_tag(:p, executive_director[:title], class: 'title') if executive_director[:title]
