<form class="form-horizontal">
  <fieldset>
    <legend>
      Edit Page
    </legend>
  </fieldset>

  <fieldset>
    <h2>Container url:
      <a href="/redesign{{model.container.publicPath}}" target="_blank">
        {{model.container.publicPath}}
      </a>
    </h2>
    <p>(last published version)</p>
  </fieldset>

  {{#container/x-subform record=model.container as |form|}}
    {{partial form.subformTemplatePath}}
  {{/container/x-subform}}

  <fieldset>
    <legend>Actions</legend>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" {{action "saveDraft" model.container}}>
          Save
        </button>

        {{#if model.container.id}}
          <button class="btn btn-success" {{action "publish" model.container}}>
            Publish
          </button>
        {{/if}}

        <a target="_blank" href="/redesign{{model.container.publicPath}}?draft=1">
          Preview
        </a>
      </div>
    </div>

    {{!-- XXX position absolute for these --}}
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
  </fieldset>

  {{#if model.payloads}}
    <fieldset>
      <legend>History</legend>
      <table class="table table-striped">
        <tbody>
          {{#each model.payloads as |payload|}}
            <tr>
              <td>{{ago payload.createdAt}}</td>
              <td>
                <a target="_blank" href="/redesign{{model.container.publicPath}}?payload={{payload.id}}">
                  View
                </a>
              </td>
              <td>
                <button class="btn btn-default" {{action "setDraftFromPayload" payload}}>
                  Set As Draft
                </button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </fieldset>
  {{/if}}
</form>
