<h2><%= @other.nominee_name %></h2>

<p>
  <strong>Submitter name:</strong><br/>
  <%= @other.submitter_name %>
</p>

<p>
  <strong>Submitter place of work:</strong><br/>
  <%= @other.submitter_place_of_work %>
</p>

<p>
  <strong>Submitter email:</strong><br/>
  <%= @other.submitter_email %>
</p>

<p>
  <strong>Nominee name:</strong><br/>
  <%= @other.nominee_name %>
</p>

<p>
  <strong>Nominee email:</strong><br/>
  <%= @other.nominee_email %>
</p>

<p>
  <strong>Nominee phone:</strong><br/>
  <%= @other.nominee_phone %>
</p>

<p>
  <strong>Nominee work place:</strong><br/>
  <%= @other.nominee_work_place %>
</p>

<p>
  <strong>Organization Name:</strong><br/>
  <%= @other.organization_name %>
</p>

<p>
  <strong>Organization Name Matched:</strong><br/>
  <%= @other.organization_name_matched %>
</p>

<p>
  <strong>Submitter job title:</strong><br/>
  <%= @other.submitter_job_title %>
</p>

<p>
  <strong>Submitter phone:</strong><br/>
  <%= @other.submitter_phone %>
</p>

<p>
  <strong>Accepted terms:</strong><br/>
  <%= @other.accepts_tou %>
</p>

<p>
  <strong>Nominee title:</strong><br/>
  <%= @other.nominee_title %>
</p>

<p>
  <strong>Why nominate:</strong><br/>
  <%= @other.why_nominate %>
</p>

<p>
  <strong>Submission Date</strong><br/>
  <%= @other.created_at %>
</p>
