<fieldset>
  <legend>Hero</legend>
  {{#container/x-fields key="hero" scope=scope as |hero|}}
    {{container/x-field key="image" label="Background Image" type="image-upload" scope=hero}}
    {{container/x-field key="theme" type="hero-theme-select" scope=hero}}

    {{#container/x-fields key="title" scope=hero as |title|}}
      <h2>Title</h2>
      {{container/x-field key="title1" label="Line 1" type="string-addon" limit=50 scope=title}}
      {{container/x-field key="title2" label="Line 2" type="string-addon" limit=50 scope=title}}
    {{/container/x-fields}}

    <h2>Blurb</h2>
    {{container/x-field key="blurb" type="string-addon" label="Text" scope=hero}}

    {{yield hero}}
  {{/container/x-fields}}
</fieldset>
