#redesign_topics.tab_content
  %fieldset
    %legend Topics
    - taggable.topic_options.each do |parent_topic, child_topics|
      %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
        = check_box_tag model_name+'[topics][]', parent_topic.id, parent_topic.selected?
        = parent_topic.name
      - child_topics.each do |child_topic|
        %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
          = check_box_tag model_name+'[topics][]', child_topic.id, child_topic.selected?
          = child_topic.name

#redesign_issues.tab_content
  %fieldset
    %legend Issues
    - taggable.issue_options.each do |parent_issue, child_issues|
      %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
        = check_box_tag model_name+'[issues][]', parent_issue.id, parent_issue.selected?
        = parent_issue.name
      - child_issues.each do |child_issue|
        %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
          = check_box_tag model_name+'[issues][]', child_issue.id, child_issue.selected?
          = child_issue.name

#redesign_sectors.tab_content
  %fieldset
    %legend Sectors
    - taggable.sector_options.each do |parent_sector, child_sectors|
      %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
        = check_box_tag model_name+'[sectors][]', parent_sector.id, parent_sector.selected?
        = parent_sector.name
      - child_sectors.each do |child_sector|
        %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
          = check_box_tag model_name+'[sectors][]', child_sector.id, child_sector.selected?
          = child_sector.name
