#redesign_topics.tab_content
  %fieldset
    %legend Topics
    .topics-tree
      %ol.topics-list
        - taggable.topic_options.each do |parent_topic, child_topics|
          %li
            = hidden_field_tag model_name+"[topic_ids][]", nil #needed to clear array on empty submission
            %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
              = check_box_tag model_name+'[topic_ids][]', parent_topic.id, parent_topic.selected?
              = parent_topic.name
            %ol.expanded-list
              - child_topics.each do |child_topic|
                %li
                  %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
                    = check_box_tag model_name+'[topic_ids][]', child_topic.id, child_topic.selected?
                    = child_topic.name

#redesign_issues.tab_content
  %fieldset
    %legend Issues
    .topics-tree
      %ol.topics-list
        - taggable.issue_options.each do |parent_issue, child_issues|
          %li
            = hidden_field_tag model_name+"[issue_ids][]", nil #needed to clear array on empty submission
            %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
              = check_box_tag model_name+'[issue_ids][]', parent_issue.id, parent_issue.selected?
              = parent_issue.name
            %ol.expanded-list
              - child_issues.each do |child_issue|
                %li
                  %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
                    = check_box_tag model_name+'[issue_ids][]', child_issue.id, child_issue.selected?
                    = child_issue.name

#redesign_sectors.tab_content
  %fieldset
    %legend Sectors
    .topics-tree
      %ol.topics-list
        - taggable.sector_options.each do |parent_sector, child_sectors|
          %li
            %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
              = hidden_field_tag model_name+"[sector_ids][]", nil #needed to clear array on empty submission
              = check_box_tag model_name+'[sector_ids][]', parent_sector.id, parent_sector.selected?
              = parent_sector.name
              %ol.expanded-list
                - child_sectors.each do |child_sector|
                  %li
                    %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
                      = check_box_tag model_name+'[sector_ids][]', child_sector.id, child_sector.selected?
                      = child_sector.name
