#redesign_topics.tab_content
  %fieldset
    %legend Topics
    .topics-tree
      %ol.topics-list
        - taggable.topic_options.each do |parent_topic, child_topics|
          %li
            %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
              = check_box_tag model_name+'[topics][]', parent_topic.id, parent_topic.selected?
              = parent_topic.name
            %ol.expanded-list
              - child_topics.each do |child_topic|
                %li
                  %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
                    = check_box_tag model_name+'[topics][]', child_topic.id, child_topic.selected?
                    = child_topic.name

#redesign_issues.tab_content
  %fieldset
    %legend Issues
    .topics-tree
      %ol.topics-list
        - taggable.issue_options.each do |parent_issue, child_issues|
          %li
            %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
              = check_box_tag model_name+'[issues][]', parent_issue.id, parent_issue.selected?
              = parent_issue.name
            %ol.expanded-list
              - child_issues.each do |child_issue|
                %li
                  %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
                    = check_box_tag model_name+'[issues][]', child_issue.id, child_issue.selected?
                    = child_issue.name

#redesign_sectors.tab_content
  %fieldset
    %legend Sectors
    .topics-tree
      %ol.topics-list
        - taggable.sector_options.each do |parent_sector, child_sectors|
          %li
            %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
              = check_box_tag model_name+'[sectors][]', parent_sector.id, parent_sector.selected?
              = parent_sector.name
              %ol.expanded-list
                - child_sectors.each do |child_sector|
                  %li
                    %label{style:"temporary: yes; width: inherit; margin: inherit; float: none;"}
                      = check_box_tag model_name+'[sectors][]', child_sector.id, child_sector.selected?
                      = child_sector.name
