{{#if array}}
  {{#if canVary}}
    <button disabled={{cantAdd}} {{action "addElement"}}>Add</button>
    <button disabled={{cantRemove}} {{action "removeElement"}}>Remove</button>
  {{/if}}

  {{#each yieldValue as |val|}}
    {{yield val}}
  {{/each}}
{{else}}
  {{yield yieldValue}}
{{/if}}
