{{#if array}}
  {{#if canVary}}
    <button disabled={{cantAdd}} {{action "addElement"}}>Add</button>
  {{/if}}

  {{#each yieldValue as |val|}}
    {{yield val}}
    {{#if canVary}}
      <button disabled={{cantRemove}} {{action "removeElement" val}}>Remove</button>
    {{/if}}
  {{/each}}
{{else}}
  {{yield yieldValue}}
{{/if}}
