{{#if array}}
  {{#if canVary}}
    <button disabled={{cantAdd}} {{action "addElement"}}>Add</button>
  {{/if}}
  {{#each scopeData as |obj|}}
    {{yield obj this}}
  {{/each}}
{{else}}
  {{yield scopeData this}}
{{/if}}
