%h3 Report

%ul
  %li= link_to_report 'Approved Logo Requests', :approved_logo_requests
  %li= link_to_report 'Listed Companies', :listed_companies
  %li= link_to_report 'Companies without contacts', :companies_without_contacts
  %li= link_to_report 'Bulletin Subscribers', :bulletin_subscribers
  %li= link_to_report 'Networks Report', :networks
  %li= link_to_report 'Foundation Pledges', :foundation_pledges