<%= form_for @search, as: :search, url: redesign_library_search_path, method: :get, html: {id: 'filters-form'} do |f| %>

  <header>
    <fieldset id='section-search'>
      <%= f.search_field :keywords, placeholder: 'Search Our Library', tabindex: 1, autofocus: true %>
      <%= f.button '<span>Search</span>'.html_safe, type: :submit %>
    </fieldset>
  </header>

  <fieldset class='filter-lists'>
    <% @search.filters.each do |filter| %>
      <%= search_filter filter, disabled: @search.disabled? %>
    <% end %>
  </fieldset>

  <%= active_filters(@search) %>

  <fieldset class='filter-sorting'>
    <%- @page.sorting_options.each do |so| -%>
      <%- so[:options] = @search.try(so[:options]) -%>
      <%= f.select so[:field], so[:options], {include_blank: so[:label]}, {id: "filter-#{so[:field].to_s.parameterize}"} %>
    <%- end -%>
  </fieldset>

  <%- if @results.any? -%>
    <p class='results-count'>
      <%- if !@search.keywords.empty? -%>
        Searched for: <strong>&ldquo;<%= @search.keywords -%>&rdquo;</strong>&mdash;
      <%- end -%>
      <strong><%= @results.total_entries -%></strong> results</p>
  <%- end -%>
<% end %>
