<%= form_for @search, as: :search, url: redesign_library_search_path, method: :get, html: {id: 'filters-form'} do |f| %>

  <header>
    <h1>Explore Our Library</h1>

    <fieldset id='section-search'>
      <%= f.search_field :keywords, placeholder: 'Search Our Library', tabindex: 1, autofocus: true %>
      <%= f.button '<span>Search</span>'.html_safe, type: :submit %>
    </fieldset>
  </header>

  <fieldset class='filter-lists'>
    <% filter_list(@search.disabled?) do |list| %>
      <%= list.render_filter @search.issue_filter %>
      <%= list.render_filter @search.topic_filter %>
      <%= list.render_filter @search.language_filter %>
      <%= list.render_filter @search.sector_filter %>
    <% end %>
  </fieldset>

  <%- if @search.try(:active_filters) -%>
    <%= render 'redesign/components/active_filters_list', active_filters: @search.active_filters, disabled: @search.disabled? %>
  <%- end -%>

  <fieldset class='filter-sorting'>
    <%- @page.sorting_options.each do |so| -%>
      <%- so[:options] = @search.try(so[:options]) -%>
      <%= f.select so[:field], so[:options], {include_blank: so[:label]}, {id: "filter-#{so[:field].to_s.parameterize}"} %>
    <%- end -%>
  </fieldset>

  <%- if @results.any? -%>
    <p class='results-count'>
      <%- if !@search.keywords.empty? -%>
        Searched for: <strong>&ldquo;<%= @search.keywords -%>&rdquo;</strong>&mdash;
      <%- end -%>
      <strong><%= @results.total_entries -%></strong> results</p>
  <%- end -%>
<% end %>
