<%= render partial: 'redesign/components/meta_tags' %>
<%= render partial: 'redesign/components/hero' %>

<%= render 'form' %>

<%= render layout: 'redesign/components/content_blocks', locals: {classes: 'library', blocks: @results} do |block| %>
  <%= render 'redesign/components/resource_block', block: block %>
<% end %>

<%- if @results.empty? -%>
  <section class="main-content-section main-content-section-wide">
    <div class='wrapper'>
      <h2>No results found.</h2>
    </div>
  </section>
<% end %>

<%= will_paginate @results, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
