<section class='main-content-section main-content-section-narrow'>
  <div class='wrapper'>
    <section class='content-list'>
      <%- @images.each do |item| -%>
        <article class='content-list-item'>
          <span class='content-list-item-image'>
            <%= image_tag(item.url)%>
          </span>
          <div class='content-list-item-content-wrapper has-image'>
            <div class='blurb'>
              <%- licensing = item.licensing %>
              <%- if !licensing.empty? %>
                <dl>
                  <dt>
                    Title:
                  </dt>
                  <dd>
                    <%- if !licensing[:title][:url].blank? %>
                      <a href="<%= licensing[:title][:url] %>" target="_blank">
                        <%= licensing[:title][:label] %>
                      </a>
                    <% else %>
                      <%= licensing[:title][:label] %>
                    <% end %>
                  </dd>
                  <dt>
                    Photographer:
                  </dt>
                  <dd>
                    <%- if !licensing[:photographer][:url].blank? %>
                      <a href="<%= licensing[:photographer][:url] %>" target="_blank">
                        <%= licensing[:photographer][:label] %>
                      </a>
                    <% else %>
                      <%= licensing[:photographer][:label] %>
                    <% end %>
                  </dd>
                  <%- if !licensing[:license][:label].blank? %>
                    <dt>
                      License:
                    </dt>
                    <dd>
                      <%- if !licensing[:license][:url].blank? %>
                        <a href="<%= licensing[:license][:url] %>" target="_blank">
                          <%= licensing[:license][:label] %>
                        </a>
                      <% else %>
                        <%= licensing[:license][:label] %>
                      <% end %>
                    </dd>
                  <% end %>
                </dl>
              <% end %>
            </div>
          </div>
        </article>
      <%- end -%>
    </section>

    <%= will_paginate @images, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
  </div>
</section>
