<ul class="nav_bar" id="main_nav">
  <%= link_to_current 'Dashboard', dashboard_path, action_name == 'dashboard' %>
  <% if current_contact && current_contact.from_network? %>
    <%= link_to_current 'Network Management', admin_local_network_path(current_contact.local_network), (current_contact.local_network == @local_network && network_management_tab?) %>
    <%= link_to_current 'Knowledge Sharing', knowledge_sharing_path(current_contact.local_network), (current_contact.local_network == @local_network && knowledge_sharing_tab?) %>
    <%= link_to_current 'Browse Networks', admin_local_networks_path, (controller.is_a?(Admin::LocalNetworksController) && current_contact.local_network != @local_network) %>
    <%= link_to_current 'Learning', admin_learning_path, controller.is_a?(Admin::LearningController) %>
    <%= link_to_current 'Reports', admin_reports_path, controller.is_a?(Admin::ReportsController) %>
  <% end %>
  <% if current_contact && current_contact.from_network_guest? %>
    <%= link_to_current 'Browse Networks', admin_local_networks_path, controller.is_a?(Admin::LocalNetworksController) %>
    <%= link_to_current 'Learning', admin_learning_path, controller.is_a?(Admin::LearningController) %>
  <% end %>
  <% if current_contact && current_contact.from_ungc? %>
    <%= link_to_current 'Organizations', pending_review_admin_organizations_path, controller.is_a?(Admin::OrganizationsController) %>
    <%= link_to_current 'Local Networks', admin_local_networks_path, controller.is_a?(Admin::LocalNetworksController) || controller.is_a?(Admin::LearningController) %>
    <%= link_to_current 'Logo Requests', pending_review_admin_logo_requests_path, controller.is_a?(Admin::LogoRequestsController) %>
    <%= link_to_current 'Sitemap', sitemap_root_path, false %>
    <%= link_to_current 'Events', admin_events_path, controller.is_a?(Admin::EventsController) %>
    <%= link_to_current 'News headlines', admin_headlines_path, controller.is_a?(Admin::NewsController) %>
    <%= link_to_current 'Contacts Search', search_admin_contacts_path, controller.is_a?(Admin::ContactsController) && action_name == 'search' %>
    <%= link_to_current 'Reports', admin_reports_path, controller.is_a?(Admin::ReportsController) %>
    <%= link_to_current 'Due Diligence', for_state_admin_due_diligence_reviews_path(state: [:in_review]), controller.is_a?(Admin::DueDiligence::ReviewsController) %>
    <%= link_to_current 'Action Platforms', admin_action_platform_platforms_path, controller.is_a?(Admin::ActionPlatform::PlatformsController) %>
  <% end %>
  <% if current_contact %>
    <%= link_to_current 'Logout', destroy_contact_session_path, action_name == 'logout', :method => :delete, title: current_contact.name %>
  <% end %>
  <li class="google_translate_button"><a id="google_translate_element"></a></li>
</ul>
