!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=EmulateIE7'}/
    %title= @title || "United Nations Global Compact | #{controller.controller_name.titleize} | #{controller.action_name.titleize}"
    = csrf_meta_tags
    = stylesheet_link_tag 'admin', 'themes/apple/style'
    /[if IE]
      = stylesheet_link_tag 'ie'
    = stylesheet_link_tag 'print', :media => 'print'

    = javascript_include_tag 'application'

  %body{:class => (@body_class || "form")}
    .container
      - if current_contact and current_contact.from_ungc?
        %form#search{ :name => "search", :action => "/admin/organizations/search", :method => "get" }
          = hidden_field_tag 'commit', 'Search'
          %input.search_box{ :id => 'admin_search', :name => "keyword", :type => "text", :value => "Search organizations"}
          %input.search_submit{ :name => "submit", :src => "/assets/search_submit.png", :type => "image", :alt => "Search" }

      %h1#page_header
        %a{:href => '/'}
          %img{:src => '/assets/logo.png', :style => 'margin-left: 2px; margin-top: 15px; margin-bottom: 15px;'}/

      = render :partial => 'layouts/main_nav'

      - if current_contact
        #session_info{:style => 'display: none;'}
          %h2
            %a{:href => '#', :class => 'slider'}
              Login status
          %ul
            %li.logged_in_as
              You are logged in as: <br />
              = link_to current_contact.name, "#", :class => "username"
              = link_to "[Log out]", destroy_contact_session_path, :method => :delete, :title => "Log out"

      #main_content.span-24
        = flash_messages_for :error, :notice, :alert
        = yield

      #footer.span-24
        &nbsp;

    - postscript = yield :postscript
    - if postscript
      = postscript
