<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>
      <%= @title || "United Nations Global Compact | #{controller.controller_name.titleize} | #{controller.action_name.titleize}" %>
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin', 'themes/apple/style' %>
    <!--[if IE]
      <%= stylesheet_link_tag 'admin/ie' %>
    -->
    <%= stylesheet_link_tag 'admin/print', :media => 'print' %>
    <%= javascript_include_tag 'admin' %>
  </head>
  <body class="<%= (@body_class || "form") %>">
    <div class="container">
      <% if current_contact and current_contact.from_ungc? %>
        <form action="/admin/organizations/search" id="search" method="get" name="search">
          <%= hidden_field_tag 'commit', 'Search' %>
          <input class="search_box" id="admin_search" name="keyword" placeholder="Search organizations" type="text"></input>
          <input alt="Search" class="search_submit" name="submit" src="<%= asset_path("search_submit.png") %>" type="image"></input>
        </form>
      <% end %>
      <h1 id="page_header">
        <a href="/">
          <img src="<%= asset_path('logo.png') %>" style="margin-left: 2px; margin-top: 15px; margin-bottom: 15px;"/>
        </a>
      </h1>
      <%= render :partial => 'layouts/main_nav' %>
      <div class="span-24" id="main_content">
        <%= flash_messages_for :error, :notice, :alert %>
        <%= yield %>
      </div>
      <div class="span-24" id="footer">
        &nbsp;
      </div>
    </div>
    <% postscript = yield :postscript %>
    <% if postscript %>
      <%= postscript %>
    <% end %>
  </body>
</html>
