!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title= @title || "United Nations Global Compact | #{controller.controller_name.titleize}: #{controller.action_name}"
    = stylesheet_link_tag 'reset', 'grid', 'typography', 'forms', 'admin', 'jquery-ui'
    - (@css || []).each do |file|
      = stylesheet_link_tag file
    = stylesheet_link_tag 'print', :media => 'print'

  %body{:class => (@body_class || "form")}
    .container
      %h1#page_header &nbsp;
      = render :partial => 'layouts/main_nav'

      #main_content.span-16
        = yield

      - if logged_in?
        = render :partial => 'layouts/user_bar'

      #footer.span-24
        &nbsp;

    = javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'jquery-ui', 'application', 'dashboard'
    - (@javascript || []).each do |file|
      = javascript_include_tag file
    - postscript = yield :postscript
    - if postscript
      = postscript
