<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name='viewport' content="width=device-width, initial-scale=1, minimal-ui">
    <title><%= "#{yield(:title)} | UN Global Compact" %></title>
    <meta name="description" content="<%= "#{yield(:description)}" %>">
    <meta name="keywords" content="<%= "#{yield(:keywords)}" %>">
    <meta name="google-translate-customization" content="1b074c8528ae2c6e-cd3c90d1cf52c502-ged6edcb10ff9481c-17"></meta>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400|Roboto+Condensed:300italic,400italic,700italic,700,300,400', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'components/main_header' %>

    <main>
      <%= yield %>
    </main>

    <%= render 'components/main_footer' %>

    <%  if current_contact && current_contact.from_ungc? %>
      <%= content_tag(:small, "Last updated: #{current_payload.updated_at.strftime('%a %b %-d, %Y at %l:%M %p %Z')}") if current_payload%>
      <small>
        <%= link_to 'edit', sitemap_root_path("containers/#{current_container.id}") if current_container%>
      </small>
    <% end %>

    <%= render 'components/legacy_browsers_notice' %>

    <%# Google Translate %>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: 'en',
            //includedLanguages: 'en,ar,zh-CN,es,fr,ru',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            gaTrack: true,
            gaId: 'UA-61767260-2'
          },
          'google_translate_element'
        );
      }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    <%= render 'shared/ga_universal' %>
  </body>
</html>
