!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    = csrf_meta_tags unless cached_page?
    - if home_page?
      %link{:href => 'http://feeds.unglobalcompact.org/UnitedNationsGlobalCompact-LatestNews', :rel => 'alternate', :title => 'United Nations Global Compact - Latest News', :type => 'application/atom+xml'}
    %title= @title || 'United Nations Global Compact'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie'

    = javascript_include_tag 'application'
    - if Rails.env.production?
      = javascript_include_tag 'google_analytics'

  %body{:class => "#{ENV["RAILS_ENV"]} #{body_classes}"}
    = render :partial => 'layouts/ie_lte6'
    = render :partial => 'layouts/header'
    #content_bg
      #content_home
        = yield
    = render :partial => 'layouts/footer'
