!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    - if home_page?
      %link{:href => 'http://feeds.unglobalcompact.org/UnitedNationsGlobalCompact-LatestNews', :rel => 'alternate', :title => 'United Nations Global Compact - Latest News' :type => 'application/atom+xml'}
    %title= @title || 'United Nations Global Compact'
    = stylesheet_link_tag 'jquery-ui', 'application'
    - (@css || []).each do |file|
      = stylesheet_link_tag file
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie'
  %body{:class => "#{ENV["RAILS_ENV"]} #{body_classes}"}
    = render :partial => 'layouts/ie_lte6'
    = render :partial => 'layouts/header'
    = yield
    = render :partial => 'layouts/footer'
    = javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'jquery-ui', 'admin', 'jquery.parsequery.min', 'tablesorter', 'jquery.tablesorter.pager', 'application', 'dashboard','http://www.google-analytics.com/urchin', 'google_analytics'
    - (@javascript || []).each do |file|
      = javascript_include_tag file
